h1{
	text-align:center;
	font-size:60px;
}
.a_cat{
	display:block;
	clear:both;
	height:400px;
}
.cat_info
{
	float:left;
}
.name{
	font-size: 40px;
	font-weight: bold;
}
.adoption label{
	font-weight: bold;
}
.profile_nyssa{
	width: 350px;
	height: 350px;
	overflow: hidden;
    border-radius: 50%;
    float:left;
}
.profile_nyssa img{
	max-width:500px;
	margin: -10px 0 0 -100px;
}
.profile_frosty{
	width: 350px;
	height: 350px;
	overflow: hidden;
    border-radius: 50%;
    float:left;
}
.profile_frosty img{
	max-width:400px;
	margin: -70px 0 0 -10px;
}
.profile_cinnamon{
	width: 350px;
	height: 350px;
	overflow: hidden;
    border-radius: 50%;
    float:left;
}
.profile_cinnamon img{
	max-width:500px;
	margin: 0px 0 0 -80px;
}
.profile_moon{
	width: 350px;
	height: 350px;
	overflow: hidden;
    border-radius: 50%;
    float:left;
}
.profile_moon img{
	max-width:500px;
	margin: 0px 0 0 -150px;
}
.profile_star{
	width: 350px;
	height: 350px;
	overflow: hidden;
    border-radius: 50%;
    float:left;
}
.profile_star img{
	max-width:500px;
	margin: -170px 0 0 -30px;
}
.profile_petrina{
	width: 350px;
	height: 350px;
	overflow: hidden;
    border-radius: 50%;
    float:left;
}
.profile_petrina img{
	max-width:800px;
	margin: -50px 0 0 -425px;
}
.profile_mark{
	width: 350px;
	height: 350px;
	overflow: hidden;
    border-radius: 50%;
    float:left;
}
.profile_mark img{
	max-width:800px;
	margin: -00px 0 0 -90px;
}

