<p></p>
<h1>CS 520 Computer Science Foundations - Syllabus</h1>
<p><b>Term and Credits</b></p>
<p>Fall 2016-2017<br /> 3 Credits</p>
<p><b>Room and Time</b></p>
<p>Monday 6:00pm-8:50pm UC 149</p>
<p>Monday lecture will be recorded for online section</p>
<p><b>Instructor</b></p>
<p>Mark Boady<br /> <i>Electronic Mail Address:</i> <a href="mailto:mwb33@drexel.edu">mwb33@drexel.edu</a><br /> <i>Office:</i> University Crossings 138<br /> <i>Extention:</i> 215-895-2347<br /> <i>Office Hours:</i> Mon. 4-5pm, Tues. 2-4pm, Wed. 4-5pm</p>
<p><b>Teaching Assistant(s)</b></p>
<p>No One :-(</p>
<p><b>Course Description</b></p>
<p>Survey of basic mathematics concepts needed for the study of computer science at the graduate level: induction, iteration, recursion; analysis of program running time; graphs and trees; predicate logic; regular expressions, Context Free Grammars, and Turing Machines.</p>
<p><b>Course Objective and Goals</b></p>
<ol>
<li>Learn to analyze the running time of iterative and recursive algorithms.</li>
<li>Learn to prove properties of algorithms and data structures using induction.</li>
<li>Gain familiarity with basic data structures and algorithms related to them, such as trees and graphs.</li>
<li>Learn the limits and applications of regular expressions, context free grammars, and turing machines.</li>
<li>Learn relationships between languages and automata.</li>
<li>Learn to use predicate logic to prove properties of algorithms.</li>
</ol>
<p><b>Audience and Purpose within Plan of Study</b></p>
<p>This course is for graduate students with little or no prior knowledge of data structures and algorithms. It serves to give such students a firm foundation for future graduate study, and it is a requirement of the Computer Science Minor and Computer Science Post Bachelor Certificate degree programs.</p>
<p><b>Prerequisites</b><br /> None</p>
<p><b>What Students Should Know Prior to this Course</b></p>
<ol>
<li>Ability to read and understand code.</li>
<li>Basic understanding of program execution.</li>
</ol>
<p><b>What Students will be able to do upon Successfully Completing this Course:</b></p>
<ol>
<li>Students will be able to analyze algorithms.</li>
<li>Students will understand a set of fundamental algorithms and how to apply them.</li>
<li>Students will be able to prove properties of algorithms using induction, proof by contradiction, and predicate logic.</li>
<li>Students will be able to apply regular expressions and context free grammars to parse strings.</li>
<li>Students will be able to determine the applications and limits of data structures, algorithms, and languages.</li>
</ol>
<p><b>Textbook</b></p>
<p>Algorithms (4th Edition)<br /> Robert Sedgewick, Kevin Wayne<br /> ISBN-10: 032157351X<br /> ISBN-13: 860-1400041420<br /> <a href="https://www.amazon.com/Algorithms-4th-Robert-Sedgewick/dp/032157351X/ref=sr_1_1?s=books&amp;ie=UTF8&amp;qid=1470321482&amp;sr=1-1&amp;keywords=algorithms">See it on Amazon</a><br /> Also available through the <a href="http://drexel.bncollege.com/webapp/wcs/stores/servlet/BNCBHomePage?storeId=31061&amp;catalogId=10001&amp;langId=-1">Drexel Bookstore</a></p>
<p><strong>Supplemental Texts</strong></p>
<p>Book of Proof (Second Edition)<br /> Richard Hammack<br /> Paperback: ISBN 978-0-9894721-0-4<br /> Hardcover: ISBN 978-0-9894721-1-1<br /> Available for Free online at: <a href="http://www.people.vcu.edu/~rhammack/BookOfProof/" target="_blank">http://www.people.vcu.edu/~rhammack/BookOfProof/</a></p>
<p>Introduction to Theory of Computation<br /> Anil Maheshwari and Michiel Smid<br /> Available for Free online at: <a target="_blank" href="http://cglab.ca/~michiel/TheoryOfComputation/">http://cglab.ca/~michiel/TheoryOfComputation/</a></p>
<p><b>Assignments</b></p>
<p>All homework assignments will be submitted electornically through <a href="https://learning.drexel.edu">learning.drexel.edu</a>. The majority of assignments will be written. Some programming will be required late in the term. Written assignments must be submitted as PDFs. You may use any software to create a PDF, but the submitted file must be a PDF to be graded.</p>
<p><b>Tests</b></p>
<p>Tests will be completed through <a href="https://learning.drexel.edu">learning.drexel.edu</a>. Tests will be posted online for approximately one week. A test will have a fixed time limit. The time limit will start when the student downloads the test. The answers much be submitted during the open period. The test may be started during the midterm week.</p>
<p><b>Lectures</b></p>
<p>Lectures will be recorded and posted to Echo360 Accessible through <a href="https://learning.drexel.edu">learning.drexel.edu</a>.</p>
<p><b>Discussion Boards</b></p>
<p>A discussion board will be created in Piazza for students and linked in <a href="https://learning.drexel.edu">learning.drexel.edu</a>. Students from both sectiosn will have access to the same discussion board.</p>
<p><b>Grading and Policies</b></p>
<ul>
<li>Attendence: 10%</li>
<li>Homework Assignments (8) 50%</li>
<li>Midterm Exam 20%</li>
<li>Final Exam 20%</li>
</ul>
<p>Final grades will be determined by your total points weighted according to this distribution. Grades may be curved but are generally computed via the formula below. It may be modified at the instructor's sole discretion, but letter grades will generally not be lower than those shown here.</p>
<ul>
<li>A range (A+, A, A-) is a course average [90, 100)</li>
<li>B range is a course average [80, 90)</li>
<li>C range is a course average [70, 80)</li>
<li>D range is a course average [60, 70)</li>
<li>F range is a course average [0, 60)</li>
</ul>
<p><b>Academic Honesty Policy</b></p>
<p>The CCI Academic Honesty policy is in effect for this course. Please see the policy at <a href="http://drexel.edu/cci/resources/current-students/undergraduate/policies/cs-academic-integrity/">http://drexel.edu/cci/resources/current-students/undergraduate/policies/cs-academic-integrity/</a> .</p>
<p><b>Submitting Assignments</b></p>
<p>Assignments will be submitted to learning.drexel.edu by 11:59PM on the date they are due. Grades will be reported via learning.drexel.edu.</p>
<p>Written Assignments must be submitted as PDFs. They may be typed or scanned, but only PDF files will be accepted.</p>
<p>Assignments and exams will be returned on a regular basis to provide feedback to students.</p>
<p>Assignments may be submitted late at 10% penalty per day UNTIL 6pm on the first Monday following the due date. Selected assignment answers will be reviewed in class. Once the answers have been shown in class, the homework may no longer be submitted.</p>
<p>Special Circumstances: If you have a documented reason why you cannot submit a homework by the cut-off deadline, a special exception may be made. The Professor may also wave the late submission penalty for documented special exceptions.</p>
<p><b>Computer/Software Help</b><br /> iCommons: <a href="http://drexel.edu/cci/about/our-facilities/rush-building/iCommons/">http://drexel.edu/cci/about/our-facilities/rush-building/iCommons/</a> <br /><br /> <b>University Policies</b> <br />In addition to the course policies listed on this syllabus, course assignments or course website, the following University policies are in effect:</p>
<ul>
<li>Academic Honesty: <a href="http://www.drexel.edu/provost/policies/academic_dishonesty.asp">http://www.drexel.edu/provost/policies/academic_dishonesty.asp</a></li>
<li>Judicial Affairs Academic Integrity: <a href="http://drexel.edu/studentlife/community_standards/facultystaff/integrity/">http://drexel.edu/studentlife/community_standards/facultystaff/integrity/</a></li>
<li>Official Final Exam Schedule: <a href="http://www.drexel.edu/registrar/scheduling/exams/">http://www.drexel.edu/registrar/scheduling/exams/</a></li>
<li>Students with Disability Statement: <a href="http://drexel.edu/oed/disabilityResources/overview/">http://drexel.edu/oed/disabilityResources/overview/</a></li>
<li>Course Drop Policy: <a href="http://www.drexel.edu/provost/policies/course_drop.asp">http://www.drexel.edu/provost/policies/course_drop.asp</a></li>
<li>The instructor may, at his/her/their discretion, change any part of the course during the term, including assignments, grade brakdowns, due-dates, and the schedule. Such changes will be communicated to students via the course web site Announcements page. This page should be checked regularly and frequently for such changes and announcements. Other announcements, although rare, may include class cancellations and other urgent announcements.</li>
<li>Drexel Student Learning Priorities: <a href="http://www.drexel.edu/provost/irae/assessment/outcomes/dslp/">http://www.drexel.edu/provost/irae/assessment/outcomes/dslp/</a></li>
</ul>
<p><b>Topics</b></p>
<ol>
<li>Graphs</li>
<li>Searching</li>
<li>Sorting</li>
<li>Proof Methods</li>
<li>Computational Models: DFA, CFG, Turing Machines</li>
</ol>
<p><b>Tentative Course Schedule</b></p>
<p>Please see the appropriate assignment webpages for a detailed description of course deliverables.</p>
<table border="1">
<tbody>
<tr>
<td>Week</td>
<td>Topic</td>
<td>Reading</td>
<td>Assignment</td>
</tr>
<tr>
<td>1 (9/19/16)</td>
<td>Analysis of Algorithms</td>
<td>Chapter 1.4</td>
<td> </td>
</tr>
<tr>
<td>2 (9/26/16)</td>
<td>Proofs by Induction and Boolean Algebra</td>
<td>Chapter 2 and Chapter 10 from <a href="http://www.people.vcu.edu/~rhammack/BookOfProof/" target="_blank">Book of Proof Second Edition</a> by Richard Hammack. PDFs of both chapters are included in lectures area of learning.</td>
<td> </td>
</tr>
<tr>
<td>3 (10/3/16)</td>
<td>String Matching and Regular Expressions</td>
<td>Chapter 5.4</td>
<td>HW1 Due Monday 11:59PM</td>
</tr>
<tr>
<td>4 (10/10/16)</td>
<td colspan="2">No Lecture - Columbus Day</td>
<td>HW2 Due Monday 11:59PM</td>
</tr>
<tr>
<td>5 (10/17/16)</td>
<td>Context Free Grammars</td>
<td>Introduction to Theory of Computation<br /> Chapter 2 2.1-2.5 pg 21-47 <br /> Chapter 3 3.1-3.3 pg 91-103</td>
<td>HW3 Due Monday 11:59PM</td>
</tr>
<tr>
<td>6 (10/24/16)</td>
<td colspan="2">Midterm Online - No Class</td>
<td> </td>
</tr>
<tr>
<td>7 (10/31/16)</td>
<td>Turing Machines</td>
<td>Chapter 4 pg 137-152<br /> Chapter 5 5.1.5 - pg 162-164</td>
<td> </td>
</tr>
<tr>
<td>8 (11/7/16)</td>
<td>Mergesort and Quicksort</td>
<td>Chapters 1.3-1.4</td>
<td>HW4 Due Thursday 11:59PM</td>
</tr>
<tr>
<td>9 (11/14/16)</td>
<td>Trees - Binary Search Trees and Heaps</td>
<td>Chapter 3.2 and 2.4</td>
<td> </td>
</tr>
<tr>
<td>10 (11/21/16)</td>
<td>Graphs - Undirected and MST</td>
<td>Pages: 518-52, 524-525, 530-537, 604-609, 616-619, 624-629</td>
<td>HW5 Due Monday 11:59PM</td>
</tr>
<tr>
<td>11 (11/28/16)</td>
<td>Graphs - Directed and Shortest Paths</td>
<td>Pages: 538-542, 566-575, 638-640, 646-648, 652-657</td>
<td>No HW for Thanksgiving!</td>
</tr>
<tr>
<td>12 (12/5/16)</td>
<td colspan="2">Final Online - No In Class Events this week</td>
<td>HW6 Due Monday 11:59PM</td>
</tr>
</tbody>
</table>