<p>
<title>CS 270 - Mathematical Foundations in CS</title>
</p>
<p></p>
<h1>CS 270 - Mathematical Foundations in CS - Syllabus</h1>
<p><b>Term and Credits</b></p>
<p>Spring 2016-2017 (April 03, 2017-June 16, 2017) <br /> 3 Credits</p>
<p><b>Room and Time</b></p>
<p>Lectures:</p>
<ul>
<li>01 - MWF 3:00pm-3:50pm Room: Rush 014</li>
<li>02 - MWF 4:00pm-4:50pm Room: Rush 014</li>
<li>03 - MWF 5:00pm-5:50pm Room: Rush 014</li>
</ul>
<p><b>Instructor</b></p>
<p>Mark Boady<br />
<i>Electronic Mail Address:</i> <a href="mailto:mwb33@drexel.edu">mwb33@drexel.edu</a><br />
<i>Office:</i> University Crossings 138<br />
<i>Extention:</i> 215-895-2347<br />
<i>Office Hours:</i> MWF: 1:00pm-2:30pm. By Appointment other Days/Times. (I tend to be around Tuesday.)</p>
<p><b>Teaching Assistant(s)</b></p>
<ul>
<li>Klimentina Krstevska <a href="mailto:kk866@drexel.edu">kk866@drexel.edu</a></li>
<li>Duc Le <a href="mailto:dml352@drexel.edu">dml352@drexel.edu</a></li>
<li>Chris McCole <a href="mailto:cjm399@drexel.edu">cjm399@drexel.edu</a></li>
</ul>
<p>
	Office Hours and Contact Info Through the CLC:
	<a href="https://www.cs.drexel.edu/clc" target="_blank">
	https://www.cs.drexel.edu/clc
	</a></p>
<p><b>Grading Details</b></p>
<p>Your work is graded by multiple people. You should know who to contact for each type of assignment.
<ul>
<li>In Class Exercises: Graded by the Duc Le. May be signed off on by any TA.</li>
<li>Homework Assignments:<ol>
	<li>HW1 and HW6-8: <ol>
	<li>Last Name: Amon to Mfon - Klimentina</li>
	<li>Last Name: Mills to Zheng - Chris</li>
	</ol> </li>
	<li>HW2-HW5: Automatically graded by OLI. Email the Professor for any questions on your grade.</li>
	</ol>
	</li>
<li>Midterm: Graded automatically by OLI. Email the Professor for any grading issues.</li>
<li>Final Exam: Graded by the Professor.</li>
</ul>
</p>
<p><b>Course Description</b></p>
<p>
Introduces formal logic and its connections to Computer Science. Students learn to translate statements about the behavior of computer programs into logical claims and to prove such assertions using both traditional techniques and automated tools. Considers approaches to proving termination, correctness, and safety for programs. Discusses propositional and predicate logic, logical inference, recursion and recursively defined sets, mathematical induction, and structural induction.
</p>
<p><b>Course Objective and Goals</b></p>
<ul>
<li>To use recursion and divide and conquer to solve problems.</li>
<li>To provide recursive definitions of patterns and data structures.</li>
<li>To formally specify the input/output requirements of programs.</li>
<li>To use induction and other proof techniques to prove properties of algorithms, data structures, programs, and computer systems.</li>
<li>To use logic to describe the state of systems and to use logical deduction (by hand and using tools) to prove properties of systems.</li>
<li>To understand the power and limitations of formal logic.</li>
</ul>
<p><b>Audience and Purpose within Plan of Study</b></p>
<p>
This is a required course for all Computer Science and Software Engineering students. It should also be of interest to Computer Engineering, Mathematics students and students with an interest in logic and computation.
</p>
<p><b>Prerequisites</b><br />
Students should have programming experience (CS172 or equivalent).
</p>
<p><b>Textbook</b></p>
<p>You are required to sign up for an account using the online textbook.</p>
<p>Required Online Text: OLI Logic and Proofs. A code for our class's version of the textbook will be distributed in class. Purchase from <a href="http://oli.cmu.edu" target="_blank">http://oli.cmu.edu</a></p>
<p><b>Recommended:</b> This book gives a good introduction to Functional Programming in LISP style languages. This is a good additional resources for the programming part of the class. It is not required. Reading will not be assigned from it.</p>
<p>
	The Little Schemer (4th Edition)<br />
	Daniel P. Friedman, Matthias Felleisen<br />
	ISBN-10: 0262560992<br />
	ISBN-13: 978-0262560993<br />
	Available through the
	<a href="http://drexel.bncollege.com" target="_blank">Drexel Bookstore</a><br />
	Also available from <a href="https://www.amazon.com/Little-Schemer-Daniel-P-Friedman/dp/0262560992/ref=sr_1_1?ie=UTF8&qid=1486577149&sr=8-1&keywords=little+schemer"  target="_blank">Amazon</a></p>

<p><b>Grading and Policies</b></p>
<ul>
<li>In Class Exercises: 15%</li>
<li>Homework Assignments: 35%</li>
<li>Midterm Exam 25%</li>
<li>Final Exam 25%</li>
</ul>
<p>Final grades will be determined by your total points weighted according to this distribution. Grades may be curved but are generally computed via the formula below. It may be modified at the instructor's sole discretion, but letter grades will generally not be lower than those shown here.</p>
<ul>
<li>[100-97]A+</li>
<li>(97-93] A</li>
<li>(93-90]A-</li>
<li>(90-87]B+</li>
<li>(87-83] B</li>
<li>(83-80]B-</li>
<li>[80-77]C+</li>
<li>(77-73] C</li>
<li>(73-70]C-</li>
<li>(70-67]D+</li>
<li>(67-60]D</li>
<li>(60-0]F</li>
</ul>

<p><b>In Class Exercises</b></p>
<ul>
<li>Every Friday there will be an in class exercise. It will be designed to be completed during the class period. You may work with other students to complete these assignments. Groups may have from 1 to 3 members working together.</li>
<li>If you do not complete the exercise during class, you may finish it during the TA or Professor's office hours the week following the lab.</li>
<li>The exercise <b>MUST</b> be submitted to the Professor at or before the start of the your next Friday class.</li>
<li>Your lowest exercise grade will be dropped. This is a sick day allowing you to miss one friday class without having to make anything up.</li>
</ul>

<p><b>Assignments</b></p>
<ul>
<li>Assignments will be assigned weekly, except those weeks with exams.</li>
<li>Assignments will be due on Wednesday at 11:59PM unless otherwise stated.</li>
<li>Late Submissions will be accepted for 4 days at 10% off per day. After 4 days, no late submissions will be accepted unless there are extenuating circumstances and explicit permission has been given by the instructor.</li>
<li>OLI Online Assignments: Late Submissions through OLI require Instructor Approval to submit. The above late policy stands, but you <b>MUST</b> email the Professor or your submission will not be accepted for grading.</li>
<li>Assignments and exams will be returned on a regular basis to provide feedback to students.</li>
</ul>

<p><b>Additional Policies</b></p>
<ul>
<li>You, your instructor, and the TA are bound by the Academic Honesty policy. Students are responsible for reading and understanding the course policies in this syllabus and for announcements made in class and in the course email list. See the academic policy <a href="http://drexel.edu/provost/policies/academic-integrity/">linked to in this syllabus</a>. <br>Punishments include, but are not limited to <ul>
	<li>Zero for Assignment</li>
	<li>Reduction of one Letter grade</li>
	<li>Failure for class</li></ul></li>
<li>During lecture and recitation sessions please refrain from using mobile phones or otherwise being impolite.</li>
<li>Any dispute about an assignment grade must be made and resolved within 5 days of receiving your grade. After this period your grade cannot be adjusted.</li>
<li>If you are seeking help with an assignment you must contact me or a TA prior to Friday close-of-business hours. We cannot guarantee a timely response of that. This policy is to ensure that you get started early on your assignments.</li>
</ul>
<p><b>Software and Hardware Requirements</b></p>
<p>All Drexel students are required to have individual access to a dedicated computer which meets minimum specifications, including: processor speed, memory and secondary storage requirements, connectivity via high-speed or direct connection to campus network, and a CD/DVD drive. </p>
<p>Programming assignments will be completed using the Racket Programming Language. It is required for this course. It can be downloaded from <a href="https://racket-lang.org/" target="_blank">https://racket-lang.org/</a></p>
<p>OLI's Proof and Logic programs require Java and Flash. They work best in Firefox.</p>

<p><b>Academic Honesty Policy</b></p>
<p>The CCI Academic Honesty policy is in effect for this course. Please see the policy at <a href="http://drexel.edu/cci/resources/current-students/undergraduate/policies/cs-academic-integrity/"><span><span>http</span></span>://<span><span>drexel</span></span>.<span><span>edu</span></span>/<span><span>cci</span></span>/resources/current-students/undergraduate/policies/cs-academic-integrity/</a> .</p>
<p><b>Computer/Software Help</b><br /> <span><span>iCommons</span></span>: <a href="http://drexel.edu/cci/about/our-facilities/rush-building/iCommons/"><span><span>http</span></span>://<span><span>drexel</span></span>.<span><span>edu</span></span>/<span><span>cci</span></span>/about/our-facilities/rush-building/<span><span>iCommons</span></span>/</a> <br /><br /> <b>University Policies</b> <br />In addition to the course policies listed on this syllabus, course assignments or course website, the following University policies are in effect:</p>
<ul>
<li>Academic Honesty: <a href="http://www.drexel.edu/provost/policies/academic_dishonesty.asp"><span><span>http</span></span>://<span><span>www</span></span>.<span><span>drexel</span></span>.<span><span>edu</span></span>/provost/policies/academic_dishonesty.asp</a></li>
<li>Judicial Affairs Academic Integrity: <a href="http://drexel.edu/studentlife/community_standards/facultystaff/integrity/"><span><span>http</span></span>://<span><span>drexel</span></span>.<span><span>edu</span></span>/<span><span>studentlife</span></span>/community_standards/<span><span>facultystaff</span></span>/integrity/</a></li>
<li>Official Final Exam Schedule: <a href="http://www.drexel.edu/registrar/scheduling/exams/"><span><span>http</span></span>://<span><span>www</span></span>.<span><span>drexel</span></span>.<span><span>edu</span></span>/registrar/scheduling/exams/</a></li>
<li>
Students requesting accommodations due to a disability at Drexel University need to present a current Accommodation Verification Letter (AVL) to faculty before accommodations can be made. AVL's are issued by the Office of Disability Resources (ODR). For additional information, visit the ODR website at <a href="http://www.drexel.edu/oed/disabilityResources" target="_blank">http://www.drexel.edu/oed/disabilityResources</a>, or contact the Office for more information: 215-895-1401 (V), or <a href="mailto:disability@drexel.edu">disability@drexel.edu</a>."
</li>
<li>Course Drop Policy: <a href="http://www.drexel.edu/provost/policies/course_drop.asp"><span><span>http</span></span>://<span><span>www</span></span>.<span><span>drexel</span></span>.<span><span>edu</span></span>/provost/policies/course_drop.asp</a></li>
<li>The instructor may, at his/her/their discretion, change any part of the course during the term, including assignments, grade <span><span>brakdowns</span></span>, due-dates, and the schedule. Such changes will be communicated to students via the course web site Announcements page. This page should be checked regularly and frequently for such changes and announcements. Other announcements, although rare, may include class cancellations and other urgent announcements.</li>
<li>Drexel Student Learning Priorities: <a href="http://www.drexel.edu/provost/irae/assessment/outcomes/dslp/"><span><span>http</span></span>://<span><span>www</span></span>.<span><span>drexel</span></span>.<span><span>edu</span></span>/provost/<span><span>irae</span></span>/assessment/outcomes/<span><span>dslp</span></span>/</a></li>
</ul>


<p><b>Tentative Course Schedule</b></p>
<p>Please see the appropriate assignment <span><span>webpages</span></span> for a detailed description of course deliverables.</p>
<table border="1">
<tbody>
<tr>
<td>Week</td>
<td>Topic</td>
<td>Reading</td>
<td>Notes</td>
</tr>
<tr>
<td>1 (4/3/17)</td>
<td>Functional Programming 101</td>
<td>
<b>Required:</b>
	<a href="https://docs.racket-lang.org/quick/index.html" target="_blank">
	Quick: An Introduction to Racket with Pictures
	</a><br>
	<a href="https://medium.com/@cscalfani/so-you-want-to-be-a-functional-programmer-part-1-1f15e387e536#.ca4y62nd4" target="_blank">
	So You Want to be a Functional Programmer (Part 1)
	</a><br>
<b>Suggested:</b> OLI Chapter 1 - Syntax and Symbolization<br>
<a href="http://inventwithpython.com/blog/2011/08/11/recursion-explained-with-the-flood-fill-algorithm-and-zombies-and-cats/" target="_blank">Recursion Explained with the Flood Fill Algorithm (and Zombies and Cats)
</td>
<td> </td>
</tr>
<tr>
<td>2 (4/10/17)</td>
<td>Introduction to Boolean Logic</td>
<td>
	<b>Required:</b> OLI Chapter 2 - Semantics<br>
	<b>Suggested:</b> Chapter 2 Logic from <a href="http://www.people.vcu.edu/~rhammack/BookOfProof/" target="_blank">Book of Proof</a>
</td>
<td>HW 1 Due 4/12/17 at 11:59PM</td>
</tr>
<tr>
<td>3 (4/17/17)</td>
<td>Proofs by Deduction</td>
<td>
	<b>Required:</b> OLI Chapter 3 - Derivations
</td>
<td>HW 2 Due 4/19/17 at 11:59PM</td>
</tr>
<tr>
<td>4 (4/24/17)</td>
<td>Proofs by Contradiction</td>
<td>
	<b>Required:</b> OLI Chapter 4 - Indirect Rules<br>
	<b>Suggested:</b> Chapter 6 Proof by Contradiction from <a href="http://www.people.vcu.edu/~rhammack/BookOfProof/" target="_blank">Book of Proof</a>
</td>
<td>HW 3 Due 4/26/17 at 11:59PM</td>
</tr>
<tr>
<td>5 (5/1/17)</td>
<td>Predicate Logic and Metamathematics</td>
<td>
	<b>Required:</b> OLI Chapter 6 - Elementary Metamathematics
</td>
<td>HW 4 Due 5/3/17 at 11:59PM</td>
</tr>
<tr>
<td>6 (5/8/17)</td>
<td>Mathematical Induction</td>
<td>	<b>Required:</b> Chapter 10 Mathematical Induction from <a href="http://www.people.vcu.edu/~rhammack/BookOfProof/" target="_blank">Book of Proof</a></td>
<td>HW 5 Due 5/10/17 at 11:59PM</td>
</tr>
<tr>
<td>7 (5/15/17)</td>
<td>Proofs on Recursive Data Structures</td>
<td>TBD</td>
<td>
Midterm Due 5/17/17 at 11:59PM<br>
Extra Credit 1 Due 5/17/17 at 11:59PM
</td>
</tr>
<tr>
<td>8 (5/22/17)</td>
<td>Proving Properties of Recursive Functions</td>
<td>TBD</td>
<td>HW 6 Due 5/24/17 at 11:59PM</td>
</tr>
<tr>
<td>9 (5/29/17)</td>
<td><b>No Class Monday (Memorial Day)</b><br>
Automated SAT Solvers</td>
<td>TBD</td>
<td>
HW 7 Due 5/31/17 at 11:59PM</td>
</tr>
<tr>
<td>10 (6/5/17)</td>
<td>Termination Proofs<br>
<b>Friday:</b> Final Review</td>
<td>TBD</td>
<td><b>No In Class Exercise</b><br />
HW 8 Due 6/7/17 at 11:59PM</td>
</tr>
<tr>
<td>11 (6/12/17)</td>
<td colspan="2">Final Exam</td>
<td>Extra Credit 2 Due 6/14/17 at 11:59PM</td>
</tr>
</tbody>
</table>