<p>
<title>CS 171 Computer Programming 1</title>
</p>
<p></p>
<h1>CS 171 Computer Programming 1 - Syllabus</h1>
<p><b>Term and Credits</b></p>
<p>Winter 2016-2017 (Jan 09, 2017-Mar 25, 2017) <br /> 3 Credits</p>
<p><b>Room and Time</b></p>
<p>Lectures:</p>
<ul>
<li>A - Tuesday 11:00am-12:50pm Room: <span><span><span><span>Stratton</span></span></span></span> Hall 113</li>
<li>B - Tuesday 1:00pm-2:50pm Room: <span><span><span><span>Stratton</span></span></span></span> Hall 113</li>
<li>C - Monday 2:00pm-3:50pm Room: Randell Hall 121</li>
</ul>
<p>Labs: (TA in Bold is Primary Grader for Lab Section)</p>
<ul>
<li>Section 70: Wednesday 11:00am-12:50pm Room: UC 151 (<b><span><span><span><span>Pranati</span></span></span></span> <span><span><span><span>Shrivastava</span></span></span></span></b> and Brandon Packard)</li>
<li>Section 69: Wednesday 1:00pm-2:50pm Room: UC 151 (<b>Daniel Ziegler</b> and <span><span>Pranati</span></span> <span><span>Shrivastava</span></span>)</li>
<li>Section 68: Wednesday 3:00pm-4:50pm Room: UC 151 (<b>Joseph Urbano</b> and Jennifer <span><span><span><span>Engimann</span></span></span></span>)</li>
<li>Section 67: Wednesday 6:00pm-7:50pm Room: UC 151 (<b>Joseph Urbano</b> and <span><span>Ekta</span></span> <span><span>Arora</span></span>)</li>
<li>Section 60: Thursday 9:00am-10:50am Room: UC 151 (<b><span><span>Jennifer</span></span> <span><span><span><span>Engimann</span></span></span></span></b> and <span><span><span><span>Pranatia</span></span></span></span> <span><span><span><span>Shrivastava</span></span></span></span>)</li>
<li>Section 61: Thursday 11:00am-12:50pm Room: UC 151 (<b>Rod <span><span><span><span>Aluise</span></span></span></span></b> and Jennifer <span><span><span><span>Engimann</span></span></span></span> )</li>
<li>Section 62: Thursday 1:00pm-2:50pm Room: UC 151 (<b>Brandon Packard</b> and Rod <span><span><span><span>Aluise</span></span></span></span>)</li>
<li>Section 63: Thursday 3:00pm-4:50pm Room: UC 151 (<b>Brandon Packard</b> and Rod <span><span><span><span>Aluise</span></span></span></span>)</li>
<li>Section 65: Friday 1:00pm-2:50pm Room: UC 151 (<b>Daniel Ziegler</b> and <span><span><span><span>Ekta</span></span></span></span> <span><span><span><span>Arora</span></span></span></span>)</li>
</ul>
<p>Who Grades Your Stuff:</p>
<ul>
<li><span><span>Prelabs</span></span> - Primary Grader for Lab Section</li>
<li>Labs - Either TA in Lab or any TA at office hours</li>
<li>Quizzes - Primary Grader for Lab Section</li>
<li>Assignments -
<ul>
<li>Lab Section 60 and 68 - <span><span>Pranati</span></span> <span><span>Shrivastava</span></span></li>
<li>Lab Sections 61 - Brandon Packard</li>
<li>Lab Sections 62 and 63 - <span><span>Ekta</span></span> <span><span>Arora</span></span></li>
<li>Lab Sections 65 and 67 - Jennifer <span><span>Engimann</span></span></li>
<li>Lab Sections 69 and 70 - Rod <span><span>Aluise</span></span></li>
</ul>
</li>
<li>Exam - Professor <span><span>Boady</span></span></li>
</ul>
<p><b>Instructor</b></p>
<p>Mark <span><span><span><span>Boady</span></span></span></span><br /> <i>Electronic Mail Address:</i> <a href="mailto:mwb33@drexel.edu"><span><span><span><span>mwb</span></span></span></span>33@<span><span><span><span>drexel</span></span></span></span>.<span><span><span><span>edu</span></span></span></span></a><br /> <i>Office:</i> University Crossings 138<br /> <i><span><span><span><span>Extention</span></span></span></span>:</i> 215-895-2347<br /> <i>Office Hours:</i> Mon. 4-5pm, Tues. 3-5pm, Wed. 4-5pm</p>
<p><b>Teaching Assistant(s)</b></p>
<ul>
<li>Jennifer <span><span><span><span>Engimann</span></span></span></span></li>
<li>Brandon Packard</li>
<li>Rod <span><span><span><span>Aluise</span></span></span></span></li>
<li><span><span><span><span>Ekta</span></span></span></span> <span><span><span><span>Arora</span></span></span></span></li>
<li><span><span><span><span>Pranati</span></span></span></span> <span><span><span><span>Shrivastava</span></span></span></span></li>
<li>Joseph Urbano</li>
<li>Daniel Ziegler</li>
</ul>
<p>Office Hours and Contact Info Through the CLC: <a href="https://www.cs.drexel.edu/clc" target="_blank"><span><span><span><span>https</span></span></span></span>://<span><span><span><span>www</span></span></span></span>.cs.<span><span><span><span>drexel</span></span></span></span>.<span><span><span><span>edu</span></span></span></span>/<span><span><span><span>clc</span></span></span></span></a></p>
<p><b>Course Description</b></p>
<p>Introduces fundamental concepts of computing including memory, instructions, function calls, and activation records. Covers fundamentals of structured computer programming in the language of instruction: variables, input and output, expressions, assignment statements, conditionals and branching, subprograms, parameter passing, repetition, arrays, top-down design, testing, and debugging.</p>
<p><b>Course Objective and Goals</b></p>
<ol>
<li>Trace execution of a C++ program containing assignment statements, strings, conditionals, file input/output, functions, and loops.</li>
<li>Determine appropriate code constructs and design a C++ program using them to satisfy problem description.</li>
<li>Write appropriately styled C++ code and documentation for programs using assignment statements, strings, conditionals, file input/output, functions, and loops.</li>
<li>Detect and correct syntax errors in C++ programs containing assignment statements, strings, conditionals, file input/output, functions, and loops.</li>
<li>Detect and correct logic errors in C++ programs containing assignment statements, strings, conditionals, functions, and loops.</li>
<li>Communicate and solve problems effectively as a member of a team.</li>
</ol>
<p><b>Audience and Purpose within Plan of Study</b></p>
<p>This course is the first in a two-term sequence of computer programming courses in C++ (CS 171-2) and is a required course for students majoring in computer science, mathematics, physics, information systems, and digital media. It is also a required course for students pursuing a minor in computer science. The goal is for students completing this sequence to be competent programmers, able to write working C++ program on their own using appropriate constructs when presented with a problem description.</p>
<p><b>Prerequisites</b><br /> None.<br /><br /> While there are no formal prerequisites for the course, students are expected to be computer literate. Prior programming experience (such as that gained in CS164: Introduction to Computer Science, SE 101: Software Engineering I, CS 140: Multimedia Programming, CS 143: Computer Programming Fundamentals, or PHYS 160: Introduction to Scientific Computing) is not required, but is definitely helpful.</p>
<p><b>Textbook</b></p>
<p>Big C++ (2<span><span>nd</span></span> Edition)<br /> Cay <span><span>Horstmann</span></span> and Timothy Budd<br /> ISBN-10: 0470383283<br /> ISBN-13: 978-0470383285<br /> E-Textbook from <a href="https://www.vitalsource.com"><span><span><span><span>https</span></span></span></span>://<span><span><span><span>www</span></span></span></span>.<span><span><span><span>vitalsource</span></span></span></span>.com</a> Also available through the <a href="http://drexel.bncollege.com">Drexel Bookstore</a><br /> Also available from <a href="https://www.amazon.com/Big-C-2nd-Cay-Horstmann/dp/0470383283">Amazon</a></p>
<p><b>Grading and Policies</b></p>
<ul>
<li>Homework Assignments: 25%</li>
<li>Labs: 10%</li>
<li><span><span><span><span>Pre</span></span></span></span>-Labs: 10%</li>
<li>Quizzes 25%</li>
<li>Final Exam 30%</li>
</ul>
<p>Final grades will be determined by your total points weighted according to this distribution. Grades may be curved but are generally computed via the formula below. It may be modified at the instructor's sole discretion, but letter grades will generally not be lower than those shown here.</p>
<ul>
<li>[100-97]A+</li>
<li>(97-93] A</li>
<li>(93-90]A-</li>
<li>(90-87]B+</li>
<li>(87-83] B</li>
<li>(83-80]B-</li>
<li>[80-77]C+</li>
<li>(77-73] C</li>
<li>(73-70]C-</li>
<li>(70-67]D+</li>
<li>(67-60]D</li>
<li>(60-0]F</li>
</ul>
<p><b><span><span><span><span>Pre</span></span></span></span>-Labs</b></p>
<p>Prior to each lab there will be a <span><span><span><span>pre</span></span></span></span>-lab. This is intended to be done on your own and will be due prior to your lab. The purpose of this is to get you thinking about topics relevant to the lab prior to meeting with your group in lab. That way hopefully you have more to contribute and things can go (relatively) smoothly! <br /><br /> The <span><span><span><span>pre</span></span></span></span>-lab will be a written assignment that must be handed in on paper at the start of the lab.</p>
<p><b>Labs</b></p>
<p>Your lab grade is based upon your attendance in lab, participation in individual and group lab activities, and completion of assigned lab projects. Each lab period you will be given an assignment which must be started in class. During class time you may consult with other students or the <span><span><span><span>TAs</span></span></span></span> if you need help on the lab. Because labs involve group work experiences, you are expected to attend and participate as part of a group, and not work alone outside the lab. <br /><br /> If you cannot make a lab and notify the TA prior to lab you may make it up during his office hours. If you do not notify him/her prior and/or don't work on the lab during his/her office hours then you will receive zero credit for that lab. This must be done within one week of the original lab. <br /><br /> All lab assignments will be posted on <span><span><span><span>Bb</span></span></span></span> Learn. There you will find instructions for each lab, along with questions that you must answer. In lab, you will receive a paper lab grade sheet. The TA will sign off on parts of the lab as you complete them. This sheet will also include written questions the <span><span><span><span>TAs</span></span></span></span> will grade outside of lab. <br /><br /> If you cannot finish a lab, you may complete the lab at home (yes this is seemingly contradictory to a prior statement, but in the case that you spend the entire time working with your group in lab and cannot finish by the end, then you may finish at home).<br /> To receive credit for the lab, you <b>MUST</b> meet with the TA to have your lab grade sheet updated. The TA will review your work and give you a new grade. This <b>MUST</b> be done within one week of the original lab date. (Before the start of the next lab.)</p>
<p><b>Assignments</b></p>
<p>All assignments will be posted with a due date. No late material will be accepted. Even if it's less than a second overdue. Make sure to submit early. Your lowest assignment grade will be dropped since I realize that occasionally things happen. <br /><br /> All written material (non-code) must be prepared on a word processor, converted to <span><span><span><span>pdf</span></span></span></span>, and submitted electronically via <span><span><span><span>Bb</span></span></span></span> Learn. <br /><br /> Although labs are designed to be collaborative, <span><span><span><span>pre</span></span></span></span>-lab and assignments are meant to be done individually. If at any point you use part of someone else's solution in an assignment you MUST cite the source of the code. Copy from others (<span><span><span><span>online</span></span></span></span> or classmates) results in an automatic zero for the assignment and additional possible penalties (including course failure and/or escalation to the honor board).</p>
<p><b>Additional Policies</b></p>
<ul>
<li>Your lowest Quiz, Lab, <span><span><span><span>Prelab</span></span></span></span>, and Assignment grades for the term will be dropped.</li>
<li>You, your instructor, and the TA are bound by the Academic Honesty policy. Students are responsible for reading and understanding the course policies in this syllabus and for announcements made in class and in the course email list. See the academic policy linked to in this syllabus.</li>
<li>During lecture and recitation sessions please refrain from using mobile phones or otherwise being impolite.</li>
<li>Any dispute about an assignment grade must be made and resolved within 5 days of receiving your grade. After this period your grade cannot be adjusted.</li>
<li>If you are seeking help with an assignment you must contact me or a TA prior to Friday close-of-business hours. We cannot guarantee a timely response of that. This policy is to ensure that you get started early on your assignments.</li>
</ul>
<p><b>Plagiarism Detection System</b></p>
<p>To ensure that assignments are done independently, in addition to human observation, we will be running all assignments through a plagiarism detection system. This program uses compiler techniques which are invariant of syntax and style. It has a very high accuracy rate.</p>
<p><b>Academic Honesty Policy</b></p>
<p>The CCI Academic Honesty policy is in effect for this course. Please see the policy at <a href="http://drexel.edu/cci/resources/current-students/undergraduate/policies/cs-academic-integrity/"><span><span><span><span>http</span></span></span></span>://<span><span><span><span>drexel</span></span></span></span>.<span><span><span><span>edu</span></span></span></span>/<span><span><span><span>cci</span></span></span></span>/resources/current-students/undergraduate/policies/cs-academic-integrity/</a> .</p>
<p><b>Submitting Assignments</b></p>
<p>Assignments will be submitted to learning.<span><span><span><span>drexel</span></span></span></span>.<span><span><span><span>edu</span></span></span></span> by 11:59PM on the date they are due. Grades will be reported via learning.<span><span><span><span>drexel</span></span></span></span>.<span><span><span><span>edu</span></span></span></span>.</p>
<p>Assignments and exams will be returned on a regular basis to provide feedback to students.</p>
<p>Late Submissions will not be accepted without written proof (see special exceptions below). Dropping the lowest grade in each range allows you to miss an assignment if needed.</p>
<p>Special Circumstances: If you have a documented reason why you cannot submit a homework by the cut-off deadline, a special exception may be made. The Professor may also wave the late submission penalty for documented special exceptions.</p>
<p><b>Computer/Software Help</b><br /> <span><span><span><span>iCommons</span></span></span></span>: <a href="http://drexel.edu/cci/about/our-facilities/rush-building/iCommons/"><span><span><span><span>http</span></span></span></span>://<span><span><span><span>drexel</span></span></span></span>.<span><span><span><span>edu</span></span></span></span>/<span><span><span><span>cci</span></span></span></span>/about/our-facilities/rush-building/<span><span><span><span>iCommons</span></span></span></span>/</a> <br /><br /> <b>University Policies</b> <br />In addition to the course policies listed on this syllabus, course assignments or course website, the following University policies are in effect:</p>
<ul>
<li>Academic Honesty: <a href="http://www.drexel.edu/provost/policies/academic_dishonesty.asp"><span><span><span><span>http</span></span></span></span>://<span><span><span><span>www</span></span></span></span>.<span><span><span><span>drexel</span></span></span></span>.<span><span><span><span>edu</span></span></span></span>/provost/policies/academic_dishonesty.asp</a></li>
<li>Judicial Affairs Academic Integrity: <a href="http://drexel.edu/studentlife/community_standards/facultystaff/integrity/"><span><span><span><span>http</span></span></span></span>://<span><span><span><span>drexel</span></span></span></span>.<span><span><span><span>edu</span></span></span></span>/<span><span><span><span>studentlife</span></span></span></span>/community_standards/<span><span><span><span>facultystaff</span></span></span></span>/integrity/</a></li>
<li>Official Final Exam Schedule: <a href="http://www.drexel.edu/registrar/scheduling/exams/"><span><span><span><span>http</span></span></span></span>://<span><span><span><span>www</span></span></span></span>.<span><span><span><span>drexel</span></span></span></span>.<span><span><span><span>edu</span></span></span></span>/registrar/scheduling/exams/</a></li>
<li>Students with Disability Statement: <a href="http://drexel.edu/oed/disabilityResources/overview/"><span><span><span><span>http</span></span></span></span>://<span><span><span><span>drexel</span></span></span></span>.<span><span><span><span>edu</span></span></span></span>/<span><span><span><span>oed</span></span></span></span>/<span><span><span><span>disabilityResources</span></span></span></span>/overview/</a></li>
<li>Course Drop Policy: <a href="http://www.drexel.edu/provost/policies/course_drop.asp"><span><span><span><span>http</span></span></span></span>://<span><span><span><span>www</span></span></span></span>.<span><span><span><span>drexel</span></span></span></span>.<span><span><span><span>edu</span></span></span></span>/provost/policies/course_drop.asp</a></li>
<li>The instructor may, at his/her/their discretion, change any part of the course during the term, including assignments, grade <span><span><span><span>brakdowns</span></span></span></span>, due-dates, and the schedule. Such changes will be communicated to students via the course web site Announcements page. This page should be checked regularly and frequently for such changes and announcements. Other announcements, although rare, may include class cancellations and other urgent announcements.</li>
<li>Drexel Student Learning Priorities: <a href="http://www.drexel.edu/provost/irae/assessment/outcomes/dslp/"><span><span><span><span>http</span></span></span></span>://<span><span><span><span>www</span></span></span></span>.<span><span><span><span>drexel</span></span></span></span>.<span><span><span><span>edu</span></span></span></span>/provost/<span><span><span><span>irae</span></span></span></span>/assessment/outcomes/<span><span><span><span>dslp</span></span></span></span>/</a></li>
</ul>
<p><b>Software and Hardware Requirements</b></p>
<p>All Drexel students are required to have individual access to a dedicated computer which meets minimum specifications, including: processor speed, memory and secondary storage requirements, connectivity via high-speed or direct connection to campus network, and a CD/DVD drive. <br /><br /> <i>Visual Studio</i><br /> The official compiler used for this course is Microsoft Visual Studio Professional 2013. This compiler runs under the Windows operating system only. Students using other operating systems are responsible for ensuring that programs they write will compile and run properly with Visual C++. Drexel Students may obtain Microsoft Visual Studio Professional 2013 via the <span><span><span><span>Dreamspark</span></span></span></span> Suite from Microsoft Academic Alliance. <br /><br /> To obtain Visual Studio:</p>
<ul>
<li>Check your Drexel email to get your login information for <span><span><span><span>Dreamspark</span></span></span></span> - this email will come on the Friday before the term begins. The email will come from "The College of Computing and Informatics- <span><span><span><span>DreamSpark</span></span></span></span> Premium <span><span><span><span>noreply</span></span></span></span>@<span><span><span><span>kivuto</span></span></span></span>.com"</li>
<li>If this is your first time getting an account, the subject will be "An Account has been created for you".</li>
<li>Alternately, if you already had an account from a previous term, the message will have the subject "Your account has been reactivated".</li>
<li>FAQ’s located here: <a href="http://drexel.edu/cci/about/our-facilities/rush-building/iCommons/Dreamspark/" target="_blank"><span><span>http</span></span>://<span><span>drexel</span></span>.<span><span>edu</span></span>/<span><span>cci</span></span>/about/our-facilities/rush-building/<span><span>iCommons</span></span>/<span><span>Dreamspark</span></span>/</a></li>
<li>Any student who is having issues accessing the site should first go to the following link and enter their Drexel short form email address (<span><span>abc</span></span>123@<span><span>drexel</span></span>.<span><span>edu</span></span>) to have the account information and instructions for connecting sent to them again. <a href="http://www.cci.drexel.edu/msdnaareset" target="_blank"><span><span>http</span></span>://<span><span>www</span></span>.<span><span>cci</span></span>.<span><span>drexel</span></span>.<span><span>edu</span></span>/<span><span>msdnaareset</span></span></a> <br /><br /> If the above link tells them they do not have an account, they need to contact <a href="mailto:ihelp@drexel.edu"><span><span>ihelp</span></span>@<span><span>drexel</span></span>.<span><span>edu</span></span></a> and we can create or reset their password manually.</li>
</ul>
<p><br /><br /> Drexel students with insufficient <span><span><span><span>internet</span></span></span></span> access to download such a large file may arrange to obtain a CD copy of the compiler through the <span><span><span><span>Dreamspark</span></span></span></span> / Microsoft Academic Alliance website. Do this as soon as possible, in order to allow sufficient time to complete assignments. <br /><br /> <br /><br /> <i>Blackboard</i><br /> This course is operating with the Blackboard Course Management System (also referred to as Drexel Learn), which allows electronic submission of assignments, quizzes, and lab exercises, along with <span><span><span><span>online</span></span></span></span> chat sessions and threaded discussion groups. Instructions on usage of Drexel Learn will be given in the first assignment and lab exercise. You can access the Drexel Learn course website by visiting the Drexel Learn course website (<span><span><span><span>http</span></span></span></span>://learn.<span><span><span><span>dcollege</span></span></span></span>.net/) and logging in using your Drexel <span><span><span><span>userid</span></span></span></span> and password. Further help is available at the login page. <br /><br /></p>
<p><b>Tentative Course Schedule</b></p>
<p>Please see the appropriate assignment <span><span><span><span>webpages</span></span></span></span> for a detailed description of course deliverables.</p>
<table border="1">
<tbody>
<tr>
<td>Week</td>
<td>Topic</td>
<td>Reading</td>
<td>Notes</td>
</tr>
<tr>
<td>1 (1/9/17)</td>
<td>Anatomy of a C++ Program</td>
<td>Chapters 1-2</td>
<td> </td>
</tr>
<tr>
<td>2 (1/16/17)</td>
<td>Basic Element of C++ <br /><b>(Monday Campus Closed)</b></td>
<td>Chapter 2</td>
<td>HW 1 Due 1/20/17 at 11:59PM<br />Quiz 1 in Lab</td>
</tr>
<tr>
<td>3 (1/23/17)</td>
<td>Conditional Flow Control</td>
<td>Chapters 3.1-3.5</td>
<td> </td>
</tr>
<tr>
<td>4 (1/30/17)</td>
<td>Loops</td>
<td>Chapters 3.6-3.11</td>
<td>HW 2 Due 2/3/17 at 11:59PM<br />Quiz 2 in Lab</td>
</tr>
<tr>
<td>5 (2/6/17)</td>
<td>Introduction to Functions</td>
<td>Chapter 4</td>
<td> </td>
</tr>
<tr>
<td>6 (2/13/17)</td>
<td>Advanced Function Use</td>
<td>Chapters 4,10</td>
<td>HW 3 Due 2/17/17 at 11:59PM<br />Quiz 3 in Lab</td>
</tr>
<tr>
<td>7 (2/20/17)</td>
<td>Vectors</td>
<td>Chapter 6.1-6.3</td>
<td> </td>
</tr>
<tr>
<td>8 (2/27/17)</td>
<td>Introduction to Object Oriented Programming</td>
<td>Chapter 5.1-5.5</td>
<td>HW 4 Due 3/3/17 at 11:59PM<br />Quiz 4 in Lab</td>
</tr>
<tr>
<td>9 (3/6/17)</td>
<td>More About Object Oriented Programming</td>
<td>Chapter 9</td>
<td> </td>
</tr>
<tr>
<td>10 (3/13/17)</td>
<td>Libraries and Graphics</td>
<td>Getting Started for your OS using <a href="http://www.sfml-dev.org/tutorials/2.4/" target="_blank">SFML</a></td>
<td>HW 5 Due 3/17/17 at 11:59PM<br /> Quiz 5 in Lab <br />Extra Credit 1 &amp; 2 Due 3/17/17 at 11:59PM</td>
</tr>
<tr>
<td>11 (3/20/17)</td>
<td colspan="3">Final Exam Wed. March 22, 2017 8:00AM Main Auditorium (In Main Building)
<br>
Final Review Session: Monday, March 20th 6:30-8:30pm CAT 61
</td>
</tr>
</tbody>
</table>