<p></p>
<h1>CS 265 Advanced Programming Techniques - Syllabus</h1>
<p><b>Term and Credits</b></p>
<p>Summer 2017-2018<br /> 3 Credits</p>
<p><b>Room and Time</b></p>
<p>Tuesday/Thursday 2:00pm-3:20pm University Crossings Room 149</p>
<p><b>Instructor</b></p>
<p>
	Mark Boady<br />
	<i>Electronic Mail Address:</i>
	<a href="mailto:mwb33@drexel.edu">mwb33@drexel.edu</a><br />
	<i>Office:</i> University Crossings 138<br />
	<i>Extention:</i> 215-895-2347<br />
	<i>Office Hours:</i>
		Monday 4-5PM,
		Tuesday 12-1PM,
		Thursday 12-1PM
</p>
<p><b>Teaching Assistant(s)</b></p>
<p>
	Alexander Duff<br />
	<i>Electronic Mail Address:</i>
	<a href="mailto:amd435@drexel.edu">amd435@drexel.edu</a><br />
	<i>Office:</i> Drexel CLC UC 152<br />
	<i>Office Hours:</i>Monday 2-4PM, Wednesday 2-4PM <br />
	<a href="https://www.cs.drexel.edu/clc" target="_blank">https://www.cs.drexel.edu/clc</a>
</p>
<p><b>Course Description</b></p>
<p>Introduction to the basic principles of programming practice: testing, debugging, portability, performance, design alternatives, and style. Application in a variety of programming languages, programming environments, and operating systems. Introduction to tools used in the software development process for improving program functionality, performance, and robustness.</p>
<p><b>Course Objective and Goals</b></p>
<ul>
<li>To effectively use the Unix programming environment - shell, file system, scripts, pipes, regular expressions, filters, program development tools</li>
<li>To use scripting languages, such as Awk or Perl, to automate tasks and write simple programs</li>
<li>To develop good programming style, organization, interface, and documentation habits</li>
<li>To use effective procedures and tools for building, debugging, testing, tuning, and maintaining programs</li>
<li>To be comfortable using and learning different programming languages (C, C++, Java, Perl) and choosing the appropriate one for a given task</li>
<li>To use tools and write programs to assist in developing programs</li>
<li>More generally, you will realise that there are different platforms out there. While we all have our favorite, we will abstract out similarities, so that, for any given platform, you can plan how to accomplish a given task</li>
</ul>
<p><b>Audience and Purpose within Plan of Study</b></p>
<p>This is a required sophomore level course for Computer Science students. A graduate version of the course is available as a pre-core course for those students who are not sufficiently comfortable developing, debugging, testing, tuning, and porting programs.
</p>
<p><b>Prerequisites</b>
	<br />
	CS 172 Minimum Grade: D or CS 176 Minimum Grade: D or CS 133 Minimum Grade: D or SE 103 Minimum Grade: D or ECEC 301 Minimum Grade: D
</p>
<p><b>What Students Should Know Prior to this Course</b></p>
<ol>
	<li>Ability to read and understand code.</li>
	<li>Basic understanding of program execution.</li>
	<li>Ability to write simple recursive programs.</li>
</ol>
<p><b>Course Goals:</b></p>
<p>To provide students with the skills needed to effectively design, develop, implement, debug, test, and maintain programs and more generally to solve problems using a computer. The course will teach these skills through the use of different programming languages, tools, and environments, though the general principles are independent of any particular language, tool, or environment. General themes include clarity, simplicity, generality, and automation.</p>
<p><b>Textbook</b></p>
<p>
	The Practice of Programming<br />
	Brian W. Kernighan and Rob Pike<br />
	<b>ISBN-13:</b> 978-0201615869<br />
	<b>ISBN-10:</b> 020161586X<br />

	<a href="https://www.amazon.com/Practice-Programming-Addison-Wesley-Professional-Computing/dp/020161586X/ref=sr_1_1?s=books&ie=UTF8&qid=1529596529&sr=1-1&keywords=The+Practice+of+Programming" target="_blank">Buy from Amazon
	</a>
</p>

<h2>Course Material</h2>
<p><b>Lectures</b><p>
<ul>
	<li>Lectures will be held twice a week.</li>
	<li>Attendance in lecture is required.</li>
	<li>If you need to miss class, please message the Professor to request an exception.</li>
</ul>
<p><b>Labs</b></p>
<ul>
	<li>Labs are due weekly, by 11:59PM the following Sunday.</li>
	<li>Submit via Git at <a href="https://gitlab.cci.drexel.edu" target="_blank">gitlab.cci.drexel.edu</a>.</li>
	<li>See lab 1 for instructions.</li>
</ul>
<p><b>Homeworks</b><p>
<ul>
	<li>There will be 3 longer homework assignments</li>
	<li>They will be due by 11:59PM on Sunday</li>
	<li>All code will be graded on the Department Unix Machines (see Lab 1)</li>
	<li><b>Late Submissions:</b>
		<ul>
			<li>1 Day Late 10 point deducton (Before Monday 11:59PM)</li>
			<li>2 Days Late 20 point deduction (Before Tuesday 11:59PM)</li>
			<li>3 Days Late 30 point deduction (Before Wednesday 11:59PM)</li>
			<li>4 or More Days Late - Only Accepted with Instructor Permission</li>
		</ul>
</ul>
<p><b>Quizzes</b></p>
<ul>
	<li>Quizzes will be given at the start of lecture during even weeks.</li>
</ul>
<p><b>Exams</b></p>
<ul>
	<li>Final Exam during Exam Week (Week 11)</li>
</ul>

<p><b>Slack Channel</b></p>
<ul>
	<li>This term, we will be using a Slack channel instead of a discussion board.</li>
	<li>Our Slack Space is
		<a href="cs265-summer2018.slack.com" target="_blank">cs265-summer2018.slack.com</a>
	</li>
	<li>You will receive an invite link in a course announcement. Email the Professor if you need assistance.</li>
</ul>
<p><b>Special Circumstances</b></p>
<ul>
<li> If you have a documented reason why you cannot submit an assignment by the deadline, a special exception may be made. The Professor may also wave the late submission penalty for documented special exceptions.</li>
</ul>
<h2>Course Policies</h2>
<p><b>Academic Honesty Policy</b></p>
<p>The CCI Academic Honesty policy is in effect for this course. Please see the policy at <a href="http://drexel.edu/cci/resources/current-students/undergraduate/policies/cs-academic-integrity/" target="_blank">http://drexel.edu/cci/resources/current-students/undergraduate/policies/cs-academic-integrity/</a>.</p>
<p>Academic Honesty Violations <b>will</b> be reported to the University. Punishment will be determined by the severity of the incident. Punishments include, but are not limited to,</p>
<ul>
<li>Failing grade for class</li>
<li>Deduction of one letter grade</li>
<li>Zero on Assignment/Exam Violation took place on</li>
</ul>
<p><b>Grading and Policies</b></p>
<ul>
	<li>Labs 25%</li>
	<li>Assignments 25%</li>
	<li>Quizzes 25%</li>
	<li>Final Exam 25%</li>
</ul>
<p>Final grades will be determined by your total points weighted according to this distribution. Grades may be curved but are generally computed via the formula below. It may be modified at the instructor's sole discretion, but letter grades will generally not be lower than those shown here.</p>
<ul>
<li>[100-97]A+</li>
<li>(97-93] A</li>
<li>(93-90]A-</li>
<li>(90-87]B+</li>
<li>(87-83] B</li>
<li>(83-80]B-</li>
<li>[80-77]C+</li>
<li>(77-73] C</li>
<li>(73-70]C-</li>
<li>(70-67]D+</li>
<li>(67-60]D</li>
<li>(60-0]F</li>
</ul>
<p><b>Computer/Software Help</b><br /> iCommons: <a href="http://drexel.edu/cci/about/our-facilities/rush-building/iCommons/" target="_blank">http://drexel.edu/cci/about/our-facilities/rush-building/iCommons/</a> <br /><br /> <b>University Policies</b> <br />In addition to the course policies listed on this syllabus, course assignments or course website, the following University policies are in effect:</p>
<ul>
<li>Academic Honesty: <a href="http://www.drexel.edu/provost/policies/academic_dishonesty.asp" target="_blank">http://www.drexel.edu/provost/policies/academic_dishonesty.asp</a></li>
<li>Judicial Affairs Academic Integrity: <a href="http://drexel.edu/studentlife/community_standards/facultystaff/integrity/" target="_blank">http://drexel.edu/studentlife/community_standards/facultystaff/integrity/</a></li>
<li>Official Final Exam Schedule: <a href="http://www.drexel.edu/registrar/scheduling/exams/" target="_blank">http://www.drexel.edu/registrar/scheduling/exams/</a></li>
<li>Students with Disability Statement: <a href="http://drexel.edu/oed/disabilityResources/overview/" target="_blank">http://drexel.edu/oed/disabilityResources/overview/</a></li>
<li>Course Drop Policy: <a href="http://www.drexel.edu/provost/policies/course_drop.asp" target="_blank">http://www.drexel.edu/provost/policies/course_drop.asp</a></li>
<li>Drexel Student Learning Priorities: <a href="http://drexel.edu/provost/assessment/outcomes/dslp/" target="_blank">http://www.drexel.edu/provost/irae/assessment/outcomes/dslp/</a></li>
<li>The instructor may, at his/her/their discretion, change any part of the course during the term, including assignments, grade brakdowns, due-dates, and the schedule. Such changes will be communicated to students via the course web site Announcements page. This page should be checked regularly and frequently for such changes and announcements. Other announcements, although rare, may include class cancellations and other urgent announcements.</li>
</ul>
<p><b>Topics</b></p>
<ol>
	<li>The Unix Programming Environment - basic commands, editor, shell, file
system, filters</li>
	<li>Program development tools - context sensitive editor, make, cvs, debugger</li>
	<li>Scripting languages - Awk, Perl</li>
	<li>Programming style and Interfaces</li>
	<li>Design and implementation (C, C++, Java)</li>
	<li>Testing and debugging programs</li>
	<li>Performance and portability</li>
	<li>Metaprogramming - notation, macros, templates, little languages</li>
</ol>
<h2>Tentative Course Schedule</h2>
<p>Please see the appropriate assignment webpages for a detailed description of course deliverables.</p>
<table border="1">
<tbody>
<tr>
	<td>Week</td>
	<td>Topic</td>
	<td>Reading</td>
	<td>Lab/Assignment Due 11:59PM Sunday</td>
</tr>
<tr>
	<td>1 (6/25/18)</td>
	<td>
		Intro to the Unix Programming Environment
	</td>
	<td>
		&nbsp;
	</td>
	<td>
		lab01
	</td>
</tr>
<tr>
	<td>2 (7/2/18)</td>
	<td>
		More Unix, Intro to Bash, GIT
	</td>
	<td>
		&nbsp;
	</td>
	<td>
		lab02
	</td>
</tr>
<tr>
	<td>3 (7/9/18)</td>
	<td>
		Bash Scripting
	</td>
	<td>
		&nbsp;
	</td>
	<td>
		lab03
	</td>
</tr>
<tr>
	<td>4 (7/16/18)</td>
	<td>
		Awk, Regular Expressions, git
	</td>
	<td>
		&nbsp;
	</td>
	<td>
		lab04
	</td>
</tr>
<tr>
	<td>5 (7/23/18)</td>
	<td>
		Programming Style and Python
	</td>
	<td>
		Chapter 1
	</td>
	<td>
		lab05<br>
		assn1
	</td>
</tr>
<tr>
	<td>6 (7/30/18)</td>
	<td>
		Algorithms and Data Structures
	</td>
	<td>
		Chapter 2
	</td>
	<td>
		lab06
	</td>
</tr>
<tr>
	<td>7 (8/6/18)</td>
	<td>
		Design and Implementation
	</td>
	<td>
		Chapter 3
	</td>
	<td>
		lab07<br>
		assn2
	</td>
</tr>
<tr>
	<td>8 (8/13/18)</td>
	<td>
		Interfaces and Makefiles
	</td>
	<td>
		Chapter 4
	</td>
	<td>
		lab08
	</td>
</tr>
<tr>
	<td>9 (8/20/18)</td>
	<td>
		Debugging and Testing
	</td>
	<td>
		Chapters 5 and 6
	</td>
	<td>
		lab09
	</td>
</tr>
<tr>
	<td>10 (8/27/18)</td>
	<td>
		Performance
	</td>
	<td>
		Chapters 7 and 8
	</td>
	<td>
		lab10<br>
		assn3
	</td>
</tr>
<tr>
	<td>11 (9/3/18)</td>
	<td colspan="3">
		Final Exam - Time and Location TBD
	</td>
</tr>
</tbody>
</table>
