<p></p>
<h1>CS 520 Computer Science Foundations - Syllabus</h1>
<p><b>Term and Credits</b></p>
<p>Fall 2017-2018<br /> 3 Credits</p>
<p><b>Room and Time</b></p>
<p>Monday 6:00pm-8:50pm Room Science Center 3401 Market St Room 326</p>
<p>Monday lecture will be recorded for online section</p>
<p><b>Instructor</b></p>
<p>Mark Boady<br /> <i>Electronic Mail Address:</i> <a href="mailto:mwb33@drexel.edu">mwb33@drexel.edu</a><br /> <i>Office:</i> University Crossings 138<br /> <i>Extention:</i> 215-895-2347<br /> <i>Office Hours:</i> Monday 3-4PM, Tuesday 3-5PM, Thursday 3-4PM, other days/times by Appointment</p>
<p><b>Teaching Assistant(s)</b></p>
<p>Alex Duff<br /> <i>Electronic Mail Address:</i> <a href="mailto:amd435@drexel.edu">amd435@drexel.edu</a><br /> <i>Office:</i> Drexel CLC UC 152<br /> <i>Office Hours:</i> Wednesday 4:00pm-6:00pm, Friday 12:00pm-2:00pm <br /> <a href="https://www.cs.drexel.edu/clc" target="_blank">https://www.cs.drexel.edu/clc</a></p>
<p><b>Course Description</b></p>
<p>Survey of basic mathematics concepts needed for the study of computer science at the graduate level: induction, iteration, recursion; analysis of program running time; graphs and trees; predicate logic; regular expressions, Context Free Grammars, and Turing Machines.</p>
<p><b>Course Objective and Goals</b></p>
<ol>
<li>Learn to analyze the running time of iterative and recursive algorithms.</li>
<li>Learn to prove properties of algorithms and data structures using induction.</li>
<li>Gain familiarity with basic data structures and algorithms related to them, such as trees and graphs.</li>
<li>Learn the limits and applications of regular expressions, context free grammars, and turing machines.</li>
<li>Learn relationships between languages and automata.</li>
<li>Learn to use logic to prove properties of algorithms.</li>
</ol>
<p><b>Audience and Purpose within Plan of Study</b></p>
<p>This course is for graduate students with little or no prior knowledge of data structures and algorithms. It serves to give such students a firm foundation for future graduate study, and it is a requirement of the Computer Science Minor and Computer Science Post Bachelor Certificate degree programs.</p>
<p><b>Prerequisites</b><br /> None</p>
<p><b>What Students Should Know Prior to this Course</b></p>
<ol>
<li>Ability to read and understand code.</li>
<li>Basic understanding of program execution.</li>
</ol>
<p><b>What Students will be able to do upon Successfully Completing this Course:</b></p>
<ol>
<li>Students will be able to analyze algorithms.</li>
<li>Students will understand a set of fundamental algorithms and how to apply them.</li>
<li>Students will be able to prove properties of algorithms using induction, proof by contradiction, and predicate logic.</li>
<li>Students will be able to apply regular expressions and context free grammars to parse strings.</li>
<li>Students will be able to determine the applications and limits of data structures, algorithms, and languages.</li>
</ol>
<p><b>Textbook</b></p>
<p>We will use free resources for this class.</p>
<p>Book of Proof (Second Edition)<br /> Richard Hammack<br /> Paperback: ISBN 978-0-9894721-0-4<br /> Hardcover: ISBN 978-0-9894721-1-1<br /> Available for Free online at: <a href="http://www.people.vcu.edu/~rhammack/BookOfProof/" target="_blank">http://www.people.vcu.edu/~rhammack/BookOfProof/</a></p>
<p>Introduction to Theory of Computation<br /> Anil Maheshwari and Michiel Smid<br /> Available for Free online at: <a target="_blank" href="http://cglab.ca/~michiel/TheoryOfComputation/">http://cglab.ca/~michiel/TheoryOfComputation/</a></p>
<p><strong>Supplemental Texts</strong></p>
<p>If you want a textbook about the Algorithms we will be studying, I recommend this one. It is not required.</p>
<p>Algorithms (4th Edition)<br /> Robert Sedgewick, Kevin Wayne<br /> ISBN-10: 032157351X<br /> ISBN-13: 860-1400041420<br /> <a href="https://www.amazon.com/Algorithms-4th-Robert-Sedgewick/dp/032157351X/ref=sr_1_1?s=books&amp;ie=UTF8&amp;qid=1470321482&amp;sr=1-1&amp;keywords=algorithms" target="_blank">See it on Amazon</a></p>
<p><b>Assignments</b></p>
<p>All homework assignments will be submitted electornically through <a href="https://learning.drexel.edu" target="_blank">learning.drexel.edu</a>. The majority of assignments will be written. Some programming will be required.</p>
<p>Assignments will be submitted to learning.drexel.edu by 11:59PM on the date they are due. Grades will be reported via learning.drexel.edu.</p>
<p>Written Assignments must be submitted as PDFs. They may be typed or scanned, but only PDF files will be accepted.</p>
<p>Assignments and exams will be returned on a regular basis to provide feedback to students.</p>
<p>Assignments may be submitted late at 10% penalty per day for 5 days following the due date. Selected assignment answers will be reviewed in class. Once the answers have been shown in class, the homework may no longer be submitted.</p>
<p><i>Special Circumstances</i>: If you have a documented reason why you cannot submit a homework by the cut-off deadline, a special exception may be made. The Professor may also wave the late submission penalty for documented special exceptions.</p>
<p><b>Tests</b></p>
<p>Tests will be completed through <a href="https://learning.drexel.edu" target="_blank">learning.drexel.edu</a>. Tests will be posted online for approximately one week. A test will have a fixed time limit. The time limit will start when the student downloads the test. The answers much be submitted during the time limit. The test may be started at any point during the week.</p>
<p><b>Lectures</b></p>
<p>Lectures will be recorded and posted to Echo360 Accessible through <a href="https://learning.drexel.edu" target="_blank">learning.drexel.edu</a>.</p>
<p><b>Discussion Boards</b></p>
<p>A discussion board will be created in Piazza for students and linked in <a href="https://learning.drexel.edu" target="_blank">learning.drexel.edu</a>. Students from both sections will have access to the same discussion board.</p>
<p><b>Academic Honesty Policy</b></p>
<p>The CCI Academic Honesty policy is in effect for this course. Please see the policy at <a href="http://drexel.edu/cci/resources/current-students/undergraduate/policies/cs-academic-integrity/" target="_blank">http://drexel.edu/cci/resources/current-students/undergraduate/policies/cs-academic-integrity/</a>.</p>
<p>Academic Honesty Violations <b>will</b> be reported to the University. Punishment will be determined by the severity of the incident. Punishments include, but are not limited to,</p>
<ul>
<li>Failing grade for class</li>
<li>Deduction of one letter grade</li>
<li>Zero on Assignment/Exam Violation took place on</li>
</ul>
<p><b>Grading and Policies</b></p>
<ul>
<li>Homework Assignments (8) 50%</li>
<li>Midterm Exam 25%</li>
<li>Final Exam 25%</li>
</ul>
<p>Final grades will be determined by your total points weighted according to this distribution. Grades may be curved but are generally computed via the formula below. It may be modified at the instructor's sole discretion, but letter grades will generally not be lower than those shown here.</p>
<ul>
<li>[100-97]A+</li>
<li>(97-93] A</li>
<li>(93-90]A-</li>
<li>(90-87]B+</li>
<li>(87-83] B</li>
<li>(83-80]B-</li>
<li>[80-77]C+</li>
<li>(77-73] C</li>
<li>(73-70]C-</li>
<li>(70-67]D+</li>
<li>(67-60]D</li>
<li>(60-0]F</li>
</ul>
<p><b>Computer/Software Help</b><br /> iCommons: <a href="http://drexel.edu/cci/about/our-facilities/rush-building/iCommons/" target="_blank">http://drexel.edu/cci/about/our-facilities/rush-building/iCommons/</a> <br /><br /> <b>University Policies</b> <br />In addition to the course policies listed on this syllabus, course assignments or course website, the following University policies are in effect:</p>
<ul>
<li>Academic Honesty: <a href="http://www.drexel.edu/provost/policies/academic_dishonesty.asp" target="_blank">http://www.drexel.edu/provost/policies/academic_dishonesty.asp</a></li>
<li>Judicial Affairs Academic Integrity: <a href="http://drexel.edu/studentlife/community_standards/facultystaff/integrity/" target="_blank">http://drexel.edu/studentlife/community_standards/facultystaff/integrity/</a></li>
<li>Official Final Exam Schedule: <a href="http://www.drexel.edu/registrar/scheduling/exams/" target="_blank">http://www.drexel.edu/registrar/scheduling/exams/</a></li>
<li>Students with Disability Statement: <a href="http://drexel.edu/oed/disabilityResources/overview/" target="_blank">http://drexel.edu/oed/disabilityResources/overview/</a></li>
<li>Course Drop Policy: <a href="http://www.drexel.edu/provost/policies/course_drop.asp" target="_blank">http://www.drexel.edu/provost/policies/course_drop.asp</a></li>
<li>The instructor may, at his/her/their discretion, change any part of the course during the term, including assignments, grade brakdowns, due-dates, and the schedule. Such changes will be communicated to students via the course web site Announcements page. This page should be checked regularly and frequently for such changes and announcements. Other announcements, although rare, may include class cancellations and other urgent announcements.</li>
<li>Drexel Student Learning Priorities: <a href="http://drexel.edu/provost/assessment/outcomes/dslp/" target="_blank">http://www.drexel.edu/provost/irae/assessment/outcomes/dslp/</a></li>
</ul>
<p><b>Topics</b></p>
<ol>
<li>Graphs</li>
<li>Searching</li>
<li>Sorting</li>
<li>Proof Methods</li>
<li>Computational Models: DFA, CFG, Turing Machines</li>
</ol>
<p><b>Tentative Course Schedule</b></p>
<p>Please see the appropriate assignment webpages for a detailed description of course deliverables.</p>
<table border="1">
<tbody>
<tr>
<td>Week</td>
<td>Topic</td>
<td>Reading</td>
<td>Assignment</td>
</tr>
<tr>
<td>1 (9/25/17)</td>
<td>Binary Numbers, Circuits, Boolean Logic</td>
<td><a href="http://www.people.vcu.edu/~rhammack/BookOfProof/" target="_blank"> Chapter 2 for Book of Proof </a> <br /> <a href="http://www.math.grin.edu/~rebelsky/Courses/152/97F/Readings/student-binary" target="_blank"> Binary Numbers </a> <br /> <a href="http://www.ti.com/lit/an/slva700/slva700.pdf" target="_blank"> Logic Circuits </a> <br /> <a href="http://www.electronics-tutorials.ws/combination/comb_7.html" target="_blank"> Binary Addition </a> <br /> <a href="https://academo.org/demos/logic-gate-simulator/" target="_blank"> Logic Simulator </a> <br /> <a href="https://www3.ntu.edu.sg/home/ehchua/programming/java/datarepresentation.html" target="blank">Number Representations</a></td>
<td> </td>
</tr>
<tr>
<td>2 (10/2/17)</td>
<td>DFA and NFA: Simple Models of Computation</td>
<td><a href="http://cglab.ca/~michiel/TheoryOfComputation/" target="_blank"> Chapter 2 for Theory of Computation </a> <br /> <a href="http://automatonsimulator.com" target="_blank"> DFA/NFA Simulator </a></td>
<td>HW1 Due Sunday Oct 8th 11:59PM</td>
</tr>
<tr>
<td>3 (10/9/17)</td>
<td colspan="2">Class Cancelled for Columbus Day</td>
<td>HW2 Due Sunday Oct 15th 11:59PM</td>
</tr>
<tr>
<td>4 (10/16/17)</td>
<td>Turing Machines and Simple Programs</td>
<td><a href="https://plato.stanford.edu/entries/church-turing/" target="_blank"> Church-Turing Thesis</a><br /> <a href="http://cglab.ca/~michiel/TheoryOfComputation/" target="_blank">Chapter 3 from Theory of Computation</a> <br /> <a href="http://morphett.info/turing/turing.html" target="_blank">Turing Machine Simulator</a> <br /> <a href="https://schweigi.github.io/assembler-simulator/instruction-set.html" target="_blank"> Assembly Introduction</a> <br /> <a href="http://www.nasm.us/xdoc/2.10.09/html/nasmdoc3.html" target="_blank"> The NASM Language</a> <br /> <a href="https://schweigi.github.io/assembler-simulator/" target="blank">Assembly Simulator </a></td>
<td>HW3 Due Sunday Oct 22 11:59PM</td>
</tr>
<tr>
<td>5 (10/23/17)</td>
<td>Context Free Grammars</td>
<td><a href="http://cglab.ca/~michiel/TheoryOfComputation/" target="_blank"> Chapter 3 from Theory of Computation </a></td>
<td>HW4 Due Sunday Oct 29th 11:59PM</td>
</tr>
<tr>
<td>6 (10/30/17)</td>
<td>Introduction to Algorithms</td>
<td><a href="https://en.wikipedia.org/wiki/Linear_search" target="_blank">Linear Search</a> <br /> <a href="https://en.wikipedia.org/wiki/Binary_search_algorithm" target="_blank">Binary Search</a> <br /> <a href="https://en.wikipedia.org/wiki/Big_O_notation" target="_blank">Big Oh Notation</a> <br /> <a href="http://discrete.gr/complexity/" target="_blank">Complexity</a> <br /> <a href="https://www.khanacademy.org/computing/computer-science/algorithms/asymptotic-notation/a/asymptotic-notation" target="_blank">Asymptotic Notations</a></td>
<td>Midterm Online Due Sunday Nov 5th 11:59PM</td>
</tr>
<tr>
<td>7 (11/6/17)</td>
<td>Sorting Algorithms and Induction</td>
<td><a href="https://en.wikipedia.org/wiki/Merge_sort" target="_blank"> Merge Sort </a> <br /> <a href="https://en.wikipedia.org/wiki/Quicksort" target="_blank"> Quick Sort </a> <br /> <a href="https://en.wikipedia.org/wiki/Insertion_sort" target="_blank"> Insertion Sort </a> <br /> <a href="https://en.wikipedia.org/wiki/Tower_of_Hanoi" target="_blank"> Tower of Hanoi </a> <br /> <a href="http://www.people.vcu.edu/~rhammack/BookOfProof/" target="_blank"> Chapter 10 (Induction) from Book of Proof </a></td>
<td>HW5 Due Sunday Nov 12th 11:59PM</td>
</tr>
<tr>
<td>8 (11/13/17)</td>
<td>Intro to Trees</td>
<td><a href="https://en.wikipedia.org/wiki/Binary_search_tree" target="_blank">Binary Search Trees</a> <br /> <a href="http://www.geeksforgeeks.org/greedy-algorithms-set-3-huffman-coding/" target="_blank"> Huffman Codes</a> <br /> <a href="https://en.wikipedia.org/wiki/Binary_heap" target="_blank"> Heaps/Priority Queues </a></td>
<td>HW6 Due Sunday Nov 19th 11:59PM</td>
</tr>
<tr>
<td>9 (11/20/17)</td>
<td>Intro to Graphs</td>
<td><a href="http://www.geeksforgeeks.org/graph-and-its-representations/" target="_blank">Graph Representations</a> <br /> <a href="http://www.geeksforgeeks.org/depth-first-traversal-for-a-graph/" target="_blank"> Depth First Search</a> <br /> <a href="http://www.redblobgames.com/pathfinding/a-star/introduction.html" target="_blank"> Breadth First Search</a> <br /> <a href="http://www.geeksforgeeks.org/greedy-algorithms-set-5-prims-minimum-spanning-tree-mst-2/" target="_blank">Prim's Algorithm</a> <br /> <a href="http://www.geeksforgeeks.org/greedy-algorithms-set-2-kruskals-minimum-spanning-tree-mst/" target="_blank">Kruskal's Algorithm</a></td>
<td>No HW Due for Thanksgiving!</td>
</tr>
<tr>
<td>10 (11/27/17)</td>
<td>Shortest Paths</td>
<td><a href="http://www.geeksforgeeks.org/dynamic-programming-set-16-floyd-warshall-algorithm/" target="_blank">Floyd-Warshall</a> <br /> <a href="http://www.redblobgames.com/pathfinding/a-star/introduction.html" target="_blank">A* and Dijkstra</a> <br /> <a href="https://en.wikipedia.org/wiki/Dijkstra%27s_algorithm" target="_blank">Dijkstra</a> <br /> <a href="https://en.wikipedia.org/wiki/A*_search_algorithm" target="_blank">A*</a></td>
<td>HW7 Due Sunday Dec 3th 11:59PM</td>
</tr>
<tr>
<td>11 (12/4/17)</td>
<td>Limitations of Computers</td>
<td><a href="http://cglab.ca/~michiel/TheoryOfComputation/" target="_blank">Chapters 5 and 6 from Theory of Computation</a></td>
<td>HW8 Due Sunday Dec 10 11:59PM</td>
</tr>
<tr>
<td>12 (12/11/17)</td>
<td colspan="2">Final Online Due Dec 17th 11:59PM - No In Class Events this week</td>
<td> </td>
</tr>
</tbody>
</table>