<p>
<title>CS 171 Computer Programming 1</title>
</p>
<p></p>
<h1>CS 171 Computer Programming 1 - Syllabus</h1>
<p><b>Term and Credits</b></p>
<p>Winter 2017-2018 <br /> 3 Credits</p>
<p><b>Room and Time</b></p>
<p>Lectures:</p>
<ul>
	<li>A - Tuesday 11:00AM-12:50PM Room: Disque Hall 108</li>
	<li>B - Tuesday 1:00PM-1:50PM Room Disque Hall 108</li>
	<li>C - Monday 2:00PM-3:50PM Room Randell Hall 121</li>
</ul>
<p>Labs: (Primary TA in Bold)</p>
<ul>
	<li>Section 60 - Thursday 9:00AM-10:50AM Room: UC 153
		(TAs: <b>Adit Gupta</b> and Mitra Bapat)</li>
	<li>Section 61 - Thursday 11:00AM-12:50PM Room: UC 153
		(TAs: <b>Mitra Bapat</b> and Kevin Sanghavi)</li>
	<li>Section 62 - Thursday 1:00PM-2:50PM Room: UC 151
		(TAs: <b>Kevin Sanghavi</b> and Sandesh Bhandari)</li>
	<li>Section 63 - Thursday 3:00PM-4:50PM Room: UC 151
		(TAs: <b>Sandesh Bhandari</b> and Eric Saptura)</li>
	<li>Section 65 - Friday 1:00PM-2:50PM Room: UC 153
		(TAs: <b>Mitra Bapat</b> and Boa Pham)</li>
	<li>Section 67 - Wednesday 6:00PM-7:50PM Room: UC 153
		(TAs: <b>Boa Pham</b> and Adit Gupta)</li>
	<li>Section 68 - Wednesday 3:00PM-4:50PM Room: UC 153
		(TAs: <b>Kevin Sanghavi</b> and Boa Pham)</li>
	<li>Section 69 - Wednesday 1:00PM-2:50PM Room: UC 153
		(TAs: <b>Sandesh Bhandari</b> and Binod Bhandari)</li>
	<li>Section 70 - Wednesday 11:00AM-12:50PM Room: UC 153
		(TAs: <b>Binod Bhandari</b> and Mitra Bapat)</li>
</ul>
<p>Who Grades What:</p>
<ul>
<li>Reading - Autograded by ZyBooks</li>
<li>Labs - TAs in Lab, Entered into Gradebook by Primary TA</li>
<li>Attendence - Professor Boady</li>
<li>Assignments - In "My Grades" see row "HW Grader"</li>
</ul>
</li>
<li>Midterm and Final Exam - Professor Boady</li>
</ul>
<p><b>Instructor</b></p>
<p>
	Mark Boady<br />
	<i>Electronic Mail Address:</i>
	<a href="mailto:mwb33@drexel.edu">mwb33@drexel.edu</a>
	<br />
	<i>Office:</i> University Crossings 138
	<br />
	<i>Extention:</i> 215-895-2347
	<br />
	<i>Office Hours:</i> Wednesday 3-5pm, Thursday 2-4PM, others days/times by appointment.
</p>
<p><b>Teaching Assistant(s)</b></p>
<ul>
	<li>Mitra Bapat</li>
	<li>Semanti Basu</li>
	<li>Binod Bhandari</li>
	<li>Sandesh Bhandari</li>
	<li>Adit Gupta</li>
	<li>Klimentina Krstevska</li>
	<li>Phuc Ngo</li>
	<li>Bao Pham</li>
	<li>Kevin Sanghavi</li>
	<li>Eric Saptura</li>
	<li>Joseph Urbano</li>
	<li>Tiffany Wong</li>
</ul>
<p>Office Hours and Contact Info Through the CLC:
	<a href="https://www.cs.drexel.edu/clc" target="_blank">
		https://www.cs.drexel.edu/clc
	</a>
</p>
<p><b>Course Description</b></p>
<p>Introduces fundamental concepts of computing including memory, instructions, function calls, and activation records. Covers fundamentals of structured computer programming in the language of instruction: variables, input and output, expressions, assignment statements, conditionals and branching, subprograms, parameter passing, repetition, arrays, top-down design, testing, and debugging.</p>
<p><b>Course Objective and Goals</b></p>
<ol>
<li>Trace execution of a Python program containing assignment statements, strings, conditionals, file input/output, functions, and loops.</li>
<li>Determine appropriate code constructs and design a Python program using them to satisfy problem description.</li>
<li>Write appropriately styled Python code and documentation for programs using assignment statements, strings, conditionals, file input/output, functions, and loops.</li>
<li>Detect and correct syntax errors in Python programs containing assignment statements, strings, conditionals, file input/output, functions, and loops.</li>
<li>Detect and correct logic errors in Python programs containing assignment statements, strings, conditionals, functions, and loops.</li>
<li>Communicate and solve problems effectively as a member of a team.</li>
</ol>
<p><b>Audience and Purpose within Plan of Study</b></p>
<p>This course is open to all student's interesting in Programming and Computer Science.</p>
<p>This course is the first in a two-term sequence of computer programming courses in Python 3 (CS 171-2) and is a required course for students majoring in computer science, mathematics, physics, information systems, and digital media. It is also a required course for students pursuing a minor in computer science. The goal is for students completing this sequence to be competent programmers, able to write working Python 3 program on their own using appropriate constructs when presented with a problem description.</p>
<p><b>Prerequisites</b><br /> None.<br /><br /> While there are no formal prerequisites for the course, students are expected to be computer literate. Prior programming experience is not required, but is definitely helpful.</p>
<p><b>Textbook</b></p>
<p>
Programming in Python 3<br>
Edition: CS 171: Computer Programming I Winter 2018<br>
From ZyBooks<br>
Sign up at <a href="https://learn.zybooks.com" target="_blank">learn.zybooks.com</a><br>
Enter Code DREXELCS171BoadyWinter2018 for our textbook<br>
Subscribe for $67.
</p>
<p><b>Grading and Policies</b></p>
<ul>
<li>Homework Assignments: 25%</li>
<li>Labs: 10%</li>
<li>Readings: 10%</li>
<li>Lecture Attendance: 5%</li>
<li>Midterm 25%</li>
<li>Final Exam 25%</li>
</ul>
<p>Final grades will be determined by your total points weighted according to this distribution. Grades may be curved but are generally computed via the formula below. It may be modified at the instructor's sole discretion, but letter grades will generally not be lower than those shown here.</p>
<ul>
<li>[100-97]A+</li>
<li>(97-93] A</li>
<li>(93-90]A-</li>
<li>(90-87]B+</li>
<li>(87-83] B</li>
<li>(83-80]B-</li>
<li>[80-77]C+</li>
<li>(77-73] C</li>
<li>(73-70]C-</li>
<li>(70-67]D+</li>
<li>(67-60]D</li>
<li>(60-0]F</li>
</ul>
<p><b>Readings</b></p>
<ul>
	<li>Each week sections of the ZyBooks online textbook will be assigned.</li>
	<li>You are required to complete all <b>Participation Activity</b> and <b>Challenge Activity</b> questions in the assigned readings.</li>
	<li>You must purchase a ZyBooks subscription to complete reading assignments.</li>
	<li>Each Student is required to have their own ZyBooks account.</li>
	<li>Late Submissions will not be accepted for Readings.</li>
</ul>
<p><b>Labs</b></p>
<ul>
	<li>Attendence at labs is required to receive credit. If you cannot attend lab you <b>MUST</b> email the TA for your lab and schedule a makeup meeting.</li>
	<li>Lab groups will be teams of two. You will use Pair Programming. One member will act as the <b>Driver</b>, who types up the code, and one person will be the <b>Observer</b>, who reviews the code and makes suggestions. You are expected to switch positions throughout the lab.</li>
	<li>Your lab grade is based upon your attendance in lab, participation in individual and group lab activities, and completion of assigned lab projects. Each lab period you will be given an assignment which must be started in class. During class time you may consult with other students or the TAs if you need help on the lab. Because labs involve group work experiences, you are expected to attend and participate as part of a group, and not work alone outside the lab.</li>
	<li><b>If you cannot make a lab,</b> notify the TA or Professor <b>prior</b> to Lab. You may complete the lab during any TA's office hours. If you do not notify the TA prior to missing a lab, you will recieve a penalty when you complete the lab.</li>
	<li> All lab assignments will be listed on BBLearn. There you will find instructions for each lab.</li>
	<li> <b>If you cannot finish a lab in class</b>, you may complete the lab at home. This requires that you started the lab in class and spent the entire lab working on it but did not finish. To receive credit for the lab, you <b>MUST</b> meet with the TA to have your lab grade updated. The TA will review your work and update your grade. This <b>MUST</b> be done within one week of the original lab date. (Before the start of the next lab.)</li>
	<li>Labs must be completed and graded prior to the start of the next lab, unless an special exception is given.</li>
</ul>
<p><b>Attendence</b></p>
<ul>
	<li>Attendence will be counted by sign in sheet.</li>
	<li>You may miss one lecture with no penalty.</li>
</ul>
<p><b>Assignments</b></p>
<ul>
	<li>All assignments will be posted with a due date.</li>
	<li><b>Late Penalty:</b> 10 <b>points</b> per day.</li>
	<li> All written material (non-code) must be prepared on a word processor, converted to pdf, and submitted electronically via BBLearn.</li>
	<li>Although labs are designed to be collaborative, readings and assignments are meant to be done individually. Copying from others (online sources or classmates) results in an automatic zero for the assignment and additional penalties (including a drop of one letter grade or failure for the class).</li>
	<li>Assignments will be submitted to learning.drexel.edu by 11:59PM on the date they are due.</li>
	<li>Grades will be reported via learning.drexel.edu.</li>
	<li>Assignments and exams will be returned on a regular basis to provide feedback to students.</li>
	<li>Late Penalty may be waved only with the Professor's approval for special exceptions.</li>
</ul>
<p><b>Special Circumstances</b></p>
<p> If you have a documented reason why you cannot submit any work by the cut-off deadline, a special exception may be made. The Professor may also wave the late submission policy for documented special exceptions. Special Exceptions <b>must</b> be approved by the Professor.</p>
</ul>
<p><b>Additional Policies</b></p>
<ul>
<li>You, your instructor, and the TA are bound by the Academic Honesty policy. Students are responsible for reading and understanding the course policies in this syllabus and for announcements made in class and in the course discussion board. See the academic policy linked to in this syllabus.</li>
<li>During lecture and recitation sessions please refrain from using mobile phones or otherwise being impolite.</li>
<li>Any dispute about an assignment grade must be made and resolved within 5 days of receiving your grade. After this period your grade cannot be adjusted.</li>
<li>If you are seeking help with an assignment you must contact the Professor or a TA prior to Friday close-of-business hours. We cannot guarantee a timely response on nights and weekends. This policy is to ensure that you get started early on your assignments.</li>
</ul>
<p><b>Plagiarism Detection System</b></p>
<p>To ensure that assignments are done independently, in addition to human observation, we will be running all assignments through a plagiarism detection system. This program uses compiler techniques which are invariant of syntax and style. It has a very high accuracy rate.</p>
<p><b>Academic Honesty Policy</b></p>
<p>
The CCI Academic Honesty policy is in effect for this course.
Please see the policy at
<a href="http://drexel.edu/cci/resources/current-students/undergraduate/policies/cs-academic-integrity/" target="_blank">
http://drexel.edu/cci/resources/current-students/undergraduate/policies/cs-academic-integrity/</a>.</p>
<p>In the event of an Academic Honesty Violation, punishments include but are not limited to
<ul>
<li>Failure for Class</li>
<li>Deduction of One Letter Grade</li>
<li>Zero for Offending Assignment</li>
<li>Report Submitted to University Student Coduct Department</li>
</ul>
</p>

<p><b>Computer/Software Help</b><br />
	iCommons:
	<a href="http://drexel.edu/cci/about/our-facilities/rush-building/iCommons/" target="_blank">
	http://drexel.edu/cci/about/our-facilities/rush-building/iCommons/</a>
	<br /></p>

<p><b>Disability Statement</b><br>
<!--           Copied From Site  http://drexel.edu/oed/disabilityResources/instructors-supervisors/Syllabus-Statement/ -------->
Students <a href="/oed/disabilityResources/students/">requesting accommodations</a> due to a disability at Drexel University need to request a current Accommodations Verification Letter (AVL) in the <a href="http://accommodate.drexel.edu/ClockWork/">ClockWork database</a> before accommodations can be made. These requests are received by Disability Resources (DR), who then issues the AVL to the appropriate contacts. For additional information, visit the DR website at <a href="/oed/disabilityResources/overview/">drexel.edu/oed/disabilityResources/overview/</a>, or contact DR for more information by phone at 215.895.1401, or by email at <a href="mailto:disability@drexel.edu">disability@drexel.edu</a>.
<!--           End Copy ---------------->
</p>

<p>
<b>University Policies</b> <br />In addition to the course policies listed on this syllabus, course assignments or course website, the following University policies are in effect:</p>
<ul>
<li>Academic Honesty:
	<a href="http://www.drexel.edu/provost/policies/academic_dishonesty.asp" target="_blank">
	http://www.drexel.edu/provost/policies/academic_dishonesty.asp</a></li>
<li>Judicial Affairs Academic Integrity:
	<a href="http://drexel.edu/studentlife/community_standards/facultystaff/integrity/" target="_blank">
	http://drexel.edu/studentlife/community_standards/facultystaff/integrity/</a></li>
<li>Official Final Exam Schedule:
	<a href="http://www.drexel.edu/registrar/scheduling/exams/" target="_blank">
	http://www.drexel.edu/registrar/scheduling/exams/</a></li>
<li>Students with Disability Statement:
	<a href="http://drexel.edu/oed/disabilityResources/students/" target="_blank">
	http://drexel.edu/oed/disabilityResources/students/</a></li>
<li>Course Drop Policy:
	<a href="http://www.drexel.edu/provost/policies/course-add-drop" target="_blank">
	http://www.drexel.edu/provost/policies/course-add-drop</a></li>
<li>Course Withdraw Policy:
	<a href="http://drexel.edu/provost/policies/course-withdrawal" target="_blank">
	http://drexel.edu/provost/policies/course-withdrawal</a></li>
<li>The instructor may, at his/her/their discretion, change any part of the course during the term, including assignments, grade breakkdowns, due-dates, and the schedule. Such changes will be communicated to students via the course web site Announcements page. This page should be checked regularly and frequently for such changes and announcements. Other announcements, although rare, may include class cancellations and other urgent announcements.</li>
</ul>
<p><b>Software and Hardware Requirements</b></p>
<p>All Drexel students are required to have individual access to a dedicated computer which meets minimum specifications, including: processor speed, memory and secondary storage requirements, connectivity via high-speed or direct connection to campus network, and a CD/DVD drive.</p>
<p>The Official Language is Python 3.6. You must have Python 3.6 installed on your computer. It is available for free from
<a href="https://www.python.org" target="_blank">https://www.python.org</a></p>
<p>No specific IDE is required. We suggest <a href="http://www.jetbrains.com/pycharm/" target="_blank">PyCharm Free Community Edition</a></p>
<p>The website <a href="https://repl.it" target="_blank">https://repl.it</a> can be used for many of the assignments. This is a helpful resource, but <b>must</b> have access to at least one computer with a complete Python 3 install.</p>

<p><b>Tentative Course Schedule</b></p>
<p>Please see the appropriate assignment <span><span><span><span>webpages</span></span></span></span> for a detailed description of course deliverables.</p>
<table border="1">
<tbody>
<tr>
	<td>Week</td>
	<td>Topic</td>
	<td>Reading</td>
	<td>Lab</td>
	<td>Notes</td>
</tr>
<tr>
	<td>1 (1/8/2018)</td>
	<td>
		What is a Program? Introduction to Python
		<br><b>Topics:</b>
		Python 3, Variables, Expression, Input and Output
	</td>
	<td>
		Chapter 1 Intro to Python<br>
		Chapter 2 Variables and Expressions<br>
		(Due Monday 8AM Jan. 15)
	</td>
	<td>Lab 1</td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>2 (1/15/2018)</td>
	<td>No Lecture - Martin Luther King, Jr. Day </td>
	<td>
		Chapter 3 Types<br>
		(Due Monday 8AM Jan. 22)
	</td>
	<td>Lab 2</td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>3 (1/22/2018)</td>
	<td>
		Branching and Exceptions
		<br><b>Topics:</b> If, Else, Elif, Boolean Logic, Try/Except
	</td>
	<td>
		Chapter 4 Branching<br>
		Chapter 7 Strings<br>
		(Due Monday 8AM Jan. 29)
	</td>
	
	<td>Lab 3</td>
	<td>HW 1 Due Friday Jan 26 at 11:59PM</td>
</tr>
<tr>
	<td>4 (1/29/2018)</td>
	<td>
		Loops and Files<br>
		<b>Topics:</b> While, For, Reading/Writing Files
	</td>
	<td>
		Chapter 5 Loops<br>
		(Due Monday 8AM Feb 5)</td>
	<td>Lab 4</td>
	<td>
		&nbsp;
	</td>
</tr>
<tr>
	<td>5 (2/5/2018)</td>
	<td>
		Functions<br>
		<b>Topics:</b> Creating Simple Functions
	</td>
	<td>
		Chapter 6 Functions<br>
		(Due Monday 8AM Feb 12)
	</td>
	<td>Lab 5</td>
	<td>
		HW 2 Due Friday Feb 9 at 11:59PM
	</td>
</tr>
<tr>
	<td>6 (2/12/2018)</td>
	<td colspan="2">Midterm - In Lecture</td>
	<td>Lab 6</td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>7 (2/19/2018)</td>
	<td>
		Types
		<br><b>Topics:</b> Binary Values, Type Conversion, Lists, Dictionaries
	</td>
	<td>
		Chapter 12 Files<br>
		(Due Monday 8AM Feb 26)
	</td>
	<td>Lab 7</td>
	<td>HW 3 Due Friday Feb 23 at 11:59PM</td>
</tr>
<tr>
	<td>8 (2/26/2018)</td>
	<td>
		Recursion<br>
		<b>Topics:</b> Creating and Understanding Recursive Functions
	</td>
	<td>
		Chapter 14 Recursion<br>
		(Due Monday 8AM March 5)
	</td>
	<td>Lab 8</td>
	<td>HW 4 Due Friday March 2 at 11:59PM</td>
</tr>
<tr>
	<td>9 (3/5/2018)</td>
	<td>
		Advanced Functions<br>
		<b>Topics:</b> Creating Libraries for Reuse, <br>Working with Lists/Dictionaries as parameters
	</td>
	<td>
		Chapter 8 Lists and Dictionaries<br>
		Chapter 11 Modules<br>
		(Due Monday 8AM March 12)
	</td>
	<td>Lab 9</td>
	<td></td>
</tr>

<tr>
	<td>10 (3/12/2018)</td>
	<td>
		Imperative Languages<br>
		<b>Topics:</b> Applications of Imperative Programming Skills
	</td>
	<td>
		Chapter 10 Exceptions<br>
		Chapter 15 Plotting<br>
		(Due Monday 8AM March 19)
	</td>
	<td>Lab 10</td>
	<td>HW 5 Due Friday March 16 at 11:59PM</td>
</tr>
<tr>
	<td>11 (3/19/2018)</td>
	<td colspan="4">Final Exam - Location/Time to be Determined</td>
</tr>
</tbody>
</table>
