<p>
<title>CS 171 Computer Programming 1</title>
</p>
<p></p>
<h1>CS 171 Computer Programming 1 - Syllabus</h1>
<p><b>Term and Credits</b></p>
<p>Fall 2017-2018 <br /> 3 Credits</p>
<p><b>Room and Time</b></p>
<p>Lectures:</p>
<ul>
<li>A - Monday 12:00AM-1:50PM Room: Randell Hall 327</li>
</ul>
<p>Labs: (Primary TA in Bold)</p>
<ul>
<li>Section 61: Thursday 5:00pm-6:50pm Room: Curtis Hall 231 (<b>Phuc Ngo</b>)</li>
<li>Section 62: Wednesday 1:00pm-2:50pm Room: Curtis Hall 231 (<b>Phuc Ngo</b> and Tiffany Wong)</li>
<li>Section 63: Wednesday 11:00am-12:50pm Room: University Crossings 151 (<b>Weichao Xi</b> and Tiffany Wong)</li>
<li>Section 64: Wednesday 3:00pm-4:50pm Room: Curtis Hall 231 (<b>Tiffany Wong</b> and Phuc Ngo)</li>
</ul>
<p>Who Grades What:</p>
<ul>
<li>Reading - Autograded by ZyBooks</li>
<li>Labs - TAs in Lab, Entered into Gradebook by Primary TA</li>
<li>Quizzes/Attendence - Professor Boady</li>
<li>Assignments - See Below
<ul>
	<li>Section 61 - Phuc Ngo + Tiffany Wong</li>
	<li>Section 62 - Weichao Xi</li>
	<li>Section 63 - Nicholas Colaprete</li>
	<li>Section 64 - Nicholas Colaprete</li>
</ul>
</li>
<li>Exam - Professor Boady</li>
</ul>
<p><b>Instructor</b></p>
<p>
	Mark Boady<br />
	<i>Electronic Mail Address:</i>
	<a href="mailto:mwb33@drexel.edu">mwb33@drexel.edu</a>
	<br />
	<i>Office:</i> University Crossings 138
	<br />
	<i>Extention:</i> 215-895-2347
	<br />
	<i>Office Hours:</i> Monday 3-4pm, Tuesday 3-5PM, Thursday 3-4PM, others days/times by appointment.
</p>
<p><b>Teaching Assistant(s)</b></p>
<ul>
<li>Phuc Ngo</li>
<li>Tiffany Wong</li>
<li>Weichao Xi</li>
<li>Nicholas Colaprete</li>
</ul>
<p>Office Hours and Contact Info Through the CLC:
	<a href="https://www.cs.drexel.edu/clc" target="_blank">
	https://www.cs.drexel.edu/clc</a></p>
<p><b>Course Description</b></p>
<p>Introduces fundamental concepts of computing including memory, instructions, function calls, and activation records. Covers fundamentals of structured computer programming in the language of instruction: variables, input and output, expressions, assignment statements, conditionals and branching, subprograms, parameter passing, repetition, arrays, top-down design, testing, and debugging.</p>
<p><b>Course Objective and Goals</b></p>
<ol>
<li>Trace execution of a Python program containing assignment statements, strings, conditionals, file input/output, functions, and loops.</li>
<li>Determine appropriate code constructs and design a Python program using them to satisfy problem description.</li>
<li>Write appropriately styled Python code and documentation for programs using assignment statements, strings, conditionals, file input/output, functions, and loops.</li>
<li>Detect and correct syntax errors in Python programs containing assignment statements, strings, conditionals, file input/output, functions, and loops.</li>
<li>Detect and correct logic errors in Python programs containing assignment statements, strings, conditionals, functions, and loops.</li>
<li>Communicate and solve problems effectively as a member of a team.</li>
</ol>
<p><b>Audience and Purpose within Plan of Study</b></p>
<p>This course is open to all student's interesting in Programming and Computer Science.</p>
<p>This course is the first in a two-term sequence of computer programming courses in Python 3 (CS 171-2) and is a required course for students majoring in computer science, mathematics, physics, information systems, and digital media. It is also a required course for students pursuing a minor in computer science. The goal is for students completing this sequence to be competent programmers, able to write working Python 3 program on their own using appropriate constructs when presented with a problem description.</p>
<p><b>Prerequisites</b><br /> None.<br /><br /> While there are no formal prerequisites for the course, students are expected to be computer literate. Prior programming experience is not required, but is definitely helpful.</p>
<p><b>Textbook</b></p>
<p>
Programming in Python 3 <br>
From ZyBooks<br>
Sign up at <a href="https://learn.zybooks.com" target="_blank">learn.zybooks.com</a><br>
Enter Code DREXELCS171BoadyFall2017 for our textbook<br>
Subscribe for $67.
</p>
<p><b>Grading and Policies</b></p>
<ul>
<li>Homework Assignments: 25%</li>
<li>Labs: 10%</li>
<li>Readings: 10%</li>
<li>Lecture Attendence: 5%</li>
<li>Quizzes 25%</li>
<li>Final Exam 25%</li>
</ul>
<p>Final grades will be determined by your total points weighted according to this distribution. Grades may be curved but are generally computed via the formula below. It may be modified at the instructor's sole discretion, but letter grades will generally not be lower than those shown here.</p>
<ul>
<li>[100-97]A+</li>
<li>(97-93] A</li>
<li>(93-90]A-</li>
<li>(90-87]B+</li>
<li>(87-83] B</li>
<li>(83-80]B-</li>
<li>[80-77]C+</li>
<li>(77-73] C</li>
<li>(73-70]C-</li>
<li>(70-67]D+</li>
<li>(67-60]D</li>
<li>(60-0]F</li>
</ul>
<p><b>Readings</b></p>
<p>Each week sections of "Programming in Python 3" will be assigned as reading. You are required to complete all <b>Participation Activity</b> and <b>Challenge Activity</b> questions in the readings.</p>
<p>Reading assignment must be completed by the due date.</p>
<p>Late Submissions will not be accepted for Readings.</p>
<p><b>Labs</b></p>
<p>Attendence at labs is required to receive credit. If you cannot attend lab you <b>MUST</b> email the TA for your lab and schedule a makeup meeting.</p>
<p>Lab groups will be teams of two. You will use Pair Programming. One member will act as the <b>Driver</b>, who types up the code, and one person will be the <b>Observer</b>, who reviews the code and makes suggestions. You are expected to switch positions throughout the lab.</p>
<p>Your lab grade is based upon your attendance in lab, participation in individual and group lab activities, and completion of assigned lab projects. Each lab period you will be given an assignment which must be started in class. During class time you may consult with other students or the TAs if you need help on the lab. Because labs involve group work experiences, you are expected to attend and participate as part of a group, and not work alone outside the lab.
</p>
<p> <b>If you cannot make a lab,</b> you must notify the TA or Professor <b>prior</b> to Lab. You may complete the lab during any TA's office hours. If you do not notify the TA prior to the missed lab and/or don't work on the lab during his/her office hours then you will receive zero credit for that lab. Makeup labs must be done within one week of the original lab.
</p>
<p> All lab assignments will be listed on BBLearn. There you will find instructions for each lab.
</p>
<p> <b>If you cannot finish a lab in class</b>, you may complete the lab at home. This requires that you started the lab in class and spent the entire lab working on it but did not finish. To receive credit for the lab, you <b>MUST</b> meet with the TA to have your lab grade updated. The TA will review your work and update your grade. This <b>MUST</b> be done within one week of the original lab date. (Before the start of the next lab.)
</p>
<p> Labs are only accepted for one week from the date of the lab unless an special exception is given.</p>
<p> The lowest lab grade will be dropped.</p>
<p><b>Quizzes</b></p>
<p>
<p>Quizzes will be given during lecture in even weeks.</p>
<p>Quizzes are to be completed individually. Talking to other students or looking at other student's answers is a violation of the academic honesty policy.
</p>
<p>The lowest quiz grade for the term will be dropped.</p>
<p><b>Attendence</b></p>
<p>Some lectures will have attendence exercises that must be completed during lecture to receive credit for attending the lecture.</p>
<p>Some weeks attendence will only be counted by sign it sheet or having taken that week's quiz.</p>
<p>The lowest attendence grade will be dropped.</p>
<p><b>Assignments</b></p>
<p>All assignments will be posted with a due date. No late material will be accepted. Even if the submission is less than a second overdue. Make sure to submit early.</p>
<p>Your lowest assignment grade will be dropped.<p>
<p> All written material (non-code) must be prepared on a word processor, converted to pdf, and submitted electronically via BBLearn.
</p><p>Although labs are designed to be collaborative, readings and assignments are meant to be done individually. Copying from others (online sources or classmates) results in an automatic zero for the assignment and additional penalties (including a drop of one letter grade or failure for the class).</p>
<p>Assignments will be submitted to learning.drexel.edu by 11:59PM on the date they are due. Grades will be reported via learning.drexel.edu.</p>
<p>Assignments and exams will be returned on a regular basis to provide feedback to students.</p>
<p>Late Submissions will not be accepted without written proof (see special exceptions below). Dropping the lowest grade  allows you to miss an assignment.</p>
<p><b>Special Circumstances</b></p>
<p> If you have a documented reason why you cannot submit any work by the cut-off deadline, a special exception may be made. The Professor may also wave the late submission policy for documented special exceptions. Special Exceptions <b>must</b> be approved by the Professor.</p>
<p><b>Additional Policies</b></p>
<ul>
<li>Your lowest quiz, lab, reading, attendence and assignment grades for the term will be dropped.</li>
<li>You, your instructor, and the TA are bound by the Academic Honesty policy. Students are responsible for reading and understanding the course policies in this syllabus and for announcements made in class and in the course discussion board. See the academic policy linked to in this syllabus.</li>
<li>During lecture and recitation sessions please refrain from using mobile phones or otherwise being impolite.</li>
<li>Any dispute about an assignment grade must be made and resolved within 5 days of receiving your grade. After this period your grade cannot be adjusted.</li>
<li>If you are seeking help with an assignment you must contact the Professor or a TA prior to Friday close-of-business hours. We cannot guarantee a timely response on nights and weekends. This policy is to ensure that you get started early on your assignments.</li>
</ul>
<p><b>Plagiarism Detection System</b></p>
<p>To ensure that assignments are done independently, in addition to human observation, we will be running all assignments through a plagiarism detection system. This program uses compiler techniques which are invariant of syntax and style. It has a very high accuracy rate.</p>
<p><b>Academic Honesty Policy</b></p>
<p>
The CCI Academic Honesty policy is in effect for this course.
Please see the policy at
<a href="http://drexel.edu/cci/resources/current-students/undergraduate/policies/cs-academic-integrity/" target="_blank">
http://drexel.edu/cci/resources/current-students/undergraduate/policies/cs-academic-integrity/</a>.</p>
<p>In the event of an Academic Honesty Violation, punishments include but are not limited to
<ul>
<li>Failure for Class</li>
<li>Deduction of One Letter Grade</li>
<li>Zero for Offending Assignment</li>
<li>Report Submitted to University Student Coduct Department</li>
</ul>
</p>

<p><b>Computer/Software Help</b><br />
	iCommons:
	<a href="http://drexel.edu/cci/about/our-facilities/rush-building/iCommons/">
	http://drexel.edu/cci/about/our-facilities/rush-building/iCommons/</a>
	<br /><br />
<b>University Policies</b> <br />In addition to the course policies listed on this syllabus, course assignments or course website, the following University policies are in effect:</p>
<ul>
<li>Academic Honesty:
	<a href="http://www.drexel.edu/provost/policies/academic_dishonesty.asp">
	http://www.drexel.edu/provost/policies/academic_dishonesty.asp</a></li>
<li>Judicial Affairs Academic Integrity:
	<a href="http://drexel.edu/studentlife/community_standards/facultystaff/integrity/">
	http://drexel.edu/studentlife/community_standards/facultystaff/integrity/</a></li>
<li>Official Final Exam Schedule:
	<a href="http://www.drexel.edu/registrar/scheduling/exams/">
	http://www.drexel.edu/registrar/scheduling/exams/</a></li>
<li>Students with Disability Statement:
	<a href="http://drexel.edu/oed/disabilityResources/overview/">
	http://drexel.edu/oed/disabilityResources/overview/</a></li>
<li>Course Drop Policy:
	<a href="http://www.drexel.edu/provost/policies/course_drop.asp">
	http://www.drexel.edu/provost/policies/course_drop.asp</a></li>
<li>Drexel Student Learning Priorities:
	<a href="http://www.drexel.edu/provost/irae/assessment/outcomes/dslp/">
	http://www.drexel.edu/provost/irae/assessment/outcomes/dslp/</a></li>
<li>The instructor may, at his/her/their discretion, change any part of the course during the term, including assignments, grade breakkdowns, due-dates, and the schedule. Such changes will be communicated to students via the course web site Announcements page. This page should be checked regularly and frequently for such changes and announcements. Other announcements, although rare, may include class cancellations and other urgent announcements.</li>
</ul>
<p><b>Software and Hardware Requirements</b></p>
<p>All Drexel students are required to have individual access to a dedicated computer which meets minimum specifications, including: processor speed, memory and secondary storage requirements, connectivity via high-speed or direct connection to campus network, and a CD/DVD drive.</p>
<p>The Official Language is Python 3.6. You must have Python 3.6 installed on your computer. It is available for free from
<a href="https://www.python.org" target="_blank">https://www.python.org</a></p>
<p><b>Tentative Course Schedule</b></p>
<p>Please see the appropriate assignment <span><span><span><span>webpages</span></span></span></span> for a detailed description of course deliverables.</p>
<table border="1">
<tbody>
<tr>
	<td>Week</td>
	<td>Topic</td>
	<td>Reading</td>
	<td>Lab</td>
	<td>Notes</td>
</tr>
<tr>
	<td>1 (9/25/2017)</td>
	<td>What is a Program? Introduction to Python</td>
	<td>Chapter 1 (Due Monday 8AM Oct. 2)</td>
	<td>Lab 1</td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>2 (10/2/2017)</td>
	<td>Variables, and Expressions</td>
	<td>Chapter 2 (Due Monday 8AM Oct. 9)</td>
	<td>Lab 2</td>
	<td>Quiz 1 in Lecture</td>
</tr>
<tr>
	<td>3 (10/9/2017)</td>
	<td colspan="2">
		No Lecture for Columbus Day
	</td>
	<td>Lab 3</td>
	<td>HW 1 Due Friday Oct 13 at 11:59PM</td>
</tr>
<tr>
	<td>4 (10/16/2017)</td>
	<td>Types</td>
	<td>Chapter 3 (Due Monday 8AM Oct 23)</td>
	<td>Lab 4</td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>5 (10/23/2017)</td>
	<td>Branching</td>
	<td>Chapter 4 (Due Monday 8AM Oct 30)</td>
	<td>Lab 5</td>
	<td>
		HW 2 Due Friday Oct 27 at 11:59PM
		<br />Quiz 2 in Lecture
	</td>
</tr>
<tr>
	<td>6 (10/30/2017)</td>
	<td>Loops</td>
	<td>Chapter 5 (Due Monday 8AM Nov 6)</td>
	<td>Lab 6</td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>7 (11/6/2017)</td>
	<td>Functions</td>
	<td>Chapter 6 (Due Monday 8AM Oct 13)</td>
	<td>Lab 7</td>
	<td>HW 3 Due Friday Nov 10 at 11:59PM<br />Quiz 3 in Lecture</td>
</tr>
<tr>
	<td>8 (11/13/2017)</td>
	<td>Strings and Files</td>
	<td>Chapter 7 &amp; 8 (Due Monday 8AM Nov 20)</td>
	<td>Lab 8</td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>9 (11/20/2017)</td>
	<td>Lists and Dictionaries</td>
	<td>Chapter 9 (Due Monday 8AM Nov 27)</td>
	<td>No Lab (Thanksgiving)</td>
	<td>HW 4 Due Friday Nov 24 at 11:59PM<br />Quiz 4 in Lecture</td>
</tr>
<tr>
	<td>10 (11/27/2017)</td>
	<td>Recursion</td>
	<td>Chapter 10 (Due Monday 8AM Dec 4)</td>
	<td>Lab 9</td>
	<td> </td>
</tr>
<tr>
	<td>11 (12/4/2017)</td>
	<td>Plotting and Review</td>
	<td>Chapter 11 (Due Monday 8AM Dec 11)</td>
	<td>Exam Review</td>
	<td>HW 5 Due Friday Dec 8 at 11:59PM<br /> Quiz 5 in Lecture </td>
</tr>
<tr>
	<td>12 (12/11/2017)</td>
	<td colspan="4">Final Exam Time and Location TBD
	</td>
</tr>
</tbody>
</table>