<p></p>
<h1>CS 520 Computer Science Foundations - Syllabus</h1>
<p><b>Term and Credits</b></p>
<p>Spring 2018-2019<br /> 3 Credits</p>
<p><b>Room and Time</b></p>
<p>Monday 6:00pm-8:50pm 3675 Market Street Room 1052</p>
<p>Videos lectures will be provided for online section.</p>
<p><b>Instructor</b></p>
<p>
	Mark Boady<br />
	<i>Electronic Mail Address:</i>
	<a href="mailto:mwb33@drexel.edu">mwb33@drexel.edu</a><br />
	<i>Office:</i> 3675 Market Street Room 1058<br />
	<i>Extention:</i> 215-895-2347<br />
	<i>Office Hours:</i>
		Tuesday 2-5PM, Wed 3-4PM
</p>
<p><b>Teaching Assistant(s)</b></p>
<p>
	Adit Gupta<br />
	<i>Electronic Mail Address:</i>
	<a href="mailto:ag3338@drexel.edu">ag3338@drexel.edu</a><br />
	<i>Office:</i> Drexel CLC (Room 1066 First Floor 3675 Market Street)<br />
	<i>Office Hours:</i>See CLC Website<br />
	<a href="https://www.cs.drexel.edu/clc" target="_blank">https://www.cs.drexel.edu/clc</a>
</p>
<p><b>Course Description</b></p>
<p>Survey of basic mathematics concepts needed for the study of computer science at the graduate level: induction, iteration, recursion; analysis of program running time; graphs and trees; predicate logic; regular expressions, Context Free Grammars, and Turing Machines.</p>
<p><b>Course Objective and Goals</b></p>
	<ol>
		<li>Learn to analyze the running time of iterative and recursive algorithms.</li>
		<li>Learn to prove properties of algorithms and data structures using induction.</li>
		<li>Gain familiarity with basic data structures and algorithms related to them, such as trees and graphs.</li>
		<li>Learn the limits and applications of regular expressions, context free grammars, and turing machines.</li>
		<li>Learn relationships between languages and automata.</li>
		<li>Learn to use logic to prove properties of algorithms.</li>
	</ol>
<p><b>Audience and Purpose within Plan of Study</b></p>
	<p>This course is for graduate students with little or no prior knowledge of data structures and algorithms. It serves to give such students a firm foundation for future graduate study, and it is a requirement of the Computer Science Minor and Computer Science Post Bachelor Certificate degree programs.</p>
<p><b>Prerequisites</b><br />
	None
</p>
<p><b>What Students Should Know Prior to this Course</b></p>
	<ol>
		<li>Basic Computer Usage Skills.</li>
		<li>Some experience with programming is recommended but not required.</li>
		<li>The following concepts from mathematics will be important in class. You can review the below links for more information.
		<ol>
			<li><a href="http://www.columbia.edu/itc/sipa/math/summation.html" target="_blank">Summation Notation</a></li>
			<li><a href="https://www.purplemath.com/modules/exponent.htm" target="_blank">Exponents</a></li>
			<li><a href="https://www.purplemath.com/modules/logrules.htm" target="_blank">Logarithms</a></li>
			<li><a href="http://tutorial.math.lamar.edu/Classes/Alg/Polynomials.aspx" target="_blank">Polynomial Expressions</a></li>
			<li><a href="https://mathbitsnotebook.com/Algebra1/Functions/FNSequenceFunctionsRecursive.html" target="_blank">Recursive Formulas</a></li>
		</ol>
		</li>
	</ol>
<p><b>What Students will be able to do upon Successfully Completing this Course:</b></p>
	<ol>
		<li>Students will be able to analyze algorithms.</li>
		<li>Students will understand a set of fundamental algorithms and how to apply them.</li>
		<li>Students will be able to prove properties of algorithms using induction, proof by contradiction, and predicate logic.</li>
		<li>Students will be able to apply regular expressions and context free grammars to parse strings.</li>
		<li>Students will be able to determine the applications and limits of data structures, algorithms, and languages.</li>
	</ol>
<p><b>Textbook</b></p>
	<p>We will use only free/library resources for this class.</p>
	<p>Book of Proof (Second Edition)<br /> Richard Hammack<br /> Paperback: ISBN 978-0-9894721-0-4<br /> Hardcover: ISBN 978-0-9894721-1-1<br /> Available for Free online at: <a href="http://www.people.vcu.edu/~rhammack/BookOfProof/" target="_blank">http://www.people.vcu.edu/~rhammack/BookOfProof/</a></p>
	<p>Introduction to Theory of Computation<br /> Anil Maheshwari and Michiel Smid<br /> Available for Free online at: <a target="_blank" href="http://cglab.ca/~michiel/TheoryOfComputation/">http://cglab.ca/~michiel/TheoryOfComputation/</a></p>
<p><strong>Supplemental Texts</strong></p>
	<p>If you want a textbook about the Algorithms we will be studying, I recommend this one. It is not required. I just think its a great resource.</p>
	<p>Algorithms (4th Edition)<br /> Robert Sedgewick, Kevin Wayne<br /> ISBN-10: 032157351X<br /> ISBN-13: 860-1400041420<br /> <a href="https://www.amazon.com/Algorithms-4th-Robert-Sedgewick/dp/032157351X/ref=sr_1_1?s=books&amp;ie=UTF8&amp;qid=1470321482&amp;sr=1-1&amp;keywords=algorithms" target="_blank">See it on Amazon</a></p>

<h2>Course Material</h2>
<p><b>Lectures</b><p>
<ul>
	<li>Prerecorded videos will be posted for each lecture in <a href="https://learning.drexel.edu" target="_blank">learning.drexel.edu</a></li>
	<li>Each Class period will have live lectures and a lab.</li>
	<li>Lectures will be supplemented by recorded videos.</li>
</ul>
<p><b>Labs</b></p>
<ul>
	<li>Students will work alone or in Pairs to complete labs</li>
</ul>
<p><b>Homeworks</b></p>
<ul>
	<li>Homeworks will be completed in a custom autograder</li>
	<li>Homeworks may be submitted an unlimited number of times until the due dates.</li>
</ul>
<p><b>Presentatations</b><p>
<ul>
	<li>You may use any resources to find content for presentations.</li>
	<li>You may work with other students to find content for presentations.</li>
	<li>You must prepare you slides independently.</li>
	<li>You must record your presentation individually.</li>
	<li>Presentations must be uploaded to the <a href="https://learning.drexel.edu" target="_blank">learning.drexel.edu</a> as a forum post.</li>
</ul>
<p><b>Reflections</b></p>
<ul>
	<li>You will be assigned 3 other students presentations to watch.</li>
	<li>You will have to provide a short reflection giving your opinions on the topic presented.</li>
</ul>
<p><b>Midterm/Final Exam</b></p>
<ul>
	<li>Tests will be completed through <a href="https://learning.drexel.edu" target="_blank">learning.drexel.edu</a>.</li>
	<li>Tests will be posted online for approximately one week.</li>
	<li>A test will have a fixed time limit.</li>
	<li>The answers much be submitted during the time limit.</li>
	<li>The test may be started at any point during the week.</li>
</ul>

<p><b>Slack Channel</b></p>
<ul>
	<li>This term, we will be using a Slack channel instead of a discussion board.</li>
	<li>You must sign up using a Drexel Email Address.</li>
	<li>
		<a href="https://join.slack.com/t/cs520spring2019/signup" target="_blank">
		https://join.slack.com/t/cs520spring2019/signup
		</a>
	</li>
</ul>
<p><b>Late Submissions</b></p>
<ul>
	<li>Each student has two "late passes".</li>
	<li>A student may exchange one of their late passes for an one day extention on any assignment.</li>
	<li>Contact the TA/Professor to request one of your late passes be used.</li>
	<li>You may use both late passes of the same assignment to get a 2 day extention.</li>
</ul>
<p><b>Special Circumstances</b></p>
<ul>
<li> If you have a documented reason why you cannot submit an assignment by the deadline, a special exception may be made. The Professor may also wave the late submission penalty for documented special exceptions.</li>
</ul> 
<h2>Course Policies</h2>
<p><b>Academic Honesty Policy</b></p>
<p>The CCI Academic Honesty policy is in effect for this course. Please see the policy at <a href="http://drexel.edu/cci/resources/current-students/undergraduate/policies/cs-academic-integrity/" target="_blank">http://drexel.edu/cci/resources/current-students/undergraduate/policies/cs-academic-integrity/</a>.</p>
<p>Academic Honesty Violations <b>will</b> be reported to the University. Punishment will be determined by the severity of the incident. Punishments include, but are not limited to,</p>
<ul>
<li>Failing grade for class</li>
<li>Deduction of one letter grade</li>
<li>Zero on Assignment/Exam Violation took place on</li>
</ul>
<p><b>Grading and Policies</b></p>
<ul>
	<li>In Class Labs 15%</li>
	<li>Presentations 20%</li>
	<li>Homeworks 15%</li>
	<li>Reflections 5%</li>
	<li>Midterm Exam 20%</li>
	<li>Final Exam 25%</li>
</ul>
<p>Final grades will be determined by your total points weighted according to this distribution. Grades may be curved but are generally computed via the formula below. It may be modified at the instructor's sole discretion, but letter grades will generally not be lower than those shown here.</p>
<ul>
<li>[100-97]A+</li>
<li>(97-93] A</li>
<li>(93-90]A-</li>
<li>(90-87]B+</li>
<li>(87-83] B</li>
<li>(83-80]B-</li>
<li>[80-77]C+</li>
<li>(77-73] C</li>
<li>(73-70]C-</li>
<li>(70-67]D+</li>
<li>(67-60]D</li>
<li>(60-0]F</li>
</ul>
<p><b>Computer/Software Help</b><br /> iCommons: <a href="http://drexel.edu/cci/about/our-facilities/rush-building/iCommons/" target="_blank">http://drexel.edu/cci/about/our-facilities/rush-building/iCommons/</a> <br /><br /> <b>University Policies</b> <br />In addition to the course policies listed on this syllabus, course assignments or course website, the following University policies are in effect:</p>
<ul>
<li>Academic Honesty: <a href="http://www.drexel.edu/provost/policies/academic_dishonesty.asp" target="_blank">http://www.drexel.edu/provost/policies/academic_dishonesty.asp</a></li>
<li>Judicial Affairs Academic Integrity: <a href="http://drexel.edu/studentlife/community_standards/facultystaff/integrity/" target="_blank">http://drexel.edu/studentlife/community_standards/facultystaff/integrity/</a></li>
<li>Official Final Exam Schedule: <a href="http://www.drexel.edu/registrar/scheduling/exams/" target="_blank">http://www.drexel.edu/registrar/scheduling/exams/</a></li>
<li>Students with Disability Statement: <a href="http://drexel.edu/oed/disabilityResources/overview/" target="_blank">http://drexel.edu/oed/disabilityResources/overview/</a></li>
<li>Course Drop Policy: <a href="http://www.drexel.edu/provost/policies/course_drop.asp" target="_blank">http://www.drexel.edu/provost/policies/course_drop.asp</a></li>
<li>The instructor may, at his/her/their discretion, change any part of the course during the term, including assignments, grade brakdowns, due-dates, and the schedule. Such changes will be communicated to students via the course web site Announcements page. This page should be checked regularly and frequently for such changes and announcements. Other announcements, although rare, may include class cancellations and other urgent announcements.</li>
<li>Drexel Student Learning Priorities: <a href="http://drexel.edu/provost/assessment/outcomes/dslp/" target="_blank">http://www.drexel.edu/provost/irae/assessment/outcomes/dslp/</a></li>
</ul>
<p><b>Topics</b></p>
<ol>
<li>Graphs</li>
<li>Searching</li>
<li>Sorting</li>
<li>Proof Methods</li>
<li>Computational Models: DFA, CFG, Turing Machines</li>
</ol>

<h2>Tentative Course Schedule</h2>
<p>Please see the appropriate assignment webpages for a detailed description of course deliverables.</p>
<table border="1">
<tbody>
<tr>
	<td>Week</td>
	<td>Topic</td>
	<td>Reading</td>
	<td>In Class</td>
	<td>Homework</td>
</tr>
<tr>
	<td>1 (4/1/19)</td>
	<td>Binary Numbers, Boolean Logic</td>
	<td>
		<a href="http://www.people.vcu.edu/~rhammack/BookOfProof/" target="_blank"> Chapter 2 for Book of Proof </a> <br />
		<a href="https://www.mathsisfun.com/binary-number-system.html" target="_blank"> Binary Numbers </a> <br />
		<a href="https://www.cs.cornell.edu/~tomf/notes/cps104/twoscomp.html" target="_blank">Two's Complement</a><br>
		<a href="https://www.electronics-tutorials.ws/logic/logic_10.html" target="_blank"> Logic Circuits </a> <br />
		<a href="http://www.electronics-tutorials.ws/combination/comb_7.html" target="_blank"> Binary Addition </a> <br />
		<a href="https://www3.ntu.edu.sg/home/ehchua/programming/java/datarepresentation.html" target="blank">Number Representations</a>
	</td>
	<td>Lab 1 and Lab 2</td>
	<td>
		&nbsp;
	</td>
</tr>
<tr>
	<td>2 (4/8/19)</td>
	<td>DFA and Languages</td>
	<td>
		<a href="http://cglab.ca/~michiel/TheoryOfComputation/" target="_blank"> Chapter 2.1-2.4 of Theory of Computation </a> <br />
	</td>
	<td>
		Lab 3 and Lab 4
	</td>
	<td>
	&nbsp;
	</td>
</tr>
<tr>
	<td>3 (4/15/19)</td>
	<td>NFA and Regular Expressions</td>
	<td>
		<a href="http://cglab.ca/~michiel/TheoryOfComputation/" target="_blank"> Chapter 2.5-2.9 of Theory of Computation </a> <br />
		<a href="http://automatonsimulator.com" target="_blank"> DFA/NFA Simulator </a>
	</td>
	<td>Lab 5</td>
	<td>
		Homework 1 - Due April 15, 2019 at 11:59PM
	</td>
</tr>
<tr>
	<td>4 (4/22/19)</td>
	<td>Context Free Grammars</td>
	<td>
		<a href="http://cglab.ca/~michiel/TheoryOfComputation/" target="_blank"> Chapter 3.1-3.3 of Theory of Computation </a> <br />
	</td>
	<td>
		Lab 6
	</td>
	<td>
		Homework 2 - Due April 22, 2019 at 11:59PM
	</td>
</tr>
<tr>
	<td>5 (4/29/19)</td>
	<td>Turing Machines</td>
	<td>
		<a href="https://plato.stanford.edu/entries/church-turing/" target="_blank"> Church-Turing Thesis</a><br />
		<a href="http://cglab.ca/~michiel/TheoryOfComputation/" target="_blank">Chapter 4 from Theory of Computation</a> <br />
		<a href="http://morphett.info/turing/turing.html" target="_blank">Turing Machine Simulator</a> <br />
	</td>
	<td>
		Lab 7
	</td>
	<td>
		Homework 3 - Due April 29, 2019 at 11:59PM<br>
		Presentation 1 Due April 29, 2019 at 11:59PM
	</td>
</tr>
<tr>
	<td>6 (5/6/19)</td>
	<td>Introduction to Algorithms and Induction</td>
	<td>
	
		<a href="https://publik.tuwien.ac.at/files/PubDat_140308.pdf" target="_blank">
		Algorithmic Thinking: The Key for Understanding Computer Science
		</a>
		<br>
		<a href="https://www.geeksforgeeks.org/how-to-write-a-pseudo-code/" target="_blank">
		How to write a Pseudo Code?
		</a>
		<br>
	<a href="https://en.wikipedia.org/wiki/Linear_search" target="_blank">Linear Search</a> <br />
	<a href="https://en.wikipedia.org/wiki/Binary_search_algorithm" target="_blank">Binary Search</a><br />
	<a href="https://en.wikipedia.org/wiki/Big_O_notation" target="_blank">Big Oh Notation</a> <br />
	<a href="http://discrete.gr/complexity/" target="_blank">Complexity</a> <br />
	<a href="https://www.khanacademy.org/computing/computer-science/algorithms/asymptotic-notation/a/asymptotic-notation" target="_blank">Asymptotic Notations</a>
	</td>
	<td>Lab 8</td>
	<td>
	Homework 4 - Due May 6, 2019 at 11:59PM<br>
	Reflection 1 - Due May 6, 2019 at 11:59PM<br>
	Midterm - Online
	</td>
	
</tr>
<tr>
	<td>7 (5/13/19)</td>
	<td>Sorting Algorithms</td>
	<td>
		<a href="https://en.wikipedia.org/wiki/Merge_sort" target="_blank"> Merge Sort </a> <br />
		<a href="https://en.wikipedia.org/wiki/Quicksort" target="_blank"> Quick Sort </a> <br />
		<a href="https://en.wikipedia.org/wiki/Insertion_sort" target="_blank"> Insertion Sort </a> <br />
		<a href="https://en.wikipedia.org/wiki/Tower_of_Hanoi" target="_blank"> Tower of Hanoi </a> <br />
	</td>
	<td>Lab 9</td>
	<td>
		Midterm - Due May 15, 2019 at 11:59PM
	</td>
</tr>
<tr>
	<td>8 (5/20/19)</td>
	<td>Intro to Trees</td>
	<td>
		<a href="https://en.wikipedia.org/wiki/Binary_search_tree" target="_blank">Binary Search Trees</a> <br />
		<!--
		<a href="http://www.geeksforgeeks.org/greedy-algorithms-set-3-huffman-coding/" target="_blank"> Huffman Codes</a> <br />
		<a href="https://en.wikipedia.org/wiki/Binary_heap" target="_blank"> Heaps/Priority Queues </a>
		-->
	</td>
	<td>Lab 10</td>
	<td>
		Homework 5 - Due May 20, 2019 at 11:59PM<br>
		Presentation 2 - Due May 20, 2019 at 11:59PM
	</td>
</tr>
<tr>
	<td>9 (5/27/17) - No Monday Class</td>
	<td>Intro to Graphs and Shortest Paths</td>
	<td>
		<a href="http://www.geeksforgeeks.org/graph-and-its-representations/" target="_blank">Graph Representations</a> <br />
		<a href="http://www.geeksforgeeks.org/depth-first-traversal-for-a-graph/" target="_blank"> Depth First Search</a> <br />
		<a href="http://www.redblobgames.com/pathfinding/a-star/introduction.html" target="_blank">A* and Dijkstra</a> <br />
		<a href="https://en.wikipedia.org/wiki/Dijkstra%27s_algorithm" target="_blank">Dijkstra</a><br>
	</td>
	<td>Lab 11</td>
	<td>
		Homework 6 - Due May 27, 2019 at 11:59PM<br>
		Reflection 2 - Due May 27, 2019 at 11:59PM
	</td>
</tr>
<tr>
	<td>10 (6/3/19)</td>
	<td> Induction</td>
	<td>
		<a href="http://www.people.vcu.edu/~rhammack/BookOfProof/" target="_blank"> Chapter 10 (Induction) from Book of Proof </a><br>
		<i>Minimum Spanning Trees will not be included but you might still find the below links interesting.</i>
		<br>
		<a href="http://www.geeksforgeeks.org/greedy-algorithms-set-5-prims-minimum-spanning-tree-mst-2/" target="_blank">Prim's Algorithm</a><br />
		<a href="http://www.geeksforgeeks.org/greedy-algorithms-set-2-kruskals-minimum-spanning-tree-mst/" target="_blank">Kruskal's Algorithm</a>
		<!--
		
		-->
	</td>
	<td>Lab 12</td>
	<td>
		Homework 7 - Due June 3, 2019 at 11:59PM<br>
		Presentation 3 Due June 3, 2019 at 11:59PM<br>
	</td>
</tr>
<tr>
	<td>11 (6/10/19)</td>
	<td colspan="3">
		Final Online Due June 14th 11:59PM - No In Class Events this week
	</td>
	<td>
		Homework 8 - Due June 10, 2019 at 11:59pm<br>
		Reflection 3 - Due June 10, 2019 at 11:59PM<br>
	</td>
</tr>
</tbody>
</table>

