
<h1>CS 171 Computer Programming 1 <br> CS 143 Computer Programming Fundamentals</h1>
<p><b>Term and Credits</b></p>
<p>Winter 2018-2019 <br /> 3 Credits</p>

<h2>Basic Course Information</h2>
<p><b>Rooms and Times</b></p>
<table border="1" padding="3" width="90%">
<tr>
	<td>CS 171-A</td>
	<td><b>Time:</b> Tuesday 02:00PM-3:50PM</td>
	<td><b>Instructor:</b> Prof. Mark W. Boady</td>
	<td><b>Room:</b> Curtis Hall 340</td>
</tr>
<tr>
	<td>CS 171-B</td>
	<td><b>Time:</b> Monday 01:00PM-2:50PM</td>
	<td><b>Instructor:</b> Prof. Mark W. Boady</td>
	<td><b>Room:</b> Disque Hall 108</td>
</tr>
<tr>
	<td>CS 171-C</td>
	<td><b>Time:</b> Monday 03:00PM-4:50PM</td>
	<td><b>Instructor:</b> Prof. Mark W. Boady</td>
	<td><b>Room:</b> Disque Hall 108</td>
</tr>
<tr>
	<td>CS 171-D<br>CS 143-A</td>
	<td><b>Time:</b> Tuesday 12:00PM - 01:50PM</td>
	<td><b>Instructor:</b> Prof. Adelaida A. Medlock</td>
	<td><b>Room:</b> Curtis Hall 341</td>
</tr>
<tr>
	<td>CS 171-E<br>CS 143-B</td>
	<td><b>Time:</b> Tuesday 02:00PM - 03:50PM</td>
	<td><b>Instructor:</b> Prof. Adelaida A. Medlock</td>
	<td><b>Room:</b> Curtis Hall 341</td>
</tr>
<tr>
	<td>CS 171-F<br>CS 143-C</td>
	<td><b>Time:</b> Tuesday 10:00AM - 11:50AM</td>
	<td><b>Instructor:</b> Prof. Adelaida A. Medlock</td>
	<td><b>Room:</b> Curtis Hall 456</td>
</tr>
</table>

<p>Labs: (Primary TA in <i>italic</i> grades lab submissions)</p>

<table border="1" padding="3" width="90%">
<tr><th colspan="4">Wednesday Labs</th></tr>
<tr>
	<td>CS 171-66</td>
	<td><b>Time:</b> Wednesday 09:00AM-10:50AM</td>
	<td><b>Instructor:</b>
		<br>
		<i>Yigit Alparsan</i>
		<br>
		Chetan Parakh
	</td>
	<td><b>Room:</b> University Crossing 151</td>
</tr>
<tr>
	<td>CS 171-67</td>
	<td><b>Time:</b> Wednesday 09:00AM-10:50AM</td>
	<td><b>Instructor:</b>
		<br>
		<i>Charlie Chiccarine</i>
		<br>
		Patrick Brinich
		<br>
		Klimentina Krstevska
	</td>
	<td><b>Room:</b> University Crossing 153</td>
</tr>
<tr>
	<td>CS 171-81<br>CS 143-61</td>
	<td><b>Time:</b>  Wednesday 11:00AM-12:50AM</td>
	<td><b>Instructor:</b>
		<br>
		<i>Patrick Brinich</i>
		<br>
		Minh Le
	</td>
	<td><b>Room:</b> University Crossing 149</td>
</tr>
<tr>
	<td>CS 171-65</td>
	<td><b>Time:</b> Wednesday 01:00PM-02:50PM</td>
	<td><b>Instructor:</b>
		<br>
		<i>Alex Duff</i>
		<br>
		Chetan Parakh
		<br>
		Yigit Alparsan
	</td>
	<td><b>Room:</b> University Crossing 151</td>
</tr>
<tr>
	<td>CS 171-68</td>
	<td><b>Time:</b> Wednesday 01:00PM-2:50PM</td>
	<td><b>Instructor:</b>
		<br>
		<i>Klaus Nuredini</i>
		<br>
		Minh Le
		<br>
		Kevin Li
	</td>
	<td><b>Room:</b> University Crossing 153</td>
</tr>
<tr>
	<td>CS 171-80<br>CS 143-60</td>
	<td><b>Time:</b> Wednesday 01:00PM-02:50PM</td>
	<td><b>Instructor:</b>
		<br>
		<i>Saem Joen</i>
		<br>
		Patrick Brinich
	</td>
	<td><b>Room:</b> University Crossing 149</td>
</tr>
<tr>
	<td>CS 171-70</td>
	<td><b>Time:</b> Wednesday 03:00PM-04:50PM</td>
	<td><b>Instructor:</b>
		<br>
		<i>Uzair Vawda</i>
		<br>
		Saem Jeon
		<br>
		Minh Le
	</td>
	<td><b>Room:</b>  University Crossing 153</td>
</tr>
<tr>
	<td>CS 171-71</td>
	<td><b>Time:</b> Wednesday 03:00PM-04:50PM</td>
	<td><b>Instructor:</b>
		<br>
		<i>Samyam Shrestha</i>
		<br>
		Guruansh Singh
		<br>
		Alex Duff
	</td>
	<td><b>Room:</b> University Crossing 151</td>
</tr>
<!-- Thursday Labs -->
<tr><th colspan="4">Thursday Labs</th></tr>
<tr>
	<td>CS 171-82<br>CS 143-62</td>
	<td><b>Time:</b> Thursday 09:00AM-10:50AM</td>
	<td><b>Instructor:</b><br>
		<i>Kevin Li</i>
		<br>
		Enes Sezen
	</td>
	<td><b>Room:</b> University Crossing 149</td>
</tr>

<tr>
	<td>CS 171-83<br>CS 143-63</td>
	<td><b>Time:</b> Thursday 11:00AM-12:50PM</td>
	<td><b>Instructor:</b>
	<br>
		<i>Enes Sezen</i>
		<br>
		Minh Le
		<br>
		Alex Duff
	</td>
	<td><b>Room:</b> University Crossing 149</td>
</tr>
<tr>
	<td>CS 171-84<br>CS 143-66</td>
	<td><b>Time:</b> Thursday 01:00PM-02:50PM</td>
	<td><b>Instructor:</b><br>
		<i>Caitlyn Yergey</i>
		<br>
		Patrick Brinich
		<br>
		Alex Duff
	</td>
	<td><b>Room:</b> University Crossing 149</td>
</tr>
<!-- Friday Sections -->
<tr><th colspan="5">Friday Labs</th></tr>
<tr>
	<td>CS 171-60</td>
	<td><b>Time:</b> Friday 09:00AM-10:50AM</td>
	<td><b>Instructor:</b>
		<br>
		<i>Chetan Parakh</i>
		<br>
		Yigit Alparsan
	</td>
	<td><b>Room:</b> University Crossing 151</td>
</tr>
<tr>
	<td>CS 171-61</td>
	<td><b>Time:</b> Friday 09:00AM-10:50AM</td>
	<td><b>Instructor:</b>
		<br>
		<i>Klimentina Krstevska</i>
		<br>
		Patrick Brinich
		<br>
		Kristopher Lopez
	</td>
	<td><b>Room:</b> University Crossing 153</td>
</tr>
<tr>
	<td>CS 171-63</td>
	<td><b>Time:</b> Friday 01:00PM-02:50PM</td>
	<td><b>Instructor:</b>
		<br>
		<i>Klaus Nuredini</i>
		<br>
		Patrick Brinich
		<br>
		Minh Le
	</td>
	<td><b>Room:</b> University Crossing 151</td>
</tr>
<tr>
	<td>CS 171-69</td>
	<td><b>Time:</b> Friday 01:00PM-2:50PM</td>
	<td><b>Instructor:</b>
		<br>
		<i>Klimentina Krstevska</i>
		<br>
		Kevin Li
		<br>
		Alex Duff
	</td>
	<td><b>Room:</b>  University Crossing 153</td>
</tr>
<tr>
	<td>CS 171-62</td>
	<td><b>Time:</b> Friday 03:00PM-04:50PM</td>
	<td><b>Instructor:</b>
		<br>
		<i>Enes Sezen</i>
		<br>
		Chetan Parakh
		<br>
		Klaus Nuredini
	</td>
	<td><b>Room:</b> University Crossing 151</td>
</tr>
<tr>
	<td>CS 171-64</td>
	<td><b>Time:</b> Friday 03:00PM-4:50PM</td>
	<td><b>Instructor:</b>
		<br>
		<i>Kristopher Lopez</i>
		<br>
		Kevin Li
		<br>
		Alex Duff
	</td>
	<td><b>Room:</b> University Crossing 153</td>
</tr>

</table>
<!-- End Lab Sections -->
<p><b>Instructor</b></p>
<p>
	Mark W. Boady<br />
	<i>Electronic Mail Address:</i>
	<a href="mailto:mwb33@drexel.edu">mwb33@drexel.edu</a>
	<br />
	<i>Webpage:</i>
	<a href="https://www.cs.drexel.edu/~mwb33/" target="_blank">https://www.cs.drexel.edu/~mwb33/</a>
	<br />
	<i>Office:</i> University Crossings 138
	<br />
	<i>Extention:</i> 215-895-2347
	<br />
	<i>Office Hours:</i>
		Tuesday 11:00AM-12:00PM, 4:00PM-5:00PM,
		Thursday 2:00PM-5:00PM,
		and by appointment
</p>


<p>
	Prof. Adelaida Alban Medlock<br />
	<i>Electronic Mail Address:</i>
	<a href="mailto:aalban@drexel.edu">aalban@drexel.edu</a>
	<br />
	<i>Webpage:</i>
	<a href="http://www.cs.drexel.edu/~aalban/" target="_blank">http://www.cs.drexel.edu/~aalban/</a>
	<br />
	<i>Office:</i> University Crossings 107
	<br />
	<i>Extention:</i> 215-895-2672
	<br />
	<i>Office Hours:</i>
		Tuesdays 4:00 - 5:30 PM,
		Wednesdays 2:00 - 3:30 PM;
		and by appointment
</p>

<p><b>Teaching Assistant(s)</b></p>
<ul>
	<li>Yigit Alparsan (Grades CS171-66)</li>
	<li>Patrick Brinich (Grades CS171-81/CS143-61)</li>
	<li>Charlie Chiccarine (Grades CS171-67)</li>
	<li>Alex Duff (Grades CS171-65)</li>
	<li>Gabrielle Hoover (ZyBooks Grade Transfer)</li>
	<li>Saem Joen (Grades CS171-80/CS143-60)</li>
	<li>Klimentina Krstevska (Grades CS171-61 and CS171-69)</li>
	<li>Minh Le (Attendance Grades for Professor Medlock)</li>
	<li>Kevin Li (Grades CS171-82/CS143-62 and Manages Lab Answer Keys)</li>
	<li>Kristopher Lopez (Grades CS171-64)</li>
	<li>Klaus Nuredini (Grades CS171-68 and CS171-63)</li>
	<li>Chetan Parakh (Grades CS171-60)</li>
	<li>Enes Sezen (Grades CS171-83/CS143-63 and CS171-62)</li>
	<li>Samyam Shrestha (Grades CS171-71)</li>
	<li>Guruansh Singh (Attendance Grades for Professor Boady)</li>
	<li>Uzair Vawda (Grades CS171-70)</li>
	<li>Caitlyn Yergey (Grades CS171-84/CS143-66)</li>
</ul>
<p>Office Hours and Contact Info Through the CLC:
	<a href="https://www.cs.drexel.edu/clc" target="_blank">
		https://www.cs.drexel.edu/clc
	</a>
	<br>
	Contact your TA through <i>Slack</i> for Course Related Questions
</p>
<hr>
<h2>Course Description and Objectives</h2>
<p><b>Course Description</b></p>
<p>Introduces fundamental concepts of computing including memory, instructions, function calls, and activation records. Covers fundamentals of structured computer programming in the language of instruction: variables, input and output, expressions, assignment statements, conditionals and branching, subprograms, parameter passing, repetition, arrays, top-down design, testing, and debugging.</p>
<p><b>Course Goals</b></p>
<p>The goal of this course is for students completing it  to be competent programmers, able to write
        working Python program on their own using appropriate constructs when presented with a problem description.</p>
<p><b>Course Objective</b></p>
<ol>
	<li>Trace execution of a Python program containing assignment statements, strings, conditionals, file input/output, functions, and loops.</li>
	<li>Determine appropriate code constructs and design a Python program using them to satisfy problem description.</li>
	<li>Write appropriately styled Python code and documentation for programs using assignment statements, strings, conditionals, file input/output, functions, and loops.</li>
	<li>Detect and correct syntax errors in Python programs containing assignment statements, strings, conditionals, file input/output, functions, and loops.</li>
	<li>Detect and correct logic errors in Python programs containing assignment statements, strings, conditionals, functions, and loops.</li>
	<li>Communicate and solve problems effectively as a member of a team</li>
</ol>
<p><b>Audience and Purpose within Plan of Study</b></p>
<p>This course is open to all student's interesting in Programming and Computer Science.</p>
<p>This course is the first in a two-term sequence of computer programming courses in Python (CS 171-2) and is a required course for students majoring in computer science, mathematics, physics, information systems, and digital media. It is also a required course for students pursuing a minor in computer science. The goal is for students completing this sequence to be competent programmers, able to write working Python program on their own using appropriate constructs when presented with a problem description.</p>
<p><b>Prerequisites</b><br /> None.<br /><br /> While there are no formal prerequisites for the course, students are expected to be computer literate. Prior programming experience is not required, but is definitely helpful.</p>

<hr>
<h2>Required Textbook and Software</h2>
<p><b>Textbook</b></p>
<p>
<b>Title:</b> Programming in Python 3 with zyLabs<br />
<b>Edition:</b> Drexel University CS 171 / CS 143 Boady-Medlock Winter 2019 <br />
<b>Author:</b> Bailey Miller <br />
<b>ISBN-13:</b> 978-1-5418-5433-8 <br />
<b>Buy:</b> <a href="https://zybooks.zyante.com/#/home" target="_blank">zyBooks.com</a> <br />
<b>Copyright: </b>2014, 2015, 2016, 2018 Zyante Inc. (zyBooks.com) <br />
<b>Price:</b> $77.00
</p>
<p> In order to acquire the book you will need to follow these steps: </p>
<ol>
	<li> Sign up at learn.zybooks.com </LI>
	<li> Enter zyBook code <b>DREXELCS143CS171Winter2019</b> </LI>
	<li> Click Subscribe </LI>
</ol>

<p><b>Software Requirements</b></p>
<p>
The official language used for this course is Python 3.
</p>

<p><i>Required:</i></p>
<ul>
	<li>Thonny <a href="https://thonny.org" target="_blank">https://thonny.org</a></li>
	<li>Slack (Use your Drexel Email Addres to sign up <a href="https://join.slack.com/t/cs171cs143winter2019/signup" target="_blank">https://join.slack.com/t/cs171cs143winter2019/signup</a>)</li>
	<li>Kahoot! (Please install on your phone before class from App Store)</li>
</ul>

<p><i>Optional</i>: Use May use these alternatives to program in Python 3</p>
<ul>
	<li>Command Line Python 3 is available for free at <a href="https://www.python.org"  target="_blank">https://www.python.org</a>
	</li>
	<li>
		PyCharm <a href="https://www.jetbrains.com/pycharm/" target="_blank">https://www.jetbrains.com/pycharm/</a>
	</li>
	<li>
		The website <a href="https://repl.it" target="_blank">https://repl.it</a> can be used for many assignments. It cannot be used as your only programming environment.
	</li>
</ul>


<p><i>Additional Requirements:</i></p>

<p>
All Drexel students are required to have individual access to a dedicated personal computer which meets minimum specifications, including: processor speed, memory and secondary storage requirements, and connectivity to campus network. Please see <a href="http://www.drexel.edu/irt/computers-software/buying-guide/" target="_blank">http://www.drexel.edu/irt/computers-software/buying-guide/</a> for	further information.
</p>

<p>
This course is operating with the Drexel BlackBoard Learn (Learn) Course Management System, which allows electronic submission of assignments, quizzes, and lab exercises, along with online chat sessions and threaded discussion groups. You can access the Drexel Learn course website from the Drexel portal <a href="http://one.drexel.edu/" target="_blank">http://one.drexel.edu/</a>. You can also access Drexel Learn from the following page <a href="https://learn.dcollege.net/" target="_blank">https://learn.dcollege.net/</a>
</p>
<hr>
<h2>Grade Computation</h2>
<table border="1">
	<tr><th>Homework Assignments</th><td>20%</td></tr>
	<tr><th>Labs</th><td>20%</td></tr>
	<tr><th>Readings</th><td>10%</td></tr>
	<tr><th>Attendance</th><td>5%</td></tr>
	<tr><th>Quizzes</th><td>10%</td></tr>
	<tr><th>Midterm</th><td>15%</td></tr>
	<tr><th>Final Exam</th><td>20%</td></tr>
</table>
<p>Final grades will be determined by your total points weighted according to this distribution. Grades may be curved but are generally computed via the formula below. It may be modified at the instructor's sole discretion, but letter grades will generally not be lower than those shown here.</p>
<ul>
<li>[100-97]A+</li>
<li>(97-93] A</li>
<li>(93-90]A-</li>
<li>(90-87]B+</li>
<li>(87-83] B</li>
<li>(83-80]B-</li>
<li>(80-77]C+</li>
<li>(77-73] C</li>
<li>(73-70]C-</li>
<li>(70-67]D+</li>
<li>(67-60]D</li>
<li>(60-0]F</li>
</ul>
<hr>
<h2>Grading Policies</h2>
<p><b>Contacting TAs/Professors</b></p>
<ul>
	<li>All official course messages should be sent through the Slack Space</li>
</ul>
<p><b>Attendance</b></p>
<ul>
	<li>Lectures will include interactive sections using Kahoot!</li>
	<li>You will be graded on participation in the interactive section.</li>
	<li>It does not matter if your answers are right/wrong, only that you attempted the questions.</li>
	<li>You <b>must</b> attend 9 of 10 lectures. If you attend all 10 lectures, you will get extra credit.</li>
</ul>
<p><b>Readings</b></p>
<ul>
	<li>Each week sections of the ZyBooks online textbook will be assigned.</li>
	<li>You are required to complete all <b>Participation Activity</b> and <b>Challenge Activity</b> questions in the assigned readings.</li>
	<li>You must purchase a ZyBooks subscription to complete reading assignments.</li>
	<li>Each Student is required to have their own ZyBooks account.</li>
	<li>Late Submissions will not be accepted for Readings.</li>
</ul>

<p><b>Homeworks</b></p>
<ul>
	<li>Most weeks Homeworks will be assigned.</li>
	<li>Homeworks consist of an additional section in ZyBooks with Programming problems.</li>
	<li>You must purchase a ZyBooks subscription to complete homeworks.</li>
	<li>Each Student is required to have their own ZyBooks account.</li>
	<li>Late Submissions will not be accepted for Homeworks.</li>
	<li>If you feel ZyBooks has graded your homework code incorrectly, you may request a TA review the grade. You must request a review within 1 week of the Homework's due date.</li>
</ul>

<p><b>Labs</b></p>
<ul>
	<li>Lab Attendance is Required</li>
	<li>Late Attendance Policy: If you are more than 5 minutes late for lab, but less than 15 minutes late, a 10% penalty will be applied to your lab. If you are more than 15 minute late, a 25% penalty will be applied to your lab.</li>
	<li>Students will work in teams to complete lab assignments.</li>
	<li>Labs will be posted in bblearn.</li>
	<li>Labs <b>must</b> be submitted by the end of the lab period.</li>
	<li>If you must miss a lab, contact your Primary Lab TA. Exceptions will be made on a case-by-case basis.</li>
	<li>Lab Reflections are Due the Sunday following Lab at 11:59PM.</li>
	<li>CS 171 Late Reflection Policy: -2 points per day late. A reflection is worth 10 points. After 5 late ﻿days, it is no longer accepted.﻿﻿﻿﻿﻿﻿﻿﻿﻿﻿﻿﻿﻿﻿﻿﻿﻿﻿﻿﻿﻿﻿﻿﻿﻿﻿﻿﻿﻿﻿﻿﻿﻿﻿﻿﻿﻿﻿﻿﻿﻿﻿﻿﻿﻿﻿﻿﻿﻿﻿﻿﻿﻿﻿﻿﻿﻿﻿﻿﻿﻿</li>
</ul>

<p><b>Quizzes/Midterm/Final</b><p>
<ul>
	<li>Quizzes and Exams will be given in bblearn.</li>
	<li>Tests will have a fixed time limit.</li>
	<li>Tests will only allow one attempt.</li>
</ul>


<p><b>Special Circumstances</b></p>
<p> If you have a documented reason why you cannot submit any work by the cut-off deadline, a special exception may be made. The Professor may also wave the late submission policy for documented special exceptions. Special Exceptions <b>must</b> be approved by the Professor.</p>
</ul>
<p><b>Additional Policies</b></p>
<ul>
<li>You, your instructor, and the TA are bound by the Academic Honesty policy. Students are responsible for reading and understanding the course policies in this syllabus and for announcements made in class and in the course discussion board. See the academic policy linked to in this syllabus.</li>
<li>During lecture and recitation sessions please refrain from using mobile phones or otherwise being impolite.</li>
<li>Any dispute about an assignment grade must be made and resolved within 5 days of receiving your grade. After this period your grade cannot be adjusted.</li>
<li>If you are seeking help with an assignment you must contact the Professor or a TA prior to Friday close-of-business hours. We cannot guarantee a timely response on nights and weekends. This policy is to ensure that you get started early on your assignments.</li>
</ul>
<p><b>Plagiarism Detection System</b></p>
<p>To ensure that assignments are done independently, in addition to human observation, we will be running all assignments through a plagiarism detection system. This program uses compiler techniques which are invariant of syntax and style. It has a very high accuracy rate.</p>
<hr>

<h2>Additional Course Policies</h2>


<p><b>Academic Honesty Policy</b></p>

<P>The university's Academic Honesty policy is in effect for this course.
	  This policy is available in the Student's Handbook
	  <A
	  href="https://drexel.edu/studentlife/community_standards/code-of-conduct/"
	  target=new>https://drexel.edu/studentlife/community_standards/code-of-conduct/</A>.

	  Please also read the following information from the Provost Office:
	   <A
	    href="https://drexel.edu/provost/policies/academic-integrity/"
	    target=new>https://drexel.edu/provost/policies/academic-integrity/</A>

   </P>

  <P><b>You must be the sole original author of all assignments and examination
  solutions in their entirety</b>, unless the instructor explicitly instructs you
  otherwise in written directions on an assignment or exam. <B>Except where
  specifically assigned, collaborative work is a violation of academic honesty
  in this course</B>. You are not to examine, share, or use code/written solutions
  belonging to someone else, nor may you let anyone else examine or copy your
  code/written solutions. </P>

  <P>Students found in violation of the Academic Honesty policy will receive no credit for the
  questionable assignment or exam, a half letter grade reduction on the final grade for the course
  (on the first occurrence), a whole letter grade reduction on each subsequent occurrence(s),
  and/or will possibly receive a failing grade for the course. In addition, a Drexel University
  Alleged Academic  Misconduct Report will be filed for each occurrence of Academic Dishonesty.
  </P>

  <P>If you are suspected of academic dishonesty, a note will be placed in the BB Learn course site and you
      will be required to communicate with the course instructor within 72 hours indicating your response to the suspected violation.
  </P>

  <P>Students having difficulty fulfilling the requirements for an assignment
  without outside help are to seek assistance from a teaching assistant or
  instructor, <I><b>not</b></I> from another student or knowledgeable person. </P>

  <P>It is your responsibility to avoid violating the university's policy. If
  you are unclear as to what the policy means in a particular situation, ask the
  instructor for clarification before you hand anything in. </P>
  <P></P>
  <P>See the examples below for clarification of this policy.</P>
  <H4>Examples</H4>The following are acceptable:
  <UL>
    <LI>Using code provided in lecture: include comments that cite the source.
    <LI>Using code provided in the class textbook: include comments that cite    the source.
    <LI>Code developed jointly with instructor or teaching assistants assigned to this course: include comments to clarify that this is the case.
    <LI>Discussing algorithms or possible approaches to writing your program, <B>WITHOUT</B> discussing particulars of the code.
    <LI>Discussing how to resolve errors, <B>WITHOUT</B> discussing particulars of the code. </LI>
  </UL>

	These are <B>NOT</B> acceptable:
  <UL>
    <LI>You borrow a printed or electronic copy of a friend's assignment, and use it for "inspiration".
    <LI>You give a printed or electronic copy of your assignment to somebody else.
	<LI>You let someone else view the solution to any part of your assignment.
    <LI>You "find" a printed copy of somebody's program in the trash, on a lab machine, on their hard drive, etc., and use it for "inspiration".
    <LI>You pay a "tutor" who writes the assignment for you.
    <LI>You and a friend together write one assignment, then create separate modifications to be handed in.
    <LI>You and a friend write certain portions of the assignment individually, but collaborate on other portions of the assignment.
	<LI>You Google the solution to the assignment and submit what you find as your own work.
	<LI>You use an online service to obtain the solution to any part of the assignment.
  </UL>


<p><b>Computer/Software Help</b><br />
	iCommons:
	<a href="http://drexel.edu/cci/about/our-facilities/rush-building/iCommons/" target="_blank">
	http://drexel.edu/cci/about/our-facilities/rush-building/iCommons/</a>
	<br /></p>

<p><b>Disability Statement</b><br>
   <P> Students requesting accommodations due to a disability at Drexel University need to
       request a current Accommodations Verification Letter (AVL) in the ClockWork database
       before accommodations can be made. These requests are received by Disability
       Resources (DR), who then issues the AVL to the appropriate contacts. For additional
       information, visit the DR website at
       <A href = "https://drexel.edu/oed/disabilityResources/students/" target=new> https://drexel.edu/oed/disabilityResources/students/</A>, or contact DR for more information by phone at 215-895-1401, or by email at <A href = "mailto:disability@drexel.edu">disability@drexel.edu </A>
   </P>
<b>University Policies</b> <br />In addition to the course policies listed on this syllabus, course assignments or course website, the following University policies are in effect:</p>
<ul>
<li>Academic Honesty:
	<a href="http://www.drexel.edu/provost/policies/academic_dishonesty.asp" target="_blank">
	http://www.drexel.edu/provost/policies/academic_dishonesty.asp</a></li>
<li>Judicial Affairs Academic Integrity:
	<a href="http://drexel.edu/studentlife/community_standards/facultystaff/integrity/" target="_blank">
	http://drexel.edu/studentlife/community_standards/facultystaff/integrity/</a></li>
<li>Official Final Exam Schedule:
	<a href="http://www.drexel.edu/registrar/scheduling/exams/" target="_blank">
	http://www.drexel.edu/registrar/scheduling/exams/</a></li>
<li>Students with Disability Statement:
	<a href="http://drexel.edu/oed/disabilityResources/students/" target="_blank">
	http://drexel.edu/oed/disabilityResources/students/</a></li>
<li>Course Drop Policy:
	<a href="http://www.drexel.edu/provost/policies/course-add-drop" target="_blank">
	http://www.drexel.edu/provost/policies/course-add-drop</a></li>
<li>Course Withdraw Policy:
	<a href="http://drexel.edu/provost/policies/course-withdrawal" target="_blank">
	http://drexel.edu/provost/policies/course-withdrawal</a></li>
<li>The instructor may, at his/her/their discretion, change any part of the course during the term, including assignments, grade breakkdowns, due-dates, and the schedule. Such changes will be communicated to students via the course web site Announcements page. This page should be checked regularly and frequently for such changes and announcements. Other announcements, although rare, may include class cancellations and other urgent announcements.</li>
</ul>
<p><b>Software and Hardware Requirements</b></p>
<p>All Drexel students are required to have individual access to a dedicated computer which meets minimum specifications, including: processor speed, memory and secondary storage requirements, connectivity via high-speed or direct connection to campus network, and a CD/DVD drive.</p>
<p>The Official Language is Python 3.6. You must have Python 3.6 installed on your computer. It is available for free from
<a href="https://www.python.org" target="_blank">https://www.python.org</a></p>
<p>No specific IDE is required. We strongly suggest <a href="https://thonny.org" target="_blank">Thonny</a> for offline development.</p>

<p><b>Class Disruption Policies</b></p>
 <P> According to the student handbook (Code of Conduct section), <b>Disorderly Conduct</b> is defined as
     behaviour that disturbs academic study:  </P>

   <I>
	<P>Behavior that disturbs the peace, academic study, or sleep of others both on or off campus is prohibited.
	   Examples of disorderly conduct as it pertains to class/research settings includes,
	   but is not limited to the following:
	</P>
	
	<UL>
	   <LI>Excessively leaving and entering a classroom without authorization.
	   <LI>Making loud or distracting noises.
	   <LI>Persistently speaking without being recognized such that it interferes with the
	       learning environment.
	   <LI>Repeatedly dominating online discussion boards or forums such that it
	        interferes with the learning environment.
	   <LI>Resorting to personal insults.
    </UL>
	
    <P>Students are responsible to comply with a reasonable request from a professor,
       instructor, or other University official regarding appropriate behavior.
    </P>
    </I>
	
	
	<p>
	Students disrupting the lecture and/or lab will be asked to stop the disruptive behaivor. If they do
    not stop, the student will be asked to leave the classroom (and if they don't, public safety will be called to help), and
	a formal complaint will be filed with the  Office of Student Conduct and Community Standards.

	</P>


<p><b>Cell Phones and other electronic devices</b></p>
  <H4>Classroom Policy</H4>
  <P>Use of cell phones and other electronic devices during class is disruptive to other students
  and the instructor. If you must bring your phone to class, make sure
  you turn the ringer off. If you need to take or make a call, quietly leave the
  room.
  <P>Students who bring laptops/tablets to class should turn the sound off. Start-up and
  shut-down music, dialogue and error alerts, instant messaging sounds, etc., are
  disruptive.</P>
  <P>

  <H4>Exam Policy</H4>
  <P>Cell phones, tablets, laptops, smart-watches, and other devices can be used to
  communicate with people and access Internet sites. Thus using <I>any</I> of
  these items during an exam is in direct violation of the academic honesty
  policies of Drexel University. <B>Any use of any electronic device
  during an exam is considered an act of cheating.</B> Students are advised not
  to bring these items to exams to avoid misunderstandings. If you must bring
  any of these items with you to the exam, turn it off and keep it in your book
  bag. You may not make a call, receive a call, or otherwise keep any of
  these items "in plain sight." </P>

<p><b>Course Change Policy</b></p>
<p> The instructor may, at her/his discretion, change any part of the course
    during the term, including assignments, grade breakdowns, due dates, and
    schedule. Such changes will be communicated to students via the announcements
    tool in Blackboard Learn, as well as announcements during the lecture. Students
    are encouraged to regularly check BlackBoard Learn for such changes and other
    important course announcements.
</p>

<p><b>Tentative Course Schedule</b></p>
<p>Please see the appropriate assignment <span><span><span><span>webpages</span></span></span></span> for a detailed description of course deliverables.</p>
<p>Schedule Subject to change at any time.</p>
<table border="1">
<thead>
<tr>
	<th colspan="4">
		CS 171 Winter 2019 Schedule
	</th>
</tr>
<tr>
	<th>Week</th>
	<th>Lecture</th>
	<th>Lab</th>
	<th>Assignments Due</th>
</tr>
</thead>
<tbody>
<tr>
	<td>1 (1/7/2019)</td>
	<td>
		Lecture 0: Syllabus Review
		<br>
		Lecture 1: Introduction to Python
		<br><b>Topics:</b>
		ZyBooks 1.1-1.12
	</td>
	<td>Lab 1</td>
	<td>
		<b>Week 1 Reading</b>
		<br>
		<i>Due Sunday 1/13/19 11:59PM</i>
	</td>
</tr>
<tr>
	<td>2 (1/14/2019)</td>
	<td>
		Lecture 2: Arithmetic<br>
		<b>Topics:</b> ZyBooks 1.13-1.19
	</td>
	<td>Lab 2</td>
	<td>
		<b>Homework 1</b>
		<br>
		<i>Due Thursday 1/17/19 11:59PM</i>
		<br>
		<b>Week 2 Reading</b>
		<br>
		<i>Due Sunday 1/20/19 11:59PM</i>
</tr>
<tr>
	<td>3 (1/21/2019)</td>
	<td>
		Lecture 3: Data Types
		<br><b>Topics:</b> ZyBooks 3.1-3.8
		<br>
		
		<b>Martin Luther King Day No Class Monday.<br> Monday Sections, Watch Recording of Tuesday Lecture.</b>
	</td>
	<td>Lab 3</td>
	<td>
		<b>Homework 2</b>
		<br>
		<i>Due Thursday 1/24/19 11:59PM</i>
		<br>
		<b>Quiz 1</b> (Covers ZyBooks 1.1-1.19)
		<br>
		<i>Due Friday 1/25/19 11:59PM</i>
		<br>
		<b>Week 3 Reading</b>
		<br>
		<i>Due Sunday 1/27/19 11:59PM</i>
	</td>
</tr>
<tr>
	<td>4 (1/28/2019)</td>
	<td>
		Lecture 4: Branching<br>
		<b>Topics:</b> ZyBooks 5.1-5.14
	</td>
	<td>Lab 4</td>
	<td>
		<b>Homework 3</b>
		<br>
		<i>Due Thursday 1/31/19 11:59PM</i>
		<br>
		<b>Week 4 Reading</b>
		<br>
		<i>Due Sunday 2/3/19 11:59PM</i>
	</td>
</tr>
<tr>
	<td>5 (2/4/2019)</td>
	<td>
		Lecture 5: Loops and Iteration<br>
		<b>Topics:</b> ZyBooks 7.1-7.26
	</td>
	<td>Lab 5</td>
	<td>
		<b>Homework 4</b>
		<br>
		<i>Due Thursday 2/7/19 11:59PM</i>
		<br>
		<b>Quiz 2</b> (Covers ZyBooks 3.1-3.8, 5.2-5.14)
		<br>
		<i>Due Friday 2/8/19 11:59PM</i>
		<br>
		<b>Week 5 Reading</b>
		<br>
		<i>Due Sunday 2/10/19 11:59PM</i>
	</td>
</tr>
<tr>
	<td>6 (2/11/2019)</td>
	<td>
		Lecture 6: Functions
		<br>
		<b>Topics:</b> ZyBooks 9.1-9.17
	</td>
	<td>Lab 6</td>
	<td>
		<b>Midterm</b> (Covers ZyBooks 1.1-1.19, 3.1-3.8, 5.2-5.14, 7.1-7.26 )
		<br>
		<i>Due Friday 2/15/19 11:59PM</i>
		<br>
		<b>Week 6 Reading</b>
		<br>
		<i>Due Sunday 2/17/19 11:59PM</i>
	</td>
</tr>
<tr>
	<td>7 (2/18/2019)</td>
	<td>
		Lecture 7: Exceptions, Files, and Modules<br>
		<b>Topics:</b> ZyBooks 10.1-10.16
	</td>
	<td>Lab 7</td>
	<td>
		<b>Homework 5</b>
		<br>
		<i>Due Thursday 2/21/19 11:59PM</i>
		<br>
		<b>Week 7 Reading</b>
		<br>
		<i>Due Sunday 2/24/19 11:59PM</i>
	</td>
</tr>
<tr>
	<td>8 (2/25/2019)</td>
	<td>
		Lecture 8: Recursion and Binary Search<br>
		<b>Topics:</b> ZyBooks 12.1-12.12
	</td>
	<td>Lab 8</td>
	<td>
		<b>Homework 6</b>
		<br>
		<i>Due Thursday 2/28/19 11:59PM</i>
		<br>
		<b>Quiz 3</b> (Covers ZyBooks 9.1-9.17, 10.1-10.16)
		<br>
		<i>Due Friday 3/1/19 11:59PM</i>
		<br>
		<b>Week 8 Reading</b>
		<br>
		<i>Due Sunday 3/3/19 11:59PM</i>
	</td>
</tr>
<tr>
	<td>9 (3/4/2019)</td>
	<td>
		Lecture 9: Sorting<br>
		<b>Topics:</b> ZyBooks 14.1-14.7
	</td>
	<td>Lab 9</td>
	<td>
		<b>Homework 7</b>
		<br>
		<i>Due Thursday 3/7/19 11:59PM</i>
		<br>
		<b>Week 9 Reading</b>
		<br>
		<i>Due Sunday 3/10/19 11:59PM</i>
	</td>
<tr>
	<td>10 (3/11/2019)</td>
	<td>
		Lecture 10: Classes<br>
		<b>Topics:</b> ZyBooks 16.1-16.8
	</td>
	<td>Lab 10</td>
	<td>
		<b>Homework 8</b>
		<br>
		<i>Due Thursday 3/14/19 11:59PM</i>
		<br>
		<b>Quiz 4</b> (Covers ZyBooks 12.1-12.12, 14.1-14.7)
		<br>
		<i>Due Friday 3/15/19 11:59PM</i>
		<br>
		<b>Extra Credit Reading 1 and 2</b>
		<br>
		<i>Due Sunday 3/17/19 11:59PM</i>
	</td>
</tr>

<tr>
	<td>11 (3/18/2019)</td>
	<td colspan="3">
		Final Exam - Schedule TBD
		<br>
		Final Exam Covers all Material Weeks 1-10.
	</td>
</tr>

</tbody>
</table>
