<p></p>
	<h1>CS 270 Mathematical Foundations in CS - Syllabus</h1>
	<p><b>Term and Credits</b></p>
	<p>Fall 2018-2019
	<br /> 3 Credits</p>
	<p><b>Room and Time</b></p>
	<ul>
		<li>Section 1 - Monday and Wednesday - 12:00pm-1:50pm Lincoln Plaza 3020 Market St 445</li>
		<li>Section 2 - Wednesday and Friday - 2:00pm-3:50pm Curtis Hall 340</li>
		<li>Section 3 - Monday and Wednesday - 6:00pm-7:50pm Curtis Hall 341</li>
	</ul>
<p><b>Instructors</b></p>
<p>
	Professor Jeremy Johnson (Section 1)<br>
	<i>Electronic Mail Address:</i>
	<a href="mailto:johnsojr@drexel.edu">johnsojr@drexel.edu</a><br />
	<i>Office:</i> University Crossings 139<br />
	<i>Extention:</i> 215-895.-2893<br />
	<i>Office Hours:</i>
		Wed 10-12PM
</p>
<p>
	Professor Mark Boady (Section 2 and 3)<br />
	<i>Electronic Mail Address:</i>
	<a href="mailto:mwb33@drexel.edu">mwb33@drexel.edu</a><br />
	<i>Office:</i> University Crossings 138<br />
	<i>Extention:</i> 215-895-2347<br />
	<i>Office Hours:</i>
		Wednesday 11am-1pm, Friday 11-1PM, others days/times by appointment.
</p>
<p><b>Teaching Assistant(s)</b></p>
<ul>
	<li>
		Klimentina Krstevska
		<a href="mailto:kk866@drexel.edu">kk866@drexel.edu</a>
		(Sections 1 and 3)
	</li>
	<li>
		Paras Wadekar
		<a href="mailto:psw36@drexel.edu">psw36@drexel.edu</a>
		(Sections 1, 2, and 3)
	</li>
	<li>
		Sandesh Bhandari
		<a href="mailto:sb3728@drexel.edu">sb3728@drexel.edu</a>
		(Sections 1 and 2)
	</li>
	<li>
		Saugat Sthapit
		<a href="mailto:ss4258@drexel.edu">ss4258@drexel.edu</a>
		(Sections 1 and 2)
	</li>
	<li>
		Shun Li
		<a href="mailto:sl3329@drexel.edu">sl3329@drexel.edu</a>
		(Sections 1 and 3)
	</li>
</ul>
<p>
	All TA Office Hours held in the CLC
	<a href="https://www.cs.drexel.edu/clc" target="_blank">https://www.cs.drexel.edu/clc</a>
</p>
<p><b>Course Description</b></p>
<p>Introduces formal logic and its connections to Computer Science. Students learn to translate statements about the behavior of computer programs into logical claims and to prove such assertions using both traditional techniques and automated tools. Considers approaches to proving termination, correctness, and safety for programs. Discusses propositional and predicate logic, logical inference, recursion and recursively defined sets, mathematical induction, and structural induction.</p>
<p><b>Course Objective and Goals</b></p>
<ol>
<li>To use recursion and divide and conquer to solve problems</li>
<li>To provide recursive definitions of patterns and data structures</li>
<li>To formally specify the input/output requirements of programs</li>
<li>To use induction and other proof techniques to prove properties of algorithms, data structures, programs, and computer systems</li>
<li>To use logic to describe the state of systems and to use logical deduction (by hand and using tools) to prove properties of systems</li>
<li>To understand the power and limitations of formal logic.</li>
</ol>
<p><b>Audience and Purpose within Plan of Study</b></p>
<p>This is a required course for all Computer Science and Software Engineering students. It should also be of interest to Computer Engineering, Mathematics students and students with an interest in logic and computation.</p>
<p><b>Prerequisites</b>
	<br />
	Students should have programming experience (CS172 or equivalent).
</p>
<p><b>What Students Should Know Prior to this Course</b></p>
<ol>
	<li>Ability to read and understand code.</li>
	<li>Basic understanding of program execution.</li>
	<li>Ability to write simple recursive programs.</li>
</ol>
<p><b>What Students will be able to do upon Successfully Completing this Course:</b></p>
<ol>
<li>Use Proofs by Deduction to Justify Logical Statements</li>
<li>Be able to write and analyze Recursive Functions</li>
<li>Be able to implement and use a SAT solver.</li>
<li>Use Inductive Proofs to Justify the correctness of programs and statements.</li>
<li>Use logic to describe the state of systems.</li>
</ol>
<p><b>Textbook</b></p>
<p>We will use free resources for this class.</p>
<p><b>Optional Resources</b></p>
<p>
	Book of Proof (Second Edition)<br />
	Richard Hammack<br />
	Paperback: ISBN 978-0-9894721-0-4<br />
	Hardcover: ISBN 978-0-9894721-1-1<br />
	Available for Free online at:
	<a href="http://www.people.vcu.edu/~rhammack/BookOfProof/" target="_blank">
	http://www.people.vcu.edu/~rhammack/BookOfProof/
	</a>
</p>
<p>
	The Racket Guide<br>
	Matthew Flatt, Robert Bruce Findler and PLT<br>
	<a href="https://docs.racket-lang.org/guide/index.html" target="_blank">
	https://docs.racket-lang.org/guide/index.html
	</a>
</p>

<h2>Course Material</h2>
<p><b>Programming Language</b>
<ul>
	<li>This class will use the Racket Programming Language.</li>
	<li>This class will use the DrRacket IDE for developement.</li>
	<li><a href="http://racket-lang.org" target="_blank">Download Racket</a></li>
</ul>
<p><b>Lectures</b><p>
<ul>
	<li>Lectures will be held twice a week.</li>
	<li>Attendance in lecture is required.</li>
	<li>If you need to miss class, please message the Professor to request an exception.</li>
</ul>
<p><b>Labs</b></p>
<ul>
	<li>Some Classes will have an in-class lab.</li>
	<li>Exercises are due by the end of class.</li>
	<li>Exercises will be require working with a team.</li>
	<li>If you need to miss class, please message the Professor to request an exception.</li>
</ul>
<p><b>Quizzes</b></p>
<ul>
	<li>Quizzes will be given in
		<a href="https://learning.drexel.edu" target="_blank">learning.drexel.edu</a>
	</li>
	<li>Quizzes are closed book.</li>
	<li>Quizzes will have a time limit.</li>
	<li>Only one attempt is allowed for each quiz.</li>
</ul>
<p><b>Homeworks</b><p>
<ul>
	<li>Most Weeks will have a homework assignment.</li>
	<li>Homeworks are due Thursday at 11:59PM</li>
	<li>Homeworks must be submitted to
		<a href="https://learning.drexel.edu" target="_blank">learning.drexel.edu</a>
	</li>
	<li><b>Late Submissions:</b>
		<ul>
			<li>1 Day Late 10 point deducton (Before Friday 11:59PM)</li>
			<li>2 Days Late 20 point deduction (Before Saturday 11:59PM)</li>
			<li>3 Days Late 30 point deduction (Before Sunday 11:59PM)</li>
			<li>4 or More Days Late - Only Accepted with Instructor Permission</li>
		</ul>
</ul>
<p><b>Exams</b></p>
<ul>
	<li>There will be two exams given in class</li>
	<li>Midterm during Week 6</li>
	<li>Final Exam during Exam Week (Week 12)</li>
</ul>
<p><b>Special Circumstances</b></p>
<ul>
<li> If you have a documented reason why you cannot submit an assignment by the deadline, a special exception may be made. The Professor may also wave the late submission penalty for documented special exceptions.</li>
</ul>
<h2>Course Policies</h2>
<p><b>Academic Honesty Policy</b></p>
<p>The CCI Academic Honesty policy is in effect for this course. Please see the policy at <a href="http://drexel.edu/cci/resources/current-students/undergraduate/policies/cs-academic-integrity/" target="_blank">http://drexel.edu/cci/resources/current-students/undergraduate/policies/cs-academic-integrity/</a>.</p>
<p>Academic Honesty Violations <b>will</b> be reported to the University. Punishment will be determined by the severity of the incident. Punishments include, but are not limited to,</p>
<ul>
<li>Failing grade for class</li>
<li>Deduction of one letter grade</li>
<li>Zero on Assignment/Exam Violation took place on</li>
</ul>
<p><b>Grading and Policies</b></p>
<ul>
	<li>Labs 20%</li>
	<li>Homeworks 20%</li>
	<li>Quizzes 10%</li>
	<li>Midterm 25%</li>
	<li>Final Exam 25%</li>
</ul>
<p>Final grades will be determined by your total points weighted according to this distribution. Grades may be curved but are generally computed via the formula below. It may be modified at the instructor's sole discretion, but letter grades will generally not be lower than those shown here.</p>
<ul>
<li>[100-97]A+</li>
<li>(97-93] A</li>
<li>(93-90]A-</li>
<li>(90-87]B+</li>
<li>(87-83] B</li>
<li>(83-80]B-</li>
<li>[80-77]C+</li>
<li>(77-73] C</li>
<li>(73-70]C-</li>
<li>(70-67]D+</li>
<li>(67-60]D</li>
<li>(60-0]F</li>
</ul>
<p><b>Computer/Software Help</b><br /> iCommons: <a href="http://drexel.edu/cci/about/our-facilities/rush-building/iCommons/" target="_blank">http://drexel.edu/cci/about/our-facilities/rush-building/iCommons/</a> <br /><br /> <b>University Policies</b> <br />In addition to the course policies listed on this syllabus, course assignments or course website, the following University policies are in effect:</p>
<ul>
<li>Academic Honesty: <a href="http://www.drexel.edu/provost/policies/academic_dishonesty.asp" target="_blank">http://www.drexel.edu/provost/policies/academic_dishonesty.asp</a></li>
<li>Judicial Affairs Academic Integrity: <a href="http://drexel.edu/studentlife/community_standards/facultystaff/integrity/" target="_blank">http://drexel.edu/studentlife/community_standards/facultystaff/integrity/</a></li>
<li>Official Final Exam Schedule: <a href="http://www.drexel.edu/registrar/scheduling/exams/" target="_blank">http://www.drexel.edu/registrar/scheduling/exams/</a></li>
<li>Students with Disability Statement: <a href="http://drexel.edu/oed/disabilityResources/overview/" target="_blank">http://drexel.edu/oed/disabilityResources/overview/</a></li>
<li>Course Drop Policy: <a href="http://www.drexel.edu/provost/policies/course_drop.asp" target="_blank">http://www.drexel.edu/provost/policies/course_drop.asp</a></li>
<li>Drexel Student Learning Priorities: <a href="http://drexel.edu/provost/assessment/outcomes/dslp/" target="_blank">http://www.drexel.edu/provost/irae/assessment/outcomes/dslp/</a></li>
<li>The instructor may, at his/her/their discretion, change any part of the course during the term, including assignments, grade brakdowns, due-dates, and the schedule. Such changes will be communicated to students via the course web site Announcements page. This page should be checked regularly and frequently for such changes and announcements. Other announcements, although rare, may include class cancellations and other urgent announcements.</li>
</ul>
<p><b>Topics</b></p>
<ol>
	<li>Functional Programming</li>
	<li>Recursion, Recursive Definitions and Induction</li>
	<li>Propositional and Predicate Logic</li>
	<li>Formal Proof using Natural Deduction</li>
	<li>Applications of Logic to Computer Science</li>
	<li>Divide and Conquer Algorithms and Recurrence Relations</li>
	<li>Program Specification and Verification</li>
	<li>Automated Reasoning</li>
	<li>Termination Analysis</li>
	<li>Test Case and Counter Example Generation</li>
</ol>
<h2>Tentative Course Schedule</h2>
<p>Please see the appropriate assignment webpages for a detailed description of course deliverables.</p>
<table border="1">
<tbody>
<tr>
	<td>Week</td>
	<td>Topic</td>
	<td>Supplemental Links</td>
	<td>Lab</td>
	<td>Homework</td>
</tr>
<tr>
	<td>1 (9/24/18)</td>
	<td>
		Introduction to Racket
	</td>
	<td>
		<a href="https://docs.racket-lang.org/quick/" target="_blank">
		Quick: An Introduction to Racket with Pictures</a><br>
		<a href="https://medium.com/@cscalfani/so-you-want-to-be-a-functional-programmer-part-1-1f15e387e536" target="_blank">
		So You Want to be a Functional Programmer (Part 1)
		</a>
	</td>
	<td>
		Lab 1 and Lab 2
	</td>
	<td>
		Homework 1 - Due 10/4/18 at 11:59PM
	</td>
</tr>
<tr>
	<td>2 (10/1/18)</td>
	<td>
		List Processing and Natural Numbers
	</td>
	<td>
		<a href="https://docs.racket-lang.org/guide/Lists__Iteration__and_Recursion.html" target="_blank">List, Iteration, and Recursion</a><br>
		<a href="http://matt.might.net/articles/higher-order-list-operations/" target="_blank">High-order list operations (Ignore Haskell Part)</a>
		<a href="https://en.wikipedia.org/wiki/Peano_axioms" target="_blank">
		Peano Axioms
		</a>
	</td>
	<td>
		Lab 3 and Lab 4
	</td>
	<td>
		Homework 2 - Due 10/11/18 at 11:59PM<br>
		Quiz 1 - Due 10/11/18 at 11:59PM
	</td>
</tr>
<tr>
	<td>3 (10/8/18)</td> <!-- Columbus Monday -->
	<td>
		Boolean Expression and Prepositional Logic<br>
		<b>No Classes Monday (Columbus Day)</b>
	</td>
	<td>
		<a href="https://www.people.vcu.edu/~rhammack/BookOfProof/" target="_blank">
		Chapter 2.1-2.6 from Book fo Proof
		</a>
	</td>
	<td>
		Lab 5 (Friday class lab 6 also)
	</td>
	<td>
		Homework 3 - Due 10/18/18 at 11:59PM
	</td>
</tr>
<tr>
	<td>4 (10/15/18)</td>
	<td>
		Predict Logic
	</td>
	<td>
		<a href="https://www.people.vcu.edu/~rhammack/BookOfProof/" target="_blank">
		Chapter 2.7 from Book fo Proof
		</a>
		<br>
		<a href="https://www.cs.rochester.edu/~nelson/courses/csc_173/predlogic/expressions.html" target="_blank">Predicate Logic</a>
	</td>
	<td>
		Lab 6 and Lab 7
	</td>
	<td>
		Homework 4 - Due 10/25/18 at 11:59PM<br>
		Quiz 2 - Due 10/25/18 at 11:59PM
	</td>
</tr>
<tr>
	<td>5 (10/22/18)</td>
	<td>
		Specification and Logic
	</td>
	<td>
	</td>
	<td>
		Lab 8 and Lab 9
	</td>
	<td>
		Online Midterm Due 11/1/18 at 11:59PM
	</td>
</tr>
<tr>
	<td>6 (10/29/18)</td>
	<td>
		Midterm + SAT Solver
	</td>
	<td>
		<a href="https://www.msoos.org/2013/09/minisat-in-your-browser/" target="_blank">
		MiniSat in Browser</a><br>
		<a href="https://en.wikipedia.org/wiki/Boolean_satisfiability_problem" target="_blank">
		Boolean Satisfiability Problems</a>
		
	</td>
	<td>
		Lab 10 and Lab 11
	</td>
	<td>
		Homework 5 - Due 11/8/18 at 11:59PM
	</td>
</tr>
<tr>
	<td>7 (11/5/18)</td>
	<td>
		Natural Deduction
	</td>
	<td>
		<a href="https://www.people.vcu.edu/~rhammack/BookOfProof/" target="_blank">
			Chapter 4 from Book of Proof</a><br>
		<a href="http://proofs.openlogicproject.org" target="_blank">
		Deduction Proof Checker</a><br>
		<a href="https://courses.umass.edu/phil110-gmh/text/c05.pdf" target="_blank">
		Pages 142 to 164 of Symbolic Logic: A First Course</a>
	</td>
	<td>
		Lab 12 and Lab 13
	</td>
	<td>
		Homework 6 - Due 11/15/18 at 11:59PM<br>
		Quiz 3 - Due 11/15/18 at 11:59PM
	</td>
</tr>
<tr>
	<td>8 (11/12/18)</td>
	<td>
		Proofs by Contradiction
	</td>
	<td>
		<a href="https://www.people.vcu.edu/~rhammack/BookOfProof/" target="_blank">
			Chapter 6 from Book of Proof</a><br>
		<a href="http://proofs.openlogicproject.org" target="_blank">
		Deduction Proof Checker</a><br>
		<a href="https://courses.umass.edu/phil110-gmh/text/c05.pdf" target="_blank">
		Pages 164 to 183 of Symbolic Logic: A First Course</a>
	</td>
	<td>
		Lab 14 and Lab 15
	</td>
	<td>
		Homework 7 - Due 11/29/18 at 11:59PM
	</td>
</tr>
<tr>
	<td>9 (11/19/18)</td>
	<td colspan="4">
	Thanksgiving Week - Classes Monday Only<br>
	Lab 16 (except WF section)
	</td>
</tr>
<tr>
	<td>10 (11/26/18)</td><!-- Thanksgiving Closed -->
	<td>
		Mathematical Induction
	</td>
	<td>
		<a href="https://www.people.vcu.edu/~rhammack/BookOfProof/" target="_blank">
			Chapter 10 from Book of Proof</a><br>
	</td>
	<td>
		Lab 17 and Lab 18
	</td>
	<td>
		Homework 8 - Due 12/6/18 at 11:59PM<br>
		Quiz 4 - Due 12/6/18 at 11:59PM
	</td>
</tr>
<tr>
	<td>11 (12/3/18)</td>
	<td>
		Structural Induction
	</td>
	<td>
		&nbsp;
	</td>
	<td>
		Lab 19 and Lab 20
	</td>
	<td>
		Homework 9 - Due 12/13/18 at 11:59PM
	</td>
</tr>
<tr>
	<td>12 (12/10/18)</td>
	<td colspan="4">
		Final Exam - Time and Location TBD
	</td>
</tr>
</tbody>
</table>
