<p>
<title>CS 171 Computer Programming 1</title>
</p>
<p></p>
<h1>CS 171 Computer Programming 1 - Syllabus</h1>
<p><b>Term and Credits</b></p>
<p>Fall 2018-2019 <br /> 3 Credits</p>
<p><b>Room and Time</b></p>
<p>Lectures:</p>
<ul>
	<li>A - Monday 12:00PM-1:50PM Room: Randell Hall 327</li>
	<li>B - Monday 2:00PM-3:50PM Room: Randell Hall 327</li>
</ul>
<p>Labs: (Primary TA in Bold)</p>
<ul><!-- Set 1 -->
<li>Section 63 - Wednesday 11:00AM - 12:50PM Room: Rush 06 (TAs: <b>Amira Mefteh</b> and Chetan Parakh)</li>
<li>Section 67 - Wednesday 11:00AM - 12:50PM Room: Rush 09 (TAs: <b>Jiho Yoo</b> and Klaus Nuredini)</li>
<!-- Set 2 -->
<li>Section 62 - Wednesday 1:00PM - 2:50PM Room: Rush 06 (TAs: <b>Minh Le</b> and Amira Mefteh)</li>
<li>Section 66 - Wednesday 1:00PM - 2:50PM Room: Rush 09 (TAs: <b>Klaus Nuredini</b> and Curtis Bechtel)</li>
<!-- Set 3 -->
<li>Section 64 - Wednesday 3:00PM - 4:50PM Room: Rush 06 (TAs: <b>Chetan Parakh</b> and Jiho Yoo)</li>
<li>Section 68 - Wednesday 3:00PM - 4:50PM Room: Rush 09 (TAs: <b>Patrick Brinich</b> and Klaus Nuredini)</li>
<!-- Set 4 -->
<li>Section 61 - Thursday 5:00PM - 6:50PM Room: Rush 06 (TAs: <b>Yigit Alparsan</b> and Minh Le)</li>
<li>Section 65 - Thursday 5:00PM - 6:50PM Room: Rush 09 (TAs: <b>Patrick Brinich</b> and Curtis Bechtel)</li>
</ul>
<p>Who Grades What:</p>
<ul>
	<li>Reading - Autograded by ZyBooks</li>
	<li>Homeworks - Autograded by ZyBooks</li>
	<li>Quizzes - Autograded by learning.drexel.edu</li>
	<li>Labs - Graded by your Primary Lab TA</li>
	<li>Midterm/Final - Graded by Professor</li>
</ul>
<p><b>Instructor</b></p>
<p>
	Mark Boady<br />
	<i>Electronic Mail Address:</i>
	<a href="mailto:mwb33@drexel.edu">mwb33@drexel.edu</a>
	<br />
	<i>Office:</i> University Crossings 138
	<br />
	<i>Extention:</i> 215-895-2347
	<br />
	<i>Office Hours:</i> Wednesday 11am-1pm, Friday 11-1PM, others days/times by appointment.
</p>
<p><b>Teaching Assistant(s)</b></p>
<ul>
	<li>Chetan Parakh ckp44@drexel.edu</li>
	<li>Jiho Yoo jy434@drexel.edu</li>
	<li>Klaus Nuredini kn398@drexel.edu</li>
	<li>Amira Mefteh am3836@drexel.edu</li>
	<li>Minh Le mnl37@drexel.edu</li>
	<li>Yigit Alparsan ya332@drexel.edu</li>
	<li>Curtis Bechtel crb359@drexel.edu</li>
	<li>Patrick Brinich pjb338@drexel.edu</li>
</ul>
<p>Office Hours and Contact Info Through the CLC:
	<a href="https://www.cs.drexel.edu/clc" target="_blank">
		https://www.cs.drexel.edu/clc
	</a>
</p>
<p><b>Course Description</b></p>
<p>Introduces fundamental concepts of computing including memory, instructions, function calls, and activation records. Covers fundamentals of structured computer programming in the language of instruction: variables, input and output, expressions, assignment statements, conditionals and branching, subprograms, parameter passing, repetition, arrays, top-down design, testing, and debugging.</p>
<p><b>Course Objective and Goals</b></p>
<ol>
<li>Trace execution of a Python program containing assignment statements, strings, conditionals, file input/output, functions, and loops.</li>
<li>Determine appropriate code constructs and design a Python program using them to satisfy problem description.</li>
<li>Write appropriately styled Python code and documentation for programs using assignment statements, strings, conditionals, file input/output, functions, and loops.</li>
<li>Detect and correct syntax errors in Python programs containing assignment statements, strings, conditionals, file input/output, functions, and loops.</li>
<li>Detect and correct logic errors in Python programs containing assignment statements, strings, conditionals, functions, and loops.</li>
<li>Communicate and solve problems effectively as a member of a team.</li>
</ol>
<p><b>Audience and Purpose within Plan of Study</b></p>
<p>This course is open to all student's interesting in Programming and Computer Science.</p>
<p>This course is the first in a two-term sequence of computer programming courses in Python 3 (CS 171-2) and is a required course for students majoring in computer science, mathematics, physics, information systems, and digital media. It is also a required course for students pursuing a minor in computer science. The goal is for students completing this sequence to be competent programmers, able to write working Python 3 program on their own using appropriate constructs when presented with a problem description.</p>
<p><b>Prerequisites</b><br /> None.<br /><br /> While there are no formal prerequisites for the course, students are expected to be computer literate. Prior programming experience is not required, but is definitely helpful.</p>
<p><b>Textbook</b></p>
	<p>
		Programming in Python 3<br>
		Edition: CS 171: Computer Programming I Fall 2018<br>
		From ZyBooks<br>
		Sign up at <a href="https://learn.zybooks.com" target="_blank">learn.zybooks.com</a><br>
		Enter Code DREXELCS171BoadyFall2018 for our textbook<br>
		Subscribe for $77.00.
	</p>
<p><b>Grading and Policies</b></p>
	<ul>
		<li>Homework Assignments: 20%</li>
		<li>Labs: 20%</li>
		<li>Readings: 10%</li>
		<li>Quizzes: 10%</li>
		<li>Midterm 20%</li>
		<li>Final Exam 20%</li>
	</ul>
<p>Final grades will be determined by your total points weighted according to this distribution. Grades may be curved but are generally computed via the formula below. It may be modified at the instructor's sole discretion, but letter grades will generally not be lower than those shown here.</p>
<ul>
<li>[100-97]A+</li>
<li>(97-93] A</li>
<li>(93-90]A-</li>
<li>(90-87]B+</li>
<li>(87-83] B</li>
<li>(83-80]B-</li>
<li>(80-77]C+</li>
<li>(77-73] C</li>
<li>(73-70]C-</li>
<li>(70-67]D+</li>
<li>(67-60]D</li>
<li>(60-0]F</li>
</ul>

<p><b>Readings</b></p>
<ul>
	<li>Each week sections of the ZyBooks online textbook will be assigned.</li>
	<li>You are required to complete all <b>Participation Activity</b> and <b>Challenge Activity</b> questions in the assigned readings.</li>
	<li>You must purchase a ZyBooks subscription to complete reading assignments.</li>
	<li>Each Student is required to have their own ZyBooks account.</li>
	<li>Late Submissions will not be accepted for Readings.</li>
</ul>

<p><b>Homeworks</b></p>
<ul>
	<li>Most weeks Homeworks will be assigned.</li>
	<li>Homeworks consist of an additional section in ZyBooks with Programming problems.</li>
	<li>You must purchase a ZyBooks subscription to complete homeworks.</li>
	<li>Each Student is required to have their own ZyBooks account.</li>
	<li>Late Submissions will not be accepted for Homeworks.</li>
	<li>If you feel ZyBooks has graded your homework code incorrectly, you may request a TA review the grade. You must request a review within 1 week of the Homework's due date.</li>
</ul>

<p><b>Labs</b></p>
<ul>
	<li>Lab Attendance is Required</li>
	<li>Students will work in teams to complete lab assignments.</li>
	<li>Labs will be posted in bblearn.</li>
	<li>Labs <b>must</b> be submitted by the end of the lab period.</li>
	<li>If you must miss a lab, contact your Primary Lab TA. Exceptions will be made on a case-by-case basis.</li>
</ul>

<p><b>Quizzes/Midterm/Final</b><p>
<ul>
	<li>Quizzes and Exams will be given in bblearn.</li>
	<li>Tests will have a fixed time limit.</li>
	<li>Tests will only allow one attempt.</li>
	<li>Some questions will be manually graded by the instructor.</li>
</ul>


<p><b>Special Circumstances</b></p>
<p> If you have a documented reason why you cannot submit any work by the cut-off deadline, a special exception may be made. The Professor may also wave the late submission policy for documented special exceptions. Special Exceptions <b>must</b> be approved by the Professor.</p>
</ul>
<p><b>Additional Policies</b></p>
<ul>
<li>You, your instructor, and the TA are bound by the Academic Honesty policy. Students are responsible for reading and understanding the course policies in this syllabus and for announcements made in class and in the course discussion board. See the academic policy linked to in this syllabus.</li>
<li>During lecture and recitation sessions please refrain from using mobile phones or otherwise being impolite.</li>
<li>Any dispute about an assignment grade must be made and resolved within 5 days of receiving your grade. After this period your grade cannot be adjusted.</li>
<li>If you are seeking help with an assignment you must contact the Professor or a TA prior to Friday close-of-business hours. We cannot guarantee a timely response on nights and weekends. This policy is to ensure that you get started early on your assignments.</li>
</ul>
<p><b>Plagiarism Detection System</b></p>
<p>To ensure that assignments are done independently, in addition to human observation, we will be running all assignments through a plagiarism detection system. This program uses compiler techniques which are invariant of syntax and style. It has a very high accuracy rate.</p>
<p><b>Academic Honesty Policy</b></p>
<p>
The CCI Academic Honesty policy is in effect for this course.
Please see the policy at
<a href="http://drexel.edu/cci/resources/current-students/undergraduate/policies/cs-academic-integrity/" target="_blank">
http://drexel.edu/cci/resources/current-students/undergraduate/policies/cs-academic-integrity/</a>.</p>
<p>In the event of an Academic Honesty Violation, punishments include but are not limited to
<ul>
<li>Failure for Class</li>
<li>Deduction of One Letter Grade</li>
<li>Zero for Offending Assignment</li>
<li>Report Submitted to University Student Conduct Department</li>
</ul>
</p>

<p><b>Computer/Software Help</b><br />
	iCommons:
	<a href="http://drexel.edu/cci/about/our-facilities/rush-building/iCommons/" target="_blank">
	http://drexel.edu/cci/about/our-facilities/rush-building/iCommons/</a>
	<br /></p>

<p><b>Disability Statement</b><br>
<!--           Copied From Site  http://drexel.edu/oed/disabilityResources/instructors-supervisors/Syllabus-Statement/ -------->
Students <a href="/oed/disabilityResources/students/">requesting accommodations</a> due to a disability at Drexel University need to request a current Accommodations Verification Letter (AVL) in the <a href="http://accommodate.drexel.edu/ClockWork/">ClockWork database</a> before accommodations can be made. These requests are received by Disability Resources (DR), who then issues the AVL to the appropriate contacts. For additional information, visit the DR website at <a href="/oed/disabilityResources/overview/">drexel.edu/oed/disabilityResources/overview/</a>, or contact DR for more information by phone at 215.895.1401, or by email at <a href="mailto:disability@drexel.edu">disability@drexel.edu</a>.
<!--           End Copy ---------------->
</p>

<p>
<b>University Policies</b> <br />In addition to the course policies listed on this syllabus, course assignments or course website, the following University policies are in effect:</p>
<ul>
<li>Academic Honesty:
	<a href="http://www.drexel.edu/provost/policies/academic_dishonesty.asp" target="_blank">
	http://www.drexel.edu/provost/policies/academic_dishonesty.asp</a></li>
<li>Judicial Affairs Academic Integrity:
	<a href="http://drexel.edu/studentlife/community_standards/facultystaff/integrity/" target="_blank">
	http://drexel.edu/studentlife/community_standards/facultystaff/integrity/</a></li>
<li>Official Final Exam Schedule:
	<a href="http://www.drexel.edu/registrar/scheduling/exams/" target="_blank">
	http://www.drexel.edu/registrar/scheduling/exams/</a></li>
<li>Students with Disability Statement:
	<a href="http://drexel.edu/oed/disabilityResources/students/" target="_blank">
	http://drexel.edu/oed/disabilityResources/students/</a></li>
<li>Course Drop Policy:
	<a href="http://www.drexel.edu/provost/policies/course-add-drop" target="_blank">
	http://www.drexel.edu/provost/policies/course-add-drop</a></li>
<li>Course Withdraw Policy:
	<a href="http://drexel.edu/provost/policies/course-withdrawal" target="_blank">
	http://drexel.edu/provost/policies/course-withdrawal</a></li>
<li>The instructor may, at his/her/their discretion, change any part of the course during the term, including assignments, grade breakkdowns, due-dates, and the schedule. Such changes will be communicated to students via the course web site Announcements page. This page should be checked regularly and frequently for such changes and announcements. Other announcements, although rare, may include class cancellations and other urgent announcements.</li>
</ul>
<p><b>Software and Hardware Requirements</b></p>
<p>All Drexel students are required to have individual access to a dedicated computer which meets minimum specifications, including: processor speed, memory and secondary storage requirements, connectivity via high-speed or direct connection to campus network, and a CD/DVD drive.</p>
<p>The Official Language is Python 3.6. You must have Python 3.6 installed on your computer. It is available for free from
<a href="https://www.python.org" target="_blank">https://www.python.org</a></p>
<p>No specific IDE is required. We strongly suggest <a href="https://thonny.org" target="_blank">Thonny</a> for offline development.</p>

<p><b>Tentative Course Schedule</b></p>
<p>Please see the appropriate assignment <span><span><span><span>webpages</span></span></span></span> for a detailed description of course deliverables.</p>
<table border="1">
<tbody>
<tr>
	<td>Week</td>
	<td>Topic</td>
	<td>Assignments</td>
	<td>Labs</td>
	<td>Tests</td>
</tr>
<tr>
	<td>1 (9/24/2018)</td>
	<td>
		What is a Program? Introduction to Python
		<br><b>Topics:</b>
		Python 3, Variables, Expression, Input and Output
	</td>
	<td>
		Week 1 Reading <i>Due Thursday Oct 4 11:59PM</i><br>
		Homework 1 <i>Due Thursday Oct 4 11:59PM</i>
	</td>
	<td>Lab 1</td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>2 (10/1/2018)</td>
	<td>
		Variables and Data Types<br>
		<b>Topics:</b> Strings, Floats, Integers, Lists, Dictionaries
	</td>
	<td>
		Week 2 Reading <i>Due Thursday Oct 11 11:59PM</i><br>
		Homework 2 <i>Due Thursday Oct 11 11:59PM</i>
	</td>
	<td>Lab 2</td>
	<td>Quiz 1 Due Oct 11<br>in bblearn</td>
</tr>
<tr>
	<td>3 (10/8/2018)</td>
	<td>
		<b>Columbus Day No Class - Watch Recorded Lecture</b><br>
		Branching and Exceptions
		<br><b>Topics:</b> If, Else, Elif, Boolean Logic, Try/Except
	</td>
	<td>
		Week 3 Reading <i>Due Thursday Oct 18 11:59PM</i><br>
		Homework 3 <i>Due Thursday Oct 18 11:59PM</i>
	</td>
	
	<td>Lab 3</td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>4 (10/15/2018)</td>
	<td>
		Loops<br>
		<b>Topics:</b> While, For
	</td>
	<td>
		Week 4 Reading <i>Due Thursday Oct 25 11:59PM</i><br>
		Homework 4 <i>Due Thursday Oct 25 11:59PM</i>
	</td>
	<td>Lab 4</td>
	<td>
		<b>Cancelled: </b>Quiz 2 Due Oct 25<br>in bblearn
	</td>
</tr>
<tr>
	<td>5 (10/22/2018)</td>
	<td>
		Functions<br>
		<b>Topics:</b> Creating Simple Functions
	</td>
	<td>
		Week 5 Reading <i>Due Thursday Nov 1 11:59PM</i>
	</td>
	<td>Lab 5</td>
	<td>
		Midterm Exam <br>Due Thursday Nov 1 11:59PM
	</td>
</tr>
<tr>
	<td>6 (10/29/2018)</td>
	<td>
		Files and Modules<br>
		<b>Topics:</b> Reading and Writing Files, Creating Modules
	</td>
	<td>
		Week 6 Reading <i>Due Thursday Nov 8 11:59PM</i><br>
		Homework 5 </i>Due Thursday Nov 8 11:59PM</i>
	</td>
	<td>Lab 6</td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>7 (11/5/2018)</td>
	<td>Binary Data Representations
	</td>
	<td>
		Week 7 Reading <i>Due Thursday Nov 15 11:59PM</i><br>
		Homework 6 <i>Due Thursday Nov 15 11:59PM</i>
	</td>
	<td>Lab 7</td>
	<td>Quiz 3 Due Nov 15<br>in bblearn</td>
</tr>
<tr>
	<td>8 (11/12/2018)</td>
	<td>
		Recursion<br>
		<b>Topics:</b> Creating and Understanding Recursive Functions
	</td>
	<td>
		Week 8 Reading <i>Due Thursday Nov 29 11:59PM</i><br>
		Homework 7 <i>Due Thursday Nov 29 11:59PM</i>
	</td>
	<td>Lab 8</td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>9 (11/19/2018)</td>
	<td colspan="4"><i>Thanksgiving - No Class</i></td>
<tr>
	<td>10 (11/26/2018)</td>
	<td>
		Advanced Functions<br>
		<b>Topics:</b> Searching and Sorting
	</td>
	<td>
		Week 9 Reading <i>Due Thursday Dec 6 11:59PM</i><br>
		Homework 8 <i>Due Thursday Dec 6 11:59PM</i>
	</td>
	<td>Lab 9</td>
	<td>Quiz 4 Due Dec 6<br>in bblearn</td>
</tr>

<tr>
	<td>11 (12/3/2018)</td>
	<td>
		Classes<br>
		<b>Topics:</b> Classes, Objects, Methods
	</td>
	<td>
		Extra Credit Reading <i>Due Thursday Dec 13 11:59PM</i><br>
	</td>
	<td>Lab 10</td>
	<td></td>
</tr>
<tr>
	<td>12 (12/10/2018)</td>
	<td colspan="4">Final Exam - Online taken in bblearn<br> Due Thursday Dec 13 at 11:59PM</td>
</tr>
</tbody>
</table>
