<p></p>
	<!-- Basic Intro -->
	<h1>CS 520 Computer Science Foundations - Syllabus</h1>
	<p><b>Term and Credits</b></p>
		<p>
			Spring 2019-2020	<br />
			3 Credits
		</p>
	<p><b>Room and Time</b></p>
		<p>
			Videos and readings will be posted to learn.drexel.edu
		</p>
	<p><b>Instructor</b></p>
	<p>
		Mark Boady<br />
		<i>Electronic Mail Address:</i>
		<a href="mailto:mwb33@drexel.edu">mwb33@drexel.edu</a><br />
		<i>Office:</i> 3675 Market Street Room 1058<br />
		<i>Extention:</i> 215-895-2347<br />
		<i>Office Hours:</i>
			Monday 10-12 in Slack,
			Wednesday 3-5 in Slack
			<br>
			<a href="https://www.picktime.com/BoadyCS" target="_blank">Schedule a Meeting</a>
	</p>
	<p><b>Teaching Assistant(s)</b></p>
	<p>
		Nicki Barari<br />
		<i>Electronic Mail Address:</i>
		<a href="mailto:nb895@drexel.edu">nb895@drexel.edu</a><br />
		<i>CLC Website:</i>
		<a href="https://www.cs.drexel.edu/clc" target="_blank">https://www.cs.drexel.edu/clc</a><br />
		<i>Office:</i> Online in Slack<br />
		<i>Office Hours:</i>
			Wednesday 12PM-2PM in Slack,
			Thursday 2-4PM in Slack
			<br>
			<a href="https://www.picktime.com/BoadyCS" target="_blank">Schedule a Meeting</a>
	</p>
	
	<!-- Description Stuff -->
	<p><b>Course Description</b></p>
	<p>Survey of basic mathematics concepts needed for the study of computer science at the graduate level: induction, iteration, recursion; analysis of program running time; graphs and trees; predicate logic; regular expressions, Context Free Grammars, and Turing Machines.</p>

	<p><b>Course Objective and Goals</b></p>
		<ol>
			<li>Learn to analyze the running time of iterative and recursive algorithms.</li>
			<li>Learn to analyze the running time of data structures.</li>
			<li>Gain familiarity with basic data structures and algorithms related to them, such as trees and graphs.</li>
			<li>Learn various applications of algorithms and data structures.</li>
			<li>Learn to choose the correct data structure to efficienctly solve problems.</li>
			<li>Learn the basic theoretical foundations of computation.</li>
		</ol>
	<p><b>Audience and Purpose within Plan of Study</b></p>
		<p>This course is for graduate students with little prior knowledge of data structures and algorithms. It serves to give such students a firm foundation for future graduate study, and it is a requirement of the Computer Science Minor and Computer Science Post Bachelor Certificate degree programs.</p>
	<p><b>Prerequisites</b><br />
		CS570 is a required co/prerequisites.
	</p>
	<p><b>What Students Should Know Prior to this Course</b></p>
	<ol>
		<li>Basic Computer Usage Skills.</li>
		<li>Some experience with programming is strongly recommended.</li>
		<li>The following concepts from mathematics will be important in class. You can review the below links for more information.
		<ol>
			<li><a href="http://www.columbia.edu/itc/sipa/math/summation.html" target="_blank">Summation Notation</a></li>
			<li><a href="https://www.purplemath.com/modules/exponent.htm" target="_blank">Exponents</a></li>
			<li><a href="https://www.purplemath.com/modules/logrules.htm" target="_blank">Logarithms</a></li>
			<li><a href="http://tutorial.math.lamar.edu/Classes/Alg/Polynomials.aspx" target="_blank">Polynomial Expressions</a></li>
			<li><a href="https://mathbitsnotebook.com/Algebra1/Functions/FNSequenceFunctionsRecursive.html" target="_blank">Recursive Formulas</a></li>
		</ol>
		</li>
	</ol>
	<p><b>What Students will be able to do upon Successfully Completing this Course:</b></p>
		<ol>
			<li>Students will be able to analyze algorithms.</li>
			<li>Students will understand a set of fundamental algorithms and how to apply them.</li>
			<li>Students will understant fundemental data structures and when to use each.</li>
			<li>Students will be able to explain why algorithms are efficient and correct solutions to problems.</li>
			<li>Students will be able to determine the applications and limits of data structures and algorithms.</li>
			<li>Students will understand how complex computation is built from simple components.</li>
	</ol>
	<p><b>Textbook</b></p>
	No Textbook. Free Online Resources Only.
	<!--
	<p>
		The Algorithm Design Manual (Second Edition)
		<br />
		Steven S. Skiena
		<br />
		ISBN-13 978-1848000698
		<br />
		ISBN-10 1848000693<br />
		<a href="https://www.amazon.com/exec/obidos/ASIN/1848000693/thealgorith01-20" target="_blank">See it on Amazon</a>
	</p>
	-->
	<!--- Course Material Components -->
	<h2>Course Material</h2>
	<p><b>Lectures/Readings</b><p>
	<ul>
		<li>Recorded videos will be posted for each lecture in <a href="https://learning.drexel.edu" target="_blank">learning.drexel.edu</a></li>
		<li>Extended Readings will be assigned in conjunction with lectures.</li>
	</ul>
	<p><b>Homeworks</b></p>
	<ul>
		<li>Homeworks will contain both written and programming questions.</li>
		<li>Homeworks will be submitted using learn.drexel.edu</li>
		<li>Homeworks are due on Mondays at 11:59PM</li>
		<li>Homeworks are to be completed individually.</li>
	</ul>
	<p><b>Quizzes</b></p>
	<ul>
		<li>3 Online Quizzes will be given during the term.</li>
		<li>The quiz will be available for an entire week, but have a time limit once started.
		</li>
	</ul>
	<p><b>Research Papers</b><p>
	<ul>
		<li>Students will complete two research papers.</li>
		<li>Midterm RP: Due at end of week 6.</li>
		<li>Final RP: Due at end of Finals Week.</li>
		<li>Research Papers are to be completed individually.</li>
	</ul>
	<p><b>Slack Channel</b></p>
	<ul>
		<li>This term, we will be using a Slack channel instead of a discussion board.</li>
		<li>You must sign up using a Drexel Email Address.</li>
		<li>
			<a href="https://join.slack.com/t/cs-520-spring-2020/shared_invite/zt-d61e75xd-IqpPm67~4bgB2GEWzBmm3g" target="_blank">
			https://join.slack.com/t/cs-520-spring-2020/shared_invite/zt-d61e75xd-IqpPm67~4bgB2GEWzBmm3g
			</a>
		</li>
	</ul>
	<p><b>Late Submissions</b></p>
	<ul>
		<li>Each student has two "late passes".</li>
		<li>A student may exchange one of their late passes for an one day extention on any assignment.</li>
		<li>Contact the TA/Professor to request one of your late passes be used.</li>
		<li>You may use both late passes of the same assignment to get a 2 day extention.</li>
	</ul>
	<p><b>Special Circumstances</b></p>
	<ul>
	<li>If you have a documented reason why you cannot submit an assignment by the deadline, a special exception may be made. The Professor may also wave the late submission penalty for documented special exceptions.</li>
	</ul>
	
	<!-- Boring Classic Policy Block -->
	<h2>Course Policies</h2>
	<p><b>Academic Honesty Policy</b></p>
		<p>The CCI Academic Honesty policy is in effect for this course. Please see the policy at <a href="http://drexel.edu/cci/resources/current-students/undergraduate/policies/cs-academic-integrity/" target="_blank">http://drexel.edu/cci/resources/current-students/undergraduate/policies/cs-academic-integrity/</a>.</p>
		<p>Academic Honesty Violations <b>will</b> be reported to the University. Punishment will be determined by the severity of the incident. Punishments include, but are not limited to,</p>
		<ul>
			<li>Failing grade for class</li>
			<li>Deduction of one letter grade</li>
			<li>Zero on Assignment/Exam Violation took place on</li>
		</ul>
	<p><b>Grading and Policies</b></p>
	<ul>
		<li>9 Homeworks 50% </li>
		<li>3 Quizzes 10%</li>
		<li>Research Paper 1 20%</li>
		<li>Research Paper 2 20%</li>
	</ul>
	<p>Final grades will be determined by your total points weighted according to this distribution. Grades may be curved but are generally computed via the formula below. It may be modified at the instructor's sole discretion, but letter grades will generally not be lower than those shown here.</p>
	<ul>
		<li>[100-97] A+</li>
		<li>(97-93]  A</li>
		<li>(93-90]  A-</li>
		<li>(90-87]  B+</li>
		<li>(87-83]  B</li>
		<li>(83-80]  B-</li>
		<li>[80-77]  C+</li>
		<li>(77-73]  C</li>
		<li>(73-70]  C-</li>
		<li>(70-67]  D+</li>
		<li>(67-60]  D</li>
		<li>(60-0]   F</li>
	</ul>
	<!-- Standard Junk -->
	<p><b>University Policies</b> <br />In addition to the course policies listed on this syllabus, course assignments or course website, the following University policies are in effect:</p>
	<ul>
		<li>Computer/Software Help provided by iCommons: <a href="https://drexel.edu/cci/current-students/icommons/" target="_blank">https://drexel.edu/cci/current-students/icommons/</a>
		<li>Academic Honesty: <a href="http://www.drexel.edu/provost/policies/academic_dishonesty.asp" target="_blank">http://www.drexel.edu/provost/policies/academic_dishonesty.asp</a></li>
		<li>Judicial Affairs Academic Integrity: <a href="http://drexel.edu/studentlife/community_standards/facultystaff/integrity/" target="_blank">http://drexel.edu/studentlife/community_standards/facultystaff/integrity/</a></li>
		<li>Official Final Exam Schedule: <a href="http://www.drexel.edu/registrar/scheduling/exams/" target="_blank">http://www.drexel.edu/registrar/scheduling/exams/</a></li>
		<li>Students with Disability Statement: <a href="http://drexel.edu/oed/disabilityResources/overview/" target="_blank">http://drexel.edu/oed/disabilityResources/overview/</a></li>
		<li>Course Drop Policy: <a href="http://www.drexel.edu/provost/policies/course_drop.asp" target="_blank">http://www.drexel.edu/provost/policies/course_drop.asp</a></li>
		<li>Drexel Student Learning Priorities: <a href="http://drexel.edu/provost/assessment/outcomes/dslp/" target="_blank">http://www.drexel.edu/provost/irae/assessment/outcomes/dslp/</a></li>
		<li>The instructor may, at his/her/their discretion, change any part of the course during the term, including assignments, grade brakdowns, due-dates, and the schedule. Such changes will be communicated to students via the course web site Announcements page. This page should be checked regularly and frequently for such changes and announcements. Other announcements, although rare, may include class cancellations and other urgent announcements.</li>
	</ul>
	
	<p><b>Topics</b></p>
	<ol>
		<li>Algorithm Fundamentals</li>
		<li>Recursion</li>
		<li>Searching and Sorting</li>
		<li>Fundamentals of Simple Data Structures( lists, trees, graphs)</li>
		<li>Intro to algorithm analysis and order of growth</li>
		<li>Intro to algorithms in distributed systems.</li>
	</ol>

	<!--- Course Schedule starts Here! -->
	<h2>Tentative Course Schedule</h2>
		<p>Please see the appropriate assignment webpages for a detailed description of course deliverables.</p>
	<table border="1">
	<tbody>
		<tr>
			<td>Week</td>
			<td>Topic</td>
			<td>Reading</td>
			<td>Homework</td>
		</tr>
		<tr>
			<td>1 (4/6/20)</td>
			<td>How does a computer work?</td>
			<td>Chapter 1 of PDF</td>
			<td>Homework 1 <br>Due Monday 4/13/20 at 11:59PM </td>
		</tr>
		<tr>
			<td>2 (4/13/20)</td>
			<td>Basic Algorithmic Structures</td>
			<td>Chapter 2 of PDF</td>
			<td>Homework 2 <br>Due Monday 4/20/20 at 11:59PM </td>
		</tr>
		<tr>
			<td>3 (4/20/20)</td>
			<td>Recursion</td>
			<td>Chapter 3 of PDF</td>
			<td>Homework 3 <br>Due Monday 4/27/20 at 11:59PM </td>
		</tr>
		<tr>
			<td>4 (4/27/20)</td>
			<td>Analysis of Algorithms</td>
			<td>Chapter 4 of PDF</td>
			<td>Homework 4 <br>Due Monday 5/4/20 at 11:59PM </td>
		</tr>
		<tr>
			<td>5 (5/4/20)</td>
			<td>Searching and Sorting (Part 1)</td>
			<td>Chapter 5 of PDF</td>
			<td>Homework 5 <br>Due Monday 5/11/20 at 11:59PM</td>
		</tr>
		<tr><td>&nbsp;</td><td colspan="3"><b>Research Paper 1</b> Due <b>Friday</b> 5/8/20 at 11:59PM</td></tr>
		<tr>
			<td>6 (5/11/20)</td>
			<td>Searching and Sorting (Part 2)</td>
			<td>Chapter 6 of PDF</td>
			<td>Homework 6 <br>Due Monday 5/18/20 at 11:59PM </td>
		</tr>
		<tr>
			<td>7 (5/18/20)</td>
			<td>Linked Lists and Memory</td>
			<td>Chapter 7 of PDF</td>
			<td>Homework 7 <br>Due Monday 5/25/20 at 11:59PM </td>
		</tr>
		<tr>
			<td>8 (5/25/20)<br>Memorial Day</td>
			<td>Trees and Sets</td>
			<td>Chapter 8 of PDF</td>
			<td>Homework 8 <br>Due Monday 6/1/20 at 11:59PM </td>
		</tr>
		<tr>
			<td>9 (6/1/20)</td>
			<td>Graphs</td>
			<td>Chapter 9 of PDF</td>
			<td>Homework 9 <br>Due Monday 6/8/20 at 11:59PM </td>
		</tr>
		<!-- <tr>
			<td>10 (?/?/20)</td>
			<td>DFA</td>
			<td>Chapter 10 of PDF</td>
			<td>Homework 10 <br>Due Monday ?/?/20 at 11:59PM </td>
			<td>&nbsp;</td>
		</tr>-->
		<tr>
			<td>10 (6/8/20)</td>
			<td colspan="3">
				<b>Research Paper 2</b> Due <b>Friday</b> June 12, 2020 at 11:59PM
			</td>
		</tr>
	</tbody>
</table>

<h2>Additional Resource Links</h2>
<ol>
	<li>Binary Numbers
		<ul>
			<li><a href="https://www.mathsisfun.com/binary-number-system.html" target="_blank">https://www.mathsisfun.com/binary-number-system.html</a></li>
			<li><a href="https://www.tutorialspoint.com/computer_logical_organization/binary_arithmetic.htm" target="_blank">https://www.tutorialspoint.com/computer_logical_organization/binary_arithmetic.htm</a></li>
			<li><a href="https://www.cs.cornell.edu/~tomf/notes/cps104/twoscomp.html" target="_blank">https://www.cs.cornell.edu/~tomf/notes/cps104/twoscomp.html</a></li>
			<li><a href="https://www3.ntu.edu.sg/home/ehchua/programming/java/datarepresentation.html" target="_blank">https://www3.ntu.edu.sg/home/ehchua/programming/java/datarepresentation.html</a></li>
		</ul>
	</li>
	<li>Hex Numbers
		<ul>
			<li><a href="https://www.mathsisfun.com/hexadecimals.html" target="_blank">https://www.mathsisfun.com/hexadecimals.html</a></li>
			<li><a href="https://www.tutorialspoint.com/computer_logical_organization/hexadecimal_arithmetic.htm" target="_blank">https://www.tutorialspoint.com/computer_logical_organization/hexadecimal_arithmetic.htm</a></li>
			<li><a href="https://computer.howstuffworks.com/computer-memory.htm" target="_blank">https://computer.howstuffworks.com/computer-memory.htm</a></li>
		</ul>
	</li>
	<li>Assembly
		<ul>
			<li><a href="https://schweigi.github.io/assembler-simulator/" target="_blank">https://schweigi.github.io/assembler-simulator/</a></li>
			<li><a href="https://schweigi.github.io/assembler-simulator/instruction-set.html" target="_blank">https://schweigi.github.io/assembler-simulator/instruction-set.html</a></li>
		</ul>
	</li>
	<li>Algorithms
		<ul>
			<li><a href="https://publik.tuwien.ac.at/files/PubDat_140308.pdf" target="_blank">https://publik.tuwien.ac.at/files/PubDat_140308.pdf</a></li>
			<li><a href="https://www.geeksforgeeks.org/how-to-write-a-pseudo-code/" target="_blank">https://www.geeksforgeeks.org/how-to-write-a-pseudo-code/</a></li>
		</ul>
	</li>
	<li>Recursion
		<ul>
			<li><a href="https://inventwithpython.com/blog/2011/08/11/recursion-explained-with-the-flood-fill-algorithm-and-zombies-and-cats/" target="_blank">https://inventwithpython.com/blog/2011/08/11/recursion-explained-with-the-flood-fill-algorithm-and-zombies-and-cats/</a></li>
			<li><a href="https://medium.com/@cscalfani/so-you-want-to-be-a-functional-programmer-part-1-1f15e387e536" target="_blank">https://medium.com/@cscalfani/so-you-want-to-be-a-functional-programmer-part-1-1f15e387e536</a></li>
			<li><a href="https://www.geeksforgeeks.org/recursion/" target="_blank">https://www.geeksforgeeks.org/recursion/</a></li>
			<li><a href="https://en.wikipedia.org/wiki/Tower_of_Hanoi" target="_blank">https://en.wikipedia.org/wiki/Tower_of_Hanoi</a></li>
		</ul>
	</li>
	<li>Analysis
		<ul>
			<li><a href="https://en.wikipedia.org/wiki/Big_O_notation" target="_blank">https://en.wikipedia.org/wiki/Big_O_notation</a></li>
			<li><a href="http://discrete.gr/complexity/" target="_blank">http://discrete.gr/complexity/</a></li>
			<li><a href="https://www.khanacademy.org/computing/computer-science/algorithms/asymptotic-notation/a/asymptotic-notation" target="_blank">https://www.khanacademy.org/computing/computer-science/algorithms/asymptotic-notation/a/asymptotic-notation</a></li>
		</ul>
	</li>
	<li>Searching
		<ul>
			<li><a href="https://en.wikipedia.org/wiki/Linear_search" target="_blank">https://en.wikipedia.org/wiki/Linear_search</a></li>
			<li><a href="https://en.wikipedia.org/wiki/Binary_search_algorithm" target="_blank">https://en.wikipedia.org/wiki/Binary_search_algorithm</a></li>
		</ul>
	</li>
	<li>Sorting
		<ul>
			<li><a href="https://en.wikipedia.org/wiki/Merge_sort" target="_blank">https://en.wikipedia.org/wiki/Merge_sort</a></li>
			<li><a href="https://en.wikipedia.org/wiki/Quicksort" target="_blank">https://en.wikipedia.org/wiki/Quicksort</a></li>
			<li><a href="https://en.wikipedia.org/wiki/Insertion_sort" target="_blank">https://en.wikipedia.org/wiki/Insertion_sort</a></li>
		</ul>
	</li>
	<li>Sets
		<ul>
			<li><a href="https://tutorialedge.net/compsci/data-structures/sets-for-beginners/" target="_blank">https://tutorialedge.net/compsci/data-structures/sets-for-beginners/</a></li>
			<li><a href="https://opendsa-server.cs.vt.edu/ODSA/Books/Everything/html/SetSearch.html" target="_blank">https://opendsa-server.cs.vt.edu/ODSA/Books/Everything/html/SetSearch.html</a></li>
		</ul>
	<li>Trees
		<ul>
			<li><a href="https://en.wikipedia.org/wiki/Binary_search_tree" target="_blank">https://en.wikipedia.org/wiki/Binary_search_tree</a></li>
			<li><a href="http://www.geeksforgeeks.org/greedy-algorithms-set-3-huffman-coding/" target="_blank">http://www.geeksforgeeks.org/greedy-algorithms-set-3-huffman-coding/</a></li>
			<li><a href="https://en.wikipedia.org/wiki/Binary_heap" target="_blank">https://en.wikipedia.org/wiki/Binary_heap</a></li>
		</ul>
	</li>
	<li>Graphs
		<ul>
			<li><a href="http://www.geeksforgeeks.org/graph-and-its-representations/" target="_blank">http://www.geeksforgeeks.org/graph-and-its-representations/</a></li>
			<li><a href="http://www.geeksforgeeks.org/depth-first-traversal-for-a-graph/" target="_blank">http://www.geeksforgeeks.org/depth-first-traversal-for-a-graph/</a></li>
			<li><a href="http://www.redblobgames.com/pathfinding/a-star/introduction.html" target="_blank">http://www.redblobgames.com/pathfinding/a-star/introduction.html</a></li>
			<li><a href="https://en.wikipedia.org/wiki/Dijkstra%27s_algorithm" target="_blank">https://en.wikipedia.org/wiki/Dijkstra%27s_algorithm</a></li>
		</ul>
	</li>
	<li>DFA
		<ul>
			<li>Chapter 2: <a href="http://cglab.ca/~michiel/TheoryOfComputation/" target="_blank">http://cglab.ca/~michiel/TheoryOfComputation/</a></li>
		</ul>
	</li>
</ol>
