<p></p>
	<!-- Basic Intro -->
	<h1>CS 571 Advanced Programming Techniques - Syllabus</h1>
	<p><b>Term and Credits</b></p>
		<p>
			Summer 2020-2021	<br />
			3 Credits
		</p>
	<p><b>Room and Time</b></p>
		<p>
			Videos and readings will be posted to learn.drexel.edu (No Live Lectures)
		</p>
	<p><b>Instructor</b></p>
	<p>
		Mark Boady<br />
		<i>Electronic Mail Address:</i>
		<a href="mailto:mwb33@drexel.edu">mwb33@drexel.edu</a><br />
		<i>Office:</i> 3675 Market Street Room 1058<br />
		<i>Extention:</i> 215-895-2347<br />
		<i>Office Hours:</i>
			Monday 10-12PM, Wednesday 3-5PM 
			<br>
			Send a Direct Message in Slack or post to #questions.
	</p>
	<p><b>Teaching Assistant(s)</b></p>
	<p>
		Marius Garbea<br />
		<i>Electronic Mail Address:</i>
		<a href="mailto:mag487@drexel.edu">mag487@drexel.edu</a><br />
		<i>CLC Website:</i>
		<a href="https://www.cs.drexel.edu/clc" target="_blank">https://www.cs.drexel.edu/clc</a><br />
		<i>Office:</i> Online in Slack<br />
		<i>Office Hours:</i>
			Tuesday 8-10PM Slack
			<br>
			<a href="https://www.picktime.com/BoadyCS" target="_blank">Schedule a Meeting</a>
	</p>
	
	<!-- Description Stuff -->
	<p><b>Course Description</b></p>
	<p>Covers the Unix operating system, bash shell programming, awk programming, python programming, and basic principles of software design, testing, and development. Students will learn how to apply software engineering principles and use tools, such as version control, in support of programming. This course provides an introduction to intermediate programming techniques for students with only basic programming experience.</p>

	<p><b>Course Objective and Goals</b></p>
		<ol>
			<li>Learn the basis of the Linux OS.</li>
			<li>Understand the basic tools built into Linux for programmers.</li>
			<li>Learn to use scripting language along with tools to build programs.</li>
			<li>Learn to test programs using built in tools.</li>
		</ol>
	<p><b>Audience and Purpose within Plan of Study</b></p>
		<p>This course is for graduate students with little prior knowledge of Linux. It serves to give such students a firm foundation for future graduate study, and it is a requirement of the Computer Science Minor and Computer Science Post Bachelor Certificate degree programs.</p>
	<p><b>Prerequisites</b><br />
		CS570 is a required co/prerequisites.
	</p>
	<p><b>What Students Should Know Prior to this Course</b></p>
	<ol>
		<li>Basic Computer Usage Skills.</li>
		<li>Some experience with programming is strongly recommended.</li>
	</ol>
	<p><b>What Students will be able to do upon Successfully Completing this Course:</b></p>
		<ol>
			<li>Use a Linux system with only command line access.</li>
			<li>Manage a GIT repository.</li>
			<li>Write scripts built on Linux Tools.</li>
			<li>Explain why Linux is popular with developers.</li>
			<li>Develop programs using only command line toolds.</li>
	</ol>
	<p><b>Textbook</b></p>
	<p>
		A Practical Guide to Linux Commands, Editors, and Shell Programming (4th Edition)
		<br />
		Mark G. Sobell, Matthew Helmke
		<br />
		ISBN-13 978-0134774602
		<br />
		ISBN-10 9780134774602<br />
		<a href="https://www.amazon.com/gp/product/0134774604?pf_rd_r=HBQWW5SDGS1NG82YRGDG&pf_rd_p=edaba0ee-c2fe-4124-9f5d-b31d6b1bfbee" target="_blank">See it on Amazon</a>
	</p>
	<!--- Course Material Components -->
	<h2>Course Material</h2>
	<p><b>Lectures/Readings</b><p>
	<ul>
		<li>Recorded videos will be posted for each lecture in <a href="https://learning.drexel.edu" target="_blank">learning.drexel.edu</a></li>
		<li>Readings will be assigned from the textbook.</li>
	</ul>
	<p><b>Participation</b>
	<ul>
		<li>Occassionally participation activities will be assigned.</li>
	</ul>
	</p>
	<p><b>Homeworks</b></p>
	<ul>
		<li>Homeworks will contain both written and programming questions.</li>
		<li>Homeworks will be submitted using git.</li>
		<li>Homeworks are due on Tuesdays at 11:59PM</li>
		<li>Homeworks are to be completed individually.</li>
	</ul>
	<p><b>Research Papers</b><p>
	<ul>
		<li>Students will complete three research papers.</li>
		<li>Research Papers are to be completed individually.</li>
		<li>Academic Honesty Violations will be punished <b>harshly</b>.</li>
	</ul>
	<p><b>Slack Channel</b></p>
	<ul>
		<li>This term, we will be using a Slack channel instead of a discussion board.</li>
		<li>You must sign up using a Drexel Email Address.</li>
		<li>
			<a href="https://join.slack.com/t/cs571summer2020/signup" target="_blank">
			https://join.slack.com/t/cs571summer2020/signup
			</a>
		</li>
	</ul>
	<p><b>Late Submissions</b></p>
	<ul>
		<li>Each student has two "late passes".</li>
		<li>A student may exchange one of their late passes for an one day extention on any assignment/report.</li>
		<li>Contact the TA/Professor to request one of your late passes be used.</li>
		<li>Request <b>must</b> be made before due date for assignment you are using it on.</li>
		<li>You may use both late passes of the same assignment to get a 2 day extention.</li>
	</ul>
	<p><b>Special Circumstances</b></p>
	<ul>
	<li>If you have a documented reason why you cannot submit an assignment by the deadline, a special exception may be made. The Professor may also wave the late submission penalty for documented special exceptions.</li>
	</ul>
	
	<!-- Boring Classic Policy Block -->
	<h2>Course Policies</h2>
	<p><b>Academic Honesty Policy</b></p>
		<p>The CCI Academic Honesty policy is in effect for this course. Please see the policy at <a href="http://drexel.edu/cci/resources/current-students/undergraduate/policies/cs-academic-integrity/" target="_blank">http://drexel.edu/cci/resources/current-students/undergraduate/policies/cs-academic-integrity/</a>.</p>
		<p>Academic Honesty Violations <b>will</b> be reported to the University. Punishment will be determined by the severity of the incident. Punishments include, but are not limited to,</p>
		<ul>
			<li>Failing grade for class</li>
			<li>Deduction of one letter grade</li>
			<li>Zero on Assignment/Exam Violation took place on</li>
		</ul>
	<p><b>Grading and Policies</b></p>
	<ul>
		<li>Homeworks 50% </li>
		<li>Research Paper 1 15%</li>
		<li>Research Paper 2 15%</li>
		<li>Research Paper 3 15%</li>
		<li>Participation 5%</li>
	</ul>
	<p>Final grades will be determined by your total points weighted according to this distribution. Grades may be curved but are generally computed via the formula below. It may be modified at the instructor's sole discretion, but letter grades will generally not be lower than those shown here.</p>
	<ul>
		<li>[100-97] A+</li>
		<li>(97-93]  A</li>
		<li>(93-90]  A-</li>
		<li>(90-87]  B+</li>
		<li>(87-83]  B</li>
		<li>(83-80]  B-</li>
		<li>[80-77]  C+</li>
		<li>(77-73]  C</li>
		<li>(73-70]  C-</li>
		<li>(70-67]  D+</li>
		<li>(67-60]  D</li>
		<li>(60-0]   F</li>
	</ul>
	<!-- Standard Junk -->
	<p><b>University Policies</b> <br />In addition to the course policies listed on this syllabus, course assignments or course website, the following University policies are in effect:</p>
	<ul>
		<li>Computer/Software Help provided by iCommons: <a href="https://drexel.edu/cci/current-students/icommons/" target="_blank">https://drexel.edu/cci/current-students/icommons/</a>
		<li>Academic Honesty: <a href="http://www.drexel.edu/provost/policies/academic_dishonesty.asp" target="_blank">http://www.drexel.edu/provost/policies/academic_dishonesty.asp</a></li>
		<li>Judicial Affairs Academic Integrity: <a href="http://drexel.edu/studentlife/community_standards/facultystaff/integrity/" target="_blank">http://drexel.edu/studentlife/community_standards/facultystaff/integrity/</a></li>
		<li>Official Final Exam Schedule: <a href="http://www.drexel.edu/registrar/scheduling/exams/" target="_blank">http://www.drexel.edu/registrar/scheduling/exams/</a></li>
		<li>Students with Disability Statement: <a href="http://drexel.edu/oed/disabilityResources/overview/" target="_blank">http://drexel.edu/oed/disabilityResources/overview/</a></li>
		<li>Course Drop Policy: <a href="http://www.drexel.edu/provost/policies/course_drop.asp" target="_blank">http://www.drexel.edu/provost/policies/course_drop.asp</a></li>
		<li>Drexel Student Learning Priorities: <a href="http://drexel.edu/provost/assessment/outcomes/dslp/" target="_blank">http://www.drexel.edu/provost/irae/assessment/outcomes/dslp/</a></li>
		<li>The instructor may, at his/her/their discretion, change any part of the course during the term, including assignments, grade brakdowns, due-dates, and the schedule. Such changes will be communicated to students via the course web site Announcements page. This page should be checked regularly and frequently for such changes and announcements. Other announcements, although rare, may include class cancellations and other urgent announcements.</li>
	</ul>
	

	<!--- Course Schedule starts Here! -->
	<h2>Tentative Course Schedule</h2>
		<p>Please see the appropriate assignment webpages for a detailed description of course deliverables.</p>
	<table border="1">
	<tbody>
		<tr>
			<td>Week</td>
			<td>Topic</td>
			<td>Reading</td>
			<td>Homework</td>
		</tr>
		<tr>
			<td>1 (6/22/20)</td>
			<td>Introduction to Linux</td>
			<td>
				Chapter 2 of textbook<br>
				Chapter 17 of textbook
			</td>
			<td>Homework 1 <br>Due Tuesday 6/30/20 at 11:59PM </td>
		</tr>
		<tr>
			<td>2 (6/29/20)</td>
			<td>The Utilities</td>
			<td>Chapter 3 of textbook</td>
			<td>Homework 2 <br>Due Tuesday 7/7/20 at 11:59PM </td>
		</tr>
		<tr>
			<td>3 (7/6/20)</td>
			<td>The File System</td>
			<td>Chapter 4 of textbook</td>
			<td>Homework 3 <br>Due Tuesday 7/14/20 at 11:59PM </td>
		</tr>
		<tr><td>&nbsp;</td><td colspan="3"><b>Research Paper 1</b> Due <b>Friday</b> July 10, 2020 at 11:59PM</td></tr>
		<tr>
			<td>4 (7/13/20)</td>
			<td>The Shell</td>
			<td>Chapter 5 of textbook</td>
			<td>Homework 4 <br>Due Tuesday 7/21/20 at 11:59PM </td>
		</tr>
		<tr>
			<td>5 (7/20/20)</td>
			<td>The VIM Editor</td>
			<td>Chapter 6 of textbook</td>
			<td>Homework 5 <br>Due Tuesday 7/28/20 at 11:59PM</td>
		</tr>
		<tr>
			<td>6 (7/27/20)</td>
			<td>The EMACs Editor</td>
			<td>Chapter 7 of textbook</td>
			<td>Homework 6 <br>Due Tuesday 8/4/20 at 11:59PM </td>
		</tr>
		<tr>
			<td>7 (8/3/20)</td>
			<td>The Bourne Again Shell</td>
			<td>Chapter 8 of textbook</td>
			<td>Homework 7 <br>Due Tuesday 8/11/20 at 11:59PM </td>
		</tr>
		<tr><td>&nbsp;</td><td colspan="3"><b>Research Paper 2</b> Due <b>Friday</b> August 7, 2020 at 11:59PM</td></tr>
		<tr>
			<td>8 (8/10/20)</td>
			<td>Programming the Bourne Again Shell</td>
			<td>Chapter 10 of textbook</td>
			<td>Homework 8 <br>Due Tuesday 8/18/20 at 11:59PM </td>
		</tr>
		<tr>
			<td>9 (8/17/20)</td>
			<td>Python as a Scripting Language</td>
			<td>Chapter 12 of textbook</td>
			<td>Homework 9 <br>Due Tuesday 8/25/20 at 11:59PM </td>
		</tr>
		<tr>
			<td>10 (8/24/20)</td>
			<td>Putting all the Pieces together</td>
			<td>Chapter 1 of textbook</td>
			<td>Homework 10 <br>Due Tuesday 9/1/20 at 11:59PM </td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>11 (8/31/20)</td>
			<td colspan="3">
				<b>Research Paper 3</b> Due <b>Friday</b> September 4, 2020 at 11:59PM
			</td>
		</tr>
	</tbody>
</table>
