<h1>CS 171 Computer Programming 1</h1>
<p><b>Term and Credits</b> <br /> Winter 2019-2020 <br /> 3 Credits</p>
<h2>Basic Course Information</h2>
<p><b>Rooms and Times</b></p>
<table border="1" padding="3" style="width: 90%;">
<tbody>
<tr>
<td>CS 171-A</td>
<td><b>Time:</b> Tuesday 02:00PM-3:50PM</td>
<td><b>Instructor:</b> Prof. Mark W. Boady</td>
<td><b>Room:</b> Papadakis Integrated Sci Bldg Room 120</td>
</tr>
<tr>
<td>CS 171-B</td>
<td><b>Time:</b> Monday 01:00PM-2:50PM</td>
<td><b>Instructor:</b> Prof. Mark W. Boady</td>
<td><b>Room:</b> Nesbitt Hall Room 111</td>
</tr>
<tr>
<td>CS 171-C</td>
<td><b>Time:</b> Monday 03:00PM-4:50PM</td>
<td><b>Instructor:</b> Prof. Adelaida Medlock</td>
<td><b>Room:</b> Disque Hall Room 108</td>
</tr>
</tbody>
</table>
<p>Labs: (Primary TA in <i>italic</i> grades lab submissions)</p>
<table border="1" padding="3" style="width: 90%;">
<tbody>
<tr><th colspan="4">Wednesday Labs</th></tr>
<tr>
<td>CS 171-64</td>
<td><b>Time:</b> Wednesday 03:00PM-4:50PM</td>
<td><b>Instructors:</b> <br /> <i>Ridwan Olawin</i> <br /> Tri Le</td>
<td><b>Location:</b> 3675 Market Street Room 912</td>
</tr>
<tr>
<td>CS 171-65</td>
<td><b>Time:</b> Wednesday 03:00PM-4:50PM</td>
<td><b>Instructors:</b> <br /> <i>Sahithi Pisupati</i> <br /> Sai Meda</td>
<td><b>Location:</b> 3675 Market Street Room 913</td>
</tr>
<tr><th colspan="4">Thursday Labs</th></tr>
<tr>
<td>CS 171-68</td>
<td><b>Time:</b> Thursday 10:00AM-11:50AM</td>
<td><b>Instructors:</b> <br /> <i>Caitlyn Yergey</i> <br /> Kevin Young</td>
<td><b>Location:</b> 3675 Market Street Room 1056</td>
</tr>
<tr>
<td>CS 171-80</td>
<td><b>Time:</b> Thursday 10:00AM-11:50AM</td>
<td><b>Instructors:</b> <br />  <i>Matthew Chong</i> <br />Enes Sezen </td>
<td><b>Location:</b> 3675 Market Street Room 1054</td>
</tr>
<tr>
<td>CS 171-81</td>
<td><b>Time:</b> Thursday 10:00AM-11:50AM</td>
<td><b>Instructors:</b> <br /> <i>Giang Doan</i> <br /> Sai Meda</td>
<td><b>Location:</b> 3675 Market Street Room 1055</td>
</tr>
<tr>
<td>CS 171-82</td>
<td><b>Time:</b> Thursday 12:00PM-1:50PM</td>
<td><b>Instructors:</b> <br /> <i>Kevin Young</i> <br /> Sahithi Pisupati</td>
<td><b>Location:</b> 3675 Market Street Room 1054</td>
</tr>
<tr>
<td>CS 171-83</td>
<td><b>Time:</b> Thursday 12:00PM-1:50PM</td>
<td><b>Instructors:</b> <br /> <i>Enes Sezen</i> <br /> Sai Meda </td>
<td><b>Location:</b> 3675 Market Street Room 1055</td>
</tr>
<tr>
<td>CS 171-60</td>
<td><b>Time:</b> Thursday 02:00PM-3:50PM</td>
<td><b>Instructors:</b> <br /> <i>Hruday Vairagade</i> <br /> Enes Sezen</td>
<td><b>Location:</b> 3675 Market Street Room 1054</td>
</tr>
<tr>
<td>CS 171-61</td>
<td><b>Time:</b> Thursday 02:00PM-3:50PM</td>
<td><b>Instructors:</b> <br /> <i>Vineet Mehta</i> <br /> Jashanpreet Singh</td>
<td><b>Location:</b> 3675 Market Street Room 1055</td>
</tr>
<tr><th colspan="4">Friday Labs</th></tr>
<tr>
<td>CS 171-70</td>
<td><b>Time:</b> Friday 10:00AM-11:50AM</td>
<td><b>Instructors:</b> <br /> <i>Jashanpreet Singh</i> <br /> Tri Le</td>
<td><b>Location:</b> 3675 Market Street Room 1054</td>
</tr>
<tr>
<td>CS 171-71</td>
<td><b>Time:</b> Friday 10:00AM-11:50AM</td>
<td><b>Instructors:</b> <br /> <i>Kevin Young</i> <br /> <!-- TA 2 --></td>
<td><b>Location:</b> 3675 Market Street Room 1055</td>
</tr>
<tr>
<td>CS 171-66</td>
<td><b>Time:</b> Friday 12:00PM-1:50PM</td>
<td><b>Instructors:</b> <br /> <i>Ridwan Olawin</i> <br /> Tri Le</td>
<td><b>Location:</b> 3675 Market Street Room 1054</td>
</tr>
<tr>
<td>CS 171-67</td>
<td><b>Time:</b> Friday 12:00PM-1:50PM</td>
<td><b>Instructors:</b> <br /> <i>Sahithi Pisupati</i> <br /> Sai Meda</td>
<td><b>Location:</b> 3675 Market Street Room 1055</td>
</tr>
<tr>
<td>CS 171-62</td>
<td><b>Time:</b> Friday 03:00PM-4:50PM</td>
<td><b>Instructors:</b> <br /> <i>Matthew Chong</i> <br /> Sahithi Pisupati</td>
<td><b>Location:</b> 3675 Market Street Room 1054</td>
</tr>
<tr>
<td>CS 171-63</td>
<td><b>Time:</b> Friday 03:00PM-4:50PM</td>
<td><b>Instructors:</b><br /> <i>Giang Doan</i><br /> Sai Meda  </td>
<td><b>Location:</b> 3675 Market Street Room 1055</td>
</tr>
</tbody>
</table>
<!-- End Lab Sections -->
<p></p>
<!-- Contact Information -->
<p><b>Instructor</b></p>
<p>Mark W. Boady<br /> <i>Electronic Mail Address:</i> <a href="mailto:mwb33@drexel.edu">mwb33@drexel.edu</a> <br /> <i>Webpage:</i> <a href="https://www.cs.drexel.edu/~mwb33/" target="_blank"> https://www.cs.drexel.edu/~mwb33/ </a> <br /> <i>Office:</i> 3675 Market Street Room 1058 <br /> <i>Extention:</i> 215-895-2347 <br /> <i>Office Hours:</i> Mon. 4:00PM-5:00PM, Tues. 12:00PM-1:00PM, Wed. 1:00PM-2:00PM, Thurs. 3:00PM-4:00PM, and by appointment</p>
<p>Prof. Adelaida Alban Medlock<br /> <i>Electronic Mail Address:</i> <a href="mailto:aalban@drexel.edu">aalban@drexel.edu</a> <br /> <i>Webpage:</i> <a href="http://www.cs.drexel.edu/~aalban/" target="_blank">http://www.cs.drexel.edu/~aalban/</a> <br /> <i>Office:</i> 3675 Market Street Room 1064 <br /> <i>Extention:</i> 215-895-2672 <br /> <i>Office Hours:</i> Wednesdays 10:30 AM - 12:30 PM and by appointment</p>
<p><b>Teaching Assistant(s)</b></p>
<!--<ul>
<li>Fname LName (Assignment)</li>
</ul> -->
<p><b>Office Hours Location</b>: 3675 Market Street Room 1066 <br /> <b>Office Hours</b>: <a href="https://www.cs.drexel.edu/clc" target="_blank"> https://www.cs.drexel.edu/clc </a> <br /> <b>Contact Info:</b> <a href="https://www.cs.drexel.edu/clc" target="_blank"> https://www.cs.drexel.edu/clc </a> <br /> Contact your TA through <i>Slack</i> for Course Related Questions.<br /> <b>CS Dept. Phone</b>: (215) 895-2669<br /> <b>CS Dept. Fax</b>: (215) 895-0545<br /> <b>CS Dept. Location</b>: 3675 Market Room 1171-A</p>
<!-- End Contact Information --><hr />
<h2>Course Description and Objectives</h2>
<p><b>Course Description</b></p>
<p>Introduces fundamental concepts of computing including memory, instructions, function calls, and activation records. Covers fundamentals of structured computer programming in the language of instruction: variables, input and output, expressions, assignment statements, conditionals and branching, subprograms, parameter passing, repetition, arrays, top-down design, testing, and debugging.</p>
<p><b>Course Goals</b></p>
<p>The goal of this course is for students completing it to be competent programmers, able to write working Python program on their own using appropriate constructs when presented with a problem description.</p>
<p><b>Course Objective</b></p>
<ol>
<li>Trace execution of a Python program containing assignment statements, strings, conditionals, file input/output, functions, and loops.</li>
<li>Determine appropriate code constructs and design a Python program using them to satisfy problem description.</li>
<li>Write appropriately styled Python code and documentation for programs using assignment statements, strings, conditionals, file input/output, functions, and loops.</li>
<li>Detect and correct syntax errors in Python programs containing assignment statements, strings, conditionals, file input/output, functions, and loops.</li>
<li>Detect and correct logic errors in Python programs containing assignment statements, strings, conditionals, functions, and loops.</li>
<li>Communicate and solve problems effectively as a member of a team</li>
</ol>
<p><b>Audience and Purpose within Plan of Study</b></p>
<p>This course is open to all student's interesting in Programming and Computer Science.</p>
<p>This course is the first in a two-term sequence of computer programming courses in Python (CS 171-2) and is a required course for students majoring in computer science, mathematics, physics, information systems, and digital media. It is also a required course for students pursuing a minor in computer science. The goal is for students completing this sequence to be competent programmers, able to write working Python program on their own using appropriate constructs when presented with a problem description.</p>
<p><b>Prerequisites</b><br /> None.<br /><br /> While there are no formal prerequisites for the course, students are expected to be computer literate. Prior programming experience is not required, but is definitely helpful.</p>
<hr />
<h2>Required Textbook and Software</h2>
<p><b>Textbook</b></p>
<p><b>Title:</b> Programming in Python 3 with zyLabs<br /> <b>Edition:</b> Drexel University CS 171: Computer Programming I Winter 2019 <br /> <b>Author:</b> Bailey Miller <br /> <b>ISBN-13:</b> 978-1-5418-9857-8 <br /> <b>Buy:</b> <a href="https://zybooks.zyante.com/#/home" target="_blank">zyBooks.com</a> <br /> <b>Copyright: </b>2014, 2015, 2016, 2018 Zyante Inc. (zyBooks.com) <br /> <b>Price:</b> $77.00</p>
<p>In order to acquire the book you will need to follow these steps:</p>
<ol>
<li>Sign up at learn.zybooks.com</li>
<li>Enter zyBook code <b>DREXELCS171Winter2020</b></li>
<li>Click Subscribe</li>
</ol>
<p>Students may begin subscribing on Dec 23, 2019 and the cutoff to subscribe is Mar 15, 2020. Subscriptions will last until Apr 05, 2020.</p>
<hr />
<p><b>Software and Hardware Requirements</b></p>
<p>All Drexel students are required to have individual access to a dedicated personal computer which meets minimum specifications, including: processor speed, memory and secondary storage requirements, and connectivity to campus network. Please see <a href="https://drexel.edu/cci/admissions/graduate-professional-development/admissions-information-and-requirements/computer-requirements-and-skills/" target="_blank">https://drexel.edu/cci/admissions/graduate-professional-development/admissions-information-and-requirements/computer-requirements-and-skills/</a> for further information.</p>
<p>The official language used for this course is Python 3. It is available for free at <a href="https://www.python.org" target="_blank">https://www.python.org</a>.</p>
<p><b>Required Software</b></p>
<ol>
<li>Thonny Python IDE: <a href="https://thonny.org/" target="_blank">https://thonny.org/</a></li>
<li>Slack - Use your Drexel Email Address to sign up <a href="https://join.slack.com/t/drexelcs171winter2020/signup" target="_blank">https://join.slack.com/t/drexelcs171winter2020/signup</a></li>
<li>Kahoot! - Please install on your phone before class from the App Store or Google Play.</li>
</ol>
<p><b>Blackboard Learn</b><br /> This course is operating with the Drexel BlackBoard Learn (Learn) Course Management System, which allows electronic submission of assignments, quizzes, and lab exercises, along with online chat sessions and threaded discussion groups. You can access the Drexel Learn course website from the Drexel portal <a href="http://one.drexel.edu/" target="_blank">http://one.drexel.edu/</a>. You can also access Drexel Learn from the following page <a href="https://learn.dcollege.net/" target="_blank">https://learn.dcollege.net/</a>.</p>
<p><b>Additional Requirements:</b></p>
<p>All Drexel students are required to have individual access to a dedicated personal computer which meets minimum specifications, including: processor speed, memory and secondary storage requirements, and connectivity to campus network. Please see <a href="http://www.drexel.edu/irt/computers-software/buying-guide/" target="_blank">http://www.drexel.edu/irt/computers-software/buying-guide/</a> for further information.</p>
<hr />
<h2>Grade Computation</h2>
<table border="1">
<tbody>
<tr><th>Labs</th>
<td>10%</td>
</tr>
<tr><th>Homework</th>
<td>10%</td>
</tr>
<tr><th>Readings</th>
<td>10%</td>
</tr>
<tr><th>Project</th>
<td>15%</td>
</tr>
<tr><th>Attendance</th>
<td>5%</td>
</tr>
<tr><th>Quizzes</th>
<td>10%</td>
</tr>
<tr><th>Midterm</th>
<td>20%</td>
</tr>
<tr><th>Final Exam</th>
<td>20%</td>
</tr>
</tbody>
</table>
<p>Final grades will be determined by your total points weighted according to this distribution. Grades may be curved but are generally computed via the formula below. It may be modified at the instructor's sole discretion, but letter grades will generally not be lower than those shown here.</p>
<p><b>Grading Scale</b></p>
<table border="1">
<tbody>
<tr>
<td><b>A+</b></td>
<td>97-100</td>
</tr>
<tr>
<td><b>A</b></td>
<td>93-96.99</td>
</tr>
<tr>
<td><b>A-</b></td>
<td>90-92.99</td>
</tr>
<tr>
<td><b>B+</b></td>
<td>87-89.99</td>
</tr>
<tr>
<td><b>B</b></td>
<td>83-86.99</td>
</tr>
<tr>
<td><b>B-</b></td>
<td>80-82.99</td>
</tr>
<tr>
<td><b>C+</b></td>
<td>77-79.99</td>
</tr>
<tr>
<td><b>C</b></td>
<td>73-76.99</td>
</tr>
<tr>
<td><b>C-</b></td>
<td>70-72.99</td>
</tr>
<tr>
<td><b>D+</b></td>
<td>67-69.99</td>
</tr>
<tr>
<td><b>D</b></td>
<td>60-66.99</td>
</tr>
<tr>
<td><b>F</b></td>
<td>0-59.99</td>
</tr>
</tbody>
</table>
<hr />
<h2>Grading Policies</h2>
<p><b>Attendance</b></p>
<ul>
<li>All Lectures will take attendance</li>
<li>Some Lectures will include interactive sections using Kahoot!</li>
<li>You will be graded on participation in the interactive section.</li>
<li>It does not matter if your answers are right/wrong, only that you attempted the questions.</li>
<li>You <b>must</b> attend 9 of 10 lectures. If you attend all 10 lectures, you will get extra credit.</li>
</ul>
<p><b>Readings</b></p>
<ul>
<li>Each week sections of the ZyBooks online textbook will be assigned.</li>
<li>You are required to complete all <b>Participation Activity</b> and <b>Challenge Activity</b> questions in the assigned readings.</li>
<li>You must purchase a ZyBooks subscription to complete reading assignments.</li>
<li>Each Student is required to have their own ZyBooks account.</li>
<li>Late Submissions will not be accepted for Readings.</li>
</ul>
<p><b>Homeworks</b></p>
<ul>
<li>Most weeks Homeworks will be assigned.</li>
<li>Homeworks consist of an additional section in ZyBooks with Programming problems.</li>
<li>You must purchase a ZyBooks subscription to complete homeworks.</li>
<li>Each Student is required to have their own ZyBooks account.</li>
<li>Late Submissions will not be accepted for Homeworks.</li>
<li>If you feel ZyBooks has graded your homework code incorrectly, you may request a TA review the grade. You must request a review within 1 week of the Homework's due date.</li>
</ul>
<p><b>Project</b></p>
<ul>
<li>There will be a term long individual programming project to be completed in Python 3.</li>
</ul>
<p><b>Labs</b></p>
<ul>
<li>Lab Attendance is <b>Required/Mandatory</b></li>
<li>Late Attendance Policy: If you are more than 10 minutes late for lab, but less than 15 minutes late, a 10% penalty will be applied to your lab. If you are more than 15 minute late, a 25% penalty will be applied to your lab.</li>
<li>Students will work in teams to complete lab assignments.</li>
<li>Labs will be posted in bblearn.</li>
<li>Labs <b>must</b> be submitted by the end of the lab period.</li>
<li>If you must miss a lab (for a valid reason), contact your Primary Lab TA. Exceptions will be made on a case-by-case basis.</li>
<li>Lab Reflections are Due the Sunday following Lab at 11:59PM.</li>
<li>CS 171 Late Reflection Policy: -2 points per day late. A reflection is worth 10 points. After 5 late days, it is no longer accepted.</li>
</ul>
<p><b>Quizzes/Midterm/Final</b></p>
<ul>
<li>Quizzes and Exams will be given in Lecture.</li>
<li>Tests will have a fixed time limit.</li>
<li>Final Exam wil be given during finals week.</li>
<li>All test elements will be paper and pencil (simple calculators allowed).</li>
</ul>
<p><b>Special Circumstances</b></p>
<p>If you have a documented reason why you cannot submit any work by the cut-off deadline, a special exception may be made. The Professor may also wave the late submission policy for documented special exceptions. Special Exceptions <b>must</b> be approved by the Professor.</p>
<p><b>Additional Policies</b></p>
<ul>
<li>You, your instructor, and the TA are bound by the Academic Honesty policy. Students are responsible for reading and understanding the course policies in this syllabus and for announcements made in class and in the course discussion board. See the academic policy linked to in this syllabus.</li>
<li>During lecture and recitation sessions please refrain from using mobile phones or otherwise being impolite.</li>
<li>Any dispute about an assignment grade must be made and resolved within 5 days of receiving your grade. After this period your grade cannot be adjusted.</li>
<li>If you are seeking help with an assignment you must contact the Professor or a TA prior to Friday close-of-business hours. We cannot guarantee a timely response on nights and weekends. This policy is to ensure that you get started early on your assignments.</li>
</ul>
<p><b>Plagiarism Detection System</b></p>
<p>To ensure that assignments are done independently, in addition to human observation, we will be running all assignments through a plagiarism detection system. This program uses compiler techniques which are invariant of syntax and style. It has a very high accuracy rate.</p>
<hr />
<h2>Academic Honesty Policy</h2>
<p>The university's Academic Honesty policy is in effect for this course. This policy is available in the Student's Handbook <a href="https://drexel.edu/studentlife/community_standards/code-of-conduct/" target="new">https://drexel.edu/studentlife/community_standards/code-of-conduct/</a>. Please also read the following information from the Provost Office: <a href="https://drexel.edu/provost/policies/academic-integrity/" target="new">https://drexel.edu/provost/policies/academic-integrity/</a></p>
<p><b>You must be the sole original author of all assignments and examination solutions in their entirety</b>, unless the instructor explicitly instructs you otherwise in written directions on an assignment or exam. <b>Except where specifically assigned, collaborative work is a violation of academic honesty in this course</b>. You are not to examine, share, or use code/written solutions belonging to someone else, nor may you let anyone else examine or copy your code/written solutions.</p>
<p>Students found in violation of the Academic Honesty policy will receive no credit for the questionable assignment or exam, a half letter grade reduction on the final grade for the course (on the first occurrence), a whole letter grade reduction on each subsequent occurrence(s), and/or will possibly receive a failing grade for the course. In addition, a Drexel University Alleged Academic Misconduct Report will be filed for each occurrence of Academic Dishonesty.</p>
<p>If you are suspected of academic dishonesty, a note will be placed in the BB Learn course site and you will be required to communicate with the course instructor within 72 hours indicating your response to the suspected violation.</p>
<p>Students having difficulty fulfilling the requirements for an assignment without outside help are to seek assistance from a teaching assistant or instructor, <i><b>not</b></i> from another student or knowledgeable person.</p>
<p>It is your responsibility to avoid violating the university's policy. If you are unclear as to what the policy means in a particular situation, ask the instructor for clarification before you hand anything in.</p>
<p></p>
<p>See the examples below for clarification of this policy.</p>
<h4>Examples</h4>
<p>The following are acceptable:</p>
<ul>
<li>Using code provided in lecture: include comments that cite the source.</li>
<li>Using code provided in the class textbook: include comments that cite the source.</li>
<li>Code developed jointly with instructor or teaching assistants assigned to this course: include comments to clarify that this is the case.</li>
<li>Discussing algorithms or possible approaches to writing your program, <b>WITHOUT</b> discussing particulars of the code.</li>
<li>Discussing how to resolve errors, <b>WITHOUT</b> discussing particulars of the code.</li>
</ul>
<p>These are <b>NOT</b> acceptable:</p>
<ul>
<li>You borrow a printed or electronic copy of a friend's assignment, and use it for "inspiration".</li>
<li>You give a printed or electronic copy of your assignment to somebody else.</li>
<li>You let someone else view the solution to any part of your assignment.</li>
<li>You "find" a printed copy of somebody's program in the trash, on a lab machine, on their hard drive, etc., and use it for "inspiration".</li>
<li>You pay a "tutor" who writes the assignment for you.</li>
<li>You and a friend together write one assignment, then create separate modifications to be handed in.</li>
<li>You and a friend write certain portions of the assignment individually, but collaborate on other portions of the assignment.</li>
<li>You Google the solution to the assignment and submit what you find as your own work.</li>
<li>You use an online service to obtain the solution to any part of the assignment.</li>
</ul>
<hr />
<h2>Additional Course Policies</h2>
<p><b>Computer/Software Help</b><br /> iCommons (3675 Market #1067): <a href="https://drexel.edu/cci/current-students/icommons/" target="_blank"> https://drexel.edu/cci/current-students/icommons/</a></p>
<p><b>Students Accommodations</b></p>
<p>Students requesting accommodations due to a disability at Drexel University need to request a current Accommodations Verification Letter (AVL) in the ClockWork database before accommodations can be made. These requests are received by Disability Resources (DR), who then issues the AVL to the appropriate contacts. For additional information, visit the DR website at <a href="https://drexel.edu/oed/disabilityResources/students/" target="new"> https://drexel.edu/oed/disabilityResources/students/</a>, or contact DR for more information by phone at 215-895-1401, or by email at <a href="mailto:disability@drexel.edu">disability@drexel.edu </a></p>
<hr />
<h2>Other important Academic Policies</h2>
<p>In addition to the course policies listed on this syllabus, course assignments or course website, the following University policies are in effect:</p>
<ul>
<li>Academic Honesty: <a href="http://www.drexel.edu/provost/policies/academic_dishonesty.asp" target="_blank"> http://www.drexel.edu/provost/policies/academic_dishonesty.asp</a></li>
<li>Judicial Affairs Academic Integrity: <a href="http://drexel.edu/studentlife/community_standards/facultystaff/integrity/" target="_blank"> http://drexel.edu/studentlife/community_standards/facultystaff/integrity/</a></li>
<li>Official Final Exam Schedule: <a href="http://www.drexel.edu/registrar/scheduling/exams/" target="_blank"> http://www.drexel.edu/registrar/scheduling/exams/</a></li>
<li>Students with Disability Statement: <a href="http://drexel.edu/oed/disabilityResources/students/" target="_blank"> http://drexel.edu/oed/disabilityResources/students/</a></li>
<li>Course Drop Policy: <a href="http://www.drexel.edu/provost/policies/course-add-drop" target="_blank"> http://www.drexel.edu/provost/policies/course-add-drop</a></li>
<li>Course Withdraw Policy: <a href="http://drexel.edu/provost/policies/course-withdrawal" target="_blank"> http://drexel.edu/provost/policies/course-withdrawal</a></li>
<li>The instructor may, at his/her/their discretion, change any part of the course during the term, including assignments, grade breakkdowns, due-dates, and the schedule. Such changes will be communicated to students via the course web site Announcements page. This page should be checked regularly and frequently for such changes and announcements. Other announcements, although rare, may include class cancellations and other urgent announcements.</li>
</ul>
<p><b>Class Disruption Policies</b></p>
<p>According to the student handbook (Code of Conduct section), <b>Disorderly Conduct</b> is defined as behaviour that disturbs academic study:</p>
<p>Behavior that disturbs the peace, academic study, or sleep of others both on or off campus is prohibited. Examples of disorderly conduct as it pertains to class/research settings includes, but is not limited to the following:</p>
<ul>
<li>Excessively leaving and entering a classroom without authorization.</li>
<li>Making loud or distracting noises.</li>
<li>Persistently speaking without being recognized such that it interferes with the learning environment.</li>
<li>Repeatedly dominating online discussion boards or forums such that it interferes with the learning environment.</li>
<li>Resorting to personal insults.</li>
</ul>
<p>Students are responsible to comply with a reasonable request from a professor, instructor, or other University official regarding appropriate behavior.</p>
<p>Students disrupting the lecture and/or lab will be asked to stop the disruptive behaivor. If they do not stop, the student will be asked to leave the classroom (and if they don't, public safety will be called to help), and a formal complaint will be filed with the Office of Student Conduct and Community Standards.</p>
<p><b>Cell Phones and other electronic devices</b></p>
<h4>Classroom Policy</h4>
<p>Use of cell phones and other electronic devices during class is disruptive to other students and the instructor. If you must bring your phone to class, make sure you turn the ringer off. If you need to take or make a call, quietly leave the room.</p>
<p>Students who bring laptops/tablets to class should turn the sound off. Start-up and shut-down music, dialogue and error alerts, instant messaging sounds, etc., are disruptive.</p>
<h4>Exam Policy</h4>
<p>Cell phones, tablets, laptops, smart-watches, and other devices can be used to communicate with people and access Internet sites. Thus using <i>any</i> of these items during an exam is in direct violation of the academic honesty policies of Drexel University. <b>Any use of any electronic device during an exam is considered an act of cheating.</b> Students are advised not to bring these items to exams to avoid misunderstandings. If you must bring any of these items with you to the exam, turn it off and keep it in your book bag. You may not make a call, receive a call, or otherwise keep any of these items "in plain sight."</p>
<p><b>Course Change Policy</b></p>
<p>The instructor may, at her/his discretion, change any part of the course during the term, including assignments, grade breakdowns, due dates, and schedule. Such changes will be communicated to students via the announcements tool in Blackboard Learn, as well as announcements during the lecture. Students are encouraged to regularly check BlackBoard Learn for such changes and other important course announcements.</p>

<!--   ************************SCHEDULE STARTS HERE ********************** ---->

<p><b>Tentative Course Schedule</b></p>
<p>Please see the appropriate assignment webpages for a detailed description of course deliverables.</p>
<p>Schedule Subject to change at any time.</p>
<table border="1">
<thead>
<tr>
	<th colspan="5">
		CS 171 Winter 2019 Schedule
	</th>
</tr>
<tr>
	<th>Week</th>
	<th>Topics</th>
	<th>Reading</th>
	<th>Lab</th>
	<th>Notes</th>
</tr>
</thead>
<tbody>
<tr>
	<td>1 (1/6/2020)</td>
	<td>
		Syllabus Review
		<br>
		Introduction to Python
	</td>
	<td>
		ZyBooks 1.1-1.13<br>
		ZyBooks 2.1-2.13
	</td>
	<td>Lab 1</td>
	<td>
		<b>Week 1 Reading</b>
		<br>
		<i>Due Sunday 1/12/20 11:59PM</i>
	</td>
</tr>
<tr>
	<td>2 (1/13/2020)</td>
	<td>
		Arithmetic<br>
	</td>
	<td>
		ZyBooks 4.1-4.7
	</td>
	<td>Lab 2</td>
	<td>
		<b>Homework 1</b>
		<br>
		<i>Due Thursday 1/16/20 11:59PM</i>
		<br>
		<b>Week 2 Reading</b>
		<br>
		<i>Due Sunday 1/19/19 11:59PM</i>
</tr>
<tr>
	<td>3 (1/20/2020)</td>
	<td>
		Data Types
		<br>
		
		<b>Martin Luther King Day No Class Monday.<br> Monday Sections, Watch Recording of Tuesday Lecture.</b>
	</td>
	<td>
		ZyBooks 6.1-6.8
	</td>
	<td>
		Lab 3
		<br>
		Project P1
		<br>
		<i>Due Sunday 1/26/20 11:59PM</i>
		</td>
	<td>
		<b>Homework 2</b>
		<br>
		<i>Due Thursday 1/23/20 11:59PM</i>
		<br>
		<b>Week 3 Reading</b>
		<br>
		<i>Due Sunday 1/26/20 11:59PM</i>
	</td>
</tr>
<tr>
	<td>4 (1/27/2020)</td>
	<td>
		Branching<br>
		<b>Quiz 1</b> in Lecture
	</td>
	<td>
		ZyBooks 8.1 - 8.14
	</td>
	<td>Lab 4</td>
	<td>
		<b>Homework 3</b>
		<br>
		<i>Due Thursday 1/30/20 11:59PM</i>
		<br>
		<b>Week 4 Reading</b>
		<br>
		<i>Due Sunday 2/2/20 11:59PM</i>
	</td>
</tr>
<tr>
	<td>5 (2/3/2020)</td>
	<td>
		Loops and Iteration<br>
	</td>
	<td>
		ZyBooks 10.1 - 10.17
	</td>
	<td>
		Lab 5
		<br>
		Project P2
		<br>
		<i>Due Sunday 2/9/20 11:59PM</i>
		</td>
	<td>
		<b>Homework 4</b>
		<br>
		<i>Due Thursday 2/6/20 11:59PM</i>
		<br>
		<b>Week 5 Reading</b>
		<br>
		<i>Due Sunday 2/9/20 11:59PM</i>
	</td>
</tr>
<tr>
	<td>6 (2/10/2020)</td>
	<td>
		<b>Midterm</b>
	</td>
	<td>
		ZyBooks 12.1-12.18
	</td>
	<td>Lab 6</td>
	<td>
		<b>Homework 5</b>
		<br>
		<i>Due Thursday 2/13/20 11:59PM</i>
		<br>
		<b>Week 6 Reading</b>
		<br>
		<i>Due Sunday 2/16/20 11:59PM</i>
	</td>
</tr>
<tr>
	<td>7 (2/17/2020)</td>
	<td>
		Exceptions, Files, and Modules
	</td>
	<td>
		ZyBooks 14.1-14.16
	</td>
	<td>Lab 7</td>
	<td>
		<b>Homework 6</b>
		<br>
		<i>Due Thursday 2/20/20 11:59PM</i>
		<br>
		<b>Week 7 Reading</b>
		<br>
		<i>Due Sunday 2/23/20 11:59PM</i>
	</td>
</tr>
<tr>
	<td>8 (2/24/2020)</td>
	<td>
		Recursion and Binary Search<br>
		<b>Quiz 2</b> in Lecture
	</td>
	<td>
		ZyBooks 16.1-16.12
	</td>
	<td>
		Lab 8
		<br>
		Project P3
		<br>
		<i>Due Sunday 3/1/20 11:59PM</i>
	</td>
	<td>
		<b>Homework 7</b>
		<br>
		<i>Due Thursday 2/27/20 11:59PM</i>
		<br>
		<b>Week 8 Reading</b>
		<br>
		<i>Due Sunday 3/1/20 11:59PM</i>
	</td>
</tr>
<tr>
	<td>9 (3/2/2020)</td>
	<td>
		Sorting
	</td>
	<td>
		ZyBooks 18.1-18.7
	</td>
	<td>Lab 9</td>
	<td>
		<b>Homework 8</b>
		<br>
		<i>Due Thursday 3/5/20 11:59PM</i>
		<br>
		<b>Week 9 Reading</b>
		<br>
		<i>Due Sunday 3/8/20 11:59PM</i>
	</td>
<tr>
	<td>10 (3/9/2020)</td>
	<td>
		Functional Programming
	</td>
	<td>&nbsp;</td>
	<td>
		Lab 10
		<br>
		Project P4
		<br>
		<i>Due Thursday 3/12/20 11:59PM</i>
		</td>
	<td>
		<b>Term Project Code</b>
		<br>
		<i>Due Thursday 3/12/20 11:59PM</i>
		<br>
		<b>Extra Credit Reading</b>
		<br>
		<i>Due Sunday 3/12/20 11:59PM</i>
	</td>
</tr>
<tr>
	<td>11 (3/16/2020)</td>
	<td colspan="4">
		Final Exam - Mar 18, 2020 8:00AM-10:00AM
		<br>
		Final Exam Covers all Material Weeks 1-10.
	</td>
</tr>

</tbody>
</table>
