<p></p>
<h1>CS 270 Mathematical Foundations in CS - Syllabus</h1>
<p><b>Term and Credits</b></p>
	<p>
		Fall 2019-2020
		<br />
		3 Credits
	</p>
<p><b>Room and Time</b></p>

	<p>
		<table border="1">
			<thead>
				<tr>
					<th>Section</th>
					<th>Days</th>
					<th>Time</th>
					<th>Room</th>
					<th>Instructor</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>001</td>
					<td>Tuesday/Thursday</td>
					<td>10:00AM-11:50AM</td>
					<td>3675 Market Street Room 1052</td>
					<td>Mark Boady</td>
				</tr>
				<tr>
					<td>002</td>
					<td>Tuesday/Thursday</td>
					<td>12:00AM-1:50PM</td>
					<td>3675 Market Street Room 1052</td>
					<td>Mark Boady</td>
				</tr>
				<tr>
					<td>005</td>
					<td>Tuesday/Thursday</td>
					<td>4:00PM-5:50PM</td>
					<td>3675 Market Street Room 1052</td>
					<td>Galen Long</td>
				</tr>
				<tr>
					<td>006</td>
					<td>Tuesday/Thursday</td>
					<td>6:00PM-7:50PM</td>
					<td>3675 Market Street Room 1056</td>
					<td>Galen Long</td>
				</tr>
				<tr>
					<td>007</td>
					<td>Wednesday/Friday</td>
					<td>10:00AM-11:50AM</td>
					<td>3675 Market Street Room 1104</td>
					<td>Galen Long</td>
				</tr>
			</tbody>
		</table>
	</p>
<p><b>Instructors</b></p>
<p>
	Professor Mark Boady<br />
	<i>Electronic Mail Address:</i>
	<a href="mailto:mwb33@drexel.edu">mwb33@drexel.edu</a><br />
	<i>Office:</i> 3675 Market Street Room 1058 (near snack machine)<br />
	<i>Extention:</i> 215-895-2347<br />
	<i>Office Hours:</i>
		Tuesday 3-4PM,
		Wednesay 2-4PM
		Thursday 3-4PM
</p>
<p>
	Professor Galen Long<br />
	<i>Electronic Mail Address:</i>
	<a href="mailto:nkl43@drexel.edu">nkl43@drexel.edu</a><br />
	<i>Office:</i> 3675 Market Street Room 1153<br />
	<!-- <i>Extention:</i> 215-895-????<br /> -->
	<i>Office Hours:</i>
		Monday 10AM-12PM, Wednesday/Friday 12-1PM
</p>
<p><b>Teaching Assistant(s)</b></p>
<p>
	Steve Earth (Lead TA)<br />
	<i>Electronic Mail Address:</i>
	<a href="mailto:se435@drexel.edu">se435@drexel.edu</a><br />
	<i>Office:</i> Drexel CLC 3675 Market St Room 1066<br />
	<i>Office Hours:</i>
	<a href="https://www.cs.drexel.edu/clc" target="_blank">https://www.cs.drexel.edu/clc</a>
</p>
<p>
	Jiho Yoo<br />
	<i>Electronic Mail Address:</i>
	<a href="mailto:jy434@drexel.edu">jy434@drexel.edu</a><br />
	<i>Office:</i> Drexel CLC 3675 Market St Room 1066<br />
	<i>Office Hours:</i>
	<a href="https://www.cs.drexel.edu/clc" target="_blank">https://www.cs.drexel.edu/clc</a>
</p>
<p>
	Khanh Tran<br />
	<i>Electronic Mail Address:</i>
	<a href="mailto:kat372@drexel.edu">kat372@drexel.edu</a><br />
	<i>Office:</i> Drexel CLC 3675 Market St Room 1066<br />
	<i>Office Hours:</i>
	<a href="https://www.cs.drexel.edu/clc" target="_blank">https://www.cs.drexel.edu/clc</a>
</p>
<p>
	Penghu Chen<br />
	<i>Electronic Mail Address:</i>
	<a href="mailto:pc634@drexel.edu">pc634@drexel.edu</a><br />
	<i>Office:</i> Drexel CLC 3675 Market St Room 1066<br />
	<i>Office Hours:</i>
	<a href="https://www.cs.drexel.edu/clc" target="_blank">https://www.cs.drexel.edu/clc</a>
</p>
<p>
	Reza Moradinezhad<br />
	<i>Electronic Mail Address:</i>
	<a href="mailto:rm976@drexel.edu">rm976@drexel.edu</a><br />
	<i>Office:</i> Drexel CLC 3675 Market St Room 1066<br />
	<i>Office Hours:</i>
	<a href="https://www.cs.drexel.edu/clc" target="_blank">https://www.cs.drexel.edu/clc</a>
</p>

<!---- Course Description Stuff ---->

<p><b>Course Description</b></p>
	<p>
	Introduces formal logic and its connections to Computer Science. Students learn to translate statements about the behavior of computer programs into logical claims and to prove such assertions using both traditional techniques and automated tools. Considers approaches to proving termination, correctness, and safety for programs. Discusses propositional and predicate logic, logical inference, recursion and recursively defined sets, mathematical induction, and structural induction.
	</p>
<p><b>Course Objective and Goals</b></p>
	<ol>
		<li>To use recursion and divide and conquer to solve problems</li>
		<li>To provide recursive definitions of patterns and data structures</li>
		<li>To formally specify the input/output requirements of programs</li>
		<li>To use induction and other proof techniques to prove properties of algorithms, data structures, programs, and computer systems</li>
		<li>To use logic to describe the state of systems and to use logical deduction (by hand and using tools) to prove properties of systems</li>
		<li>To understand the power and limitations of formal logic.</li>
	</ol>
<p><b>Topics</b></p>
	<ol>
		<li>Functional Programming</li>
		<li>Recursion, Recursive Definitions and Induction</li>
		<li>Propositional and Predicate Logic</li>
		<li>Formal Proof using Natural Deduction</li>
		<li>Applications of Logic to Computer Science</li>
		<li>Divide and Conquer Algorithms and Recurrence Relations</li>
		<li>Program Specification and Verification</li>
		<li>Automated Reasoning</li>
		<li>Termination Analysis</li>
		<li>Test Case and Counter Example Generation</li>
	</ol>
<p><b>Audience and Purpose within Plan of Study</b></p>
	<p>
	This is a required course for all Computer Science and Software Engineering students. It should also be of interest to Computer Engineering, Mathematics students and students with an interest in logic and computation.
	</p>
<p><b>Prerequisites</b>
	<p>
	CS 172 Minimum Grade: D or CS 176 Minimum Grade: D or CS 265 Minimum Grade: D or SE 103 Minimum Grade: D or ECEC 301 Minimum Grade: D or ECEC 201 Minimum Grade: D
	</p>
<p><b>What Students Should Know Prior to this Course</b></p>
	<ol>
		<li>Ability to read and understand code.</li>
		<li>Basic understanding of program execution.</li>
		<li>Ability to write simple recursive programs.</li>
	</ol>
<p><b>What Students will be able to do upon Successfully Completing this Course:</b></p>
	<ol>
		<li>Use Proofs by Deduction to Justify Logical Statements</li>
		<li>Be able to write and analyze Recursive Functions</li>
		<li>Be able to implement and use a SAT solver.</li>
		<li>Use Inductive Proofs to Justify the correctness of programs and statements.</li>
		<li>Use logic to describe the state of systems.</li>
	</ol>



<!--------Textbook------------->
<p><b>Textbook</b></p>
	<p><i>We will use free resources for this class.</i></p>
	<p>
	Book of Proof (Second Edition)<br />
	Richard Hammack<br />
	Paperback: ISBN 978-0-9894721-0-4<br />
	Hardcover: ISBN 978-0-9894721-1-1<br />
	Available for Free online at:
	<a href="http://www.people.vcu.edu/~rhammack/BookOfProof/" target="_blank">
	http://www.people.vcu.edu/~rhammack/BookOfProof/
	</a>
	</p>

	<p>
	The Racket Guide<br>
	Matthew Flatt, Robert Bruce Findler and PLT<br>
	<a href="https://docs.racket-lang.org/guide/index.html" target="_blank">
	https://docs.racket-lang.org/guide/index.html
	</a>
	</p>

	<b>Optional:</b>
	<p>
	<i>If you want to learn more about functional programming.</i><br>
	The Little Schemer - 4th Edition<br />
	Daniel P. Friedman and Matthias Felleisen<br />
	ISBN-13: 978-0262560993<br />
	ISBN-10: 0262560992<br>
	Available at:
	<a href="https://www.amazon.com/Little-Schemer-Daniel-P-Friedman/dp/0262560992/ref=sr_1_1?keywords=little+scheme&qid=1568217153&s=gateway&sr=8-1" target="_blank">
	Amazon
	</a>
	</p>
	<p>
	<i>If you want to learn more about recursive proofs.</i><br>
	The Little Prover - 1st Edition<br />
	Daniel P. Friedman and Carl Eastlund<br />
	ISBN-13: 978-0262527958<br />
	ISBN-10: 0262527952<br>
	Available at:
	<a href="https://www.amazon.com/Little-Prover-MIT-Press/dp/0262527952/ref=sr_1_1?keywords=little+prover&qid=1568217315&s=gateway&sr=8-1" target="_blank">
	Amazon
	</a>
	</p>


<!--------------Grading Details ------------->
<p><b>Grading and Policies</b></p>
	<ul>
		<li>Homeworks: 20%</li>
		<li>Labs: 20%</li>
		<li>Quizzes: 10%</li>
		<li>Midterm: 25%</li>
		<li>Final Exam: 25%</li>
	</ul>
	<p>
		Final grades will be determined by your total points weighted according to this distribution. Grades may be curved but are generally computed via the formula below. It may be modified at the instructor's sole discretion, but letter grades will generally not be lower than those shown here.
	</p>
	<ul>
		<li>[100-97] A+</li>
		<li>(97-93] A</li>
		<li>(93-90] A-</li>
		<li>(90-87] B+</li>
		<li>(87-83] B</li>
		<li>(83-80] B-</li>
		<li>[80-77] C+</li>
		<li>(77-73] C</li>
		<li>(73-70] C-</li>
		<li>(70-67] D+</li>
		<li>(67-60] D</li>
		<li>(60-0] F</li>
	</ul>

<!--- Course Policies ----->
<h2>Course Material</h2>
	<p><b>Programming Language</b>
	<ul>
		<li>This class will use the Racket Programming Language.</li>
		<li>This class will use the DrRacket IDE for developement.</li>
		<li>You may use Racket from the command line instead of the IDE.</li>
		<li><a href="http://racket-lang.org" target="_blank">Download Racket</a></li>
	</ul>
	<p><b>Late Policy</b></p>
	<ul>
		<li>Quizzes
			<ul>
				<li>If you miss a quiz schedule with the TA as soon as possible.</li>
				<li>Missed quizzes are handled on a case by case basis.</li>
			</ul>
		<li>Labs
			<ul>
				<li>If you miss a lab, you may complete it on your own.</li>
				<li>Submit a PDF of the lab to your TA in Slack.</li>
				<li>Penalties: <ol>
					<li>-10% within 24 hours of lab period missed</li>
					<li>-20% within 48 hours of lab period missed</li>
					<li>-30% within 72 hours of lab period missed</li>
					<li>-40% within 96 hours of lab period missed</li>
					<li>Not Accepted after 96 hours</li>
				</ol></li>
			</ul>
		</li>
		<li>Homeworks
			<ul>
				<li>You may submit homeworks at a penalty for a few days.</li>
				<li>Penalties: <ol>
					<li>-10% 1 day late</li>
					<li>-20% 2 days late</li>
					<li>-30% 3 days late</li>
					<li>-40% 4 days late</li>
					<li>Not Accepted after 4 days</li>
				</ol>
				</li>
			</ul>
		</li>
		<li>Late Passes<ul>
			<li>We understand that sometimes unforeseen circumstances will effect your life. Each student is allowed 2 <b>Late Passes</b>.</li>
			<li>Using a <b>Late Pass</b> will remove a 1 day penalty from a lab/homework.</li>
			<li>To use a late pass: send a slack message to your TA informing them that you want to use a pass and what assignment to apply it for.</li>
			<li>The TA <b>must</b> be informed within 24 hours of submission of your work that you want to use a late pass on that work.</li>
			</ul>
		</li>
		<li><b>Special Exceptions:</b> In exceptional circumstances, the <b>Professor</b> may wave additional penalties or accept work past the cut-off. Please message the Professor directly to request a special exception. Documentation (Doctor Note, Police Report, Athletics Approval, etc) is generally preferred.
		</li>
		<li><b>Family Friendly Policy:</b>
		We understand that some students have family obligations. If you need to miss class for a family emergency please use the Special Exceptions policy. Small children are allowed in class, but please do your best to keep classroom distruptions to a minimum.
		</li>
	</ul>
<p><b>Academic Honesty Policy</b></p>
	<p>The CCI Academic Honesty policy is in effect for this course. Please see the policy at <a href="http://drexel.edu/cci/resources/current-students/undergraduate/policies/cs-academic-integrity/" target="_blank">http://drexel.edu/cci/resources/current-students/undergraduate/policies/cs-academic-integrity/</a>.</p>
	<p>Academic Honesty Violations <b>will</b> be reported to the University. Punishment will be determined by the severity of the incident. Punishments include, but are not limited to,</p>
	<ul>
		<li>Failing grade for class</li>
		<li>Deduction of one letter grade</li>
		<li>Zero on Assignment/Exam Violation took place on</li>
	</ul>


<p><b>Lectures</b><p>
<ul>
	<li>Lectures will be held twice a week.</li>
	<li>Attendance in lecture is required.</li>
</ul>
<p><b>Labs</b></p>
<ul>
	<li>Most Classes will have an in-class exercise.</li>
	<li>Exercise is due by the end of class.</li>
	<li>Exercises require working with a team of 1-3 students.</li>
</ul>
<p><b>Homeworks</b><p>
<ul>
	<li>Most Weeks will have a homework assignment.</li>
	<li>Homeworks are due at 11:59PM</li>
	<li>Homeworks must be submitted to <a href="https://learning.drexel.edu" target="_blank">learning.drexel.edu</a></li>
</ul>
<p><b>Exams</b></p>
<ul>
	<li>There will be two written exams given in class</li>
	<li>Midterm during class during Week 6</li>
	<li>Final Exam during Exam Week (Week 12)</li>
</ul>

<p><b>Slack Channel</b></p>
<ul>
	<li>This term, we will be using a Slack channel instead of a discussion board.</li>
	<li>Our Slack Space is
		<a href="https://join.slack.com/t/drexelcs270fall2019/signup" target="_blank">https://join.slack.com/t/drexelcs270fall2019/signup</a>
	</li>
	<li>You must use an @drexel.edu email to sign up.</li>
</ul>





<!--- Drexel Boilerplate --->
<p><b>Computer/Software Help</b><br /> iCommons: <a href="http://drexel.edu/cci/about/our-facilities/rush-building/iCommons/" target="_blank">http://drexel.edu/cci/about/our-facilities/rush-building/iCommons/</a> <br /><br /> <b>University Policies</b> <br />In addition to the course policies listed on this syllabus, course assignments or course website, the following University policies are in effect:</p>
<ul>
<li>Academic Honesty: <a href="http://www.drexel.edu/provost/policies/academic_dishonesty.asp" target="_blank">http://www.drexel.edu/provost/policies/academic_dishonesty.asp</a></li>
<li>Judicial Affairs Academic Integrity: <a href="http://drexel.edu/studentlife/community_standards/facultystaff/integrity/" target="_blank">http://drexel.edu/studentlife/community_standards/facultystaff/integrity/</a></li>
<li>Official Final Exam Schedule: <a href="http://www.drexel.edu/registrar/scheduling/exams/" target="_blank">http://www.drexel.edu/registrar/scheduling/exams/</a></li>
<li>Students with Disability Statement: <a href="http://drexel.edu/oed/disabilityResources/overview/" target="_blank">http://drexel.edu/oed/disabilityResources/overview/</a></li>
<li>Course Drop Policy: <a href="http://www.drexel.edu/provost/policies/course_drop.asp" target="_blank">http://www.drexel.edu/provost/policies/course_drop.asp</a></li>
<li>Drexel Student Learning Priorities: <a href="http://drexel.edu/provost/assessment/outcomes/dslp/" target="_blank">http://www.drexel.edu/provost/irae/assessment/outcomes/dslp/</a></li>
<li>The instructor may, at his/her/their discretion, change any part of the course during the term, including assignments, grade brakdowns, due-dates, and the schedule. Such changes will be communicated to students via the course web site Announcements page. This page should be checked regularly and frequently for such changes and announcements. Other announcements, although rare, may include class cancellations and other urgent announcements.</li>
</ul>

<!--- Schedule -->
<h2>Tentative Course Schedule</h2>
<p>Please see the appropriate assignment webpages for a detailed description of course deliverables.</p>
<table border="1">
<thead>
<tr>
	<td colspan="4" style="text-align:center">
		<b>Special Note:</b>
		Section 007 is Wed/Friday.<br>
		Labs/Lectures/Quizzes listed as Tuesday will be done on Wednesday.<br>
		Labs/Lectures/Quizzes listed as Thursday will be done on Friday.<br>
		Homework Due Dates are the same for everyone.
	</td>
<tr>
<tr>
	<th>Week</th>
	<th>Topic</th>
	<th>Reading</th>
	<th>Homework</th>
</tr>
</thead>
<tbody>
<tr>
	<td>(1) September 23, 2019</td>
	<td>
		Introduction to Racket
	</td>
	<td>
		<a href="https://docs.racket-lang.org/quick/" target="_blank">
		Quick: An Introduction to Racket with Pictures</a><br>
		<a href="https://medium.com/@cscalfani/so-you-want-to-be-a-functional-programmer-part-1-1f15e387e536" target="_blank">
		So You Want to be a Functional Programmer (Part 1)
		</a><br>
		<a href="https://docs.racket-lang.org/guide/Lists__Iteration__and_Recursion.html" target="_blank">
			List, Iteration, and Recursion
		</a>
	</td>
	<td>
		Lab 1 and Lab 2<br>
		Homework 1 - Due October 3, 2019 at 11:59PM
	</td>
</tr>
<tr>
	<td>(2) September 30, 2019</td>
	<td>
		Equational Reasoning and High Order Functions
	</td>
	<td>
		<a href="https://lamport.azurewebsites.net/pubs/lamport-how-to-write.pdf" target="_blank">
			How to Write Proofs: a quick guide
		</a><br>
		<a href="http://matt.might.net/articles/higher-order-list-operations/" target="_blank">
			High-order list operations (Ignore Haskell Part)
		</a><br>
		<a href="https://docs.racket-lang.org/plait/lambda-tutorial.html" target="_blank">
			Anonymous Function Tutorial
		</a>
	</td>
	<td>
		Lab 3 and Lab 4<br>
		Homework 2 - Due October 10, 2019 at 11:59PM
	</td>
</tr>
<tr>
	<td>(3) October 7, 2019</td>
	<td>
		Number Representations
	</td>
	<td>
		<a href="https://en.wikipedia.org/wiki/Peano_axioms" target="_blank">
			Peano Axioms
		</a><br>
		<a href="https://www.tutorialspoint.com/computer_logical_organization/binary_arithmetic.htm" target="_blank">
			Binary Arithmetic
		</a>
	</td>
	<td>
		Lab 5 and Lab 6<br>
		Homework 3 - Due October 17, 2019 at 11:59PM<br>
		Quiz 1 Tuesday
	</td>
</tr>
<tr>
	<td>(4) October 14, 2019</td>
	<td>
		Boolean Logic
	</td>
	<td>
		<a href="https://www.people.vcu.edu/~rhammack/BookOfProof/" target="_blank">
		Chapter 2.1-2.6 from Book fo Proof
		</a>
	</td>
	<td>
		Lab 7 and Lab 8<br>
		Homework 4 - Due October 24, 2019 at 11:59PM
	</td>
</tr>
<tr>
	<td>(5) October 21, 2019</td>
	<td>
		Normal Forms and SAT Solvers
	</td>
	<td>
		<a href="https://www.msoos.org/2013/09/minisat-in-your-browser/" target="_blank">
		MiniSat in Browser</a><br>
		<a href="https://en.wikipedia.org/wiki/Boolean_satisfiability_problem" target="_blank">
		Boolean Satisfiability Problems</a>
	</td>
	<td>
		Lab 9 and Lab 10<br>
		Quiz 2 Tuesday
	</td>
</tr>
<tr>
	<td>(6) October 28, 2019</td>
	<td>
		<b>Midterm Tuesday</b><br>
		Natural Deduction (Part 1)
	</td>
	<td>
		<a href="http://proofs.openlogicproject.org" target="_blank">
		Deduction Proof Checker</a><br>
		<a href="https://www.people.vcu.edu/~rhammack/BookOfProof/" target="_blank">
			Chapter 4 from Book of Proof</a><br>
	</td>
	<td>
		
		Lab 11 Thursday<br>
		Homework 5 - Due November 7, 2019 at 11:59PM
	</td>
</tr>
<tr>
	<td>(7) November 4, 2019</td>
	<td>
		Natural Deduction (Part 2 and 3)
	</td>
	<td>
		<a href="https://www.people.vcu.edu/~rhammack/BookOfProof/" target="_blank">
			Chapter 6 from Book of Proof
		</a><br>
		<a href="https://courses.umass.edu/phil110-gmh/text/c05.pdf" target="_blank">
		Pages 142 to 183 of Symbolic Logic: A First Course</a><br>
	</td>
	<td>
		Lab 12 and 13<br>
		Homework 6 - Due November 14, 2019 at 11:59PM
	</td>
</tr>
<tr>
	<td>(8) November 11, 2019</td>
	<td>
		Predicate Logic
	</td>
	<td>
		<a href="https://www.people.vcu.edu/~rhammack/BookOfProof/" target="_blank">
		Chapter 2.6-2.12 from Book fo Proof (predicates)
		</a><br>
		<a href="ftp://ftp.sei.cmu.edu/pub/prp/models/Lectures/full/03%20Proof%201.pdf" target="_blank">
		Predicate Logic Slides from CMU
		</a>
	</td>
	<td>
		Lab 14 and Lab 15<br>
		Homework 7 - Due November 21, 2019 at 11:59PM<br>
		Quiz 3 Tuesday
	</td>
</tr>
<tr>
	<td>(9) November 18, 2019</td>
	<td>
		Proof By Induction
	</td>
	<td>
		<a href="https://www.people.vcu.edu/~rhammack/BookOfProof/" target="_blank">
			Chapter 10 from Book of Proof</a><br>
	</td>
	<td>
		Lab 16 and Lab 17<br>
		Homework 8 - Due December 5, 2019 at 11:59PM
	</td>
</tr>
<tr><td colspan="4"> (10) November 25, 2019 - Thanksgiving - No Classes</td></tr>
<tr>
	<td>(11) December 2, 2019</td>
	<td>
		Structural Induction
	</td>
	<td>
		&nbsp;
	</td>
	<td>
		Lab 18 and Lab 19<br>
		Quiz 4 Tuesday
	</td>
</tr>
<tr>
	<td>(11) December 9, 2019</td>
	<td colspan="3">
		Final Exam - December 12, 2019 8:00AM-10:00AM in Main Auditorium
	</td>
</tr>
</tbody>
</table>
