<h1>CS 171 Computer Programming I</h1>
<p><b>Term and Credits</b> <br />Winter 2020-2021<br />3 Credits</p>
<h2>Basic Course Information</h2>
<p><b>Lecture</b></p>
<table style="width: 918px;" border="1" align="left">
<tbody>
<tr>
<td style="width: 106px;">&nbsp;CS 171 - A&nbsp;</td>
<td style="width: 237px;">&nbsp;Monday 1:00 PM - 2:50 PM&nbsp;</td>
<td style="width: 207px;">Prof. Mark W. Boady</td>
<td style="width: 185px;">&nbsp;Remote Synchronous&nbsp;</td>
<td style="width: 181px;">&nbsp;Attendance Required&nbsp;</td>
</tr>
<tr>
<td style="width: 106px;">&nbsp;CS 171 - B</td>
<td style="width: 237px;">&nbsp;Monday 11:00 AM- 12:50 PM&nbsp;</td>
<td style="width: 207px;">Prof. Mark W. Boayd&nbsp;</td>
<td style="width: 185px;">&nbsp;Remote Synchronous&nbsp;</td>
<td style="width: 181px;">&nbsp;Attendance Required</td>
</tr>
<tr>
<td style="width: 106px;">
<p>&nbsp;CS 171 - C</p>
</td>
<td style="width: 237px;">Monday&nbsp; 9:00 AM - 10:50 AM</td>
<td style="width: 207px;">Prof. Adelaida A. Medlock</td>
<td style="width: 185px;">Remote Synchronous&nbsp;</td>
<td style="width: 181px;">&nbsp;Attendance Required</td>
</tr>
</tbody>
</table>
<p><strong><br /><br /><br /><br /><br /><br />Lecture Zoom links:</strong><br /><strong>Section A:</strong><br /><a data-auth="NotApplicable" rel="noopener noreferrer" target="_blank" href="https://drexel.zoom.us/j/82086100876">https://drexel.zoom.us/j/82086100876</a><br />Meeting ID: 820 8610 0876<br /><strong>Section B:</strong><br /><a data-auth="NotApplicable" rel="noopener noreferrer" target="_blank" href="https://drexel.zoom.us/j/86314043730">https://drexel.zoom.us/j/86314043730</a><br />Meeting ID: 863 1404 3730<br /><strong>Section C:</strong><br /><a data-auth="NotApplicable" rel="noopener noreferrer" target="_blank" href="https://drexel.zoom.us/j/84914425882">https://drexel.zoom.us/j/84914425882</a><br />Meeting ID: 849 1442 5882</p>
<p></p>
<pre><strong>Lab</strong> <br />Sections 060 - 083: Remote Asynchronous.<br />We will not have a traditional lab session. Instead Lab exercises will be assigned each week and will be due on Fridays.&nbsp;&nbsp;</pre>
<!-- Contact Information -->
<p><b><br />Instructors</b></p>
<pre>Prof. Adelaida Alban Medlock<br /><i>Electronic Mail Address:</i> <a href="mailto:aalban@drexel.edu">aalban@drexel.edu</a> <br /><i>Webpage:</i> <a href="http://www.cs.drexel.edu/~aalban/" target="_blank" rel="noopener">http://www.cs.drexel.edu/~aalban/</a> <br /><i>Office Hours:</i> Tuesdays 3:00 - 5:00 PM, via Zoom
</pre>
<pre class="p1" style="padding-left: 40px;">Join Zoom Meeting<br /><a href="https://drexel.zoom.us/j/82951295842">https://drexel.zoom.us/j/82951295842</a><br />Meeting ID: 829 5129 5842</pre>
<pre style="margin-left: 30px;"></pre>
<p></p>
<pre>Prof. Mark W.&nbsp; Boady<br /><i>Electronic Mail Address:</i> <a href="mailto:mwb33@drexel.edu%20">mwb33@drexel.edu</a> <br /><i>Webpage:</i><a href="https://www.cs.drexel.edu/~mwb33/"> http://www.cs.drexel.edu/~mwb33/</a> <br /><i>Office Hours:</i> 2-3PM Tuesday and 3-5PM Wednesday<br />Message me in Slack, Zoom link will be shared over Slack.</pre>
<p></p>
<p><b>Teaching Assistants</b></p>
<!--<ul>
<li>Fname LName (Assignment)</li>
</ul> -->
<p>Eden Fry, Jessica Jha, Caitlyn Yergey, Jane Ha, Harshwardhan Pande, Jashanpreet Singh, Sahithi Pisupati, Sarthak Patel, Tyler Le, Uzair Vawda</p>
<p><b>Office Hours</b>: will be conducted via Slack and Zoom -- see details in the Faculty Information Page<br /><b>Office Hours Schedule</b>: <a href="https://www.cs.drexel.edu/clc" target="_blank" rel="noopener"> https://www.cs.drexel.edu/clc </a> <br /><b>Contact Info:</b>&nbsp;can be found under the Faculty Information section of Bb&nbsp;Learn<br />Contact your TA through <i>Slack</i> for Course Related Questions.</p>
<p><br /><b>CS Dept. Phone</b>: (215) 895-2669<br /><b>CS Dept. Fax</b>: (215) 895-0545<br /><b>CS Dept. Location</b>: 3675 Market Room 1171-A</p>
<!-- End Contact Information --><hr />
<h2>Course Description and Objectives</h2>
<p><b>Course Description</b></p>
<p>Introduces fundamental concepts of computing including memory, instructions, function calls, and activation records. Covers fundamentals of structured computer programming in the language of instruction: variables, input and output, expressions, assignment statements, conditionals and branching, subprograms, parameter passing, repetition, arrays, top-down design, testing, and debugging.</p>
<p><b>Course Goals</b></p>
<p>The goal of this course is for students completing it to be competent programmers, able to write working Python program on their own using appropriate constructs when presented with a problem description.</p>
<p><b>Course Objective</b></p>
<ol>
<li>Trace execution of a Python program containing assignment statements, strings, conditionals, file input/output, functions, and loops.</li>
<li>Determine appropriate code constructs and design a Python program using them to satisfy problem description.</li>
<li>Write appropriately styled Python code and documentation for programs using assignment statements, strings, conditionals, file input/output, functions, and loops.</li>
<li>Detect and correct syntax errors in Python programs containing assignment statements, strings, conditionals, file input/output, functions, and loops.</li>
<li>Detect and correct logic errors in Python programs containing assignment statements, strings, conditionals, functions, and loops.</li>
<li>Communicate and solve problems effectively as a member of a team</li>
</ol>
<p><b>Audience and Purpose within Plan of Study</b></p>
<p>This course is open to all student's interesting in Programming and Computer Science.</p>
<p>This course is the first in a two-term sequence of computer programming courses in Python (CS 171-172) and is a required course for students majoring in computer science, mathematics, physics, information systems, and digital media. It is also a required course for students pursuing a minor in computer science. The goal is for students completing this sequence to be competent programmers, able to write working Python program on their own using appropriate constructs when presented with a problem description.</p>
<p><b>Prerequisites</b><br />None.<br /><br />While there are no formal prerequisites for the course, students are expected to be computer literate. Prior programming experience is not required, but is definitely helpful.</p>
<hr />
<h2>Required Textbook and Software</h2>
<p><b>Textbook</b></p>
<p><b>Title:</b> Programming in Python 3 with zyLabs<br /><b>Edition:</b> Drexel University CS 171: Computer Programming I Winter 2021&nbsp;<br /><b>Author:</b> Bailey Miller <br /><b>ISBN-13:</b> 978-1-394-07032-9<br /><b>Buy:</b> <a href="https://www.zybooks.com" target="_blank" rel="noopener">zyBooks.com</a> <br /><b>Copyright: </b>2014, 2015, 2016, 2018 , 2019, 2020&nbsp;Zyante Inc. (zyBooks.com) <br /><b>Price:</b> $77.00</p>
<p>In order to acquire the book you will need to follow these steps:</p>
<ol>
<li>Sign up at https://www.zybooks.com</li>
<li>Enter zyBook code <b>DREXELCS171Winter2021</b></li>
<li>Click Subscribe</li>
</ol>
<p>Students may begin subscribing on December 28, 2020 and the cutoff to subscribe is March 16, 2021. Subscriptions will last until April 4, 2021.</p>
<p><span style="color: #ff0000;"><strong>NOTE</strong></span>: We recommend&nbsp;that if possible,&nbsp;you purchase the book directly from ZyBooks.com as the bookstore has a different (higher) price to the textbook.&nbsp;</p>
<hr />
<p><b>Software and Hardware Requirements</b></p>
<p>All Drexel students are required to have individual access to a dedicated personal computer which meets minimum specifications, including: processor speed, memory and secondary storage requirements, and connectivity to campus network. Please see <a href="https://drexel.edu/cci/admissions/graduate-professional-development/admissions-information-and-requirements/computer-requirements-and-skills/" target="_blank" rel="noopener">https://drexel.edu/cci/admissions/graduate-professional-development/admissions-information-and-requirements/computer-requirements-and-skills/</a> for further information.</p>
<p>The official language used for this course is Python 3. It is available for free at <a href="https://www.python.org" target="_blank" rel="noopener">https://www.python.org</a>.</p>
<p><b>Required Software</b></p>
<ol>
<li>Thonny Python IDE: <a href="https://thonny.org/" target="_blank" rel="noopener">https://thonny.org/</a></li>
<li>Slack - Use your Drexel Email Address to sign up. Sign up&nbsp;<a href="https://join.slack.com/t/cs171winter2020/signup" target="_blank" rel="noopener">https://join.slack.com/t/cs171winter2020/signup</a></li>
</ol>
<p><b>Blackboard Learn</b><br />This course is operating with the Drexel BlackBoard Learn (Learn) Course Management System, which allows electronic submission of assignments, quizzes, and lab exercises, and threaded discussion groups. You can access the Drexel Learn course website from the Drexel portal <a href="http://one.drexel.edu/" target="_blank" rel="noopener">http://one.drexel.edu/</a>. You can also access Drexel Learn from the following page <a href="https://learn.dcollege.net/" target="_blank" rel="noopener">https://learn.dcollege.net/</a>.</p>
<p><b>&nbsp;</b></p>
<hr />
<h2>Grade Computation</h2>
<table border="1">
<tbody>
<tr>
<th>&nbsp;Attendance and Participation&nbsp;</th>
<td>&nbsp; 5%&nbsp;</td>
</tr>
<tr>
<th>&nbsp;Labs</th>
<td>&nbsp;10%&nbsp;</td>
</tr>
<tr>
<th>&nbsp;Homework</th>
<td>&nbsp;10%&nbsp;&nbsp;</td>
</tr>
<tr>
<th>&nbsp;Readings</th>
<td>&nbsp;10%&nbsp;</td>
</tr>
<tr>
<th>&nbsp;Quizzes</th>
<td>&nbsp;15%&nbsp;</td>
</tr>
<tr>
<th>&nbsp;Midterm</th>
<td>&nbsp;25%&nbsp;</td>
</tr>
<tr>
<th>&nbsp;Final Exam</th>
<td>&nbsp;25%&nbsp;</td>
</tr>
</tbody>
</table>
<p></p>
<p>Final grades will be determined by your total points weighted according to this distribution. Grades may be curved but are generally computed via the formula below. It may be modified at the instructor's sole discretion, but letter grades will generally not be lower than those shown here.</p>
<p><b>Grading Scale</b></p>
<table border="1">
<tbody>
<tr>
<td><b>&nbsp;A+&nbsp;&nbsp;</b></td>
<td>&nbsp;97-100</td>
</tr>
<tr>
<td><b>&nbsp;A</b></td>
<td>&nbsp;93-96.99&nbsp;</td>
</tr>
<tr>
<td><b>&nbsp;A-</b></td>
<td>&nbsp;90-92.99</td>
</tr>
<tr>
<td><b>&nbsp;B+</b></td>
<td>&nbsp;87-89.99</td>
</tr>
<tr>
<td><b>&nbsp;B</b></td>
<td>&nbsp;83-86.99</td>
</tr>
<tr>
<td><b>&nbsp;B-</b></td>
<td>&nbsp;80-82.99</td>
</tr>
<tr>
<td><b>&nbsp;C+</b></td>
<td>&nbsp;77-79.99</td>
</tr>
<tr>
<td><b>&nbsp;C</b></td>
<td>&nbsp;73-76.99</td>
</tr>
<tr>
<td><b>&nbsp;C-</b></td>
<td>&nbsp;70-72.99</td>
</tr>
<tr>
<td><b>&nbsp;D+</b></td>
<td>&nbsp;67-69.99</td>
</tr>
<tr>
<td><b>&nbsp;D</b></td>
<td>&nbsp;60-66.99</td>
</tr>
<tr>
<td><b>&nbsp;F</b></td>
<td>&nbsp;0-59.99</td>
</tr>
</tbody>
</table>
<hr />
<h2>Grading Policies</h2>
<p><b style="font-family: inherit; font-style: inherit;">Attendance</b></p>
<ul>
<li>Lectures will include interactive sections / polls.</li>
<li>You will be graded on participation in the interactive section.</li>
<li>It does not matter if your answers are right/wrong, only that you attempted the questions.</li>
</ul>
<p><b style="font-family: inherit; font-style: inherit;">Readings</b></p>
<ul>
<li>Each week sections of the ZyBooks online textbook will be assigned.</li>
<li>You are required to complete all <b>Participation Activity</b> and <b>Challenge Activity</b> questions in the assigned readings.</li>
<li>You must purchase a ZyBooks subscription to complete reading assignments.</li>
<li>Each Student is required to have their own ZyBooks account.</li>
<li>Late Submissions will not be accepted for Readings.</li>
</ul>
<p><b>Homework</b></p>
<ul>
<li>Most weeks Homework will be assigned.</li>
<!--
<li>Homeworks consist of an additional section in ZyBooks with Programming problems.</li>
<li>You must purchase a ZyBooks subscription to complete homeworks.</li>
<li>Each Student is required to have their own ZyBooks account.</li>
<li>If you feel ZyBooks has graded your homework code incorrectly, you may request a TA review the grade. You must request a review within 1 week of the Homework&#039;s due date.</li>
-->
<li>Late Submissions will not be accepted for Homeworks.</li>
</ul>
<p><b></b><b style="font-family: inherit; font-style: inherit;">Labs</b></p>
<ul>
<li>You will work and collaborate with a lab partner</li>
<li>Labs will be posted in Bb Learn.</li>
<li>Late Submissions will not be accepted for Labs</li>
</ul>
<p><b>Quizzes/Midterm/Final</b></p>
<ul>
<li>Quizzes and Exams will be given online&nbsp;via Bb&nbsp;Learn</li>
<li>All tests will have a fixed time limit.</li>
<li>Final Exam will be given during finals week.</li>
</ul>
<p><b>Special Circumstances</b></p>
<p>If you have a documented reason why you cannot submit any work by the cut-off deadline, a special exception may be made. The Professor may also wave the late submission policy for documented special exceptions. Special Exceptions <b>must</b> be approved by the Professor.</p>
<p><b>Additional Policies</b></p>
<ul>
<li>You, your instructor, and the TA are bound by the Academic Honesty policy. Students are responsible for reading and understanding the course policies in this syllabus and for announcements made in class and in the course discussion board. See the academic policy linked to in this syllabus.</li>
<li>Any dispute about an assignment grade must be made and resolved within 5 days of receiving your grade. After this period your grade cannot be adjusted.</li>
<li>If you are seeking help with an assignment you must contact the Professor or a TA prior to Friday close-of-business hours. We cannot guarantee a timely response on nights and weekends. This policy is to ensure that you get started early on your assignments.</li>
<li>Your lowest reading, homework, and lab grades will be dropped from the grade calculation at the end of the term.</li>
</ul>
<p><b>Plagiarism Detection System</b></p>
<p>To ensure that assignments are done independently, in addition to human observation, we will be running all assignments through a plagiarism detection system. This program uses compiler techniques which are invariant of syntax and style. It has a very high accuracy rate.</p>
<hr />
<h2>Academic Honesty Policy</h2>
<p>The university's Academic Honesty policy is in effect for this course. This policy is available in the Student's Handbook <a href="https://drexel.edu/studentlife/community_standards/code-of-conduct/" target="new">https://drexel.edu/studentlife/community_standards/code-of-conduct/</a>. Please also read the following information from the Provost Office: <a href="https://drexel.edu/provost/policies/academic-integrity/" target="new">https://drexel.edu/provost/policies/academic-integrity/</a></p>
<p><b>You must be the sole original author of all assignments and examination solutions in their entirety</b>, unless the instructor explicitly instructs you otherwise in written directions on an assignment or exam. <b>Except where specifically assigned, collaborative work is a violation of academic honesty in this course</b>. You are not to examine, share, or use code/written solutions belonging to someone else, nor may you let anyone else examine or copy your code/written solutions.</p>
<p>Students found in violation of the Academic Honesty policy will receive no credit for the questionable assignment or exam, a half letter grade reduction on the final grade for the course (on the first occurrence), a whole letter grade reduction on each subsequent occurrence(s), and/or will possibly receive a failing grade for the course. In addition, a Drexel University Alleged Academic Misconduct Report will be filed for each occurrence of Academic Dishonesty.</p>
<p>If you are suspected of academic dishonesty, a note will be placed in the BB Learn course site and you will be required to communicate with the course instructor within 72 hours indicating your response to the suspected violation.</p>
<p>Students having difficulty fulfilling the requirements for an assignment without outside help are to seek assistance from a teaching assistant or instructor, <i><b>not</b></i> from another student or knowledgeable person.</p>
<p>It is your responsibility to avoid violating the university's policy. If you are unclear as to what the policy means in a particular situation, ask the instructor for clarification before you hand anything in.</p>
<p>See the examples below for clarification of this policy.</p>
<h4>Examples</h4>
<p>The following are acceptable:</p>
<ul>
<li>Using code provided in lecture or the course slides: include comments that cite the source.</li>
<li>Using code provided in the class textbook: include comments that cite the source.</li>
<li>Code developed jointly with instructor or teaching assistants assigned to this course: include comments to clarify that this is the case.</li>
<li>Discussing algorithms or possible approaches to writing your program, <b>WITHOUT</b> discussing particulars of the code.</li>
<li>Discussing how to resolve errors, <b>WITHOUT</b> discussing particulars of the code.</li>
</ul>
<p>These are <b>NOT</b> acceptable:</p>
<ul>
<li>You borrow a printed or electronic copy of a friend's assignment, and use it for "inspiration".</li>
<li>You give a printed or electronic copy of your assignment to somebody else.</li>
<li>You let someone else view the solution to any part of your assignment.</li>
<li>You "find" a printed copy of somebody's program in the trash, on a lab machine, on their hard drive, etc., and use it for "inspiration".</li>
<li>You pay a "tutor" who writes the assignment for you.</li>
<li>You and a friend together write one assignment, then create separate modifications to be handed in.</li>
<li>You and a friend write certain portions of the assignment individually, but collaborate on other portions of the assignment.</li>
<li>You Google the solution to the assignment and submit what you find as your own work.</li>
<li>You use an online service (e.g. Chegg, CourseHero, StackOverflow, etc.)&nbsp;to obtain the solution to any part of the assignment, quiz, or exam.</li>
</ul>
<hr />
<h2>Additional Course Policies</h2>
<p><b>Computer/Software Help</b><br />CCI Commons (3675 Market #1067): <a href="https://drexel.edu/cci/current-students/icommons/" target="_blank" rel="noopener"> https://drexel.edu/cci/current-students/icommons/</a></p>
<p><b>Students Accommodations</b></p>
<p>Students requesting accommodations due to a disability at Drexel University need to request a current Accommodations Verification Letter (AVL) in the ClockWork database before accommodations can be made. These requests are received by Disability Resources (DR), who then issues the AVL to the appropriate contacts. For additional information, visit the DR website at <a href="https://drexel.edu/oed/disabilityResources/students/" target="new"> https://drexel.edu/oed/disabilityResources/students/</a>, or contact DR for more information by phone at 215-895-1401, or by email at <a href="mailto:disability@drexel.edu">disability@drexel.edu </a></p>
<hr />
<h2>Other important Academic Policies</h2>
<p>In addition to the course policies listed on this syllabus, course assignments or course website, the following University policies are in effect:</p>
<ul>
<li>Academic Integrity: <a href="https://drexel.edu/provost/policies/academic-integrity/" target="_blank" rel="noopener"> https://drexel.edu/provost/policies/academic-integrity/</a></li>
<li>Official Final Exam Schedule: <a href="http://www.drexel.edu/registrar/scheduling/exams/" target="_blank" rel="noopener"> http://www.drexel.edu/registrar/scheduling/exams/</a></li>
<li>Students with Disability Statement: <a href="http://drexel.edu/oed/disabilityResources/students/" target="_blank" rel="noopener"> http://drexel.edu/oed/disabilityResources/students/</a></li>
<li>Course Drop Policy: <a href="http://www.drexel.edu/provost/policies/course-add-drop" target="_blank" rel="noopener"> http://www.drexel.edu/provost/policies/course-add-drop</a></li>
<li>Course Withdraw Policy: <a href="http://drexel.edu/provost/policies/course-withdrawal" target="_blank" rel="noopener"> http://drexel.edu/provost/policies/course-withdrawal</a></li>
<li>The instructor may, at his/her/their discretion, change any part of the course during the term, including assignments, grade breakdowns, due-dates, and the schedule. Such changes will be communicated to students via the course web site Announcements page. This page should be checked regularly and frequently for such changes and announcements. Other announcements, although rare, may include class cancellations and other urgent announcements.</li>
</ul>
<p><b>Class Disruption Policies</b></p>
<p>According to the student handbook (Code of Conduct section), <b>Disorderly Conduct</b> is defined as behavior that disturbs academic study:</p>
<p>Behavior that disturbs the peace, academic study, or sleep of others both on or off campus is prohibited. Examples of disorderly conduct as it pertains to class/research settings includes, but is not limited to the following:</p>
<ul>
<li>Excessively leaving and entering a classroom without authorization.</li>
<li>Making loud or distracting noises.</li>
<li>Persistently speaking without being recognized such that it interferes with the learning environment.</li>
<li>Repeatedly dominating online discussion boards or forums such that it interferes with the learning environment.</li>
<li>Resorting to personal insults.</li>
</ul>
<p>Students are responsible to comply with a reasonable request from a professor, instructor, or other University official regarding appropriate behavior.</p>
<p>Students disrupting online&nbsp;office hours&nbsp;will be asked to stop the disruptive behavior. If they do not stop, the student will be asked to leave the online session, and a formal complaint will be filed with the Office of Student Conduct and Community Standards.</p>
<hr />
<h2>Statement on Recording Lectures</h2>
<p><b>Appropriate Use of Course Materials</b></p>
<p>It is important to recognize that some or all of the course materials provided to you are the intellectual property of Drexel University, the course instructor, or others. Use of this intellectual property is governed by Drexel University policies, including the IT-1 policy found at: <a href="https://drexel.edu/it/about/policies/policies/01-Acceptable-Use/" target="_blank" rel="noopener">https://drexel.edu/it/about/policies/policies/01-Acceptable-Use/</a></p>
<p>Briefly, this policy states that all course materials including recordings provided by the given prior written approval by the University. Doing so may be considered a breach of this policy and will be investigated and addressed as possible academic dishonesty, among other potential violations. Improper use of such materials may also constitute a violation of the University&rsquo;s Code of Conduct found at: <a href="https://drexel.edu/cpo/policies/cpo-1/" target="_blank" rel="noopener"> https://drexel.edu/cpo/policies/cpo-1/ </a>and will be investigated as such.</p>
<p><b>Recording of Class Activities:</b></p>
<p>In general, students and others should not record course interactions and course activities in lecture, lab, studio or recitation.</p>
<p>Students who have an approved accommodation from the Office of Disability Resources to record online lectures and discussions for note taking purposes should inform their course instructor(s) of their approved accommodation in advance. The recording of lectures and discussions may only be carried out by the students enrolled in the class who have an approved accommodation from Disability Resources with their instructors&rsquo; prior knowledge and consent. Students with approved accommodations may be asked to turn off their recorder if confidential or personal information is presented.</p>
<p>If a student has any comments, concerns, or questions about provided class materials and/ or recording, talk to your course instructor first. If this does not resolve the issue, you can also reach out to the Department Head, and use the process described for a grade appeal to move your concern forward. The process described for grade appeals can be found at: <a href="https://drexel.edu/provost/policies/grade-appeals/" target="_blank" rel="noopener"> https://drexel.edu/provost/policies/grade-appeals/</a></p>


<p><b>Tentative Course Schedule</b></p>
<p>Please see the appropriate assignment webpages for a detailed description of course deliverables.</p>
<p>Schedule Subject to change at any time.</p>
<p><strong>Note</strong>: All due dates and times are on Eastern Time Zone.</p>
<table border="1">
<thead>
<tr>
<th colspan="5">CS 171 Winter 2020 - 2021 Schedule</th>
</tr>
<tr>
<th>Week</th>
<th>Topics</th>
<th>Reading</th>
<th>Lab</th>
<th>Notes</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align: center;">1 (1/11/2021)</td>
<td>Syllabus Review <br />Introduction to Python</td>
<td>ZyBooks 1.1-1.13 <br />ZyBooks 2.1-2.13</td>
<td><strong>Lab 1</strong> <br /><em>Due Friday 1/15/21 11:59PM </em></td>
<td><b>Week 1 Reading</b> <br /><em>Due Sunday 1/17/21 11:59PM</em> <br /><br /><b>Homework 1</b> <br /><em>Due Thursday 1/21/21 11:59PM</em></td>
</tr>
<tr>
<td style="text-align: center;">2 (2/18/2021) <br />MLK Jr. Day (Monday)</td>
<td>Arithmetic Expressions</td>
<td>ZyBooks 4.1-4.7</td>
<td><strong>Lab 2</strong> <br /><em>Due Friday 1/22/21 11:59PM</em></td>
<td><b>Week 2 Reading</b> <br /><em>Due Sunday 1/24/21 11:59PM</em> <br /><br /><b>Homework 2</b> <br /><em>Due Thursday 1/28/21 11:59PM</em></td>
</tr>
<tr>
<td style="text-align: center;">3 (1/25/2021)</td>
<td>Data Types</td>
<td>ZyBooks 6.1-6.8</td>
<td><strong>Lab 3</strong> <br /><em>Due Friday 1/29/21 11:59PM</em></td>
<td><b>Week 3 Reading</b> <br /><i>Due Sunday 1/31/21 11:59PM</i> <br /><br /><strong>Quiz 1</strong> <br />(covers weeks 1 and 2) <br /><em>Due Wednesday 1/27/21 11:59 PM</em> <br /><br /><b>Homework 3</b> <br /><em>Due Thursday 2/4/21 11:59PM</em></td>
</tr>
<tr>
<td style="text-align: center;">4 (2/1/2021)</td>
<td>Branching</td>
<td>ZyBooks 8.1 - 8.14</td>
<td><b>Lab 4</b> <br /><em>Due Friday 2/5/21 11:59PM</em></td>
<td><b>Week 4 Reading</b> <br /><em>Due Sunday 2/7/21 11:59PM</em> <br /><br /><b>Homework 4</b> <br /><em>Due Thursday 2/11/21 11:59PM<em> </em></em></td>
</tr>
<tr>
<td style="text-align: center;">5 (2/8/2021)</td>
<td>Loops and Iteration</td>
<td>ZyBooks 10.1 - 10.17</td>
<td><b>Lab 5</b> <br /><em>Due Friday 2/12/21 11:59PM</em></td>
<td><b>Week 5 Reading</b> <br /><i>Due Sunday 2/14/21 11:59PM</i> <br /><br /><b>Quiz 2</b> <br />(covers weeks 3 and 4) <br /><em>Due Wednesday 2/10/21 11:59PM</em> <br /><br /><b>Homework 5</b> <br /><em>Due Thursday 2/18/21 11:59PM</em></td>
</tr>
<tr>
<td style="text-align: center;">6 (2/15/2021)</td>
<td>Functions</td>
<td>ZyBooks 12.1-12.18</td>
<td><b>Lab 6</b> <br /><em>Due Friday 2/19/21 11:59PM</em></td>
<td><b>Week 6 Reading</b> <br /><i>Due Sunday 2/21/21 11:59PM</i> <br /><br /><b>Homework 6</b> <br /><em>Due Thursday 2/25/21 11:59PM</em></td>
</tr>
<tr>
<td style="text-align: center;">7 (2/22/2021)</td>
<td>Exceptions<br />Files<br />Modules</td>
<td>ZyBooks 14.1-14.16</td>
<td colspan="1" style="text-align: center;"><span style="color: #ff0000;"> <strong> Midterm Exam <br /><em>Wednesday 2/24/2021 due by 11:59PM</em> </strong> <br /><br /><span style="color: #ff0000;"> Covers weeks 1 - 6 </span> </span></td>
<td><b>Week 7 Reading</b> <br /><i>Due Sunday 2/28/21 11:59PM</i> <br /><br /><b>Homework 7</b> <br /><em>Due Thursday 3/4/21 11:59PM</em></td>
</tr>
<tr>
<td style="text-align: center;">8 (3/1/2021)</td>
<td>Recursion<br />Linear Search<br />Binary Search</td>
<td>ZyBooks 16.1-16.12</td>
<td><b>Lab 8 [No Lab 7]</b> <br /><em>Due Friday 3/5/21 11:59PM</em></td>
<td><b>Week 8 Reading</b> <br /><em>Due Sunday 3/7/21 11:59PM</em> <br /><br /><b>Homework 8</b> <br /><em>Due Thursday 3/11/21 11:59PM</em></td>
</tr>
<tr>
<td style="text-align: center;">9 (3/8/2021)</td>
<td>Sorting Algorithms</td>
<td>ZyBooks 18.1-18.7</td>
<td><b>Lab 9</b> <br /><i>Due Friday 3/12/21 11:59PM</i></td>
<td><b>Week 9 Reading</b> <br /><em>Due Sunday 3/14/21 11:59PM</em> <br /><br /><b>Quiz 3</b> <br />(covers weeks 7 and 8) <br /><em>Due Wednesday 3/10/21 11:59PM</em></td>
</tr>
<tr>
<td style="text-align: center;">10 (3/15/2021)</td>
<td colspan="4"><span style="color: #ff0000;"> <strong> Final Exam <br />March 15, 2021 1PM-3PM EST </strong> </span> <br /><br /><span style="color: #ff0000;"> Final Exam Covers all Material Weeks 1 - 10 </span></td>
</tr>
</tbody>
</table>
