<p></p>
	<!-- Basic Intro -->
	<h1>
        CS 502 Data Structures and Algorithms
    </h1>
	<p><b>Term and Credits</b></p>
		<p>
			Winter 2021-2022	<br />
			3 Credits
		</p>
	<p><b>Room and Time</b></p>
		<p>
			<i>While we are online only:</i><br/>
			Lecture recording will be posted in BBlearn. Class time will be used for additional office hours. Extra Office Hours will be held 6:30-7:30PM and 8:30-9:20PM in Zoom/Discord.
		</p>
		<p>
			<i>Once In-Person Sections Return:</i><br/>
			Room 1052 in 3675 Market Street on Tuesdays from 6:30PM-9:20PM. Lecture will be streamed on Zoom and also Echo 360. Recordings will be made available using Echo 360.
		</p>
	<p><b>Instructor</b></p>
	<p>
		Mark Boady<br />
		<i>Electronic Mail Address:</i>
		<a href="mailto:mwb33@drexel.edu">mwb33@drexel.edu</a><br />
		<i>Office:</i> 3675 Market Street Room 1058 (Next to Snack Machine)<br />
		<i>Extension:</i> 215-895-2347 [Not Available During COVID]<br />
		<i>Office Hours:</i>
			Tuesday 4-6PM<br>
            If you want to meet in Zoom, send a Discord message <i>first</i>. This helps me ensure both in-person and online students get attention. I need to close Zoom when I am helping a student in person.
	</p>
	<p><b>Teaching Assistant(s)</b></p>
	<p>
		Reza Moradinezhad<br />
		<i>Electronic Mail Address:</i>
		<a href="mailto:rm976@drexel.edu">
            rm976@drexel.edu
        </a><br />
		<i>CLC Website:</i>
		<a href="https://www.cs.drexel.edu/clc" target="_blank">https://www.cs.drexel.edu/clc</a><br />
		<i>Office:</i> Room 1066 of 3675 Market Street<br />
		<i>Office Hours:</i>
			Monday 4PM-6PM in the CLC<br>
            [While Classes Are Online Only, Office hours will be in Zoom/Discord]
	</p>
	<p>
		Jennifer Engimann<br />
		<i>Electronic Mail Address:</i>
		<a href="mailto:jae63@drexel.edu">
            jae63@drexel.edu
        </a><br />
		<i>CLC Website:</i>
		<a href="https://www.cs.drexel.edu/clc" target="_blank">https://www.cs.drexel.edu/clc</a><br />
		<i>Office:</i> Online in Zoom/Discord<br />
		<i>Office Hours:</i>
			Thursday 6PM-8PM online
	</p>
	<p>
		Andrew McDonald<br />
		<i>Electronic Mail Address:</i>
		<a href="mailto:awm32@drexel.edu">
            awm32@drexel.edu
        </a><br />
		<i>CLC Website:</i>
		<a href="https://www.cs.drexel.edu/clc" target="_blank">https://www.cs.drexel.edu/clc</a><br />
		<i>Office:</i> Online in Zoom/Discord<br />
		<i>Office Hours:</i>
			Wednesday 6PM-8PM online
	</p>
   
	
	<!-- Description Stuff -->
	<p><b>Course Description</b></p>
	<p>An introduction to classical algorithms with a focus on implementation and applications. Covers both analysis and implementation of algorithms. Algorithms include searching, sorting, and shortest path. Data Structures and their analysis is also covered. Data Structures include trees and graphs.</p>

	<p><b>Course Objective and Goals</b></p>
		<ol>
			<li>Learn to analyze the running time of iterative and recursive algorithms.</li>
			<li>Learn to analyze the running time of data structures.</li>
			<li>Gain familiarity with basic data structures and algorithms related to them, such as trees and graphs.</li>
			<li>Learn various applications of algorithms and data structures.</li>
			<li>Learn to choose the correct data structure to efficiently solve problems.</li>
			<li>Learn the basic theoretical foundations of computation.</li>
		</ol>
    <p><b>Topics</b></p>
        <ol>
            <li>Algorithm Fundamentals</li>
            <li>Recursion</li>
            <li>Searching and Sorting</li>
            <li>Fundamentals of Simple Data Structures( lists, trees, graphs)</li>
            <li>Intro to algorithm analysis and order of growth</li>
            <li>Intro to algorithms in distributed systems.</li>
        </ol>
	<p><b>Audience and Purpose within Plan of Study</b></p>
		<p>This course is for graduate students with little prior knowledge of data structures and algorithms. It serves to give such students a firm foundation for future graduate study, and it is a requirement of the Computer Science Minor and Computer Science Post Bachelor Certificate degree programs.</p>
	<p><b>Prerequisites</b><br />
		CS570 or CS501 is a required co/prerequisites.
	</p>
	<p><b>What Students Should Know Prior to this Course</b></p>
	<ol>
		<li>Basic Computer Usage Skills.</li>
		<li>Some experience with programming is strongly recommended.</li>
		<li>The following concepts from mathematics will be important in class. You can review the below links for more information.
		<ol>
			<li><a href="http://www.columbia.edu/itc/sipa/math/summation.html" target="_blank">Summation Notation</a></li>
			<li><a href="https://www.purplemath.com/modules/exponent.htm" target="_blank">Exponents</a></li>
			<li><a href="https://www.purplemath.com/modules/logrules.htm" target="_blank">Logarithms</a></li>
			<li><a href="http://tutorial.math.lamar.edu/Classes/Alg/Polynomials.aspx" target="_blank">Polynomial Expressions</a></li>
			<li><a href="https://mathbitsnotebook.com/Algebra1/Functions/FNSequenceFunctionsRecursive.html" target="_blank">Recursive Formulas</a></li>
		</ol>
		</li>
	</ol>
	<p><b>What Students will be able to do upon Successfully Completing this Course:</b></p>
		<ol>
			<li>Students will be able to analyze algorithms.</li>
			<li>Students will understand a set of fundamental algorithms and how to apply them.</li>
			<li>Students will understand fundamental data structures and when to use each.</li>
			<li>Students will be able to explain why algorithms are efficient and correct solutions to problems.</li>
			<li>Students will be able to determine the applications and limits of data structures and algorithms.</li>
			<li>Students will understand how complex computation is built from simple components.</li>
	</ol>
	<p><b>Textbook</b></p>
	<p><b>Algorithms (The MIT Press Essential Knowledge series)</b><br/>
     Author: Panos Louridas <br />
     Published: August 18, 2020 <br />
     ISBN-10: 0262539020 <br />
     ISBN-13: 978-0262539029 <br />
  <a href="https://drexel.primo.exlibrisgroup.com/permalink/01DRXU_INST/7nf6pv/cdi_askewsholts_vlebooks_9780262358675">Read Free from Drexel Library</a><br/>
     <a href="https://www.amazon.com/Algorithms-MIT-Press-Essential-Knowledge/dp/0262539020/ref=sr_1_1?crid=3LBKN6V6685G2&dchild=1&keywords=mit+essential+knowledge+algorithm&qid=1600201375&s=books&sprefix=MIT+Esse%2Cstripbooks%2C142&sr=1-1" target="_blank">Buy from Amazon</a>
     </p>
     <p><b>Algorithms Unlocked</b><br/>
     Author: Thomas H. Cormen <br/>
     Published: March 1, 2013 <br/>
     ISBN-10: 0262518805 <br/>
     ISBN-13: 978-0262518802<br />
    <a href="https://drexel.primo.exlibrisgroup.com/permalink/01DRXU_INST/7nf6pv/cdi_skillsoft_books24x7_bks00053249" target="_blank">Read Free from Drexel Library</a>
    <br/>
     <a href="https://www.amazon.com/gp/product/0262518805?pf_rd_r=7RQMJ232G6RTG1V6S84S&pf_rd_p=edaba0ee-c2fe-4124-9f5d-b31d6b1bfbee" target="_blank">Buy from Amazon</a>
     </p>
 
    <p><b>Optional Supplement</b></p>
    <i>If you want a more detailed textbook, we recommend The Algorithm Design Manual. It is <b>not</b> required.</i><br/>
	<p>
		The Algorithm Design Manual (Second Edition)
		<br />
		Author: Steven S. Skiena
		<br />
        Published: April 27, 2011
        <br />
		ISBN-13: 978-1848000698
		<br />
		ISBN-10: 1848000693<br />
		<a href="https://www.amazon.com/exec/obidos/ASIN/1848000693/thealgorith01-20" target="_blank">See it on Amazon</a>
	</p>
    
	<!--- Course Material Components -->
	<h2>Course Material</h2>
	<p><b>Lectures/Readings</b><p>
	<ul>
		<li>Recorded videos will be posted for each lecture in <a href="https://learning.drexel.edu" target="_blank">learning.drexel.edu</a></li>
		<li>Extended Lecture notes will be provided in conjunction with some lectures.</li>
		<li>If Class in Run in Person: Lectures will be held in the Classroom. They will be streamed using Zoom and Echo 360. A recording will be posted in the Echo 360 Section of BBLearn.</li>
		<li>If Class in Run Online: lectures will be pre-recorded and posted in BBLearn. Class time will be used for additional office hours.</li>
	</ul>
	<p><b>Homework Assignments</b></p>
	<ul>
		<li>Homework will contain both written and programming questions.</li>
		<li>Homework will be submitted using learn.drexel.edu</li>
		<li>Homework Assignments are due on Thursdays at 11:59PM</li>
		<li>Homework Assignments are to be completed individually.</li>
	</ul>
	<p><b>Blogs</b></p>
	<ul>
		<li>Each week with have a reading and blog reflection.</li>
		<li>Blogs are due on Friday at 11:59PM.</li>
        <li>You must comment on two other student's blogs by the Sunday at 11:59PM</li>
	</ul>
	<p><b>Research Papers</b><p>
	<ul>
		<li>Students will complete two research papers.</li>
		<li>Midterm RP: Due Friday 11:59PM of week 6.</li>
		<li>Final RP: Due Friday 11:59PM of Finals Week.</li>
		<li>Research Papers are to be completed individually.</li>
	</ul>
	<p><b>Discord Channel</b></p>
	<ul>
		<li>This term, we will be using a Discord channel instead of a discussion board.</li>
		<li>Your account will be created by Drexel CCI during the first week of classes. Instructions will be provided by Drexel CCI.
		</li>
		<li>If you have any problems with your Discord account please email <a href="mailto:ihelp@drexel.edu">ihelp@drexel.edu</a>. The Professor and Teaching Assistants cannot create/modify discord.</li>
	</ul>
	<p><b>Late Submissions</b></p>
	<ul>
		<li>Each student has two "late passes".</li>
		<li>A student may exchange one of their late passes for an one day extension on any assignment.</li>
		<li>Contact the TA/Professor to request one of your late passes be used.</li>
		<li>You may use both late passes of the same assignment to get a 2 day extension.</li>
        <li>Without late passes, -10% per day for up to 4 days.</li>
	</ul>
	<p><b>Special Circumstances</b></p>
	<ul>
	<li>If you have a documented reason why you cannot submit an assignment by the deadline, a special exception may be made. The Professor may also wave the late submission penalty for documented special exceptions.</li>
	</ul>
	
	<!-- Boring Classic Policy Block -->
	<h2>Course Policies</h2>
	<p><b>Academic Honesty Policy</b></p>
		<p>The CCI Academic Honesty policy is in effect for this course. Please see the policy at <a href="http://drexel.edu/cci/resources/current-students/undergraduate/policies/cs-academic-integrity/" target="_blank">http://drexel.edu/cci/resources/current-students/undergraduate/policies/cs-academic-integrity/</a>.</p>
		<p>Academic Honesty Violations <b>will</b> be reported to the University. Punishment will be determined by the severity of the incident. Punishments include, but are not limited to,</p>
		<ul>
			<li>Failing grade for class</li>
			<li>Deduction of one letter grade</li>
			<li>Zero on Assignment/Exam Violation took place on</li>
		</ul>
	<p><b>Grading and Policies</b></p>
	<ul>
		<li>Homeworks 50% </li>
		<li>Blog Posts 10%</li>
        <li>Blog Comments 4%</li>
        <li>Research Paper 1 18%</li>
		<li>Research Paper 2 18%</li>
	</ul>
	<p>Final grades will be determined by your total points weighted according to this distribution. Grades may be curved but are generally computed via the formula below. It may be modified at the instructor's sole discretion, but letter grades will generally not be lower than those shown here.</p>
	<ul>
		<li>[100-97] A+</li>
		<li>(97-93]  A</li>
		<li>(93-90]  A-</li>
		<li>(90-87]  B+</li>
		<li>(87-83]  B</li>
		<li>(83-80]  B-</li>
		<li>[80-77]  C+</li>
		<li>(77-73]  C</li>
		<li>(73-70]  C-</li>
		<li>(70-67]  D+</li>
		<li>(67-60]  D</li>
		<li>(60-0]   F</li>
	</ul>
    <!---------------------------- Drexel Boilerplate -------------->
    <!---------------------------- Drexel Boilerplate -------------->
    <!---------------------------- Drexel Boilerplate -------------->
    <!---------------------------- Drexel Boilerplate -------------->
    <!---------------------------- Drexel Boilerplate -------------->
    <!---------------------------- Drexel Boilerplate -------------->
	<p><b>University Policies</b> <br />In addition to the course policies listed on this syllabus, course assignments or course website, the following University policies are in effect:</p>
	<ul>
		<li>Computer/Software Help provided by iCommons: <a href="https://drexel.edu/cci/current-students/icommons/" target="_blank">https://drexel.edu/cci/current-students/icommons/</a>
		<li>Academic Honesty: <a href="http://www.drexel.edu/provost/policies/academic_dishonesty.asp" target="_blank">http://www.drexel.edu/provost/policies/academic_dishonesty.asp</a></li>
		<li>Judicial Affairs Academic Integrity: <a href="http://drexel.edu/studentlife/community_standards/facultystaff/integrity/" target="_blank">http://drexel.edu/studentlife/community_standards/facultystaff/integrity/</a></li>
		<li>Official Final Exam Schedule: <a href="http://www.drexel.edu/registrar/scheduling/exams/" target="_blank">http://www.drexel.edu/registrar/scheduling/exams/</a></li>
		<li>Students with Disability Statement: <a href="http://drexel.edu/oed/disabilityResources/overview/" target="_blank">http://drexel.edu/oed/disabilityResources/overview/</a></li>
		<li>Course Drop Policy: <a href="http://www.drexel.edu/provost/policies/course_drop.asp" target="_blank">http://www.drexel.edu/provost/policies/course_drop.asp</a></li>
		<li>Drexel Student Learning Priorities: <a href="http://drexel.edu/provost/assessment/outcomes/dslp/" target="_blank">http://www.drexel.edu/provost/irae/assessment/outcomes/dslp/</a></li>
		<li>The instructor may, at his/her/their discretion, change any part of the course during the term, including assignments, grade breakdowns, due-dates, and the schedule. Such changes will be communicated to students via the course web site Announcements page. This page should be checked regularly and frequently for such changes and announcements. Other announcements, although rare, may include class cancellations and other urgent announcements.</li>
	</ul>
    <p><b>Appropriate Use of Course Materials</b></p>
    <p>
    It is important to recognize that some or all of the course materials provided to you are the intellectual property of Drexel University, the course instructor, or others.  Use of this intellectual property is governed by Drexel University policies, including the IT-1 policy found at: <a href="https://drexel.edu/it/about/policies/policies/01-Acceptable-Use/" target="_blank">https://drexel.edu/it/about/policies/policies/01-Acceptable-Use/</a>
    <br/>
    Briefly, this policy states that all course materials including recordings provided by the given prior written approval by the University. Doing so may be considered a breach of this policy and will be investigated and addressed as possible academic dishonesty, among other potential violations.  Improper use of such materials may also constitute a violation of the University's Code of Conduct found at: <a href="https://drexel.edu/cpo/policies/cpo-1/" target="_blank">https://drexel.edu/cpo/policies/cpo-1/</a> and will be investigated as such.
    </p>
    <p><b>Recording of Class Activities:</b></p>
    <p>
    In general, students and others should not record course interactions and course activities in lecture, lab, studio or recitation.
    <br/>
    Students who have an approved accommodation from the Office of Disability Resources to record online lectures and discussions for note taking purposes should inform their course instructor(s) of their approved accommodation in advance. The recording of lectures and discussions may only be carried out by the students enrolled in the class who have an approved accommodation from Disability Resources with their instructors' prior knowledge and consent. Students with approved accommodations may be asked to turn off their recorder if confidential or personal information is presented.
    <br/>
    If a student has any comments, concerns, or questions about provided class materials and/ or recording, talk to your course instructor first. If this does not resolve the issue, you can also reach out to the Department Head, and use the process described for a grade appeal to move your concern forward. The process described for grade appeals can be found at:
    <a href="https://drexel.edu/provost/policies/grade-appeals/" target="_blank">https://drexel.edu/provost/policies/grade-appeals/</a>
    </p>
    <!-------------------------END Drexel Boilerplate -------------->
    <!-------------------------END Drexel Boilerplate -------------->
    <!-------------------------END Drexel Boilerplate -------------->
    <!-------------------------END Drexel Boilerplate -------------->
    <!-------------------------END Drexel Boilerplate -------------->
    <!-------------------------END Drexel Boilerplate -------------->
	


	<!--- Course Schedule starts Here! -->
	<h2>Tentative Course Schedule</h2>
		<p>Please see the appropriate assignment webpages for a detailed description of course deliverables.</p>
	<table border="1">
	<tbody>
		<tr>
			<td>Week</td>
			<td>Topic</td>
			<td>Assignments</td>
		</tr>
		<tr>
			<td>1 (1/3/22)</td>
			<td>Binary and Logic</td>
			<td>
				HW 1 - Due Thurs. 1/6 at 11:59PM<br/>
				Blog 1 - Due Fri. 1/7 at 11:59PM<br/>
				Blog Comments 1 - Due Sun. 1/9 at 11:59PM
            </td>
		</tr>
		<tr>
			<td>2 (1/10/22)</td>
			<td>Basic Algorithmic Structures
            </td>
			<td>
            HW 2 - Due Thurs. 1/13 at 11:59PM<br/>
			Blog 2 - Due Fri. 1/14 at 11:59PM<br/>
			Blog Comments 2 - Due Sun. 1/16 at 11:59PM
            </td>
		</tr>
		<tr>
			<td>3 (1/17/22)<br>
                Martin Luther King, Jr. Day
            </td>
			<td>Recursion</td>
			<td>
            HW 3 - Due Thurs. 1/20 at 11:59PM<br/>
			Blog 3 - Due Fri. 1/21 at 11:59PM<br/>
			Blog Comments 3 - Due Sun. 1/23 at 11:59PM
            </td>
		</tr>
		<tr>
			<td>4 (1/24/22)</td>
			<td>Analysis of Algorithms</td>
			<td>
            HW 4 - Due Thurs. 1/27 at 11:59PM<br/>
			Blog 4 - Due Fri. 1/28 at 11:59PM<br/>
			Blog Comments 4 - Due Sun. 1/30 at 11:59PM
            </td>
		</tr>
		<tr>
			<td>5 (1/31/22)</td>
			<td>Searching</td>
			<td>
            HW 5 - Due Thurs. 2/3 at 11:59PM<br/>
			Blog 5 - Due Fri. 2/4 at 11:59PM<br/>
			Blog Comments 5 - Due Sun. 2/6 at 11:59PM
            </td>
		</tr>
		<tr>
			<td>6 (2/7/22)</td>
			<td>Sorting</td>
			<td>
            HW 6 - Due Thurs. 2/10 at 11:59PM<br/>
			Blog 6 - Due Fri. 2/11 at 11:59PM<br/>
			Blog Comments 6 - Due Sun. 2/13 at 11:59PM
            </td>
		</tr>
        <tr>
            <td colspan="3">
                <b>Research Paper 1</b> Due <b>Friday</b> 2/11/21 at 11:59PM
            </td>
        </tr>
		<tr>
			<td>7 (2/14/22)</td>
			<td>Linked Lists, Stacks, and Queues</td>
			<td>
            HW 7 - Due Thurs. 2/17 at 11:59PM<br/>
			Blog 7 - Due Fri. 2/18 at 11:59PM<br/>
			Blog Comments 7 - Due Sun. 2/20 at 11:59PM
            </td>
		</tr>
		<tr>
			<td>8 (2/21/22)</td>
			<td>Trees (BST and Heaps)</td>
			<td>
            HW 8 - Due Thurs. 2/24 at 11:59PM<br/>
			Blog 8 - Due Fri. 2/25 at 11:59PM<br/>
			Blog Comments 8 - Due Sun. 2/27 at 11:59PM
            </td>
		</tr>
		<tr>
			<td>9 (2/28/22)</td>
			<td>Graphs I</td>
			<td>
            HW 9 - Due Thurs. 3/3 at 11:59PM<br/>
			Blog 9 - Due Fri. 3/4 at 11:59PM<br/>
			Blog Comments 9 - Due Sun. 3/6 at 11:59PM
            </td>
		</tr>
<!--        <tr>
            <td>10 (11/23/20)</td>
            <td colspan="2">Thanksgiving - No Content.</td>
        </tr>-->
		<tr>
			<td>10 (3/7/22)</td>
			<td>Graphs II</td>
			<td>
            HW 10 - Due Thurs. 3/10 at 11:59PM<br/>
			Blog 10 - Due Fri. 3/11 at 11:59PM<br/>
			Blog Comments 10 - Due Sun. 3/13 at 11:59PM
            </td>
		</tr>
		<tr>
			<td>11 (3/14/22)</td>
            <td>No Lectures - Exam Week</td>
            <td>
           Report 2 Due this week.
            </td>
        </tr>
        <tr>
			<td colspan="3">
				<b>Research Paper 2</b> Due <b>Friday</b> 3/18/2022 at 11:59PM
			</td>
		</tr>
	</tbody>
</table>

<h2>Additional Resource Links</h2>
<ol>
	<li>Binary Numbers
		<ul>
			<li><a href="https://www.mathsisfun.com/binary-number-system.html" target="_blank">https://www.mathsisfun.com/binary-number-system.html</a></li>
			<li><a href="https://www.tutorialspoint.com/computer_logical_organization/binary_arithmetic.htm" target="_blank">https://www.tutorialspoint.com/computer_logical_organization/binary_arithmetic.htm</a></li>
			<li><a href="https://www.cs.cornell.edu/~tomf/notes/cps104/twoscomp.html" target="_blank">https://www.cs.cornell.edu/~tomf/notes/cps104/twoscomp.html</a></li>
			<li><a href="https://www3.ntu.edu.sg/home/ehchua/programming/java/datarepresentation.html" target="_blank">https://www3.ntu.edu.sg/home/ehchua/programming/java/datarepresentation.html</a></li>
		</ul>
	</li>
	<li>Hex Numbers
		<ul>
			<li><a href="https://www.mathsisfun.com/hexadecimals.html" target="_blank">https://www.mathsisfun.com/hexadecimals.html</a></li>
			<li><a href="https://www.tutorialspoint.com/computer_logical_organization/hexadecimal_arithmetic.htm" target="_blank">https://www.tutorialspoint.com/computer_logical_organization/hexadecimal_arithmetic.htm</a></li>
			<li><a href="https://computer.howstuffworks.com/computer-memory.htm" target="_blank">https://computer.howstuffworks.com/computer-memory.htm</a></li>
		</ul>
	</li>
	<li>Assembly
		<ul>
			<li><a href="https://schweigi.github.io/assembler-simulator/" target="_blank">https://schweigi.github.io/assembler-simulator/</a></li>
			<li><a href="https://schweigi.github.io/assembler-simulator/instruction-set.html" target="_blank">https://schweigi.github.io/assembler-simulator/instruction-set.html</a></li>
		</ul>
	</li>
	<li>Algorithms
		<ul>
			<li><a href="https://publik.tuwien.ac.at/files/PubDat_140308.pdf" target="_blank">https://publik.tuwien.ac.at/files/PubDat_140308.pdf</a></li>
			<li><a href="https://www.geeksforgeeks.org/how-to-write-a-pseudo-code/" target="_blank">https://www.geeksforgeeks.org/how-to-write-a-pseudo-code/</a></li>
		</ul>
	</li>
	<li>Recursion
		<ul>
			<li><a href="https://inventwithpython.com/blog/2011/08/11/recursion-explained-with-the-flood-fill-algorithm-and-zombies-and-cats/" target="_blank">https://inventwithpython.com/blog/2011/08/11/recursion-explained-with-the-flood-fill-algorithm-and-zombies-and-cats/</a></li>
			<li><a href="https://medium.com/@cscalfani/so-you-want-to-be-a-functional-programmer-part-1-1f15e387e536" target="_blank">https://medium.com/@cscalfani/so-you-want-to-be-a-functional-programmer-part-1-1f15e387e536</a></li>
			<li><a href="https://www.geeksforgeeks.org/recursion/" target="_blank">https://www.geeksforgeeks.org/recursion/</a></li>
			<li><a href="https://en.wikipedia.org/wiki/Tower_of_Hanoi" target="_blank">https://en.wikipedia.org/wiki/Tower_of_Hanoi</a></li>
		</ul>
	</li>
	<li>Analysis
		<ul>
			<li><a href="https://en.wikipedia.org/wiki/Big_O_notation" target="_blank">https://en.wikipedia.org/wiki/Big_O_notation</a></li>
			<li><a href="http://discrete.gr/complexity/" target="_blank">http://discrete.gr/complexity/</a></li>
			<li><a href="https://www.khanacademy.org/computing/computer-science/algorithms/asymptotic-notation/a/asymptotic-notation" target="_blank">https://www.khanacademy.org/computing/computer-science/algorithms/asymptotic-notation/a/asymptotic-notation</a></li>
		</ul>
	</li>
	<li>Searching
		<ul>
			<li><a href="https://en.wikipedia.org/wiki/Linear_search" target="_blank">https://en.wikipedia.org/wiki/Linear_search</a></li>
			<li><a href="https://en.wikipedia.org/wiki/Binary_search_algorithm" target="_blank">https://en.wikipedia.org/wiki/Binary_search_algorithm</a></li>
		</ul>
	</li>
	<li>Sorting
		<ul>
			<li><a href="https://en.wikipedia.org/wiki/Merge_sort" target="_blank">https://en.wikipedia.org/wiki/Merge_sort</a></li>
			<li><a href="https://en.wikipedia.org/wiki/Quicksort" target="_blank">https://en.wikipedia.org/wiki/Quicksort</a></li>
			<li><a href="https://en.wikipedia.org/wiki/Insertion_sort" target="_blank">https://en.wikipedia.org/wiki/Insertion_sort</a></li>
		</ul>
	</li>
	<li>Sets
		<ul>
			<li><a href="https://tutorialedge.net/compsci/data-structures/sets-for-beginners/" target="_blank">https://tutorialedge.net/compsci/data-structures/sets-for-beginners/</a></li>
			<li><a href="https://opendsa-server.cs.vt.edu/ODSA/Books/Everything/html/SetSearch.html" target="_blank">https://opendsa-server.cs.vt.edu/ODSA/Books/Everything/html/SetSearch.html</a></li>
		</ul>
	<li>Trees
		<ul>
			<li><a href="https://en.wikipedia.org/wiki/Binary_search_tree" target="_blank">https://en.wikipedia.org/wiki/Binary_search_tree</a></li>
			<li><a href="http://www.geeksforgeeks.org/greedy-algorithms-set-3-huffman-coding/" target="_blank">http://www.geeksforgeeks.org/greedy-algorithms-set-3-huffman-coding/</a></li>
			<li><a href="https://en.wikipedia.org/wiki/Binary_heap" target="_blank">https://en.wikipedia.org/wiki/Binary_heap</a></li>
		</ul>
	</li>
	<li>Graphs
		<ul>
			<li><a href="http://www.geeksforgeeks.org/graph-and-its-representations/" target="_blank">http://www.geeksforgeeks.org/graph-and-its-representations/</a></li>
			<li><a href="http://www.geeksforgeeks.org/depth-first-traversal-for-a-graph/" target="_blank">http://www.geeksforgeeks.org/depth-first-traversal-for-a-graph/</a></li>
			<li><a href="http://www.redblobgames.com/pathfinding/a-star/introduction.html" target="_blank">http://www.redblobgames.com/pathfinding/a-star/introduction.html</a></li>
			<li><a href="https://en.wikipedia.org/wiki/Dijkstra%27s_algorithm" target="_blank">https://en.wikipedia.org/wiki/Dijkstra%27s_algorithm</a></li>
		</ul>
	</li>
	<li>DFA
		<ul>
			<li>Chapter 2: <a href="http://cglab.ca/~michiel/TheoryOfComputation/" target="_blank">http://cglab.ca/~michiel/TheoryOfComputation/</a></li>
		</ul>
	</li>
</ol>
