
<h1>CS 172 Computer Programming II</h1>
<p><b>Term and Credits</b> <br />Spring 2022-2023<br />3 Credits</p>
<h2>Basic Course Information</h2>
<p><b>Lecture</b></p>
<table style="width: 791px; height: 117.625px;" border="1" align="left">
<tbody>
<tr style="height: 26.3125px;">
<td style="width: 107.03px; height: 26.3125px;"><span style="text-decoration: underline;"><strong>Section</strong></span></td>
<td style="width: 244.53px; height: 26.3125px;"><span style="text-decoration: underline;"><strong>Time</strong></span></td>
<td style="width: 169.434px; height: 26.3125px;"><span style="text-decoration: underline;"><strong>Instructor</strong></span></td>
<td style="width: 268.01px; height: 26.3125px;"><span style="text-decoration: underline;"><strong>Classroom</strong></span></td>
</tr>
<tr style="height: 29.3125px;">
<td style="width: 107.03px; height: 29.3125px;">&nbsp;CS 172 - A</td>
<td style="width: 244.53px; height: 29.3125px;">Monday 1:00 PM - 2:50 PM</td>
<td style="width: 169.434px; height: 29.3125px;">Prof. Adelaida A. Medlock</td>
<td style="width: 268.01px; height: 29.3125px;">Bossone Auditorium</td>
</tr>
<tr style="height: 30.5px;">
<td style="width: 107.03px; height: 30.5px;">CS 172 - B</td>
<td style="width: 244.53px; height: 30.5px;">Monday 11:00 AM -12:50 PM</td>
<td style="width: 169.434px; height: 30.5px;">Prof. Mark W. Boady</td>
<td style="width: 268.01px; height: 30.5px;">Bossone Auditorium</td>
</tr>
<tr style="height: 31.5px;">
<td style="width: 107.03px; height: 31.5px;">CS 172 - C</td>
<td style="width: 244.53px; height: 31.5px;">Monday 9:00 AM - 10:50 AM</td>
<td style="width: 169.434px; height: 31.5px;">Prof. Daniel W. Moix</td>
<td style="width: 268.01px; height: 31.5px;">Bossone Auditorium</td>
</tr>
</tbody>
</table>
<pre><strong><br /></strong><b><br /><br /><br /><br /><br /><br /><br /><br /><br /></b></pre>
<p style="line-height: 15pt; margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;"><b><span style="color: black;">Lab</span></b><span style="color: black;"> </span></span></p>
<table class="MsoNormalTable" style="border-collapse: collapse; width: 55.783%; height: 354px; border-color: #000000; border-style: double;" cellspacing="0" cellpadding="0" border="1">
<tbody>
<tr style="height: 43px;">
<td style="width: 18.0147%; border: 1pt solid #6d6d6d; padding: 0in 5.4pt; height: 43px;">
<p style="line-height: 15pt; margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><span style="text-decoration: underline;"><span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;"><b><span style="color: black; text-decoration: underline;">Section</span></b></span></span></p>
</td>
<td style="width: 39.1544%; border-top: 1pt solid #6d6d6d; border-right: 1pt solid #6d6d6d; border-bottom: 1pt solid #6d6d6d; border-image: initial; border-left: none; padding: 0in 5.4pt; height: 43px;">
<p style="line-height: 15pt; margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><span style="text-decoration: underline;"><span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;"><b><span style="color: black; text-decoration: underline;">Day and Time</span></b></span></span></p>
</td>
<td style="width: 18.3827%; border-top: 1pt solid #6d6d6d; border-right: 1pt solid #6d6d6d; border-bottom: 1pt solid #6d6d6d; border-image: initial; border-left: none; padding: 0in 5.4pt; height: 43px;">
<p style="line-height: 15pt; margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><span style="text-decoration: underline;"><span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;"><b><span style="color: black; text-decoration: underline;">Lab Assistant</span></b></span></span></p>
</td>
<td style="width: 24.2644%; border-top: 1pt solid #6d6d6d; border-right: 1pt solid #6d6d6d; border-bottom: 1pt solid #6d6d6d; border-image: initial; border-left: none; padding: 0in 5.4pt; height: 43px;">
<p style="line-height: 15pt; margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><span style="text-decoration: underline;"><span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;"><b><span style="color: black; text-decoration: underline;">Classroom</span></b></span></span></p>
</td>
</tr>
<tr style="height: 63px;">
<td style="width: 18.0147%; border-right: 1pt solid #6d6d6d; border-bottom: 1pt solid #6d6d6d; border-left: 1pt solid #6d6d6d; border-image: initial; border-top: none; padding: 0in 5.4pt; height: 63px;">
<pre style="line-height: 15pt; margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><span style="font-size: 10pt; color: black; font-family: arial, helvetica, sans-serif;">CS 172 - 060</span></pre>
</td>
<td style="width: 39.1544%; border-top: none; border-left: none; border-bottom: 1pt solid #6d6d6d; border-right: 1pt solid #6d6d6d; padding: 0in 5.4pt; height: 63px;">
<pre style="line-height: 15pt; margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><span style="font-size: 10pt; color: black; font-family: arial, helvetica, sans-serif;">Wednesday 9:00 AM - 10:50 AM</span></pre>
</td>
<td style="width: 18.3827%; border-style: none solid solid none; padding-top: 0in; padding-right: 5.4pt; padding-bottom: 0in; height: 63px; vertical-align: middle;">
<table style="width: 113pt;" cellspacing="0" cellpadding="0" border="0"><colgroup><col style="width: 113pt;" /></colgroup>
<tbody>
<tr style="height: 15.0pt;">
<td style="width: 113pt;">Gary Pham</td>
</tr>
<tr style="height: 15.0pt;">
<td>Saquib Baig</td>
</tr>
<tr style="height: 15.0pt;">
<td>Theo Jerome</td>
</tr>
</tbody>
</table>
<pre></pre>
</td>
<td style="width: 24.2644%; border-top: none; border-left: none; border-bottom: 1pt solid #6d6d6d; border-right: 1pt solid #6d6d6d; padding: 0in 5.4pt; height: 63px;">
<pre style="line-height: 15pt; margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><span style="font-size: 10pt; color: black; font-family: arial, helvetica, sans-serif;">3675 Market St.</span></pre>
<pre style="line-height: 15pt; margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;"><span style="color: black;">Room 910-911</span></span></pre>
</td>
</tr>
<tr style="height: 92px;">
<td style="width: 18.0147%; border-right: 1pt solid #6d6d6d; border-bottom: 1pt solid #6d6d6d; border-left: 1pt solid #6d6d6d; border-image: initial; border-top: none; padding: 0in 5.4pt; height: 92px;">
<pre style="line-height: 15pt; margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><span style="font-size: 10pt; color: black; font-family: arial, helvetica, sans-serif;">CS 172 - 061</span></pre>
</td>
<td style="width: 39.1544%; border-top: none; border-left: none; border-bottom: 1pt solid #6d6d6d; border-right: 1pt solid #6d6d6d; padding: 0in 5.4pt; height: 92px;">
<pre style="line-height: 15pt; margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><span style="font-size: 10pt; color: black; font-family: arial, helvetica, sans-serif;">Wednesday 11:00 AM - 12:50 PM</span></pre>
</td>
<td style="width: 18.3827%; border-top: none; border-left: none; border-bottom: 1pt solid #6d6d6d; border-right: 1pt solid #6d6d6d; padding: 0in 5.4pt; height: 92px;">
<table style="width: 113pt;" cellspacing="0" cellpadding="0" border="0"><colgroup><col style="width: 113pt;" /></colgroup>
<tbody>
<tr style="height: 15.0pt;">
<td style="width: 113pt;">Aref Azizpour</td>
</tr>
<tr style="height: 15.0pt;">
<td>Minh Nguyen</td>
</tr>
<tr style="height: 15.0pt;">
<td>Rayan Shrestha</td>
</tr>
<tr style="height: 15.0pt;">
<td>Theo Jerome</td>
</tr>
</tbody>
</table>
<pre></pre>
</td>
<td style="width: 24.2644%; border-top: none; border-left: none; border-bottom: 1pt solid #6d6d6d; border-right: 1pt solid #6d6d6d; padding: 0in 5.4pt; height: 92px;">
<pre style="line-height: 15pt; margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><span style="font-size: 10pt; color: black; font-family: arial, helvetica, sans-serif;">3675 Market St.</span><br /><span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;"><span style="color: black;">Room 910-911</span></span></pre>
</td>
</tr>
<tr style="height: 63px;">
<td style="width: 18.0147%; border-right: 1pt solid #6d6d6d; border-bottom: 1pt solid #6d6d6d; border-left: 1pt solid #6d6d6d; border-image: initial; border-top: none; padding: 0in 5.4pt; height: 63px;"><span style="font-size: 10pt; color: black; font-family: arial, helvetica, sans-serif;">CS 172 - 062</span></td>
<td style="width: 39.1544%; border-top: none; border-left: none; border-bottom: 1pt solid #6d6d6d; border-right: 1pt solid #6d6d6d; padding: 0in 5.4pt; height: 63px;"><span style="font-size: 10pt; color: black; font-family: arial, helvetica, sans-serif;">Wednesday 3:00 PM - 4:50 PM</span></td>
<td style="width: 18.3827%; border-top: none; border-left: none; border-bottom: 1pt solid #6d6d6d; border-right: 1pt solid #6d6d6d; padding: 0in 5.4pt; height: 63px;">
<table style="width: 113pt;" cellspacing="0" cellpadding="0" border="0"><colgroup><col style="width: 113pt;" /></colgroup>
<tbody>
<tr style="height: 15.0pt;">
<td style="width: 113pt;">Mayinuzzaman Shawon</td>
</tr>
<tr style="height: 15.0pt;">
<td>Minh Nguyen</td>
</tr>
<tr style="height: 15.0pt;">
<td>Nam Dao</td>
</tr>
</tbody>
</table>
</td>
<td style="width: 24.2644%; border-top: none; border-left: none; border-bottom: 1pt solid #6d6d6d; border-right: 1pt solid #6d6d6d; padding: 0in 5.4pt; height: 63px;"><span style="font-size: 10pt; color: black; font-family: arial, helvetica, sans-serif;">3675 Market St.<br /><span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;"><span style="color: black;">Room 910-911</span></span></span></td>
</tr>
<tr style="height: 31px;">
<td style="width: 18.0147%; border-right: 1pt solid #6d6d6d; border-bottom: 1pt solid #6d6d6d; border-left: 1pt solid #6d6d6d; border-image: initial; border-top: none; padding: 0in 5.4pt; height: 31px;"><span style="font-size: 10pt; color: black; font-family: arial, helvetica, sans-serif;">CS 172 - 063</span></td>
<td style="width: 39.1544%; border-top: none; border-left: none; border-bottom: 1pt solid #6d6d6d; border-right: 1pt solid #6d6d6d; padding: 0in 5.4pt; height: 31px;"><span style="font-size: 10pt; color: black; font-family: arial, helvetica, sans-serif;">Thursday 9:00 AM - 10:50 AM</span></td>
<td style="width: 18.3827%; border-top: none; border-left: none; border-bottom: 1pt solid #6d6d6d; border-right: 1pt solid #6d6d6d; padding: 0in 5.4pt; height: 31px;">
<table style="width: 113pt;" cellspacing="0" cellpadding="0" border="0"><colgroup><col style="width: 113pt;" /></colgroup>
<tbody>
<tr style="height: 15.0pt;">
<td style="width: 113pt;">Andrew Chen</td>
</tr>
<tr style="height: 15.0pt;">
<td>Ishan Desai</td>
</tr>
<tr style="height: 15.0pt;">
<td>Mayinuzzaman Shawon</td>
</tr>
<tr style="height: 15.0pt;">
<td>Nam Dao</td>
</tr>
<tr style="height: 15.0pt;">
<td>Theo Jerome</td>
</tr>
</tbody>
</table>
</td>
<td style="width: 24.2644%; border-top: none; border-left: none; border-bottom: 1pt solid #6d6d6d; border-right: 1pt solid #6d6d6d; padding: 0in 5.4pt; height: 31px;"><span style="font-size: 10pt; color: black; font-family: arial, helvetica, sans-serif;">3675 Market St.<br /><span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;"><span style="color: black;">Room 1054-1055</span></span></span></td>
</tr>
<tr style="height: 31px;">
<td style="width: 18.0147%; border-right: 1pt solid #6d6d6d; border-bottom: 1pt solid #6d6d6d; border-left: 1pt solid #6d6d6d; border-image: initial; border-top: none; padding: 0in 5.4pt; height: 31px;"><span style="font-size: 10pt; color: black; font-family: arial, helvetica, sans-serif;">CS 172 - 064</span></td>
<td style="width: 39.1544%; border-top: none; border-left: none; border-bottom: 1pt solid #6d6d6d; border-right: 1pt solid #6d6d6d; padding: 0in 5.4pt; height: 31px;"><span style="font-size: 10pt; color: black; font-family: arial, helvetica, sans-serif;">Thursday 11:00 AM - 12:50 PM</span></td>
<td style="width: 18.3827%; border-top: none; border-left: none; border-bottom: 1pt solid #6d6d6d; border-right: 1pt solid #6d6d6d; padding: 0in 5.4pt; height: 31px;">
<table style="width: 113pt;" cellspacing="0" cellpadding="0" border="0"><colgroup><col style="width: 113pt;" /></colgroup>
<tbody>
<tr style="height: 15.0pt;">
<td style="width: 113pt;">Aref Azizpour</td>
</tr>
<tr style="height: 15.0pt;">
<td>Mayinuzzaman Shawon</td>
</tr>
<tr style="height: 15.0pt;">
<td>Raj Ray Chaudhury</td>
</tr>
</tbody>
</table>
</td>
<td style="width: 24.2644%; border-top: none; border-left: none; border-bottom: 1pt solid #6d6d6d; border-right: 1pt solid #6d6d6d; padding: 0in 5.4pt; height: 31px;"><span style="font-size: 10pt; color: black; font-family: arial, helvetica, sans-serif;">3675 Market St.<br /><span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;"><span style="color: black;">Room 1054-1055</span></span></span></td>
</tr>
<tr style="height: 31px;">
<td style="width: 18.0147%; border-right: 1pt solid #6d6d6d; border-bottom: 1pt solid #6d6d6d; border-left: 1pt solid #6d6d6d; border-image: initial; border-top: none; padding: 0in 5.4pt; height: 31px;"><span style="font-size: 10pt; color: black; font-family: arial, helvetica, sans-serif;">CS 172 - 065</span></td>
<td style="width: 39.1544%; border-top: none; border-left: none; border-bottom: 1pt solid #6d6d6d; border-right: 1pt solid #6d6d6d; padding: 0in 5.4pt; height: 31px;"><span style="font-size: 10pt; color: black; font-family: arial, helvetica, sans-serif;">Friday9:00 AM - 10:50 AM</span></td>
<td style="width: 18.3827%; border-top: none; border-left: none; border-bottom: 1pt solid #6d6d6d; border-right: 1pt solid #6d6d6d; padding: 0in 5.4pt; height: 31px;">
<table style="width: 113pt;" cellspacing="0" cellpadding="0" border="0"><colgroup><col style="width: 113pt;" /></colgroup>
<tbody>
<tr style="height: 15.0pt;">
<td style="width: 113pt;">Andrew Chen</td>
</tr>
<tr style="height: 15.0pt;">
<td>Mayinuzzaman Shawon</td>
</tr>
<tr style="height: 15.0pt;">
<td>Minh Nguyen</td>
</tr>
<tr style="height: 15.0pt;">
<td>Theo Jerome</td>
</tr>
</tbody>
</table>
</td>
<td style="width: 24.2644%; border-top: none; border-left: none; border-bottom: 1pt solid #6d6d6d; border-right: 1pt solid #6d6d6d; padding: 0in 5.4pt; height: 31px;"><span style="font-size: 10pt; color: black; font-family: arial, helvetica, sans-serif;">3675 Market St.<br /><span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;"><span style="color: black;">Room 1054-1055</span></span></span></td>
</tr>
</tbody>
</table>
<p style="line-height: 12pt; margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><span style="color: black; font-family: arial, helvetica, sans-serif; font-size: 10pt;">&nbsp;</span></p>
<pre><b><br /><br /><br />Instructors</b>
Prof. Adelaida Alban Medlock<br /><i>Electronic Mail Address:</i> <a href="mailto:aalban@drexel.edu" target="_blank" rel="noopener">aalban@drexel.edu</a> <br /><i>Webpage:</i> <a href="http://www.cs.drexel.edu/~aalban/" target="_blank" rel="noopener">http://www.cs.drexel.edu/~aalban/</a> <br /><i>Office: 3675 Market St. - Room 1064<br />Office Hours:</i> Tuesdays 1:00 AM  - 3:00 PM<br /><br /><br /></pre>
<p>Prof. Mark W. Boady<br /><i>Electronic Mail Address:</i> <a href="mailto:mwb33@drexel.edu" target="_blank" rel="noopener">mwb33@drexel.edu</a> <br /><i>Webpage:</i> <a href="https://boadycs.gitlab.io/about-mark/" target="_blank" rel="noopener">https://boadycs.gitlab.io/about-mark/</a> <br /><i>Office: 3675 Market St. - Room 1063<br />Office Hours:</i> Mondays 3:00 - 4:-- PM</p>
<p></p>
<p>Prof. Daniel W. Moix<br /><i>Electronic Mail Address:</i> <a href="mailto:daniel.moix@drexel.edu" target="_blank" rel="noopener">daniel.moix@drexel.edu</a> <br /><i>Webpage:</i> <a href="https://drexel.edu/cci/about/directory/M/Moix-Daniel/" target="_blank" rel="noopener">https://drexel.edu/cci/about/directory/M/Moix-Daniel/</a> <br /><i>Office: 3675 Market St. - Room 1058<br />Office Hours:</i> Mondays 12:00 - 2:00 PM and Thursdays 11:00 AM - 12:30 PM</p>
<p></p>
<pre><b>Teaching Assistants</b></pre>
<table style="border-collapse: collapse; width: 113pt;" cellspacing="0" cellpadding="0" border="0"><colgroup><col style="width: 113pt;" /></colgroup>
<tbody>
<tr style="height: 15.0pt;">
<td style="width: 113pt; padding-top: 1px; padding-right: 1px; padding-left: 1px; color: black; font-size: 11pt; font-weight: 400; font-style: normal; font-family: Calibri; vertical-align: bottom; border: none; white-space: nowrap;"><span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;">Ali Turcan</span></td>
</tr>
<tr style="height: 15.0pt;">
<td style="padding-top: 1px; padding-right: 1px; padding-left: 1px; color: black; font-size: 11pt; font-weight: 400; font-style: normal; font-family: Calibri; vertical-align: bottom; border: none; white-space: nowrap;"><span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;">Andrew Chen</span></td>
</tr>
<tr style="height: 15.0pt;">
<td style="padding-top: 1px; padding-right: 1px; padding-left: 1px; color: black; font-size: 11pt; font-weight: 400; font-style: normal; font-family: Calibri; vertical-align: bottom; border: none; white-space: nowrap;"><span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;">Aref Azizpour</span></td>
</tr>
<tr style="height: 15.0pt;">
<td style="padding-top: 1px; padding-right: 1px; padding-left: 1px; color: black; font-size: 11pt; font-weight: 400; font-style: normal; font-family: Calibri; vertical-align: bottom; border: none; white-space: nowrap;"><span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;">Gary Pham</span></td>
</tr>
<tr style="height: 15.0pt;">
<td style="padding-top: 1px; padding-right: 1px; padding-left: 1px; color: black; font-size: 11pt; font-weight: 400; font-style: normal; font-family: Calibri; vertical-align: bottom; border: none; white-space: nowrap;"><span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;">Ishan Desai</span></td>
</tr>
<tr style="height: 15.0pt;">
<td style="padding-top: 1px; padding-right: 1px; padding-left: 1px; color: black; font-size: 11pt; font-weight: 400; font-style: normal; font-family: Calibri; vertical-align: bottom; border: none; white-space: nowrap;"><span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;">Mayinuzzaman Shawon</span></td>
</tr>
<tr style="height: 15.0pt;">
<td style="padding-top: 1px; padding-right: 1px; padding-left: 1px; color: black; font-size: 11pt; font-weight: 400; font-style: normal; font-family: Calibri; vertical-align: bottom; border: none; white-space: nowrap;"><span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;">Minh Nguyen</span></td>
</tr>
<tr style="height: 15.0pt;">
<td style="padding-top: 1px; padding-right: 1px; padding-left: 1px; color: black; font-size: 11pt; font-weight: 400; font-style: normal; font-family: Calibri; vertical-align: bottom; border: none; white-space: nowrap;"><span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;">Nam Dao</span></td>
</tr>
<tr style="height: 15.0pt;">
<td style="padding-top: 1px; padding-right: 1px; padding-left: 1px; color: black; font-size: 11pt; font-weight: 400; font-style: normal; font-family: Calibri; vertical-align: bottom; border: none; white-space: nowrap;"><span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;">Raj Ray Chaudhury</span></td>
</tr>
<tr style="height: 15.0pt;">
<td style="padding-top: 1px; padding-right: 1px; padding-left: 1px; color: black; font-size: 11pt; font-weight: 400; font-style: normal; font-family: Calibri; vertical-align: bottom; border: none; white-space: nowrap;"><span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;">Rayan Shrestha</span></td>
</tr>
<tr style="height: 15.0pt;">
<td style="padding-top: 1px; padding-right: 1px; padding-left: 1px; color: black; font-size: 11pt; font-weight: 400; font-style: normal; font-family: Calibri; vertical-align: bottom; border: none; white-space: nowrap;"><span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;">Saquib Baig</span></td>
</tr>
<tr style="height: 15.0pt;">
<td style="padding-top: 1px; padding-right: 1px; padding-left: 1px; color: black; font-size: 11pt; font-weight: 400; font-style: normal; font-family: Calibri; vertical-align: bottom; border: none; white-space: nowrap;"><span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;">Tasmin Rahman</span></td>
</tr>
<tr style="height: 15.0pt;">
<td style="padding-top: 1px; padding-right: 1px; padding-left: 1px; color: black; font-size: 11pt; font-weight: 400; font-style: normal; font-family: Calibri; vertical-align: bottom; border: none; white-space: nowrap;"><span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;">Theo Jerome</span></td>
</tr>
<tr style="height: 15.0pt;">
<td style="padding-top: 1px; padding-right: 1px; padding-left: 1px; color: black; font-size: 11pt; font-weight: 400; font-style: normal; font-family: Calibri; vertical-align: bottom; border: none; white-space: nowrap;"><span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;">Tri Truong</span></td>
</tr>
<tr style="height: 15.0pt;">
<td style="padding-top: 1px; padding-right: 1px; padding-left: 1px; color: black; font-size: 11pt; font-weight: 400; font-style: normal; font-family: Calibri; vertical-align: bottom; border: none; white-space: nowrap;"><span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;">Uday Jain</span></td>
</tr>
</tbody>
</table>
<pre>

</pre>
<pre><b><br />TA Office Hours</b>: will be conducted in the person, in the CLC located at 3675 Market St. Room 1066<br /><b>Office Hours Schedule</b>: <a href="https://www.cs.drexel.edu/clc" target="_blank" rel="noopener"> https://www.cs.drexel.edu/clc </a> <br /><b>Contact Info:</b>&nbsp;can be found under the Faculty Information section of Bb&nbsp;Learn<br />Contact your TA through <i>Discord</i> for Course Related Questions.</pre>
<p></p>
<p><b>CS Department Contact Information</b></p>
<p><b>CS Dept. Phone</b>: (215) 895-2669<br /><b>CS Dept. Fax</b>: (215) 895-0545<br /><b>CS Dept. Location</b>: 3675 Market Room 1171-A</p>
<hr />
<h2>Course Description and Objectives</h2>
<p><b>Course Description</b><br />Covers object-oriented design, inheritance hierarchies, information hiding principles, string processing, recursion, good programming style, documentation, debugging, and testing.</p>
<p><b>Course Goals</b><br />The goal is to be able to write a working program using appropriate constructs when presented with a problem description.</p>
<p><b>Course Objective</b> <br />Students completing this course should:</p>
<ol>
<li>Be able to import and use Python modules.</li>
<li>Be able to design and implement Object Oriented Programs.</li>
<li>Be familiar with common data structures like lists and stacks.</li>
<li>Be able to design tests to determine code quality.</li>
<li>Understand how objects are used to improve code development.</li>
<li>Be able to communicate and solve problems effectively as a member of a team</li>
</ol>
<p><b>Audience and Purpose within Plan of Study</b><br />This course is open to all students interested in Programming and Computer Science. This course is the second in a two-term sequence of computer programming courses in Python (CS 171-172) and is a required course for students majoring in computer science, mathematics, physics, information systems, and digital media. It is also a required course for students pursuing a minor in computer science.</p>
<p><b>Prerequisites</b><br />A grade of C or better in CS 171.</p>
<hr />
<h2>Required Textbooks and Software</h2>
<p><b>Title:</b> CS 172 Computer Programming II<br /><b>Edition: </b>Spring 2023&nbsp;<br /><b>Author:</b> Bailey Miller, Roman Lysecky, Frank Vahid&nbsp;<br /><b>ISBN-13:</b> &nbsp;979-8-203-12846-1<br /><b>Buy:</b> <a href="https://www.zybooks.com" target="_blank" rel="noopener">zyBooks.com</a> <br /><b>Copyright: </b>2014, 2015, 2016, 2018 , 2019, 2020, 2021, 2022 Zyante Inc. (zyBooks.com) <br /><b>Price:</b> $88.00</p>
<p>In order to acquire the book you will need to follow these steps:</p>
<ol>
<li>Sign up at <a href="https://www.zybooks.com/" target="_blank" rel="noopener">https://www.zybooks.com</a></li>
<li>Enter zyBook code <strong>DREXELCS172Spring2023</strong></li>
<li>Click Subscribe</li>
</ol>
<p><span style="color: #ff0000;"><strong>NOTE</strong></span>: <span style="color: #e03e2d;">We recommend&nbsp;that if possible,&nbsp;you purchase the book directly from ZyBooks.com as the bookstore has a different (higher) price to the textbook.&nbsp;</span></p>
<p><br /><b>Title:</b> Making Games with Python and Pygame<br /><b>Edition: </b>1st&nbsp;<br /><b>Author:</b> Al Sweigart&nbsp;<br /><b>ISBN-13:</b>&nbsp; 978-1469901732<br />Free at: <a href="https://inventwithpython.com/pygame/" target="_blank" rel="noopener">https://inventwithpython.com/pygame/</a></p>
<p></p>
<hr />
<p><b>Software and Hardware Requirements</b></p>
<p>All Drexel students are required to have individual access to a dedicated personal computer which meets minimum specifications, including: processor speed, memory and secondary storage requirements, and connectivity to campus network. Please see <a href="https://drexel.edu/cci/admissions/graduate-professional-development/admissions-information-and-requirements/computer-requirements-and-skills/" target="_blank" rel="noopener">https://drexel.edu/cci/admissions/graduate-professional-development/admissions-information-and-requirements/computer-requirements-and-skills/</a> for further information.</p>
<p>The official language used for this course is Python 3. It is available for free at <a href="https://www.python.org" target="_blank" rel="noopener">https://www.python.org</a>.</p>
<p><b>Required Software</b></p>
<ol>
<li>Thonny Python IDE: <a href="https://thonny.org/" target="_blank" rel="noopener">https://thonny.org/</a></li>
<li>Discord - students registered in CS 172 should join the course Discord server as soon as possible. Please see instructions in Bb Learn, on the left-hand side menu.<span style="background-color: #ffcc00;"><br /></span></li>
</ol>
<p><b>Blackboard Learn</b><br />This course is operating with the Drexel BlackBoard Learn (Learn) Course Management System, which allows electronic submission of assignments, quizzes, and lab exercises, and threaded discussion groups. You can access the Drexel Learn course website from the Drexel portal <a href="http://one.drexel.edu/" target="_blank" rel="noopener">http://one.drexel.edu/</a>. You can also access Drexel Learn from the following page <a href="https://learn.dcollege.net/" target="_blank" rel="noopener">https://learn.dcollege.net/</a>.</p>
<p><b>&nbsp;</b></p>
<hr />
<h2>Grade Computation</h2>
<table border="1">
<tbody>
<tr>
<th>&nbsp;Labs</th>
<td>&nbsp;15%&nbsp;</td>
</tr>
<tr>
<th>&nbsp;Homework</th>
<td>&nbsp;15%&nbsp;&nbsp;</td>
</tr>
<tr>
<th>&nbsp;Readings</th>
<td>&nbsp;10%&nbsp;</td>
</tr>
<tr>
<th>&nbsp;Midterm</th>
<td>&nbsp;30%&nbsp;</td>
</tr>
<tr>
<th>&nbsp;Final Exam</th>
<td>&nbsp;30%&nbsp;</td>
</tr>
</tbody>
</table>
<p></p>
<p>Final grades will be determined by your total points weighted according to this distribution. Grades may be curved but are generally computed via the formula below. It may be modified at the instructor's sole discretion, but letter grades will generally not be lower than those shown here.</p>
<p><b>Grading Scale</b></p>
<table border="1">
<tbody>
<tr>
<td><b>&nbsp;A+&nbsp;&nbsp;</b></td>
<td>&nbsp;97-100</td>
</tr>
<tr>
<td><b>&nbsp;A</b></td>
<td>&nbsp;93-96.99&nbsp;</td>
</tr>
<tr>
<td><b>&nbsp;A-</b></td>
<td>&nbsp;90-92.99</td>
</tr>
<tr>
<td><b>&nbsp;B+</b></td>
<td>&nbsp;87-89.99</td>
</tr>
<tr>
<td><b>&nbsp;B</b></td>
<td>&nbsp;83-86.99</td>
</tr>
<tr>
<td><b>&nbsp;B-</b></td>
<td>&nbsp;80-82.99</td>
</tr>
<tr>
<td><b>&nbsp;C+</b></td>
<td>&nbsp;77-79.99</td>
</tr>
<tr>
<td><b>&nbsp;C</b></td>
<td>&nbsp;73-76.99</td>
</tr>
<tr>
<td><b>&nbsp;C-</b></td>
<td>&nbsp;70-72.99</td>
</tr>
<tr>
<td><b>&nbsp;D+</b></td>
<td>&nbsp;65-69.99</td>
</tr>
<tr>
<td><b>&nbsp;D</b></td>
<td>&nbsp;60-64.99</td>
</tr>
<tr>
<td><b>&nbsp;F</b></td>
<td>&nbsp;0-59.99</td>
</tr>
</tbody>
</table>
<hr />
<h2>Grading Policies</h2>
<p><b style="font-family: inherit; font-style: inherit;">Readings</b></p>
<ul>
<li>Each week sections of the ZyBooks online textbook will be assigned.&nbsp;</li>
<li>You are required to complete all <b>Participation Activity</b> and <b>Challenge Activity</b> questions in the assigned readings.</li>
<li>You must purchase a ZyBooks subscription to complete reading assignments.</li>
<li>Each Student is required to have their own ZyBooks account since readings are individual assignments.</li>
<li>Reading assignments are due on Sundays by 11:59 PM.</li>
<li>Late Submissions will not be accepted.</li>
</ul>
<p><b>Homework</b></p>
<ul>
<li>There will be five homework assignments given this term.</li>
<li>These are individual assignment (<strong><span style="color: #e03e2d;">No collaboration is allowed</span></strong>)&nbsp;</li>
<li>All homework assignments will be submitted via zyBooks, with the exception of the one using Pygame which will be submitted via Bb Learn for grading.</li>
<!--
<li>Homeworks consist of an additional section in ZyBooks with Programming problems.</li>
<li>You must purchase a ZyBooks subscription to complete homeworks.</li>
<li>Each Student is required to have their own ZyBooks account.</li>
<li>If you feel ZyBooks has graded your homework code incorrectly, you may request a TA review the grade. You must request a review within 1 week of the Homework's due date.</li>
-->
<li>Homework assignments are due on Tuesdays by 11:59 PM.</li>
<li>Late Submissions will not be accepted.</li>
</ul>
<p><b></b><b style="font-family: inherit; font-style: inherit;">Labs</b></p>
<ul>
<li>You will work and collaborate with a lab partner.</li>
<li>Labs will be posted in Zybooks.</li>
<li>Lab assignments are due by 11:59 PM on the day of your lab session.</li>
<li>Late Submissions will not be accepted.</li>
<li><strong>Attendance to the lab is required </strong>in order to get credit for the lab.
<ul>
<li>If you must miss lab, please contact your course instructor (no the TAs) ASAP to arrange a lab make-up session.</li>
</ul>
</li>
<li><strong>Lateness</strong>: If a student is more than 10 minutes late for lab, but less than 15 minutes late, a 10% penalty will be applied to the lab grade. If student is more than 15 minutes late, a 25% penalty will be applied to the lab grade. If a student does not attend the lab, the student will not receive credit for it.</li>
</ul>
<p><b>Midterm and Final Exams</b></p>
<ul>
<li>Exams will be given on paper and pencil this term.</li>
<li>Exams will be closed notes / closed book</li>
<li>All tests will have a fixed time limit.</li>
<li>You will be expected to write working code in the exams.</li>
<li style="list-style-type: inherit;">Midterm Exam will be given on Week 6.</li>
<li>Final Exam will be given during finals week.</li>
<li>You must take the tests on the date and times scheduled. If you miss a test you will receive a zero.</li>
<li>You must be present in the classroom to take the exams.</li>
</ul>
<p><b>Special Circumstances</b></p>
<p>If you have a documented reason why you cannot submit any work by the cut-off deadline, a special exception may be made. The Professor may also wave the late submission policy for documented special exceptions. Special Exceptions <b>must</b> be approved by the Professor.</p>
<p><b>Additional Policies</b></p>
<ul>
<li>You, your instructor, and the TA are bound by the Academic Honesty policy. Students are responsible for reading and understanding the course policies in this syllabus and for announcements made in class and in the course discussion board. See the academic policy linked to in this syllabus.</li>
<li>Any dispute about an assignment grade must be made and resolved within 5 days of receiving your grade. After this period your grade cannot be adjusted.</li>
<li>If you are seeking help with an assignment you must contact the Professor or a TA prior to Friday close-of-business hours. We cannot guarantee a timely response on nights and weekends. This policy is to ensure that you get started early on your assignments.</li>
<li>Your lowest reading, homework, and lab grades will be dropped from the grade calculation at the end of the term.</li>
</ul>
<p><b>Plagiarism Detection System</b></p>
<p>To ensure that assignments are done independently, in addition to human observation, we will be running all assignments through a plagiarism detection system. This program uses compiler techniques which are invariant of syntax and style. It has a very high accuracy rate.</p>
<hr />
<h2>Academic Honesty Policy</h2>
<p>The university's Academic Honesty policy is in effect for this course. This policy is available in the Student's Handbook <a href="https://drexel.edu/studentlife/community_standards/code-of-conduct/" target="_blank" rel="noopener">https://drexel.edu/studentlife/community_standards/code-of-conduct/</a>. Please also read the following information from the Provost Office: <a href="https://drexel.edu/provost/policies/academic-integrity/" target="_blank" rel="noopener">https://drexel.edu/provost/policies/academic-integrity/</a></p>
<p><span style="color: #e03e2d;"><b>You must be the sole original author of all assignments and examination solutions in their entirety</b>,</span> unless the instructor explicitly instructs you otherwise in written directions on an assignment or exam. <span style="color: #e03e2d;"><b>Except where specifically assigned, collaborative work is a violation of academic honesty in this course</b>.</span> You are not to examine, share, or use code/written solutions belonging to someone else, nor may you let anyone else examine or copy your code/written solutions.</p>
<p>Students found in violation of the Academic Honesty policy will receive no credit for the questionable assignment or exam, a half letter grade reduction on the final grade for the course (on the first occurrence), a whole letter grade reduction on each subsequent occurrence(s), and/or will possibly receive a failing grade for the course. In addition, a Drexel University Alleged Academic Misconduct Report will be filed for each occurrence of Academic Dishonesty.</p>
<p>If you are suspected of academic dishonesty, you will receive an email letting you that your assignment/exam/quiz has been flagged. You will be required to communicate with the course instructor within 72 hours indicating your response to the suspected violation.</p>
<p>Students having difficulty fulfilling the requirements for an assignment without outside help are to seek assistance from a teaching assistant or instructor, <i><b>not</b></i> from another student or knowledgeable person.</p>
<p>It is your responsibility to avoid violating the university's policy. If you are unclear as to what the policy means in a particular situation, ask the instructor for clarification before you hand anything in.</p>
<p>See the examples below for clarification of this policy.</p>
<h4>Examples</h4>
<p>The following are acceptable:</p>
<ul>
<li>Using code provided in lecture or the course slides: include comments that cite the source.</li>
<li>Using code provided in the class textbook: include comments that cite the source.</li>
<li>Code developed jointly with instructor or teaching assistants assigned to this course: include comments to clarify that this is the case.</li>
<li>Discussing algorithms or possible approaches to writing your program, <b>WITHOUT</b> discussing particulars of the code.</li>
<li>Discussing how to resolve errors, <b>WITHOUT</b> discussing particulars of the code.</li>
</ul>
<p>These are <b>NOT</b> acceptable:</p>
<ul>
<li>You borrow a printed or electronic copy of a friend's assignment, and use it for "inspiration".</li>
<li>You give a printed or electronic copy of your assignment to somebody else.</li>
<li>You let someone else view the solution to any part of your assignment.</li>
<li>You "find" a printed copy of somebody's program in the trash, on a lab machine, on their hard drive, etc., and use it for "inspiration".</li>
<li>You pay a "tutor" who writes the assignment for you.</li>
<li>You and a friend together write one assignment, then create separate modifications to be handed in.</li>
<li>You and a friend write certain portions of the assignment individually, but collaborate on other portions of the assignment.</li>
<li>You Google the solution to the assignment and submit what you find as your own work.</li>
<li>You use an online service (e.g. Chegg, CourseHero, StackOverflow, ChatGPT, etc.) to obtain the solution to any part of the assignment, quiz, or exam.</li>
</ul>
<hr />
<h2>Additional Course Policies</h2>
<p><b>Computer/Software Help</b><br />CCI Commons (3675 Market #1067): <a href="https://drexel.edu/cci/current-students/icommons/" target="_blank" rel="noopener"> https://drexel.edu/cci/current-students/icommons/</a></p>
<p><b>Students Accommodations<br /></b>Students requesting accommodations due to a disability at Drexel University need to request a current Accommodations Verification Letter (AVL) in the ClockWork database before accommodations can be made. These requests are received by Disability Resources (DR), who then issues the AVL to the appropriate contacts. For additional information, visit the DR website at <a href="https://drexel.edu/oed/disabilityResources/students/" target="_blank" rel="noopener"> https://drexel.edu/oed/disabilityResources/students/</a>, or contact DR for more information by phone at 215-895-1401, or by email at <a href="mailto:disability@drexel.edu" target="_blank" rel="noopener">disability@drexel.edu</a></p>
<p><strong>Initial Course Participation (ICP)</strong><br />Class attendance is critical to your success as a student. Missing classes may impact your class success and your federal financial aid.</p>
<hr />
<h2>Other important Academic Policies</h2>
<p>In addition to the course policies listed on this syllabus, course assignments or course website, the following University policies are in effect:</p>
<ul>
<li>Academic Integrity: <a href="https://drexel.edu/provost/policies/academic-integrity/" target="_blank" rel="noopener"> https://drexel.edu/provost/policies/academic-integrity/</a></li>
<li>Official Final Exam Schedule: <a href="http://www.drexel.edu/registrar/scheduling/exams/" target="_blank" rel="noopener"> http://www.drexel.edu/registrar/scheduling/exams/</a></li>
<li>Students with Disability Statement: <a href="http://drexel.edu/oed/disabilityResources/students/" target="_blank" rel="noopener"> http://drexel.edu/oed/disabilityResources/students/</a></li>
<li>Course Drop Policy: <a href="http://www.drexel.edu/provost/policies/course-add-drop" target="_blank" rel="noopener"> http://www.drexel.edu/provost/policies/course-add-drop</a></li>
<li>Course Withdraw Policy: <a href="http://drexel.edu/provost/policies/course-withdrawal" target="_blank" rel="noopener"> http://drexel.edu/provost/policies/course-withdrawal</a></li>
<li>The instructor may, at his/her/their discretion, change any part of the course during the term, including assignments, grade breakdowns, due-dates, and the schedule. Such changes will be communicated to students via the course web site Announcements page. This page should be checked regularly and frequently for such changes and announcements. Other announcements, although rare, may include class cancellations and other urgent announcements.</li>
</ul>
<p><b>Class Disruption Policies</b></p>
<p>According to the student handbook (Code of Conduct section), <b>Disorderly Conduct</b> is defined as behavior that disturbs academic study:</p>
<p>Behavior that disturbs the peace, academic study, or sleep of others both on or off campus is prohibited. Examples of disorderly conduct as it pertains to class/research settings includes, but is not limited to the following:</p>
<ul>
<li>Excessively leaving and entering a classroom without authorization.</li>
<li>Making loud or distracting noises.</li>
<li>Persistently speaking without being recognized such that it interferes with the learning environment.</li>
<li>Repeatedly dominating online discussion boards or forums such that it interferes with the learning environment.</li>
<li>Resorting to personal insults.</li>
</ul>
<p>Students are responsible to comply with a reasonable request from a professor, instructor, or other University official regarding appropriate behavior.</p>
<p>Students disrupting online&nbsp;office hours&nbsp;will be asked to stop the disruptive behavior. If they do not stop, the student will be asked to leave the online session, and a formal complaint will be filed with the Office of Student Conduct and Community Standards.</p>
<hr />
<p><span style="font-size: 14pt;"><b><span style="line-height: 150%; color: black;">Diversity, Equity and Inclusion Statement</span></b></span></p>
<p><span style="font-size: 10pt;">CCI faculty believes and embraces diversity for it fosters innovative, transformative classrooms where optimal learning for students of all identities and backgrounds can occur.</span></p>
<p><span style="font-size: 10pt;">For more information on Diversity and Inclusion in CCI, please visit: <a href="https://drexel.edu/cci/about/diversity-equity-and-inclusion-council/" target="_blank" rel="noopener">https://drexel.edu/cci/about/diversity-equity-and-inclusion-council/</a></span></p>
<hr />
<h2>Statement on Recording Lectures</h2>
<p><b>Appropriate Use of Course Materials</b></p>
<p>It is important to recognize that some or all of the course materials provided to you are the intellectual property of Drexel University, the course instructor, or others. Use of this intellectual property is governed by Drexel University policies, including the IT-1 policy found at: <a href="https://drexel.edu/it/about/policies/policies/01-Acceptable-Use/" target="_blank" rel="noopener">https://drexel.edu/it/about/policies/policies/01-Acceptable-Use/</a></p>
<p>Briefly, this policy states that all course materials including recordings provided by the given prior written approval by the University. Doing so may be considered a breach of this policy and will be investigated and addressed as possible academic dishonesty, among other potential violations. Improper use of such materials may also constitute a violation of the University&rsquo;s Code of Conduct found at: <a href="https://drexel.edu/cpo/policies/cpo-1/" target="_blank" rel="noopener"> https://drexel.edu/cpo/policies/cpo-1/ </a>and will be investigated as such.</p>
<p><b>Recording of Class Activities:</b></p>
<p>In general, students and others should not record course interactions and course activities in lecture, lab, studio or recitation.</p>
<p>Students who have an approved accommodation from the Office of Disability Resources to record online lectures and discussions for note taking purposes should inform their course instructor(s) of their approved accommodation in advance. The recording of lectures and discussions may only be carried out by the students enrolled in the class who have an approved accommodation from Disability Resources with their instructors&rsquo; prior knowledge and consent. Students with approved accommodations may be asked to turn off their recorder if confidential or personal information is presented.</p>
<p>If a student has any comments, concerns, or questions about provided class materials and/ or recording, talk to your course instructor first. If this does not resolve the issue, you can also reach out to the Department Head, and use the process described for a grade appeal to move your concern forward. The process described for grade appeals can be found at: <a href="https://drexel.edu/provost/policies/grade-appeals/" target="_blank" rel="noopener"> https://drexel.edu/provost/policies/grade-appeals/</a></p>

<p><b>Tentative Course Schedule</b></p>
<p>Schedule Subject to change at any time.</p>
<p><strong>Note</strong>: All due dates and times are on Eastern Time Zone.</p>
<table style="height: 1202.72px; width: 100%;" border="1">
<thead>
<tr style="height: 47.9844px;">
<th colspan="5" style="width: 100%; height: 47.9844px;">CS 172 Spring 2022 - 2023 Schedule</th>
</tr>
<tr style="height: 47.9844px;">
<th style="width: 11.2116%; height: 47.9844px; text-align: center;">Week</th>
<th style="width: 18.5238%; height: 47.9844px;">Topics</th>
<th style="width: 22.4234%; height: 47.9844px;">Reading</th>
<th style="width: 24.8607%; height: 47.9844px;">Lab</th>
<th style="width: 22.9805%; height: 47.9844px;">Notes</th>
</tr>
</thead>
<tbody>
<tr style="height: 108.969px;">
<td style="width: 11.2116%; height: 108.969px;">
<pre style="text-align: center;">1 </pre>
<pre style="text-align: center;">(4/2/23)</pre>
</td>
<td style="width: 18.5238%; height: 108.969px;">
<pre>Course Overview<br />Object Oriented Design<br />Using / Including Objects<br />Modules and Packages</pre>
</td>
<td style="width: 22.4234%; height: 108.969px;">
<p>ZyBooks 1.1-1.6</p>
</td>
<td style="width: 24.8607%; height: 108.969px;">
<pre><strong>Lab 1<br /></strong><em style="font-size: inherit; font-variant-ligatures: inherit; font-variant-caps: inherit;">Due by 11:59 PM on the day of your lab session </em></pre>
</td>
<td style="width: 22.9805%; height: 108.969px;">
<p><b>Week 1 Reading</b> <br /><em> Due Sunday 4/9/23 by 11:59 PM</em></p>
<pre style="font-family: inherit; text-shadow: none !important; letter-spacing: normal; color: #000000; font-size: 13px; margin: 0px; padding: 0px; border: 0px; outline: 0px; font-weight: 400; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: #ffffff; text-decoration-style: initial; text-decoration-color: initial;"><b style="font-family: 'Open Sans', sans-serif; text-shadow: none !important; letter-spacing: normal !important; font-weight: bold;">Homework 1</b> <br style="font-family: 'Open Sans', sans-serif; text-shadow: none !important; letter-spacing: normal !important;" /><i style="font-family: 'Open Sans', sans-serif; text-shadow: none !important; letter-spacing: normal !important;">Due Tuesday 4/11/23 by 11:59 PM<br /></i></pre>
</td>
</tr>
<tr style="height: 80px;">
<td style="width: 11.2116%; height: 80px;">
<pre style="text-align: center;">2 </pre>
<pre style="text-align: center;">(4/9/23)</pre>
</td>
<td style="width: 18.5238%; height: 80px;">Classes in Python</td>
<td style="width: 22.4234%; height: 80px;">ZyBooks 4.1-4.7</td>
<td style="width: 24.8607%; height: 80px;">
<pre><strong>Lab 2</strong></pre>
<pre style="font-family: inherit; text-shadow: none !important; letter-spacing: normal; color: #000000; font-size: 13px; margin: 0px; padding: 0px; border: 0px; outline: 0px; font-weight: 400; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: #ffffff; text-decoration-style: initial; text-decoration-color: initial;"><em style="font-size: inherit; font-variant-ligatures: inherit; font-variant-caps: inherit;">Due by 11:59 PM on the day of your lab session</em></pre>
</td>
<td style="width: 22.9805%; height: 80px;">
<pre><b>Week 2 Reading</b> </pre>
<pre><i>Due Sunday 4/16/23 by 11:59 PM</i></pre>
</td>
</tr>
<tr style="height: 145px;">
<td style="width: 11.2116%; height: 145px;">
<pre style="text-align: center;">3 </pre>
<pre style="text-align: center;">(4/16/23)</pre>
</td>
<td style="width: 18.5238%; height: 145px;">Overloading Operators</td>
<td style="width: 22.4234%; height: 145px;">
<pre>ZyBooks 6.1-6.2; and<br />Web Resources (see Bb Learn)</pre>
</td>
<td style="width: 24.8607%; height: 145px;">
<pre><strong>Lab 3</strong> </pre>
<pre style="font-family: inherit; text-shadow: none !important; letter-spacing: normal; color: #000000; font-size: 13px; margin: 0px; padding: 0px; border: 0px; outline: 0px; font-weight: 400; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: #ffffff; text-decoration-style: initial; text-decoration-color: initial;"><em style="font-size: inherit; font-variant-ligatures: inherit; font-variant-caps: inherit;">Due by 11:59 PM on the day of your lab session</em></pre>
<pre><i></i></pre>
</td>
<td style="width: 22.9805%; height: 145px;">
<pre><b>Week 3 Reading</b> </pre>
<pre><i>Due Sunday 4/23/23 by 11:59 PM<br /></i><em><br /></em><span style="font-family: 'Open Sans', sans-serif; font-weight: bold; text-shadow: none; letter-spacing: normal;">Homework 2</span><em><br style="font-family: 'Open Sans', sans-serif; text-shadow: none; letter-spacing: normal;" /><i style="font-family: 'Open Sans', sans-serif; text-shadow: none; letter-spacing: normal;">Due Tuesday 4/25/23 by 11:59 PM</i><br /></em></pre>
</td>
</tr>
<tr style="height: 125px;">
<td style="width: 11.2116%; height: 125px;">
<pre style="text-align: center;">4 </pre>
<pre style="text-align: center;">(4/23/23)</pre>
</td>
<td style="width: 18.5238%; height: 125px;">Inheritance</td>
<td style="width: 22.4234%; height: 125px;">ZyBooks 9.1 - 9.4</td>
<td style="width: 24.8607%; height: 125px;">
<pre><strong>Lab 4</strong></pre>
<pre style="font-family: inherit; text-shadow: none !important; letter-spacing: normal; color: #000000; font-size: 13px; margin: 0px; padding: 0px; border: 0px; outline: 0px; font-weight: 400; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: #ffffff; text-decoration-style: initial; text-decoration-color: initial;"><em style="font-size: inherit; font-variant-ligatures: inherit; font-variant-caps: inherit;">Due by 11:59 PM on the day of your lab session</em></pre>
<pre></pre>
</td>
<td style="width: 22.9805%; height: 125px;">
<pre><b style="font-family: inherit; font-style: inherit;">Week 4 Reading</b></pre>
<pre><i>Due Sunday 4/30/23 by 11:59 PM<br /><br /></i></pre>
<pre style="font-family: inherit; text-shadow: none !important; letter-spacing: normal; color: #000000; font-size: 13px; margin: 0px; padding: 0px; border: 0px; outline: 0px; font-weight: 400; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: #ffffff; text-decoration-style: initial; text-decoration-color: initial;"><b style="font-family: 'Open Sans', sans-serif; text-shadow: none !important; letter-spacing: normal !important; font-weight: bold;">Homework 3</b> <br style="font-family: 'Open Sans', sans-serif; text-shadow: none !important; letter-spacing: normal !important;" /><i style="font-family: 'Open Sans', sans-serif; text-shadow: none !important; letter-spacing: normal !important;">Due <i style="font-family: 'Open Sans', sans-serif; text-shadow: none; letter-spacing: normal;">Tuesday</i> 5/2/23 by 11:59 PM<br /></i></pre>
</td>
</tr>
<tr style="height: 116.969px;">
<td style="width: 11.2116%; height: 116.969px;">
<pre style="text-align: center;">5</pre>
<pre></pre>
<pre style="text-align: center;">(4/30/23)</pre>
</td>
<td style="width: 18.5238%; height: 116.969px;">OOP Case Study - PyGame</td>
<td style="width: 22.4234%; height: 116.969px;">
<pre>Sweigart textbook:<br />Chapters 1 - 2</pre>
</td>
<td style="width: 24.8607%; height: 116.969px;">
<pre><strong>Lab 5</strong></pre>
<pre style="font-family: inherit; text-shadow: none !important; letter-spacing: normal; color: #000000; font-size: 13px; margin: 0px; padding: 0px; border: 0px; outline: 0px; font-weight: 400; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: #ffffff; text-decoration-style: initial; text-decoration-color: initial;"><em style="font-size: inherit; font-variant-ligatures: inherit; font-variant-caps: inherit;">Due by 11:59 PM on the day of your lab session</em></pre>
</td>
<td style="width: 22.9805%; height: 116.969px;">
<pre><b></b></pre>
<pre><b>Week 5 Reading</b><br /><i>Due Sunday 5/7/23 by 11:59 PM<br /></i><strong><br /></strong></pre>
<pre style="font-family: inherit; text-shadow: none !important; letter-spacing: normal; color: #000000; font-size: 13px; margin: 0px; padding: 0px; border: 0px; outline: 0px; font-weight: 400; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: #ffffff; text-decoration-style: initial; text-decoration-color: initial;"><b style="font-family: 'Open Sans', sans-serif; text-shadow: none !important; letter-spacing: normal !important; font-weight: bold;">Homework 4</b> <br style="font-family: 'Open Sans', sans-serif; text-shadow: none !important; letter-spacing: normal !important;" /><i style="font-family: 'Open Sans', sans-serif; text-shadow: none !important; letter-spacing: normal !important;">Due <i style="font-family: 'Open Sans', sans-serif; text-shadow: none; letter-spacing: normal;">Tueday</i> 5/16/23 by 11:59 PM</i></pre>
</td>
</tr>
<tr style="height: 61.9375px;">
<td style="width: 11.2116%; height: 61.9375px;">
<pre style="text-align: center;">6 </pre>
<pre style="text-align: center;">(5/7/23)</pre>
</td>
<td style="width: 18.5238%; height: 61.9375px;">
<pre><strong>MIDTERM EXAM</strong><br />During the lecture session.<br />Covers Weeks 1 - 5</pre>
</td>
<td style="width: 22.4234%; height: 61.9375px;">NONE this week</td>
<td style="width: 24.8607%; height: 61.9375px;">NONE this week</td>
<td style="width: 22.9805%; height: 61.9375px;"><b>&nbsp;</b></td>
</tr>
<tr style="height: 91.9219px;">
<td style="width: 11.2116%; height: 91.9219px;">
<pre style="text-align: center;">7 </pre>
<pre style="text-align: center;">(5/14/23)</pre>
</td>
<td style="width: 18.5238%; height: 91.9219px;">
<pre>Memory Considerations<br />Stacks and Queues</pre>
</td>
<td style="width: 22.4234%; height: 91.9219px;">ZyBooks 16.1-16.7</td>
<td style="width: 24.8607%; height: 91.9219px;">
<pre><strong>Lab 6</strong><br /><em style="font-size: inherit; font-variant-ligatures: inherit; font-variant-caps: inherit;">Due by 11:59 PM on the day of your lab session</em></pre>
<pre style="font-family: inherit; text-shadow: none !important; letter-spacing: normal; color: #000000; font-size: 13px; margin: 0px; padding: 0px; border: 0px; outline: 0px; font-weight: 400; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: #ffffff; text-decoration-style: initial; text-decoration-color: initial;"></pre>
</td>
<td style="width: 22.9805%; height: 91.9219px;">
<pre><b></b></pre>
<pre><b>Week 7 Reading</b><br /><i>Due Sunday 5/21/23 by 11:59PM</i><strong> </strong></pre>
</td>
</tr>
<tr style="height: 100px;">
<td style="width: 11.2116%; text-align: center; height: 100px;">8<br />(5/21/23)</td>
<td style="width: 18.5238%; height: 100px;">Linked Lists</td>
<td style="width: 22.4234%; height: 100px;">
<pre>ZyBooks 18.1 - 18.16; and<br />Web Resources (see Bb Learn)</pre>
</td>
<td style="width: 24.8607%; height: 100px;"><strong><strong> Lab 7<br /></strong></strong>
<pre style="font-family: inherit; letter-spacing: normal; color: #000000; font-size: 13px; margin: 0px; padding: 0px; border: 0px; outline: 0px; font-weight: 400; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: #ffffff; text-decoration-style: initial; text-decoration-color: initial; text-shadow: none;"><em style="font-size: inherit; font-variant-ligatures: inherit; font-variant-caps: inherit;">Due by 11:59 PM on the day of your lab session</em></pre>
</td>
<td style="width: 22.9805%; height: 100px;">
<pre><b>Week 8 Reading</b></pre>
<pre><em>Due Sunday 5/28/23 by 11:59PM<br /></em></pre>
<pre style="font-family: inherit; letter-spacing: normal; color: #000000; font-size: 13px; margin: 0px; padding: 0px; border: 0px; outline: 0px; font-weight: 400; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: #ffffff; text-decoration-style: initial; text-decoration-color: initial; text-shadow: none;"><em><br /><b style="font-family: 'Open Sans', sans-serif; letter-spacing: normal; font-weight: bold; color: #000000; font-size: 13px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: #ffffff; text-decoration-style: initial; text-decoration-color: initial; text-shadow: none;">Homework 5</b><span style="color: #000000; font-family: 'Open Sans', sans-serif; font-size: 13px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: #ffffff; text-decoration-style: initial; text-decoration-color: initial; float: none; display: inline;">&nbsp;</span><br style="font-family: 'Open Sans', sans-serif; letter-spacing: normal; color: #000000; font-size: 13px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: #ffffff; text-decoration-style: initial; text-decoration-color: initial; text-shadow: none;" /><i style="font-family: 'Open Sans', sans-serif; letter-spacing: normal; color: #000000; font-size: 13px; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: #ffffff; text-decoration-style: initial; text-decoration-color: initial; text-shadow: none;">Due <i style="font-family: 'Open Sans', sans-serif; text-shadow: none; letter-spacing: normal;">Tuesday</i> 6/6/23 by 11:59PM</i><br /></em></pre>
</td>
</tr>
<tr style="height: 83.9844px;">
<td style="width: 11.2116%; height: 83.9844px;">
<pre style="text-align: center;">9</pre>
<pre style="text-align: center;">(5/28/23)</pre>
</td>
<td style="width: 18.5238%; height: 83.9844px;">
<pre>Hash Tables<br />OOP Compared</pre>
</td>
<td style="width: 22.4234%; height: 83.9844px;">
<pre>ZyBooks 21.1-21.7; and <br />Web Resources (see Bb Learn)</pre>
</td>
<td style="width: 24.8607%; height: 83.9844px;">
<pre><strong>Lab 8</strong></pre>
<pre style="font-family: inherit; text-shadow: none !important; letter-spacing: normal; color: #000000; font-size: 13px; margin: 0px; padding: 0px; border: 0px; outline: 0px; font-weight: 400; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: #ffffff; text-decoration-style: initial; text-decoration-color: initial;"><em style="font-size: inherit; font-variant-ligatures: inherit; font-variant-caps: inherit;">Due by 11:59 PM on the day of your lab session</em></pre>
</td>
<td style="width: 22.9805%; height: 83.9844px;">
<pre><b></b><b>Week 9 Reading</b></pre>
<pre><em>Due Sunday 6/4/23 by 11:59PM</em></pre>
</td>
</tr>
<tr style="height: 80px;">
<td style="width: 11.2116%; height: 80px;">
<pre style="text-align: center;">10</pre>
<pre style="text-align: center;">(6/4/23)</pre>
</td>
<td style="width: 18.5238%; height: 80px;">
<pre><br />Binary Search Trees<br /><br /></pre>
</td>
<td style="width: 22.4234%; height: 80px;">
<pre>ZyBooks 23.1-23.9</pre>
</td>
<td style="width: 24.8607%; height: 80px;">
<pre><strong>Lab 9</strong></pre>
<pre style="font-family: inherit; text-shadow: none !important; letter-spacing: normal; color: #000000; font-size: 13px; margin: 0px; padding: 0px; border: 0px; outline: 0px; font-weight: 400; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: #ffffff; text-decoration-style: initial; text-decoration-color: initial;"><em style="font-size: inherit; font-variant-ligatures: inherit; font-variant-caps: inherit;">Due by 11:59 PM on the day of your lab session</em></pre>
</td>
<td style="width: 22.9805%; height: 80px;">
<pre><b>Week 10 Reading</b> </pre>
<pre><i>Due Sunday 6/11/23 by 11:59PM</i><em><br /></em></pre>
</td>
</tr>
<tr style="height: 112.969px;">
<td style="width: 11.2116%; height: 112.969px;">
<pre style="text-align: center;"> Finals Week</pre>
<pre style="text-align: center;"> (6/11/23)</pre>
</td>
<td colspan="4" style="width: 88.7884%; height: 112.969px;">
<pre><span style="color: #ff0000;"><strong> <span style="color: #000000;">Final Exam </span><br /><span style="color: #000000;"> Date: </span></strong><span style="color: #000000;">Monday June 12</span><strong><br /><span style="color: #000000;"> Time: </span></strong><span style="color: #000000;">1:00 - 3:00 PM</span><strong><span style="color: #000000;"><br /> Room: </span></strong><span style="color: #000000;">Main Building Auditorium</span></span></pre>
<pre><span style="color: #ff0000;"><span style="color: #000000;"> Final Exam Covers all topics from Weeks 1 to 10 (with the exception of PyGames).</span><br /></span></pre>
</td>
</tr>
</tbody>
</table>
