<p></p>
<h1>CS 270 Mathematical Foundations in CS - Syllabus</h1>
<p><b>Term and Credits</b></p>
	<p>
		Fall 2022-2023
		<br />
		3 Credits
	</p>
<p><b>Room and Time</b></p>

	<p>
		<table border="1">
			<thead>
				<tr>
					<th>Section</th>
					<th>Days</th>
                    <th>Time</th>
					<th>Room</th>
					<th>Instructor</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>001</td>
					<td>MW</td>
                    <td>11:00am - 12:50am</td>
					<td>3675 Market Street Room 1104</td>
					<td>Galen Long</td>
				</tr>
				<tr>
					<td>003</td>
					<td>TR</td>
                    <td>2:00pm - 3:50pm</td>
					<td>3675 Market Street Room 1104</td>
					<td>Galen Long</td>
				</tr>
				<tr>
					<td>004</td>
					<td>TR</td>
                    <td>4:00pm - 5:50pm</td>
					<td>3675 Market Street Room 1104</td>
					<td>Mark Boady</td>
				</tr>
				<tr>
					<td>005</td>
					<td>MW</td>
					<td>1:00pm - 2:50pm</td>
					<td>3675 Market Street Room 1104</td>
					<td>Mark Boady</td>
				</tr>
			</tbody>
		</table>
	</p>
<p><b>Instructors</b></p>
<p>
	Professor Mark Boady<br />
	<i>Electronic Mail Address:</i>
	<a href="mailto:mwb33@drexel.edu">mwb33@drexel.edu</a><br />
	<i>Office:</i> 3675 Market Street Room 1063 (near snack machine)<br />
	<i>Extention:</i> 215-895-2347<br />
	<i>Office Hours:</i>
		Tuesday and Wednesday 11AM-12PM
</p>

<p>
    Professor Galen Long<br />
    <i>Electronic Mail Address:</i>
    <a href="mailto:nkl43@drexel.edu">nkl43@drexel.edu</a><br />
    <i>Office:</i> 3675 Market Street Room 1153<br />
    <i>Extention:</i> 215-895-2474<br />
    <i>Office Hours:</i>
Tuesday and Thursday 1-2PM
</p>

<p><b>Teaching Assistant(s)</b></p>
<!--<p>TBD</p>-->

<p>
	Vanessa Martinez<br />
	<i>Electronic Mail Address:</i>
	<a href="mailto:vm557@drexel.edu">
		vm557@drexel.edu
    </a><br />
	<i>Office:</i> CLC<br />
	<i>Office Hours:</i>
		Wednesday 6:00PM-8:00PM and Friday 12:00AM-2:00PM<br/>
	<i>CLC Information:</i>
	<a href="https://www.cs.drexel.edu/clc" target="_blank">https://www.cs.drexel.edu/clc</a>
</p>
<p>
	Neil Kanakia<br />
	<i>Electronic Mail Address:</i>
	<a href="mailto:ndk34@drexel.edu">
		ndk34@drexel.edu
	</a><br />
	<i>Office:</i> CLC<br />
	<i>Office Hours:</i>
		Thursday 2:00PM-4:00PM
	<i>CLC Information:</i>
	<a href="https://www.cs.drexel.edu/clc" target="_blank">https://www.cs.drexel.edu/clc</a>
</p>
<!---- Course Description Stuff ---->

<p><b>Course Description</b></p>
	<p>
	Introduces formal logic and its connections to Computer Science. Students learn to translate statements about the behavior of computer programs into logical claims and to prove such assertions using both traditional techniques and automated tools. Considers approaches to proving termination, correctness, and safety for programs. Discusses propositional and predicate logic, logical inference, recursion and recursively defined sets, mathematical induction, and structural induction.
	</p>
<p><b>Course Objective and Goals</b></p>
	<ol>
		<li>To use recursion and divide and conquer to solve problems</li>
		<li>To provide recursive definitions of patterns and data structures</li>
		<li>To formally specify the input/output requirements of programs</li>
		<li>To use induction and other proof techniques to prove properties of algorithms, data structures, programs, and computer systems</li>
		<li>To use logic to describe the state of systems and to use logical deduction (by hand and using tools) to prove properties of systems</li>
		<li>To understand the power and limitations of formal logic.</li>
	</ol>
<p><b>Topics</b></p>
	<ol>
		<li>Functional Programming</li>
		<li>Recursion, Recursive Definitions and Induction</li>
		<li>Propositional and Predicate Logic</li>
		<li>Formal Proof using Natural Deduction</li>
		<li>Applications of Logic to Computer Science</li>
		<li>Divide and Conquer Algorithms and Recurrence Relations</li>
		<li>Program Specification and Verification</li>
		<li>Automated Reasoning</li>
		<li>Termination Analysis</li>
		<li>Test Case and Counter Example Generation</li>
	</ol>
<p><b>Audience and Purpose within Plan of Study</b></p>
	<p>
	This is a required course for all Computer Science and Software Engineering students. It should also be of interest to Computer Engineering, Mathematics students and students with an interest in logic and computation.
	</p>
<p><b>Prerequisites</b>
	<p>
	CS 172 Minimum Grade: D or CS 176 Minimum Grade: D or CS 265 Minimum Grade: D or SE 103 Minimum Grade: D or ECEC 301 Minimum Grade: D or ECEC 201 Minimum Grade: D
	</p>
<p><b>What Students Should Know Prior to this Course</b></p>
	<ol>
		<li>Ability to read and understand code.</li>
		<li>Basic understanding of program execution.</li>
		<li>Ability to write simple recursive programs.</li>
	</ol>
<p><b>What Students will be able to do upon Successfully Completing this Course:</b></p>
	<ol>
		<li>Use Proofs by Deduction to Justify Logical Statements</li>
		<li>Be able to write and analyze Recursive Functions</li>
		<li>Be able to implement and use a SAT solver.</li>
		<li>Use Inductive Proofs to Justify the correctness of programs and statements.</li>
		<li>Use logic to describe the state of systems.</li>
	</ol>



<!--------Textbook------------->
<p><b>Textbook</b></p>
	<p><i>We will use free resources for this class.</i></p>
	<p>
	Book of Proof (Second Edition)<br />
	Richard Hammack<br />
	Paperback: ISBN 978-0-9894721-0-4<br />
	Hardcover: ISBN 978-0-9894721-1-1<br />
	Available for Free online at:
	<a href="http://www.people.vcu.edu/~rhammack/BookOfProof/" target="_blank">
	http://www.people.vcu.edu/~rhammack/BookOfProof/
	</a>
	</p>

	<p>
	The Racket Guide<br>
	Matthew Flatt, Robert Bruce Findler and PLT<br>
	<a href="https://docs.racket-lang.org/guide/index.html" target="_blank">
	https://docs.racket-lang.org/guide/index.html
	</a>
	</p>
 
    <p>
    Forall x: Calgary<br/>
    P.D. Magnus and Tim Button<br/>
    <a href="http://forallx.openlogicproject.org" target="_blank">
    http://forallx.openlogicproject.org
    </a>
    </p>
    
	<b>Optional:</b>
	<p>
	<i>If you want to learn more about functional programming.</i><br>
	The Little Schemer - 4th Edition<br />
	Daniel P. Friedman and Matthias Felleisen<br />
	ISBN-13: 978-0262560993<br />
	ISBN-10: 0262560992<br>
	Available at:
	<a href="https://www.amazon.com/Little-Schemer-Daniel-P-Friedman/dp/0262560992/ref=sr_1_1?keywords=little+scheme&qid=1568217153&s=gateway&sr=8-1" target="_blank">
	Amazon
	</a>
	</p>
	<p>
	<i>If you want to learn more about recursive proofs.</i><br>
	The Little Prover - 1st Edition<br />
	Daniel P. Friedman and Carl Eastlund<br />
	ISBN-13: 978-0262527958<br />
	ISBN-10: 0262527952<br>
	Available at:
	<a href="https://www.amazon.com/Little-Prover-MIT-Press/dp/0262527952/ref=sr_1_1?keywords=little+prover&qid=1568217315&s=gateway&sr=8-1" target="_blank">
	Amazon
	</a>
	</p>


<!--------------Grading Details ------------->
<p><b>Grading and Policies</b></p>
	<ul>
		<li>Homeworks: 25%</li>
		<li>Labs: 25%</li>
        <li>Blogs: 8%</li>
        <li>Comments: 2%</li>
		<li>Midterm Assessment: 20%</li>
		<li>Final Assessment: 20%</li>
	</ul>
	<p>
		Final grades will be determined by your total points weighted according to this distribution. Grades may be curved but are generally computed via the formula below. It may be modified at the instructor's sole discretion, but letter grades will generally not be lower than those shown here.
	</p>
	<ul>
		<li>[100-97] A+</li>
		<li>(97-93] A</li>
		<li>(93-90] A-</li>
		<li>(90-87] B+</li>
		<li>(87-83] B</li>
		<li>(83-80] B-</li>
		<li>[80-77] C+</li>
		<li>(77-73] C</li>
		<li>(73-70] C-</li>
		<li>(70-67] D+</li>
		<li>(67-60] D</li>
		<li>(60-0] F</li>
	</ul>

<!--- Course Policies ----->
	<!----- Late Policy --->
	<p><b>Late Policy</b></p>
	<ul>
		<li>Midterm/Final Exam
			<ul>
				<li>Requires approval from the Professor to submit late.</li>
			</ul>
        </li>
        
		<li>Labs/Homeworks/Blogs/Comments
			<ul>
				<li>Penalties: <ul>
					<li>-10% 1 day late</li>
					<li>-20% 2 days late</li>
					<li>-30% 3 days late</li>
					<li>-40% 4 days late</li>
					<li>Not Accepted after 4 days</li>
				</ul>
				</li>
			</ul>
		</li>
        <li><b>Late Passes</b>:
        Each student has two (2) late passes. You may exchange a <b>late pass</b> for 1 extra day on a <b>lab</b> or <b>homework</b> for any reason. You will receive one extra day with no penalty. You <b>must</b> message a Professor or TA before the deadline for the assignment you are using the late pass on. You <b>may</b> use both late passes on the same assignment to get 2 extra days.
        </li>
		<li><b>Special Exceptions:</b> In exceptional circumstances, the <b>Professor</b> may wave additional penalties or accept work past the cut-off. Please message the Professor directly to request a special exception. Documentation (Doctor Note, Police Report, Athletics Approval, etc) is generally required.
		</li>
		<!-- <li><b>Family Friendly Policy:</b>
		We understand that some students have family obligations. If you need to miss class for a family emergency please use the Special Exceptions policy. Small children are allowed in class, but please do your best to keep classroom distruptions to a minimum.
		</li>-->
	</ul>
	<!--- Honesty Policy --->
	<p><b>Academic Honesty Policy</b></p>
	<p>The CCI Academic Honesty policy is in effect for this course. Please see the policy at <a href="http://drexel.edu/cci/resources/current-students/undergraduate/policies/cs-academic-integrity/" target="_blank">http://drexel.edu/cci/resources/current-students/undergraduate/policies/cs-academic-integrity/</a>.</p>
	<p>Academic Honesty Violations <b>will</b> be reported to the University. Punishment will be determined by the severity of the incident. Punishments include, but are not limited to,</p>
	<ul>
		<li>Failing grade for class</li>
		<li>Deduction of one letter grade</li>
		<li>Zero on Assignment/Exam Violation took place on</li>
	</ul>


<h2>Course Material</h2>
	<p><b>Programming Language</b>
	<ul>
		<li>This class will use the Racket Programming Language.</li>
		<li>This class will use the DrRacket IDE for developement.</li>
		<li>You may use Racket from the command line instead of the IDE.</li>
		<li><a href="http://racket-lang.org" target="_blank">Download Racket</a></li>
	</ul>
<p><b>Lectures</b><p>
<ul>
	<li>First class of the week will have a lecture on the material.</li>
	<li>Second class of the week will be dedicated to Lab time.</li>
    <li>Supplemental Videos will be provided that go into additional depth on the material.</li>
</ul>
<p><b>Labs</b></p>
<ul>
	<li>You may work in groups of up to 2 students on labs.</li>
	<li>Labs are intended to help you learn the material.</li>
	<li>Collaboration with other students during labs is encouraged.</li>
	<li>Submit lab answers as a pdf. You do not have to answer on the lab sheet.</li>
	<li>Clearly label each question number if not using the Lab Sheet Template.</li>
</ul>
<p><b>Homeworks</b><p>
<ul>
	<li>Most Weeks will have a homework assignment.</li>
</ul>
<p><b>Blogs</b></p>
<ul>
    <li>Most weeks will include a reflection blog post.</li>
    <li>You will also be required to comment on two other student's blogs.</li>
</ul>
<p><b>Assessments</b></p>
<ul>
	<li>There will be two assessments.</li>
</ul>
<p><b>Extra Credit</b></p>
<ul>
	<li>In this course, we value the course survey results. It is important for you to receive grades so you can determine how you are performing in class. We also want to know how we are doing. The course survey is our most important tool for determining how the students feel about the class. We also understand that completing the survey takes time and effort. Due to the importance of the course survey, extra credit will be provided to those students who complete it and provide evidence it has been completed. The extra credit will be 1 point added to the final grade for the class. This will take place at the end of the term.</li>
</ul>
<p><b>Discord</b></p>
<ul>
	<li>This term, we will be using the Drexel CS Discord Server.</li>
    <li>You will receive instructions at the beginning of the term.</li>
</ul>

<h2>General Information</h2>
<!---------------------------- Drexel Boilerplate -------------->
<!---------------------------- Drexel Boilerplate -------------->
<!---------------------------- Drexel Boilerplate -------------->
<!---------------------------- Drexel Boilerplate -------------->
<!---------------------------- Drexel Boilerplate -------------->
<!---------------------------- Drexel Boilerplate -------------->
<p><b>Computer/Software Help</b><br /> iCommons: <a href="http://drexel.edu/cci/about/our-facilities/rush-building/iCommons/" target="_blank">http://drexel.edu/cci/about/our-facilities/rush-building/iCommons/</a> <br /><br /> <b>University Policies</b> <br />In addition to the course policies listed on this syllabus, course assignments or course website, the following University policies are in effect:</p>
<ul>
<li>Academic Honesty: <a href="http://www.drexel.edu/provost/policies/academic_dishonesty.asp" target="_blank">http://www.drexel.edu/provost/policies/academic_dishonesty.asp</a></li>
<li>Judicial Affairs Academic Integrity: <a href="http://drexel.edu/studentlife/community_standards/facultystaff/integrity/" target="_blank">http://drexel.edu/studentlife/community_standards/facultystaff/integrity/</a></li>
<li>Official Final Exam Schedule: <a href="http://www.drexel.edu/registrar/scheduling/exams/" target="_blank">http://www.drexel.edu/registrar/scheduling/exams/</a></li>
<li>Students with Disability Statement: <a href="http://drexel.edu/oed/disabilityResources/overview/" target="_blank">http://drexel.edu/oed/disabilityResources/overview/</a></li>
<li>Course Drop Policy: <a href="http://www.drexel.edu/provost/policies/course_drop.asp" target="_blank">http://www.drexel.edu/provost/policies/course_drop.asp</a></li>
<li>Drexel Student Learning Priorities: <a href="http://drexel.edu/provost/assessment/outcomes/dslp/" target="_blank">http://www.drexel.edu/provost/irae/assessment/outcomes/dslp/</a></li>
<li>The instructor may, at his/her/their discretion, change any part of the course during the term, including assignments, grade brakdowns, due-dates, and the schedule. Such changes will be communicated to students via the course web site Announcements page. This page should be checked regularly and frequently for such changes and announcements. Other announcements, although rare, may include class cancellations and other urgent announcements.</li>
</ul>
<p><b>Appropriate Use of Course Materials</b></p>
<p>
It is important to recognize that some or all of the course materials provided to you are the intellectual property of Drexel University, the course instructor, or others.  Use of this intellectual property is governed by Drexel University policies, including the IT-1 policy found at: <a href="https://drexel.edu/it/about/policies/policies/01-Acceptable-Use/" target="_blank">https://drexel.edu/it/about/policies/policies/01-Acceptable-Use/</a>
</br>
Briefly, this policy states that all course materials including recordings provided by the given prior written approval by the University. Doing so may be considered a breach of this policy and will be investigated and addressed as possible academic dishonesty, among other potential violations.  Improper use of such materials may also constitute a violation of the University's Code of Conduct found at: <a href="https://drexel.edu/cpo/policies/cpo-1/" target="_blank">https://drexel.edu/cpo/policies/cpo-1/</a> and will be investigated as such.
</p>
<p><b>CCI’s Commitment to Diversity, Equity, and Inclusion (DEI)</b></p>
<p>
The College of Computing & Informatics commits to creating a positive and safe learning environment for everyone – instructors, professional staff, and students – both inside and outside of the classroom. We embrace the diversity of thoughts, perspectives, and experiences that each community member brings, and we honor everyone’s identity (including, but not limited to, race, ethnicity, age, gender, socioeconomic status, sexuality, religion, veteran status, and disability). We encourage each community member to share information regarding pronouns, religious and cultural holidays, accommodations, and any other information that will assist instructors in fostering a supportive and inclusive community environment. For more information about CCI’s commitment to DEI, visit <a href="https://drexel.edu/cci/about/diversity-equity-and-inclusion-council/" target="_blank">Diversity, Equity & Inclusion Council | Drexel CCI</a>.
</p>
<p><b>Recording of Class Activities:</b></p>
<p>
In general, students and others should not record course interactions and course activities in lecture, lab, studio or recitation.
<br/>
Students who have an approved accommodation from the Office of Disability Resources to record online lectures and discussions for note taking purposes should inform their course instructor(s) of their approved accommodation in advance. The recording of lectures and discussions may only be carried out by the students enrolled in the class who have an approved accommodation from Disability Resources with their instructors’ prior knowledge and consent. Students with approved accommodations may be asked to turn off their recorder if confidential or personal information is presented.
<br/>
If a student has any comments, concerns, or questions about provided class materials and/ or recording, talk to your course instructor first. If this does not resolve the issue, you can also reach out to the Department Head, and use the process described for a grade appeal to move your concern forward. The process described for grade appeals can be found at:
<a href="https://drexel.edu/provost/policies/grade-appeals/" target="_blank">https://drexel.edu/provost/policies/grade-appeals/</a>
</p>
<!--<p>
<b>Mask Etiquette for the 2021 Fall Quarter</b>
</p>
<p>As of August 3, 2021, Drexel requires all students and employees to wear a mask in all on-campus public and shared spaces, including instructional and research settings, regardless of vaccination status. Specifically, masks are to be worn in classrooms, laboratories, lecture halls and seminar rooms. Students are not permitted to eat during class or otherwise remove their mask. If a student needs to remove their mask (to drink water etc.) they may step outside the class, to do so and then return to class. Please remember your mask to avoid class disruption.</p>
<p>
If a student does not wear a mask or follow other required health and safety guidelines in the classroom, the instructor will take the following steps:
</p>
<ul>
<li>Ask the student to please correct their behavior. This may involve determining if there is a reason why the student is unable to comply with the request; for instance, they may not have a mask. If a solution to the problem can be easily identified, and the instructor is able to assist the student in complying, such as directing them as to where to find a mask, they will do so.</li>
<li>If the student refuses to mask, the instructor will inform the student that they will be referred to Student Conduct and they will be asked to leave the class.</li>
</ul>
<p>
As members of the Drexel community, we all play a role in supporting our collective health and safety, and I appreciate your collaboration and commitment to this. If you have questions or concerns about masking in class, please do not hesitate to ask. More information about masking is available at the link above and on the Drexel Response to Coronavirus website.
</p>-->
<!-------------------------END Drexel Boilerplate -------------->
<!-------------------------END Drexel Boilerplate -------------->
<!-------------------------END Drexel Boilerplate -------------->
<!-------------------------END Drexel Boilerplate -------------->
<!-------------------------END Drexel Boilerplate -------------->
<!-------------------------END Drexel Boilerplate -------------->

<!--- Schedule -->
<h2>Tentative Course Schedule</h2>
<p>Please see the appropriate assignment webpages for a detailed description of course deliverables.</p>

<table border="1">
<thead>
<tr>
	<th>Week</th>
	<th>Topic</th>
	<th>Homework</th>
</tr>
</thead>
<tbody>
<tr>
	<td>(1) September 19, 2022</td>
	<td>
		Boolean Logic<br>
        Natural Deduction (Part 1)
	</td>
	<td>
        Blog 1 - Due 11:59PM Thursday (9/22/22)<br/>
		Lab 1 - Due 11:59PM Friday (9/23/22)
	</td>
</tr>
<tr>
	<td>(2) September 26, 2022</td>
	<td>
        Natural Deduction (Part 2)<br/>
        Natural Deduction (Part 3)
	</td>
	<td>
        Homework 1 - Due 11:59PM Wednesday (9/28/22)<br/>
		Comments on Blog 1 - Due 11:59PM Thursday (9/29/22)<br/>
		Blog 2 - Due 11:59PM Thursday (9/29/22)<br/>
        Lab 2 - Due 11:59PM Friday (9/30/22)
	</td>
</tr>
<tr>
	<td>(3) October 3, 2022</td>
	<td>
        Predicates and First Order Logic<br/>
        Deduction with Predicates
	</td>
	<td>
        Homework 2 - Due 11:59PM Wednesday (10/5/22)<br/>
        Comments on Blog 2 - Due 11:59PM Thursday (10/6/22)<br/>
        Blog 3 - Due 11:59PM Thursday (10/6/22)<br/>
		Lab 3 - Due 11:59PM Friday (10/7/22)
	</td>
</tr>
<tr>
	<td>(4) October 10, 2022<br> Indigenous Peoples' Day <b>No Class Monday</b></td>
	<td>
		Introduction to Racket <br/>
        Recursion and Lists<br/>
	</td>
	<td>
        Homework 3 - Due 11:59PM Wednesday (10/12/22)<br/>
        Comments on Blog 3 - Due 11:59PM Thursday (10/13/14)<br/>
        Blog 4 - Due 11:59PM Thursday (10/13/14)<br/>
		Lab 4 - Due 11:59PM Friday (10/14/15)
	</td>
</tr>
<tr>
	<td>(5) October 17, 2022</td>
	<td>
    Recursive Design Patterns<br/>
    High Order Functions
	</td>
	<td>
        Homework 4 - Due 11:59PM Wednesday (10/19/22)<br/>
        Comments on Blog 4 - Due 11:59PM Thursday (10/20/22)<br/>
        Blog 5 - Due 11:59PM Thursday (10/20/22)<br/>
		Lab 5 - Due 11:59PM Friday (10/21/22)
	</td>
</tr>
<tr>
	<td>(6) October 24, 2022</td>
	<td>
        Inductive Thinking<br/>
        No Lecture Thurday - Use the Time to take Midterm Online
	</td>
	<td>
		Midterm - Due 11:59PM <b>Thursday</b> (10/27/22)<br/>
		Lab 6 - Due 11:59PM Friday (10/28/22)
	</td>
</tr>
<tr>
	<td>(7) October 31, 2022</td>
	<td>
		Mathematical Induction<br/>
        Peano Arithmetic
	</td>
	<td>
		Homework 5 - Due 11:59PM Wednesday (11/2/22)<br/>
        Comments on Blog 5 - Due 11:59PM Thursday (11/3/22)<br/>
        Blog 7 - Due 11:59PM Thursday (11/3/22)<br/>
		Lab 7 - Due 11:59PM Friday (11/4/22)
	</td>
</tr>
<tr>
	<td>(8) November 8, 2022</td>
	<td>
		Induction on Lists<br/>
		Boolean Expressions as Lists
	</td>
	<td>
        Homework 6 - Due 11:59PM Wednesday (11/9/22)<br/>
        Comments on Blog 7 - Due 11:59PM Thursday (11/10/22)<br/>
        Blog 8 - Due 11:59PM Thursday (11/10/22)<br/>
		Lab 8 - Due 11:59PM Friday (11/11/22)
	</td>
</tr>
<tr>
	<td>(9) November 14, 2022</td>
	<td>
		Boolean Normal Forms<br/>
		Simplifying Expressions Recursively
	</td>
	<td>
        Homework 7 - Due 11:59PM Wednesday (11/16/22)<br/>
        Comments on Blog 8 - Due 11:59PM Thursday (11/17/22)<br/>
        Blog 9 - Due 11:59PM Thursday (11/17/22)<br/>
		Lab 9 - Due 11:59PM Friday (11/18/22))
	</td>
</tr>
<tr><td colspan="4"> (10) November 21, 2022 - Thanksgiving - No Classes</td></tr>
<tr>
	<td>
		(10) November 28, 2022
	</td>
	<td>
        	SAT Solvers<br/>
        	NP-Complete Problems
	</td>
	<td>
        Homework 8 - Due 11:59PM Wednesday (11/30/22)<br/>
        Comments on Blog 9 - Due 11:59PM Thursday (12/1/22)<br/>
        Blog 10 - Due 11:59PM Thursday (12/1/22)<br/>
		Lab 10 - Due 11:59PM Friday (12/2/22)
	</td>
</tr>
<tr>
	<td>(11) December 5, 2022</td>
	<td colspan="3">
		<b>Final Assessment</b> - Due 11:59PM Wednesday (12/7/22)<br>
		Extra Credit Course Survey - Due 11:59PM Wednesday (12/7/22)
	</td>
</tr>
</tbody>
</table>
