<p></p>
<h1>CS 270 Mathematical Foundations in CS - Syllabus</h1>
<p><b>Term and Credits</b></p>
	<p>
		Fall 2023-2024
		<br />
		3 Credits
	</p>
<p><b>Room and Time</b></p>

	<p>
		<table border="1">
			<thead>
				<tr>
					<th>Section</th>
					<th>Days</th>
                    <th>Time</th>
					<th>Room</th>
					<th>Instructor</th>
                    <th>Course Assistant</th>
				</tr>
			</thead>
			<tbody>
                <tr>
                    <td>001</td>
                    <td>MW</td>
                    <td>9:00am - 10:50am</td>
                    <td>3675 Market Street Room 1104</td>
                    <td>Jeremy R. Johnson</td>
                    <td>Theo Jerome</td>
                </tr>
                <tr>
                    <td>002</td>
                    <td>MW</td>
                    <td>10:30am - 11:50am</td>
                    <td>3675 Market Street Room 1104</td>
                    <td>Jeremy R. Johnson</td>
                    <td>Theo Jerome</td>
                </tr>
                <tr>
                    <td>003</td>
                    <td>MW</td>
                    <td>12:00pm - 1:20pm</td>
                    <td>3675 Market Street Room 1054-1055</td>
                    <td>Mark Boady</td>
                    <td>Theo Jerome + Robert Silver</td>
                </tr>
				<tr>
					<td>005</td>
					<td>TR</td>
                    <td>10:30am - 11:50am</td>
					<td>3675 Market Street Room 1104</td>
					<td>Mark Boady</td>
                    <td>Thodoros Tsolakos</td>
				</tr>
				<tr>
					<td>006</td>
					<td>TR</td>
                    <td>3:00pm - 4:20pm</td>
					<td>3675 Market Street Room 1104</td>
					<td>Mark Boady</td>
                    <td>Tuesday: Arnav Sharma<br>Thursday: Saquib Baig</td>
				</tr>
			</tbody>
		</table>
	</p>
<p><b>Instructors</b></p>
<p>
	Professor Mark Boady<br />
	<i>Electronic Mail Address:</i>
	<a href="mailto:mwb33@drexel.edu">mwb33@drexel.edu</a><br />
	<i>Office:</i> 3675 Market Street Room 1063 (near snack machine)<br />
	<i>Extention:</i> 215-895-2347<br />
	<i>Office Hours:</i>
		Monday, Tuesday, and Wednesday from 2-3PM
</p>

<!--
<p>
    Professor Galen Long<br />
    <i>Electronic Mail Address:</i>
    <a href="mailto:nkl43@drexel.edu">nkl43@drexel.edu</a><br />
    <i>Office:</i> 3675 Market Street Room 1153<br />
    <i>Extention:</i> 215-895-2474<br />
    <i>Office Hours:</i>
Tuesday and Thursday 1-2PM
</p>
-->

<p>
    Professor Jeremy R Johnson<br />
    <i>Electronic Mail Address:</i>
    <a href="mailto:johnsojr@drexel.edu">johnsojr@drexel.edu</a><br />
    <i>Office:</i> 3675 Market Street Room 1175<br />
    <i>Extention:</i> 215-895-2893<br />
    <i>Office Hours:</i> Monday and Tuesday 5-6PM
</p>

<p><b>Teaching Assistant(s)</b></p>
<p>All TA Office Hours are held in the CLC <a href="https://www.cs.drexel.edu/clc" target="_blank">https://www.cs.drexel.edu/clc</a></p>

<table border="1">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Hours</th>
        </tr>
    </thead>
    <tbody>
        <tr><td>Robert Silver</td><td><a href="mailto:rls442@drexel.edu">rls442@drexel.edu</a></td><td>M 2:00PM-4:00PM</td></tr>
        <tr><td>Safa Obuz</td><td><a href="mailto:seo52@drexel.edu">seo52@drexel.edu</a></td><td>M 6:00PM-8:00PM</td></tr>
        <tr><td>Saquib Baig</td><td><a href="mailto:sb4356@drexel.edu">sb4356@drexel.edu</a></td><td>T 4:00PM-6:00PM</td></tr>
        <tr><td>Arnav Sharma</td><td><a href="mailto:as5466@drexel.edu">as5466@drexel.edu</a></td><td>T 6:00PM-8:00PM</td></tr>
        <tr><td>Thodoros Tsolakos</td><td><a href="mailto:tt675@drexel.edu">tt675@drexel.edu</a></td><td>W 4:00PM-6:00PM and R 4:00PM-6:00PM</td></tr>
        <tr><td>Kaitlyn Mark</td><td><a href="mailto:km3949@drexel.edu">km3949@drexel.edu</a></td><td>R 6:00PM-8:00PM [Zoom Only]</td></tr>
        <tr><td>Theo Jerome</td><td><a href="mailto:lsj38@drexel.edu">lsj38@drexel.edu</a></td><td>F 12:00-2:00PM and 2:00-4:00PM</td></tr>
        
        
        <tr><td>Vanessa Martinez</td><td><a href="mailto:vm557@drexel.edu">vm557@drexel.edu</a></td><td>No Office Hours/ Grading Only</td></tr>
        <tr><td>Hung Do</td><td><a href="mailto:hd386@drexel.edu">hd386@drexel.edu</a></td><td>R 12:00PM-2:00PM</td></tr>
    </tbody>
</table>

<!---- Course Description Stuff ---->

<p><b>Course Description</b></p>
	<p>
	Introduces formal logic and its connections to Computer Science. Students learn to translate statements about the behavior of computer programs into logical claims and to prove such assertions using both traditional techniques and automated tools. Considers approaches to proving termination, correctness, and safety for programs. Discusses propositional and predicate logic, logical inference, recursion and recursively defined sets, mathematical induction, and structural induction.
	</p>
<p><b>Course Objective and Goals</b></p>
	<ol>
		<li>To use recursion and divide and conquer to solve problems</li>
		<li>To provide recursive definitions of patterns and data structures</li>
		<li>To formally specify the input/output requirements of programs</li>
		<li>To use induction and other proof techniques to prove properties of algorithms, data structures, programs, and computer systems</li>
		<li>To use logic to describe the state of systems and to use logical deduction (by hand and using tools) to prove properties of systems</li>
		<li>To understand the power and limitations of formal logic.</li>
	</ol>
<p><b>Topics</b></p>
	<ol>
		<li>Functional Programming</li>
		<li>Recursion, Recursive Definitions and Induction</li>
		<li>Propositional and Predicate Logic</li>
		<li>Formal Proof using Natural Deduction</li>
		<li>Applications of Logic to Computer Science</li>
		<li>Divide and Conquer Algorithms and Recurrence Relations</li>
		<li>Program Specification and Verification</li>
		<li>Automated Reasoning</li>
		<li>Termination Analysis</li>
		<li>Test Case and Counter Example Generation</li>
	</ol>
<p><b>Audience and Purpose within Plan of Study</b></p>
	<p>
	This is a required course for all Computer Science and Software Engineering students. It should also be of interest to Computer Engineering, Mathematics students and students with an interest in logic and computation.
	</p>
<p><b>Prerequisites</b>
	<p>
	CS 172 Minimum Grade: D or CS 176 Minimum Grade: D or CS 265 Minimum Grade: D or SE 103 Minimum Grade: D or ECEC 301 Minimum Grade: D or ECEC 201 Minimum Grade: D
	</p>
<p><b>What Students Should Know Prior to this Course</b></p>
	<ol>
		<li>Ability to read and understand code.</li>
		<li>Basic understanding of program execution.</li>
		<li>Ability to write simple recursive programs.</li>
	</ol>
<p><b>What Students will be able to do upon Successfully Completing this Course:</b></p>
	<ol>
		<li>Use Proofs by Deduction to Justify Logical Statements</li>
		<li>Be able to write and analyze Recursive Functions</li>
		<li>Be able to implement and use a SAT solver.</li>
		<li>Use Inductive Proofs to Justify the correctness of programs and statements.</li>
		<li>Use logic to describe the state of systems.</li>
	</ol>



<!--------Textbook------------->
<p><b>Textbook</b></p>
	<p><i>We will use free resources for this class.</i></p>
	<p>
	Book of Proof (Second Edition)<br />
	Richard Hammack<br />
	Paperback: ISBN 978-0-9894721-0-4<br />
	Hardcover: ISBN 978-0-9894721-1-1<br />
	Available for Free online at:
	<a href="http://www.people.vcu.edu/~rhammack/BookOfProof/" target="_blank">
	http://www.people.vcu.edu/~rhammack/BookOfProof/
	</a>
	</p>

	<p>
	The Racket Guide<br>
	Matthew Flatt, Robert Bruce Findler and PLT<br>
	<a href="https://docs.racket-lang.org/guide/index.html" target="_blank">
	https://docs.racket-lang.org/guide/index.html
	</a>
	</p>
 
    <p>
    Forall x: Calgary<br/>
    P.D. Magnus and Tim Button<br/>
    <a href="http://forallx.openlogicproject.org" target="_blank">
    http://forallx.openlogicproject.org
    </a>
    </p>
    
	<b>Optional:</b>
	<p>
	<i>If you want to learn more about functional programming.</i><br>
	The Little Schemer - 4th Edition<br />
	Daniel P. Friedman and Matthias Felleisen<br />
	ISBN-13: 978-0262560993<br />
	ISBN-10: 0262560992<br>
	Available at:
	<a href="https://www.amazon.com/Little-Schemer-Daniel-P-Friedman/dp/0262560992/ref=sr_1_1?keywords=little+scheme&qid=1568217153&s=gateway&sr=8-1" target="_blank">
	Amazon
	</a>
	</p>
	<p>
	<i>If you want to learn more about logic and proofs.</i><br>
Connecting Discrete Mathematics and Computer Science - 2nd Edition<br />
	David Liben-Nowell<br />
	ISBN-13: 978-1009150491<br />
	Available at:
	<a href="https://www.amazon.com/Connecting-Discrete-Mathematics-Computer-Science-ebook/dp/B09VXPWYJ5?ref_=ast_author_mpb" target="_blank">
	Amazon
	</a>
	</p>


<!--------------Grading Details ------------->
<p><b>Grading and Policies</b></p>
	<ul>
		<li>Homeworks: 35%</li>
		<li>Labs: 25%</li>
		<li>Midterm Exam: 20%</li>
		<li>Final Exam: 20%</li>
	</ul>
	<p>
		Final grades will be determined by your total points weighted according to this distribution. Grades may be curved but are generally computed via the formula below. It may be modified at the instructor's sole discretion, but letter grades will generally not be lower than those shown here.
	</p>
	<ul>
		<li>[100-97] A+</li>
		<li>(97-93] A</li>
		<li>(93-90] A-</li>
		<li>(90-87] B+</li>
		<li>(87-83] B</li>
		<li>(83-80] B-</li>
		<li>[80-77] C+</li>
		<li>(77-73] C</li>
		<li>(73-70] C-</li>
		<li>(70-67] D+</li>
		<li>(67-60] D</li>
		<li>(60-0] F</li>
	</ul>

<!--- Course Policies ----->
	<!----- Late Policy --->
	<p><b>Late Policy</b></p>
	<ul>
		<li>Midterm/Final Exam
			<ul>
				<li>Requires approval from the Professor to take late.</li>
			</ul>
        </li>
        <li>Labs<ul><li>Requires approval from the Professor to complete late.</li></ul></li>
		<li>Homeworks
			<ul>
				<li>Penalties: <ul>
					<li>-10% 1 day late</li>
					<li>-20% 2 days late</li>
					<li>-30% 3 days late</li>
					<li>-40% 4 days late</li>
					<li>Not Accepted after 4 days</li>
				</ul>
				</li>
			</ul>
		</li>
        <li><b>Late Passes</b>:
        Each student has two (2) late passes. You may exchange a <b>late pass</b> for 1 extra day on a <b>homework</b> for any reason. You will receive one extra day with no penalty. You <b>must</b> message a Professor or TA before the deadline for the assignment you are using the late pass on. You <b>may</b> use both late passes on the same assignment to get 2 extra days.
        </li>
		<li><b>Special Exceptions:</b> In exceptional circumstances, the <b>Professor</b> may wave additional penalties or accept work past the cut-off. Please message the Professor directly to request a special exception.
		</li>
		<!-- <li><b>Family Friendly Policy:</b>
		We understand that some students have family obligations. If you need to miss class for a family emergency please use the Special Exceptions policy. Small children are allowed in class, but please do your best to keep classroom distruptions to a minimum.
		</li>-->
	</ul>
	<!--- Honesty Policy --->
	<p><b>Academic Honesty Policy</b></p>
	<p>The CCI Academic Honesty policy is in effect for this course. Please see the policy at <a href="http://drexel.edu/cci/resources/current-students/undergraduate/policies/cs-academic-integrity/" target="_blank">http://drexel.edu/cci/resources/current-students/undergraduate/policies/cs-academic-integrity/</a>.</p>
	<p>Academic Honesty Violations <b>will</b> be reported to the University. Punishment will be determined by the severity of the incident. Punishments include, but are not limited to,</p>
	<ul>
		<li>Failing grade for class</li>
		<li>Deduction of one letter grade</li>
		<li>Zero on Assignment/Exam Violation took place on</li>
	</ul>


<h2>Course Material</h2>
	<p><b>Programming Language</b>
	<ul>
		<li>This class will use the Racket Programming Language.</li>
		<li>This class will use the DrRacket IDE for developement.</li>
		<li>You may use Racket from the command line instead of the IDE.</li>
		<li><a href="http://racket-lang.org" target="_blank">Download Racket</a></li>
	</ul>
<p><b>Lectures</b><p>
<ul>
	<li>Each class will start with a lecture.</li>
    <li>Most classes will have a short lab following the lecture.</li>
</ul>
<p><b>Labs</b></p>
<ul>
	<li>You may work in groups of up to 2 students on labs.</li>
	<li>Labs are intended to help you learn the material.</li>
	<li>Collaboration with other students during labs is encouraged.</li>
	<li>You will be provided with a lab sheet at the start of the lab period.</li>
	<li>Lab sheets must be turned in at the end of class time.</li>
    <li>If you miss a class, contact your Professor to make up the lab.</li>
</ul>
<p><b>Homeworks</b><p>
<ul>
	<li>Most Weeks will have a homework assignment.</li>
    <li>See Schedule for Due Dates</li>
    <li>All homeworks are submitted to Gradescope</li>
</ul>
<!--
<p><b>Blogs</b></p>
<ul>
    <li>Most weeks will include a reflection blog post.</li>
    <li>You will also be required to comment on two other student's blogs.</li>
</ul>
-->
<p><b>Exams</b></p>
<ul>
	<li>There will be two Exams.</li>
    <li>Both will be in held in class.</li>
    <li>Midterm: Week 6</li>
    <li>Final: Finals Week</li>
</ul>
<p><b>Extra Credit</b></p>
<ul>
	<li>In this course, we value the course survey results. It is important for you to receive grades so you can determine how you are performing in class. We also want to know how we are doing. The course survey is our most important tool for determining how the students feel about the class. We also understand that completing the survey takes time and effort. Due to the importance of the course survey, extra credit will be provided to those students who complete it and provide evidence it has been completed. The extra credit will be 1 point added to the final grade for the class. This will take place at the end of the term.</li>
</ul>
<!-- <p><b>Discord</b></p>
<ul>
	<li>This term, we will be using the Drexel CS Discord Server.</li>
    <li>You will receive instructions at the beginning of the term.</li>
</ul> -->

<h2>General Information</h2>
<!---------------------------- Drexel Boilerplate -------------->
<!---------------------------- Drexel Boilerplate -------------->
<!---------------------------- Drexel Boilerplate -------------->
<!---------------------------- Drexel Boilerplate -------------->
<!---------------------------- Drexel Boilerplate -------------->
<!---------------------------- Drexel Boilerplate -------------->
<p><b>Computer/Software Help</b><br /> iCommons: <a href="http://drexel.edu/cci/about/our-facilities/rush-building/iCommons/" target="_blank">http://drexel.edu/cci/about/our-facilities/rush-building/iCommons/</a> <br /><br /> <b>University Policies</b> <br />In addition to the course policies listed on this syllabus, course assignments or course website, the following University policies are in effect:</p>
<ul>
<li>Academic Honesty: <a href="http://www.drexel.edu/provost/policies/academic_dishonesty.asp" target="_blank">http://www.drexel.edu/provost/policies/academic_dishonesty.asp</a></li>
<li>Judicial Affairs Academic Integrity: <a href="http://drexel.edu/studentlife/community_standards/facultystaff/integrity/" target="_blank">http://drexel.edu/studentlife/community_standards/facultystaff/integrity/</a></li>
<li>Official Final Exam Schedule: <a href="http://www.drexel.edu/registrar/scheduling/exams/" target="_blank">http://www.drexel.edu/registrar/scheduling/exams/</a></li>
<li>Students with Disability Statement: <a href="http://drexel.edu/oed/disabilityResources/overview/" target="_blank">http://drexel.edu/oed/disabilityResources/overview/</a></li>
<li>Course Drop Policy: <a href="http://www.drexel.edu/provost/policies/course_drop.asp" target="_blank">http://www.drexel.edu/provost/policies/course_drop.asp</a></li>
<li>Drexel Student Learning Priorities: <a href="http://drexel.edu/provost/assessment/outcomes/dslp/" target="_blank">http://www.drexel.edu/provost/irae/assessment/outcomes/dslp/</a></li>
<li>The instructor may, at his/her/their discretion, change any part of the course during the term, including assignments, grade brakdowns, due-dates, and the schedule. Such changes will be communicated to students via the course web site Announcements page. This page should be checked regularly and frequently for such changes and announcements. Other announcements, although rare, may include class cancellations and other urgent announcements.</li>
</ul>
<p><b>Appropriate Use of Course Materials</b></p>
<p>
It is important to recognize that some or all of the course materials provided to you are the intellectual property of Drexel University, the course instructor, or others.  Use of this intellectual property is governed by Drexel University policies, including the IT-1 policy found at: <a href="https://drexel.edu/it/about/policies/policies/01-Acceptable-Use/" target="_blank">https://drexel.edu/it/about/policies/policies/01-Acceptable-Use/</a>
</br>
Briefly, this policy states that all course materials including recordings provided by the given prior written approval by the University. Doing so may be considered a breach of this policy and will be investigated and addressed as possible academic dishonesty, among other potential violations.  Improper use of such materials may also constitute a violation of the University's Code of Conduct found at: <a href="https://drexel.edu/cpo/policies/cpo-1/" target="_blank">https://drexel.edu/cpo/policies/cpo-1/</a> and will be investigated as such.
</p>
<p><b>Recording of Class Activities:</b></p>
<p>
In general, students and others should not record course interactions and course activities in lecture, lab, studio or recitation.
<br/>
Students who have an approved accommodation from the Office of Disability Resources to record online lectures and discussions for note taking purposes should inform their course instructor(s) of their approved accommodation in advance. The recording of lectures and discussions may only be carried out by the students enrolled in the class who have an approved accommodation from Disability Resources with their instructors' prior knowledge and consent. Students with approved accommodations may be asked to turn off their recorder if confidential or personal information is presented.
<br/>
If a student has any comments, concerns, or questions about provided class materials and/ or recording, talk to your course instructor first. If this does not resolve the issue, you can also reach out to the Department Head, and use the process described for a grade appeal to move your concern forward. The process described for grade appeals can be found at:
<a href="https://drexel.edu/provost/policies/grade-appeals/" target="_blank">https://drexel.edu/provost/policies/grade-appeals/</a>
</p>
<p>
<!--
<b>Mask Etiquette for the 2021 Fall Quarter</b>
</p>
<p>As of August 3, 2021, Drexel requires all students and employees to wear a mask in all on-campus public and shared spaces, including instructional and research settings, regardless of vaccination status. Specifically, masks are to be worn in classrooms, laboratories, lecture halls and seminar rooms. Students are not permitted to eat during class or otherwise remove their mask. If a student needs to remove their mask (to drink water etc.) they may step outside the class, to do so and then return to class. Please remember your mask to avoid class disruption.</p>
<p>
If a student does not wear a mask or follow other required health and safety guidelines in the classroom, the instructor will take the following steps:
</p>
<ul>
<li>Ask the student to please correct their behavior. This may involve determining if there is a reason why the student is unable to comply with the request; for instance, they may not have a mask. If a solution to the problem can be easily identified, and the instructor is able to assist the student in complying, such as directing them as to where to find a mask, they will do so.</li>
<li>If the student refuses to mask, the instructor will inform the student that they will be referred to Student Conduct and they will be asked to leave the class.</li>
</ul>
<p>
As members of the Drexel community, we all play a role in supporting our collective health and safety, and I appreciate your collaboration and commitment to this. If you have questions or concerns about masking in class, please do not hesitate to ask. More information about masking is available at the link above and on the Drexel Response to Coronavirus website.
</p>
-->
<!-------------------------END Drexel Boilerplate -------------->
<!-------------------------END Drexel Boilerplate -------------->
<!-------------------------END Drexel Boilerplate -------------->
<!-------------------------END Drexel Boilerplate -------------->
<!-------------------------END Drexel Boilerplate -------------->
<!-------------------------END Drexel Boilerplate -------------->

<!--- Schedule -->
<h2>Tentative Course Schedule (Tuesday/Thursday Sections)</h2>
<p>Please see the appropriate assignment webpages for a detailed description of course deliverables.</p>
<p><b>NOTE</b>: Due to University Holidays the TR and MW sections have different due dates.</p>

<table border="1">
<thead>
<tr>
	<th>Week</th>
	<th>Topic</th>
	<th>Homework</th>
</tr>
</thead>
<tbody>
<tr>
	<td>(1) September 25, 2023<br>(Monday Holiday: Yom Kippur)</td>
	<td>
		<a href="https://logic.boady.net/content/001_boolean/001_logic.html" >Formal Logic</a><br>
        <a href="https://logic.boady.net/content/001_boolean/002_deduction.html" >Natural Deduction Basics</a> (Not including Disjunction Elimination)
	</td>
	<td>
		Lab 1 - Due Thursday
	</td>
</tr>
<tr>
	<td>(2) October 2, 2023</td>
	<td>
        <a href="https://logic.boady.net/content/001_boolean/002_deduction.html" >Disjunction Elimination</a> and <a href="https://logic.boady.net/content/001_boolean/004_examples.html#" >Some Examples</a>
        <br/>
        <a href="https://logic.boady.net/content/001_boolean/003_contradictions.html#" >Proofs by Contradiction</a> and <a href="https://logic.boady.net/content/001_boolean/004_examples.html#" >More Examples</a>
	</td>
	<td>
        Lab 2 - Due Tuesday<br/>
        Lab 3 - Due Thursday<br/>
        Homework 1 - Due 11:59PM Friday (10/6/23)
	</td>
</tr>
<tr>
	<td>(3) October 9, 2023<br>(Monday Holiday: Indigenous Peoples' Day)</td>
	<td>
        <a href="https://logic.boady.net/content/002_fol/001_predicates.html" >Predicates and First Order Logic</a>
        <br/>
        <a href="https://logic.boady.net/content/002_fol/002_fol.html" >Deduction with Predicates</a>
	</td>
	<td>
        Lab 4 - Due Tuesday<br/>
        Lab 5 - Due Thursday<br/>
        Homework 2 - Due 11:59PM Friday (10/13/23)
	</td>
</tr>
<tr>
	<td>(4) October 16, 2023</td>
	<td>
		<a href="https://logic.boady.net/content/003_racket/001_racket.html" >Introduction to Racket</a>
        <br/>
        <a href="https://logic.boady.net/content/003_racket/002_lists.html" >Recursion and Lists</a>
	</td>
	<td>
        Lab 6 - Due Tuesday<br/>
        Lab 7 - Due Thursday<br/>
        Homework 3 - Due 11:59PM Friday (10/20/23)
	</td>
</tr>
<tr>
	<td>(5) October 23, 2023</td>
	<td>
    <a href="https://logic.boady.net/content/003_racket/003_eqres.html" > Equational Reasoning</a> and
    <a href="https://logic.boady.net/content/003_racket/004_recursive.html" >Recursive Functions</a>
    <br/>
    <a href="https://logic.boady.net/content/003_racket/005_highfunc.html" >High Order Functions</a>
	</td>
	<td>
        Lab 8 - Due Tuesday<br/>
        Lab 9 - Due Thursday<br/>
        Homework 4 - Due 11:59PM Friday (10/27/23)
	</td>
</tr>
<tr>
	<td>(6) October 30, 2023</td>
	<td>
        <a href="https://logic.boady.net/content/004_induction/001_thinking.html" >Inductive Thinking</a>
        <br/>
        <b>Midterm</b>
	</td>
	<td>
		Midterm - <b>Thursday</b> in class (11/2/23)<br/>
	</td>
</tr>
<tr>
	<td>(7) November 6, 2023</td>
	<td>
		<a href="https://logic.boady.net/content/004_induction/002_induction.html" >Mathematical Induction</a>
        <br/>
        <a href="https://logic.boady.net/content/004_induction/003_counting.html" >Peano Arithmetic</a>
	</td>
	<td>
        Lab 10 - Due Tuesday<br/>
        Lab 11 - Due Thursday<br/>
        Homework 5 - Due 11:59PM Friday (11/10/23)
	</td>
</tr>
<tr>
	<td>(8) November 13, 2023</td>
	<td>
		<a href="https://logic.boady.net/content/004_induction/004_listind.html" >Induction on Lists</a>
        <br/>
		<a href="https://logic.boady.net/content/005_simple/001_eval.html#" >Boolean Expressions as Lists</a>
	</td>
	<td>
        Lab 12 - Due Tuesday<br/>
        Lab 13 - Due Thursday<br/>
        Homework 6 - Due 11:59PM Friday (11/17/23)
	</td>
</tr>
<tr><td>(9) November 20, 2023</td><td colspan="2"><b>Happy Thanksgiving: No Classes</b></td></tr>
<tr>
	<td>(10) November 27, 2023</td>
	<td>
		<a href="https://logic.boady.net/content/005_simple/002_normal.html#" >Boolean Normal Forms</a>
        <br/>
		<a href="https://logic.boady.net/content/005_simple/003_simple.html" >Simplifying Expressions Recursively</a>
	</td>
	<td>
        Lab 14 - Due Tuesday<br/>
        Lab 15 - Due Thursday<br/>
        Homework 7 - Due 11:59PM Friday (12/1/23)
	</td>
</tr>
<tr>
	<td>
		(11) December 4, 2023
	</td>
	<td>
        	<a href="https://logic.boady.net/content/006_comp/001_sat.html" >SAT Solvers</a>
            <br/>
        	<a href="https://logic.boady.net/content/006_comp/002_np.html" >NP-Complete Problems</a>
	</td>
	<td>
        Lab 16 - Tuesday<br/>
        Lab 17 - Thursday<br/>
        Homework 8 - Due 11:59PM Friday (12/8/23)
	</td>
</tr>
<tr>
	<td>(12) December 11, 2022</td>
    <td colspan="3">
        <b>Final Assessment</b><br>
            Section 01 and 02 Disque 103 Dec 14, 2023 3:30pm-5:30PM<br>
            Section 03, 05 and 06 Main Aud Dec 14, 2023 3:30pm-5:30PM<br>
        Extra Credit Course Survey - Due 11:59PM Wednesday (12/13/23)
    </td>
</tr>
</tbody>
</table>


<!--- Schedule -->
<h2>Tentative Course Schedule (Monday/Wednesday Sections)</h2>
<p>Please see the appropriate assignment webpages for a detailed description of course deliverables.</p>
<p><b>NOTE</b>: Due to University Holidays the TR and MW sections have different due dates.</p>

<table border="1">
<thead>
<tr>
    <th>Week</th>
    <th>Topic</th>
    <th>Homework</th>
</tr>
</thead>
<tbody>
<tr>
    <td>(1) September 25, 2023<br>(Monday Holiday: Yom Kippur)</td>
    <td>
        <a href="https://logic.boady.net/content/001_boolean/001_logic.html" >Formal Logic</a>
    </td>
    <td>
        Nothing Due
    </td>
</tr>
<tr>
    <td>(2) October 2, 2023</td>
    <td>
        <a href="https://logic.boady.net/content/001_boolean/002_deduction.html" >Natural Deduction Basics</a> (Not including Disjunction Elimination)
        <br>
        <a href="https://logic.boady.net/content/001_boolean/002_deduction.html" >Disjunction Elimination</a> and <a href="https://logic.boady.net/content/001_boolean/004_examples.html#" >Some Examples</a>
    </td>
    <td>
        Lab 1 - Due Monday<br/>
        Lab 2 - Due Wednesday<br/>
        Homework 1 - Due Friday 11:59PM (10/6/23)
    </td>
</tr>
<tr>
    <td>(3) October 9, 2023<br>(Monday Holiday: Indigenous Peoples' Day)</td>
    <td>
        Watch Video Lecture:<a href="https://logic.boady.net/content/001_boolean/003_contradictions.html#" >Proofs by Contradiction</a> and <a href="https://logic.boady.net/content/001_boolean/004_examples.html#" >More Examples</a>
        <br>
        Wednesday: <a href="https://logic.boady.net/content/002_fol/001_predicates.html" >Predicates and First Order Logic</a>
    </td>
    <td>
        Lab 3 - Due Tuesday 11:59PM in Gradescope<br/>
        Lab 4 - In Class Wednesday<br/>
        Homework 2 - Due Friday 11:59PM (10/13/23)
    </td>
</tr>
<tr>
    <td>(4) October 16, 2023</td>
    <td>
        <a href="https://logic.boady.net/content/002_fol/002_fol.html" >Deduction with Predicates</a>
        <br/>
        <a href="https://logic.boady.net/content/003_racket/001_racket.html" >Introduction to Racket</a>
    </td>
    <td>
        Lab 5 - Due Monday<br/>
        Lab 6 - Due Wednesday<br/>
        Homework 3 - Due Friday 11:59PM (10/20/23)
    </td>
</tr>
<tr>
    <td>(5) October 23, 2023</td>
    <td>
        <a href="https://logic.boady.net/content/003_racket/002_lists.html" >Recursion and Lists</a>
        <br/>
        <a href="https://logic.boady.net/content/003_racket/003_eqres.html" > Equational Reasoning</a> and
        <a href="https://logic.boady.net/content/003_racket/004_recursive.html" >Recursive Functions</a>
    </td>
    <td>
        Lab 7 - Due Monday<br/>
        Lab 8 - Due Wednesday<br/>
        Homework 4 - Due Friday 11:59PM (10/27/23)
    </td>
</tr>
<tr>
    <td>(6) October 30, 2023</td>
    <td>
        <a href="https://logic.boady.net/content/003_racket/005_highfunc.html" >High Order Functions</a>
        <br/>
        <b>Midterm</b>
    </td>
    <td>
        Lab 9 - Due Monday<br/>
        Midterm - <b>Wednesday</b> in class (11/1/23)
    </td>
</tr>
<tr>
    <td>(7) November 6, 2023</td>
    <td>
        <a href="https://logic.boady.net/content/004_induction/001_thinking.html" >Inductive Thinking</a>
        <br/>
        <a href="https://logic.boady.net/content/004_induction/002_induction.html" >Mathematical Induction</a>
    </td>
    <td>
        Lab 10 - Due Wednesday<br/>
        Homework 5 - Due Friday 11:59PM (11/10/23)
    </td>
</tr>
<tr>
    <td>(8) November 13, 2023</td>
    <td>
        <a href="https://logic.boady.net/content/004_induction/003_counting.html" >Peano Arithmetic</a>
        <br/>
        <a href="https://logic.boady.net/content/004_induction/004_listind.html" >Induction on Lists</a>
    </td>
    <td>
        Lab 11 - Due Monday<br/>
        Lab 12 - Due Wednesday<br/>
        Homework 6 - Due Friday 11:59PM (11/17/23)
    </td>
</tr>
<tr>
    <td>(9) November 20, 2023</td>
    <td>
        <a href="https://logic.boady.net/content/005_simple/001_eval.html#" >Boolean Expressions as Lists</a>
    </td>
    <td>
        Lab 13 - Due Monday
    </td>
</tr>
<tr>
    <td>(10) November 27, 2023</td>
    <td>
        <a href="https://logic.boady.net/content/005_simple/002_normal.html#" >Boolean Normal Forms</a>
        <br/>
        <a href="https://logic.boady.net/content/005_simple/003_simple.html" >Simplifying Expressions Recursively</a>
    </td>
    <td>
        Lab 14 - Due Monday<br/>
        Lab 15 - Due Wednesday<br/>
        Homework 7 - Due Friday 11:59PM (12/1/23)
    </td>
</tr>
<tr>
    <td>
        (11) December 4, 2023
    </td>
    <td>
            <a href="https://logic.boady.net/content/006_comp/001_sat.html" >SAT Solvers</a>
            <br/>
            <a href="https://logic.boady.net/content/006_comp/002_np.html" >NP-Complete Problems</a>
    </td>
    <td>
        Lab 16 - Due Monday<br/>
        Lab 17 - Due Wednesday<br/>
        Homework 8 - Due Friday 11:59PM (12/8/23)
    </td>
</tr>
<tr>
    <td>(12) December 11, 2022</td>
    <td colspan="3">
        <b>Final Assessment</b><br>
            Section 01 and 02 Disque 103 Dec 14, 2023 3:30pm-5:30PM<br>
            Section 03, 05 and 06 Main Aud Dec 14, 2023 3:30pm-5:30PM<br>
        Extra Credit Course Survey - Due 11:59PM Wednesday (12/13/23)
    </td>
</tr>
</tbody>
</table>
