<p></p>
	<!-- Basic Intro -->
	<h1>
        CS 502 Data Structures and Algorithms
    </h1>
	<p><b>Term and Credits</b></p>
		<p>
			Winter 2023-2024	<br />
			3 Credits
		</p>
	<p><b>Room and Time</b></p>
		<p>
			Room 1052 in 3675 Market Street on Thursday from 6:00PM-8:50PM. Lecture will be streamed on Zoom and also Echo 360. Recordings will be made available using Echo 360.
		</p>
	<p><b>Instructor</b></p>
	<p>
		Mark Boady<br />
		<i>Electronic Mail Address:</i>
		<a href="mailto:mwb33@drexel.edu">mwb33@drexel.edu</a><br />
		<i>Office:</i> 3675 Market Street Room 1063 (Next to Snack Machine)<br />
		<i>Extension:</i> 215-895-2347 <br />
		<i>Office Hours:</i>
			3-5PM Wednesday in 3675 Market Street room 1063<br>
            Zoom and In-Person will run concurrently.
	</p>
	<p><b>Teaching Assistant(s)</b></p>
	<p>
        Carol Patel<br />
		<i>Electronic Mail Address:</i>
		<a href="mailto:chp39@drexel.edu">
            chp39@drexel.edu
        </a><br />
		<i>CLC Website:</i>
		<a href="https://www.cs.drexel.edu/clc" target="_blank">https://www.cs.drexel.edu/clc</a><br />
		<i>Office:</i> Zoom<br />
		<i>Office Hours:</i><br>
        Wednesday: 3:00 PM - 5:00 PM in Zoom
	</p>
    <p>
        Lida Susan Sabu<br />
    <i>Electronic Mail Address:</i>
    <a href="mailto:lss65@drexel.edu">
        lss65@drexel.edu
    </a><br />
    <i>CLC Website:</i>
    <a href="https://www.cs.drexel.edu/clc" target="_blank">https://www.cs.drexel.edu/clc</a><br />
    <i>Office:</i> Zoom<br />
    <i>Office Hours:</i><br>
    Wednesday: 6:00 PM - 8:00 PM in 1066 of 3675 Market Street<br>
    Friday: 5:00 PM - 7:00 PM in Zoom
</p>
	<!-- Description Stuff -->
	<p><b>Course Description</b></p>
	<p>An introduction to classical algorithms with a focus on implementation and applications. Covers both analysis and implementation of algorithms. Algorithms include searching, sorting, and shortest path. Data Structures and their analysis is also covered. Data Structures include trees and graphs.</p>

	<p><b>Course Objective and Goals</b></p>
		<ol>
			<li>Learn to analyze the running time of iterative and recursive algorithms.</li>
			<li>Learn to analyze the running time of data structures.</li>
			<li>Gain familiarity with basic data structures and algorithms related to them, such as trees and graphs.</li>
			<li>Learn various applications of algorithms and data structures.</li>
			<li>Learn to choose the correct data structure to efficiently solve problems.</li>
			<li>Learn the basic theoretical foundations of computation.</li>
		</ol>
    <p><b>Topics</b></p>
        <ol>
            <li>Algorithm Fundamentals</li>
            <li>Recursion</li>
            <li>Searching and Sorting</li>
            <li>Fundamentals of Simple Data Structures( lists, trees, graphs)</li>
            <li>Intro to algorithm analysis and order of growth</li>
            <li>Intro to algorithms in distributed systems.</li>
        </ol>
	<p><b>Audience and Purpose within Plan of Study</b></p>
		<p>This course is for graduate students with little prior knowledge of data structures and algorithms. It serves to give such students a firm foundation for future graduate study, and it is a requirement of the Computer Science Minor and Computer Science Post Bachelor Certificate degree programs.</p>
	<p><b>Prerequisites</b><br />
		CS570 or CS501 is a required co/prerequisites.
	</p>
	<p><b>What Students Should Know Prior to this Course</b></p>
	<ol>
		<li>Basic Computer Usage Skills.</li>
		<li>Some experience with programming is strongly recommended.</li>
		<li>The following concepts from mathematics will be important in class. You can review the below links for more information.
		<ol>
			<li><a href="http://www.columbia.edu/itc/sipa/math/summation.html" target="_blank">Summation Notation</a></li>
			<li><a href="https://www.purplemath.com/modules/exponent.htm" target="_blank">Exponents</a></li>
			<li><a href="https://www.purplemath.com/modules/logrules.htm" target="_blank">Logarithms</a></li>
			<li><a href="http://tutorial.math.lamar.edu/Classes/Alg/Polynomials.aspx" target="_blank">Polynomial Expressions</a></li>
			<li><a href="https://mathbitsnotebook.com/Algebra1/Functions/FNSequenceFunctionsRecursive.html" target="_blank">Recursive Formulas</a></li>
		</ol>
		</li>
	</ol>
	<p><b>What Students will be able to do upon Successfully Completing this Course:</b></p>
		<ol>
			<li>Students will be able to analyze algorithms.</li>
			<li>Students will understand a set of fundamental algorithms and how to apply them.</li>
			<li>Students will understand fundamental data structures and when to use each.</li>
			<li>Students will be able to explain why algorithms are efficient and correct solutions to problems.</li>
			<li>Students will be able to determine the applications and limits of data structures and algorithms.</li>
			<li>Students will understand how complex computation is built from simple components.</li>
	</ol>
	<p><b>Textbook</b></p>
	<p><b>Algorithms (The MIT Press Essential Knowledge series)</b><br/>
     Author: Panos Louridas <br />
     Published: August 18, 2020 <br />
     ISBN-10: 0262539020 <br />
     ISBN-13: 978-0262539029 <br />
  <a href="https://drexel.primo.exlibrisgroup.com/permalink/01DRXU_INST/7nf6pv/cdi_askewsholts_vlebooks_9780262358675">Read Free from Drexel Library</a><br/>
     <a href="https://www.amazon.com/Algorithms-MIT-Press-Essential-Knowledge/dp/0262539020/ref=sr_1_1?crid=3LBKN6V6685G2&dchild=1&keywords=mit+essential+knowledge+algorithm&qid=1600201375&s=books&sprefix=MIT+Esse%2Cstripbooks%2C142&sr=1-1" target="_blank">Buy from Amazon</a>
     </p>
     <p><b>Algorithms Unlocked</b><br/>
     Author: Thomas H. Cormen <br/>
     Published: March 1, 2013 <br/>
     ISBN-10: 0262518805 <br/>
     ISBN-13: 978-0262518802<br />
    <a href="https://drexel.primo.exlibrisgroup.com/permalink/01DRXU_INST/7nf6pv/cdi_skillsoft_books24x7_bks00053249" target="_blank">Read Free from Drexel Library</a>
    <br/>
     <a href="https://www.amazon.com/gp/product/0262518805?pf_rd_r=7RQMJ232G6RTG1V6S84S&pf_rd_p=edaba0ee-c2fe-4124-9f5d-b31d6b1bfbee" target="_blank">Buy from Amazon</a>
     </p>
 
    <p><b>Optional Supplement</b></p>
    <i>If you want a more detailed textbook, we recommend The Algorithm Design Manual. It is <b>not</b> required.</i><br/>
	<p>
		The Algorithm Design Manual (Third Edition)
		<br />
		Author: Steven S. Skiena
		<br />
        Published: October 6, 2020
        <br />
		ISBN-13: 978-3030542559
		<br />
		ISBN-10: 3030542556<br />
		<a href="https://www.amazon.com/Algorithm-Design-Manual-Computer-Science-dp-3030542556/dp/3030542556/ref=dp_ob_title_bk" target="_blank">See it on Amazon</a>
	</p>
    
	<!--- Course Material Components -->
	<h2>Course Material</h2>
	<p><b>Lectures/Readings</b><p>
	<ul>
		<li>Recorded videos will be posted for each lecture in <a href="https://learning.drexel.edu" target="_blank">learning.drexel.edu</a></li>
		<li>Lectures will be held in the Classroom. They will be streamed using Zoom and Echo 360. A recording will be posted in the Echo 360 Section of BBLearn.</li>
	</ul>
	<p><b>Homework Assignments</b></p>
	<ul>
		<li>Homework will contain both written and programming questions.</li>
		<li>Homework will be submitted using Gradescope (Programming) and Blackboard (Written)</li>
		<li>Homework Assignments are due on Wednesday at 11:59PM</li>
		<li>Homework Assignments are to be completed individually.</li>
        <!--<li><b>NOTE</b> Homeworks are due on Sunday because many students taking this class are working during the week. The Professor and Course Assistants will <b>not</b> be available to help on weekends. Take this into account when deciding when to work on the assignments.</li>-->
	</ul>
	<p><b>Blogs</b></p>
	<ul>
		<li>Each week with have a reading and blog reflection.</li>
		<li>Blogs are due on Friday at 11:59PM.</li>
        <li>You must comment on two other student's blogs by the Sunday at 11:59PM</li>
	</ul>
	<p><b>Research Papers</b><p>
	<ul>
		<li>Students will complete two research papers.</li>
		<li>Midterm RP: Due Saturday 11:59PM of week 6.</li>
		<li>Final RP: Due Saturday 11:59PM of Finals Week.</li>
		<li>Research Papers are to be completed individually.</li>
	</ul>
<p><b>Extra Credit</b></p>
<ul>
    <li>In this course, we value the course survey results. It is important for you to receive grades so you can determine how you are performing in class. We also want to know how we are doing. The course survey is our most important tool for determining how the students feel about the class. We also understand that completing the survey takes time and effort. Due to the importance of the course survey, extra credit will be provided to those students who complete it and provide evidence it has been completed. The extra credit will be 1 point added to the final grade for the class. This will take place at the end of the term.</li>
</ul>
	<p><b>Discord</b></p>
	<ul>
		<li>This term, we will be using the CCI Discord Server instead of a discussion board.</li>
		<li>You will be added automatically by Drexel CCI Support (iCommons). If you have any issues contact ihelp@drexel.edu</li>
	</ul>
	<p><b>Late Submissions</b></p>
	<ul>
		<li>Each student has two "late passes".</li>
		<li>A student may exchange one of their late passes for an one day extension on any assignment.</li>
		<li>Contact the TA/Professor to request one of your late passes be used.</li>
		<li>You may use both late passes of the same assignment to get a 2 day extension.</li>
        <li>A late pass must be requested no later than 24 hours after the original due date for the assignment.</li>
        <li>Without late passes, -5 points per day with a max penalty of 50 points on an assignment. Late Submissions may be made until March 20, 2024 at 11:59PM.</li>
        <li><b>SPECIAL NOTE</b>: Late Passes may not be used on the Final Report. This is the only assignment they cannot be used on.</li>
    </ul>
    <p><b>Resubmissions</b></p>
    <ul>
        <li>You may resubmit an assignment after you receive a grade. It will be regraded but a late penalty will be applied <b>as if</b> the resubmission date was the date of the original submission.</li>
	</ul>
	<p><b>Special Circumstances</b></p>
	<ul>
	<li>If you have a documented reason why you cannot submit an assignment by the deadline, a special exception may be made. The Professor may also wave the late submission penalty for documented special exceptions.</li>
	</ul>
	
	<!-- Boring Classic Policy Block -->
	<h2>Course Policies</h2>
	<p><b>Academic Honesty Policy</b></p>
		<p>The CCI Academic Honesty policy is in effect for this course. Please see the policy at <a href="http://drexel.edu/cci/resources/current-students/undergraduate/policies/cs-academic-integrity/" target="_blank">http://drexel.edu/cci/resources/current-students/undergraduate/policies/cs-academic-integrity/</a>.</p>
		<p>Academic Honesty Violations <b>will</b> be reported to the University. Punishment will be determined by the severity of the incident. Punishments include, but are not limited to,</p>
		<ul>
			<li>Failing grade for class</li>
			<li>Deduction of one letter grade</li>
			<li>Zero on Assignment/Exam Violation took place on</li>
		</ul>
	<p><b>Grading and Policies</b></p>
	<ul>
		<li>Homeworks 50% </li>
		<li>Blog Posts 10%</li>
        <li>Blog Comments 4%</li>
        <li>Research Paper 1 18%</li>
		<li>Research Paper 2 18%</li>
	</ul>
	<p>Final grades will be determined by your total points weighted according to this distribution. Grades may be curved but are generally computed via the formula below. It may be modified at the instructor's sole discretion, but letter grades will generally not be lower than those shown here.</p>
	<ul>
		<li>[100-97] A+</li>
		<li>(97-93]  A</li>
		<li>(93-90]  A-</li>
		<li>(90-87]  B+</li>
		<li>(87-83]  B</li>
		<li>(83-80]  B-</li>
		<li>[80-77]  C+</li>
		<li>(77-73]  C</li>
		<li>(73-70]  C-</li>
		<li>(70-67]  D+</li>
		<li>(67-60]  D</li>
		<li>(60-0]   F</li>
	</ul>
    <!---------------------------- Drexel Boilerplate -------------->
    <!---------------------------- Drexel Boilerplate -------------->
    <!---------------------------- Drexel Boilerplate -------------->
    <!---------------------------- Drexel Boilerplate -------------->
    <!---------------------------- Drexel Boilerplate -------------->
    <!---------------------------- Drexel Boilerplate -------------->
	<p><b>University Policies</b> <br />In addition to the course policies listed on this syllabus, course assignments or course website, the following University policies are in effect:</p>
	<ul>
		<li>Computer/Software Help provided by iCommons: <a href="https://drexel.edu/cci/current-students/icommons/" target="_blank">https://drexel.edu/cci/current-students/icommons/</a>
		<li>Academic Honesty: <a href="http://www.drexel.edu/provost/policies/academic_dishonesty.asp" target="_blank">http://www.drexel.edu/provost/policies/academic_dishonesty.asp</a></li>
		<li>Judicial Affairs Academic Integrity: <a href="http://drexel.edu/studentlife/community_standards/facultystaff/integrity/" target="_blank">http://drexel.edu/studentlife/community_standards/facultystaff/integrity/</a></li>
		<li>Official Final Exam Schedule: <a href="http://www.drexel.edu/registrar/scheduling/exams/" target="_blank">http://www.drexel.edu/registrar/scheduling/exams/</a></li>
		<li>Students with Disability Statement: <a href="http://drexel.edu/oed/disabilityResources/overview/" target="_blank">http://drexel.edu/oed/disabilityResources/overview/</a></li>
		<li>Course Drop Policy: <a href="http://www.drexel.edu/provost/policies/course_drop.asp" target="_blank">http://www.drexel.edu/provost/policies/course_drop.asp</a></li>
		<li>Drexel Student Learning Priorities: <a href="http://drexel.edu/provost/assessment/outcomes/dslp/" target="_blank">http://www.drexel.edu/provost/irae/assessment/outcomes/dslp/</a></li>
		<li>The instructor may, at his/her/their discretion, change any part of the course during the term, including assignments, grade breakdowns, due-dates, and the schedule. Such changes will be communicated to students via the course web site Announcements page. This page should be checked regularly and frequently for such changes and announcements. Other announcements, although rare, may include class cancellations and other urgent announcements.</li>
	</ul>
    <p><b>Appropriate Use of Course Materials</b></p>
    <p>
    It is important to recognize that some or all of the course materials provided to you are the intellectual property of Drexel University, the course instructor, or others.  Use of this intellectual property is governed by Drexel University policies, including the IT-1 policy found at: <a href="https://drexel.edu/it/about/policies/policies/01-Acceptable-Use/" target="_blank">https://drexel.edu/it/about/policies/policies/01-Acceptable-Use/</a>
    <br/>
    Briefly, this policy states that all course materials including recordings provided by the given prior written approval by the University. Doing so may be considered a breach of this policy and will be investigated and addressed as possible academic dishonesty, among other potential violations.  Improper use of such materials may also constitute a violation of the University's Code of Conduct found at: <a href="https://drexel.edu/cpo/policies/cpo-1/" target="_blank">https://drexel.edu/cpo/policies/cpo-1/</a> and will be investigated as such.
    </p>
    <p><b>Recording of Class Activities:</b></p>
    <p>
    In general, students and others should not record course interactions and course activities in lecture, lab, studio or recitation.
    <br/>
    Students who have an approved accommodation from the Office of Disability Resources to record online lectures and discussions for note taking purposes should inform their course instructor(s) of their approved accommodation in advance. The recording of lectures and discussions may only be carried out by the students enrolled in the class who have an approved accommodation from Disability Resources with their instructors' prior knowledge and consent. Students with approved accommodations may be asked to turn off their recorder if confidential or personal information is presented.
    <br/>
    If a student has any comments, concerns, or questions about provided class materials and/ or recording, talk to your course instructor first. If this does not resolve the issue, you can also reach out to the Department Head, and use the process described for a grade appeal to move your concern forward. The process described for grade appeals can be found at:
    <a href="https://drexel.edu/provost/policies/grade-appeals/" target="_blank">https://drexel.edu/provost/policies/grade-appeals/</a>
    </p>
<p><b>CCI's Commitment to Diversity, Equity, and Inclusion (DEI)</b></p>
<p>
The College of Computing & Informatics commits to creating a positive and safe learning environment for everyone - instructors, professional staff, and students - both inside and outside of the classroom. We embrace the diversity of thoughts, perspectives, and experiences that each community member brings, and we honor everyone's identity (including, but not limited to, race, ethnicity, age, gender, socioeconomic status, sexuality, religion, veteran status, and disability). We encourage each community member to share information regarding pronouns, religious and cultural holidays, accommodations, and any other information that will assist instructors in fostering a supportive and inclusive community environment. For more information about CCI's commitment to DEI, visit <a href="https://drexel.edu/cci/about/diversity-equity-and-inclusion-council/" target="_blank">Diversity, Equity & Inclusion Council | Drexel CCI</a>.
</p>
    <!-------------------------END Drexel Boilerplate -------------->
    <!-------------------------END Drexel Boilerplate -------------->
    <!-------------------------END Drexel Boilerplate -------------->
    <!-------------------------END Drexel Boilerplate -------------->
    <!-------------------------END Drexel Boilerplate -------------->
    <!-------------------------END Drexel Boilerplate -------------->
	


	<!--- Course Schedule starts Here! -->
	<h2>Tentative Course Schedule</h2>
		<p>Please see the appropriate assignment webpages for a detailed description of course deliverables.</p>
	<table border="1">
	<tbody>
		<tr>
			<td>Week</td>
			<td>Topic</td>
			<td>Assignments</td>
		</tr>
		<tr>
			<td>1 (1/8/24)</td>
			<td>Intro to Algorithm Design and C</td>
			<td>
				HW 0 - Due Wed. 1/10 at 11:59PM<br/>
				Blog 1 - Due Fri. 1/12 at 11:59PM<br/>
				Blog Comments 1 - Due Sun. 1/14 at 11:59PM
            </td>
		</tr>
		<tr>
			<td>2 (1/15/24)<br>[Martin Luther King Jr. Day]</td>
			<td>Analysis and Design of Iterative Algorithms
            </td>
			<td>
            HW 1 - Due Wed 1/17 at 11:59PM<br/>
			Blog 2 - Due Fri. 1/19 at 11:59PM<br/>
			Blog Comments 2 - Due Sun. 1/21 at 11:59PM
            </td>
		</tr>
		<tr>
			<td>3 (1/22/24)</td>
			<td>Analysis and Design of Recursive Algorithms</td>
			<td>
            HW 2 - Due Wed. 1/24 at 11:59PM<br/>
			Blog 3 - Due Fri. 1/26 at 11:59PM<br/>
			Blog Comments 3 - Due Sun. 1/28 at 11:59PM
            </td>
		</tr>
		<tr>
			<td>4 (1/29/24)</td>
			<td>Analysis of Algorithms</td>
			<td>
            HW 3 - Due Wed. 1/31 at 11:59PM<br/>
			Blog 4 - Due Fri. 2/2 at 11:59PM<br/>
			Blog Comments 4 - Due Sun. 2/4 at 11:59PM
            </td>
		</tr>
		<tr>
			<td>5 (2/5/24)</td>
			<td>Dynamic Arrays and Linked Lists Data Structures</td>
			<td>
            HW 4 - Due Wed. 2/7 at 11:59PM<br/>
			Blog 5 - Due Fri. 2/9 at 11:59PM<br/>
			Blog Comments 5 - Due Sun. 2/11 at 11:59PM
            </td>
		</tr>
		<tr>
			<td>6 (2/12/24)</td>
			<td>Binary Search Trees</td>
			<td>
			Blog 6 - Due Fri. 2/16 at 11:59PM<br/>
			Blog Comments 6 - Due Sun. 2/18 at 11:59PM
            </td>
		</tr>
        <tr>
            <td colspan="3">
                <b>Research Paper 1</b> Due <b>Sat.</b> 2/17 at 11:59PM
            </td>
        </tr>
		<tr>
			<td>7 (2/19/24)</td>
			<td>Heaps and Huffman Encoding</td>
			<td>
            HW 5 - Due Wed. 2/21 at 11:59PM<br/>
			Blog 7 - Due Fri. 2/23 at 11:59PM<br/>
			Blog Comments 7 - Due Sun. 2/25 at 11:59PM
            </td>
		</tr>
		<tr>
			<td>8 (2/26/24)</td>
			<td>Shortest Path in a Graph</td>
			<td>
            HW 6 - Due Wed. 2/28 at 11:59PM<br/>
			Blog 8 - Due Fri. 3/1 at 11:59PM<br/>
			Blog Comments 8 - Due Sun. 3/3 at 11:59PM
            </td>
		</tr>
		<tr>
			<td>9 (3/4/24)</td>
			<td>Minimum Spanning Trees</td>
			<td>
            HW 7 - Due Wed. 3/6 at 11:59PM<br/>
			Blog 9 - Due Fri. 3/8 at 11:59PM<br/>
			Blog Comments 9 - Due Sun. 3/10 at 11:59PM
            </td>
		</tr>
<!--        <tr>
            <td>10 (11/23/20)</td>
            <td colspan="2">Thanksgiving - No Content.</td>
        </tr>-->
		<tr>
			<td>10 (3/11/24)</td>
			<td>Additional Graph Algorithms</td>
			<td>
            HW 8 - Due Wed. 3/13 at 11:59PM<br/>
			Blog 10 - Due Fri. 3/15 at 11:59PM<br/>
			Blog Comments 10 - Due Sun. 3/17 at 11:59PM
            </td>
		</tr>
		<tr>
			<td>11 (3/18/24)
            </td>
            <td>No Lectures - Exam Week</td>
            <td>
           Report 2 Due this Week.
            </td>
        </tr>
        <tr>
			<td colspan="3">
				<b>Research Paper 2</b>
				Due <b>Sat</b> 3/23 at 11:59PM
                <br>
                Option Homework 3/20 at 11:59PM<br>
                Extra Credit Course Survey 3/20 at 11:59PM
			</td>
		</tr>
	</tbody>
</table>
