<h1>CS 164H Introduction to Computer Science</h1>
<h2>Term and Credits</h2>
<p>Fall 2024-2025 <br>
3 Credit
</p>

<h2>Basic Course Information</h2>
<h3>Lecture</h3>
<table border="1">
    <thead>
        <tr>
            <th>Section</th>
            <th>Day and Time</th>
            <th>Course Instructor</th>
            <th>Room</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>CS 164 - D</td>
            <td>Monday 9:00 AM - 10:50 AM</td>
            <td>Prof. Mark W. Boady</td>
            <td>3675 Market St.<br />Room 1104</td>
        </tr>
    </tbody>
</table>


<h3>Lab</h3>
<table border="1">
    <thead>
        <tr>
        <th>Section</th>
        <th>Day and Time</th>
        <th>Lab Assistant</th>
        <th>Room</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>CS 164 - 067H</td>
            <td>Wednesday 9:00 AM - 10:50 AM</td>
            <td>Mark Boady<br />Vanessa Trinh</td>
            <td>3675 Market St.<br />Room 1104</td>
        </tr>
    </tbody>
</table>

<h3>Course Instructors</h3>
<p>
    Prof. Mark W. Boady <br/>
    Electronic Mail Address: <a href="mailto:mwb33@drexel.edu" target="_blank" rel="noopener">mwb33@drexel.edu</a> <br/>
    Webpage: <a href="https://www.boady.net" target="_blank" rel="noopener">https://www.boady.net</a> <br/>
    3675 Market &ndash; Room 1063 <br/>
Monday and Wednesday 11:00 - 12:00 PM and 2:00-3:00 PM
</p>

<h3>Teaching Assistants / Graders</h3>
<ul>
    <li>Vanessa Trinh<br>
        <b>Email:</b> <a href="vt382@drexel.edu">vt382@drexel.edu</a><br>
        <b>Office Hours:</b> Tuesday 6:00PM-8:00PM and Thursday 4:00-6:00PM
    </li>
    <li>Mukul Periwal<br>
        <b>Email:</b> <a href="mp3636@drexel.edu">mp3636@drexel.edu</a><br>
        <b>Office Hours:</b> Tuesday 4:00PM-6:00PM and Thursday 2:00PM-4:00PM
    </li>
</ul>
<p>
    <b>TA Office Hours</b>: will be conducted at the CLC located at 3675 Market St. Room 1066.<br/>
    <b>TA Office Hours Schedule</b>: <a href="https://www.cs.drexel.edu/clc" target="_blank" rel="noopener">https://www.cs.drexel.edu/clc</a><br/>
    <b>TA Contact Info:</b> can be found under the Faculty Information section of Blackboard Learn. Contact your TA through the CS 164H Discord server for Course Related Questions.
</p>
<p>
    <b>CS Dept. Phone</b>: (215) 895-2669<br/>
    <b>CS Dept. Fax</b>: (215) 895-0545<br/>
    <b>CS Dept. Location</b>: 3675 Market Room 1171-A
</p>
<hr />
<h2>Course Description and Objectives</h2>
<h3>Course Description</h3>
<p>Introduces the foundations of Computer Programming. Focuses on systematic program design and recursive problem solving. Analyzing problems and defining computational solutions. Creating functions to solve the problem. Testing and analysis the progam to ensure it is correct. Debugging and revising programs towards a final solution. Working with recursive data structures.</p>
<h3>Course Goals</h3>
<p>The goal of this course is for students to be able to solve problems and design programs. Students will be able to take a problem and describe a computational solution. They will be able to select the correct data structures and functions to implement the solution. They will be able to think about how the code executes and find logical mistakes.</p>
<h3>Course Objectives</h3>
<p>By the end of the course students should be able to:</p>
<ol>
    <li>Break a Problem into simple steps.</li>
    <li>Identify computations needed to solve problem.</li>
    <li>Create functions to solve the problem.</li>
    <li>Use recursion in programs.</li>
    <li>Design tests to verify a program is correct.</li>
    <li>Work with recursively defined lists.</li>
    <li>Debug errors in both code and logic of a program.</li>
    <li>Communicate and solve problems effectively as a member of a team.</li>
</ol>
<h3>Audience and Purpose within Plan of Study</h3>
<p>This course is the first computer programming courses. It is a required course for students majoring in computer science and software engineering. It is also a required course for students pursuing a minor in computer science. It is of interest to students who want a strong foundation in the problem solving tools needed to be good programmers. The goal is for students completing this sequence to be design a program when given a problem description.</p>
<h3>Prerequisites</h3>
<p>None. While there are no formal prerequisites for the course, students are expected to be computer literate. Prior programming experience is not required but is definitely helpful.</p>
<hr />
<h2>Required Textbook and Software</h2>
<h3>Textbook</h3>
<p><b>How to Design Programs: An Introduction to Programming and Computing (2nd Edition)</b></br>
 Author: Matthias Felleisen, Robert Bruce Findler, Matthew Flatt, Shriram Krishnamurthi<br />
 Published: May 4, 2018 <br />
 ISBN-10: 0262534800 <br />
 ISBN-13: 978-0262534802 <br />
 <a href="https://a.co/d/auD2Df5" target="_blank">Buy from Amazon</a><br>
 <a href="https://htdp.org" target="_blank">Online Edition</a>
 </p>

<h3>Software and Hardware Requirements</h3>
<p>All Drexel students are required to have individual access to a dedicated personal computer which meets minimum specifications, including processor speed, memory and secondary storage requirements, and connectivity to campus network. Please see <a href="https://drexel.edu/cci/admissions/graduate-professional-development/admissions-information-and-requirements/computer-requirements-and-skills/" target="_blank" rel="noopener">https://drexel.edu/cci/admissions/graduate-professional-development/admissions-information-and-requirements/computer-requirements-and-skills/</a> for further information.</p>
<p>The official language used for this course is Racket. It is available for free at <a href="https://racket-lang.org" target="_blank" rel="noopener">https://racket-lang.org</a>.</p>
<h3>Required Software</h3>
<ol>
<li>Dr Racket IDE <a href="https://racket-lang.org" target="_blank" rel="noopener">https://racket-lang.org</a></li>
<li>Discord: students registered in CS 164H should join our course server as soon as possible. See instructions in the left hand side menu.</li>
<li>Gradescope: <a href="https://www.gradescope.com" target="_blank" rel="noopener">https://www.gradescope.com</a>. You will be connected to gradescope via Blackboard Learn.</li>
</ol>
<h3>Blackboard Learn</h3>
<p>This course is operating with the Drexel Blackboard Learn (Learn) Course Management System, which allows electronic submission of assignments, quizzes, and lab exercises, and threaded discussion groups. You can access the Drexel Learn course website from the Drexel portal <a href="http://one.drexel.edu/" target="_blank" rel="noopener">http://one.drexel.edu/</a>. You can also access Drexel Learn from the following page <a href="https://learn.dcollege.net/">https://learn.dcollege.net/</a>.</p>


<hr />
<h2>Grade Computation</h3>
<table border="1">
    <tbody>
        <tr>
            <td>Labs</td>
            <td>25%</td>
        </tr>
        <tr>
            <td>Homework</td>
            <td>30%</td>
        </tr>
        <tr>
            <td>Attendance (Lectures)</td>
            <td>5%</td>
        </tr>
        <!--<tr>
            <td>Readings</td>
            <td>10%</td>
        </tr>-->
        <tr>
            <td>Midterm Exam</td>
            <td>20%</td>
        </tr>
        <tr>
            <td>Final Exam</td>
            <td>20%</td>
        </tr>
    </tbody>
</table>
<p>Final grades will be determined by your total points weighted according to this distribution. Grades may be curved but are generally computed via the formula below. It may be modified at the instructor's sole discretion, but letter grades will generally not be lower than those shown here.</p>
<h3>Grading Scale</h3>
<table border="1">
<tbody>
    <tr>
        <td>A+</td>
        <td>97 - 100</td>
    </tr>
    <tr>
        <td>A</td>
        <td>93 - 96.99</td>
    </tr>
    <tr>
        <td>A-</td>
        <td>90 - 92.99</td>
    </tr>
    <tr>
        <td>B+</td>
        <td>87 - 89.99</td>
    </tr>
    <tr>
        <td>B</td>
        <td>83 - 86.99</td>
    </tr>
    <tr>
        <td>B-</td>
        <td>80 - 82.99</td>
    </tr>
    <tr>
        <td>C+</td>
        <td>77 - 79.99</td>
    </tr>
    <tr>
        <td>C</td>
        <td>73 - 76.99</td>
    </tr>
    <tr>
        <td>C-</td>
        <td>70 - 72.99</td>
    </tr>
    <tr>
        <td>D+</td>
        <td>65 - 69.99</td>
    </tr>
    <tr>
        <td>D</td>
        <td>60 - 64.99</td>
    </tr>
    <tr>
        <td>F</td>
        <td>0 - 59.99</td>
    </tr>
</tbody>
</table>

<h3>Grading Policies</h3>

<!-- <h4>Readings</h4>
    <ul>
        <li>Each lecture (except Week 1) will start with a quiz on the reading assigned the previous week.</li>
        <li>If you miss lecture, contact your Professor to make up the quiz.</li>
    </ul> -->
<h4>Attedance</h4>
    <ul>
        <li>Attendance will be take in lecture.</li>
        <li>Missed lectures cannot be made up.</li>
        <li>If you need to miss lecture please inform the Professor. Excused absences may be approved.</li>
    </ul>
<h4>Homework</h4>
    <ul>
        <li>Most weeks Homework will be assigned.</li>
        <li>Homework assignments will be posted in Blackboard Learn and are to be submitted in Gradescope.</li>
        <li>These are individual assignments (e.g. <span style="color: #e03e2d;"><strong>no collaboration is allowed</strong></span>).</span></li>
        <li>Homework assignments are due on Friday by 11:59 PM.</li>
        <li>Late Submissions: 1 Day -10%, 2 Days -20%, 3 Days -30%, 4 Days -40%.</li>
        <li>Submissions are not accepted after 4 days.</li>
    </ul>
<h4>Labs</h4>
<ul>
    <li>In Person attendence is required for labs.</li>
    <li>You may collaborate with a lab partner.</li>
    <li>Labs will be posted in Blackboard Learn.</li>
    <li>Labs must be submitted via Gradescope.</li>
    <li>Labs are due at the end of the lab session.</li>
    <li><b>What happens if I didn't finish in time?</b><ul>
        <li>You may submit after class with a deduction.</li>
        <li>-5 points within 10 minutes of class ending.</li>
        <li>-20 points submitted same day as lab before 11:59PM.</li>
        <li>Not accepted after 11:59PM the day of your lab.</li>
        </ul>
    </li>
    <li><b>What happens if I miss class?</b><ul>
        <li>Contact your Professor to schedule a makeup.</li>
        <li>Labs must be made up in person.</li>
        </ul>
    </li>
    <li>Attendance to the lab is mandatory
        <ul>
            <li>If you miss the lab please email your course instructor as soon as possible to schedule a lab make-up session.</li>
            <li>If you do not attend lab or a lab make-up session, you will not get credit for the lab.</li>
        </ul>
    </li>
    <li><b>Late Arrival</b>: If a student is more than 10 minutes late for lab, but less than 15 minutes late, a 10% penalty will be applied to the lab grade. If student is more than 15 minute late, a 20% penalty will be applied to the lab grade.</li>
    </ul>
<h4>Midterm / Final Exams</h4>
<ul>
    <li>All tests will have a fixed time limit.</li>
    <li>You must be present in the classroom to take the test.</li>
    <li>You will be expected to write working code in the exams.</li>
    <li>Midterm Exam will be given during week 6 of the term.</li>
    <li>Final Exam will be given during finals week.</li>
</ul>
<h4>Special Circumstances</h4>
<p>If you have a documented reason why you cannot submit any work by the cut-off deadline, a special exception may be made. The Professor may also wave the late submission policy for documented special exceptions. Special Exceptions <b>must</b> be approved by the Professor.</p>

<h4>Additional Policies</h4>
<ul>
    <li>You, your instructor, and the TA are bound by the Academic Honesty policy. See the academic policy linked to in this syllabus.</li>
    <li>Students are responsible for reading and understanding the course policies in this syllabus and for announcements made in class and in the course discussion board. </li>
    <li>Any dispute about an assignment grade must be made and resolved within 5 days of receiving your grade. After this period your grade cannot be adjusted.</li>
    <li>If you are seeking help with an assignment you must contact the Professor or a TA prior to Friday close-of-business hours. We cannot guarantee a timely response on nights and weekends. This policy is to ensure that you get started early on your assignments.</li>
    <!-- <li>Your lowest reading, homework, and lab grades will be dropped from the grade calculation at the end of the term.</li> -->
</ul>
<h4>Plagiarism Detection System</h4>
<p>To ensure that assignments are done independently, in addition to human observation, we will be running all assignments through a plagiarism detection system. This program uses compiler techniques which are invariant of syntax and style. It has a very high accuracy rate.</p>
<hr />

<h2>Academic Honesty Policy</h2>
<p>The university's Academic Honesty policy is in effect for this course. This policy is available in the Student's Handbook <a href="https://drexel.edu/studentlife/community_standards/code-of-conduct/" target="_blank" rel="noopener">https://drexel.edu/studentlife/community_standards/code-of-conduct/</a>. Please also read the following information from the Provost Office: <a href="https://drexel.edu/provost/policies-calendars/policies/academic-integrity/" target="_blank" rel="noopener">https://drexel.edu/provost/policies-calendars/policies/academic-integrity/</a></p>
<p><span style="color: #e03e2d;"><b>You must be the sole original author of all assignments and examination solutions in their entirety</b></span>, unless the instructor explicitly instructs you otherwise in written directions on an assignment or exam. <span style="color: #e03e2d;"><b>Except where specifically assigned, collaborative work is a violation of academic honesty in this course</b></span>. You are not to examine, share, or use code/written solutions belonging to someone else, nor may you let anyone else examine or copy your code/written solutions.</p>
<p>Students found in violation of the Academic Honesty policy will receive no credit for the questionable assignment or exam, a half letter grade reduction on the final grade for the course (on the first occurrence), a whole letter grade reduction on each subsequent occurrence(s), and/or will possibly receive a failing grade for the course. In addition, a Drexel University Alleged Academic Misconduct Report will be filed for each occurrence of Academic Dishonesty.</p>
<p>If you are suspected of academic dishonesty, you will receive an email from your course instructor. You will be required to communicate with the course instructor within 72 hours indicating your response to the suspected violation.</p>
<p>Students having difficulty fulfilling the requirements for an assignment without outside help are to seek assistance from a teaching assistant or instructor, <b><i>not</i></b> from another student or knowledgeable person.</p>
<p>It is your responsibility to avoid violating the university's policy. If you are unclear as to what the policy means in a particular situation, ask the instructor for clarification before you hand anything in.</p>
<p>See the examples below for clarification of this policy.</p>
<h3>Examples</h3>
<p>The following are acceptable:</p>
<ul>
    <li>Using code provided in lecture or the course slides: include comments that cite the source.</li>
    <li>Using code provided in the class textbook: include comments that cite the source.</li>
    <li>Code developed jointly with instructor or teaching assistants assigned to this course: include comments to clarify that this is the case.</li>
    <li>Discussing algorithms or possible approaches to writing your program, WITHOUT discussing particulars of the code.</li>
    <li>Discussing how to resolve errors, WITHOUT discussing particulars of the code.</li>
</ul>
<p>These are <b>NOT</b> acceptable:</p>
<ul>
<li>You borrow a printed or electronic copy of a friend's assignment and use it for "inspiration".</li>
<li>You give a printed or electronic copy of your assignment to somebody else.</li>
<li>You let someone else view the solution to any part of your assignment.</li>
<li>You "find" a printed copy of somebody's program in the trash, on a lab machine, on their hard drive, etc., and use it for "inspiration".</li>
<li>You pay a "tutor" who writes the assignment for you.</li>
<li>You and a friend together write one assignment, then create separate modifications to be handed in.</li>
<li>You and a friend write certain portions of the assignment individually but collaborate on other portions of the assignment.</li>
<li>You Google the solution to the assignment and submit what you find as your own work.</li>
<li>You use an online service (e.g. Chegg, CourseHero, StackOverflow, etc.) to obtain the solution to any part of the assignment, quiz, or exam.</li>
</ul>
<hr />
<h2>Additional Course Resources</h2>
<h3>Computer/Software Help</h3>
<p>CCI Commons (3675 Market #1067): <a href="https://drexel.edu/cci/current-students/icommons/" target="_blank" rel="noopener">https://drexel.edu/cci/current-students/icommons/</a></p>
<h3>Students Accommodations</h3>
<p>
Students requesting accommodations due to a disability at Drexel University need to request a current Accommodations Verification Letter (AVL) in the ClockWork database before accommodations can be made. These requests are received by Disability Resources (DR), who then issues the AVL to the appropriate contacts. For additional information, visit the DR website at <a href="https://drexel.edu/disability-resources/support-accommodations/student-family-resources">https://drexel.edu/disability-resources/support-accommodations/student-family-resources</a>, or contact DR for more information by phone at 215-895-1401, or by email at <a href="mailto:disability@drexel.edu">disability@drexel.edu</a>
</p>
<hr />
<h2>Other important Academic Policies</h2>
<p>In addition to the course policies listed on this syllabus, course assignments or course website, the following University policies are in effect:</p>
<ul>
<li>Academic Integrity: <a href="https://drexel.edu/studentlife/community-standards/code-of-conduct/academic-integrity-policy" target="_blank" rel="noopener">https://drexel.edu/studentlife/community-standards/code-of-conduct/academic-integrity-policy</a></li>
<li>Academic Integrity Pertaining to Artificial Intelligence: <a href="https://drexel.edu/provost/policies-calendars/policies/academic_integrity_artificial_intelligence/" target="_blank" rel="noopener">https://drexel.edu/provost/policies-calendars/policies/academic_integrity_artificial_intelligence/</a></li>
<li>Official Final Exam Schedule: <a href="http://www.drexel.edu/registrar/scheduling/exams/" target="_blank" rel="noopener">http://www.drexel.edu/registrar/scheduling/exams/</a></li>
<li>Students with Disability Statement: <a href="https://drexel.edu/disability-resources/support-accommodations/student-family-resources" target="_blank" rel="noopener">https://drexel.edu/disability-resources/support-accommodations/student-family-resources</a></li>
<li>Course Drop Policy: <a href="https://drexel.edu/provost/policies-calendars/policies/course-add-drop/" target="_blank" rel="noopener">https://drexel.edu/provost/policies-calendars/policies/course-add-drop/</a></li>
<li>Course Withdraw Policy: <a href="https://drexel.edu/provost/policies-calendars/policies/course-coop-withdrawal/" target="_blank" rel="noopener">https://drexel.edu/provost/policies-calendars/policies/course-coop-withdrawal/</a></li>
<li>The instructor may, at his/her/their discretion, change any part of the course during the term, including assignments, grade breakdowns, due-dates, and the schedule. Such changes will be communicated to students via the Blackboard Learn Announcements page. This page should be checked regularly and frequently for such changes and announcements. Other announcements, although rare, may include class cancellations and other urgent announcements.</li>
</ul>
<h3>Class Disruption Policies</h3>
<p>According to the student handbook (Code of Conduct section), <b>Disorderly Conduct</b> is defined as behavior that disturbs academic study:</p>
<p>Behavior that disturbs the peace, academic study, or sleep of others both on or off campus is prohibited. Examples of disorderly conduct as it pertains to class/research settings includes, but is not limited to the following:</p>
<ul>
    <li>Excessively leaving and entering a classroom without authorization.</li>
    <li>Making loud or distracting noises.</li>
    <li>Persistently speaking without being recognized such that it interferes with the learning environment.</li>
    <li>Repeatedly dominating online discussion boards or forums such that it interferes with the learning environment.</li>
    <li>Resorting to personal insults.</li>
</ul>
<p>Students are responsible to comply with a reasonable request from a professor, instructor, or other University official regarding appropriate behavior.</p>
<p>Students disrupting online office hours will be asked to stop the disruptive behavior. If they do not stop, the student will be asked to leave the online session, and a formal complaint will be filed with the Office of Student Conduct and Community Standards.</p>
<hr />
<h2>Diversity, Equity and Inclusion Statement</h3>
<p>CCI faculty believes and embraces diversity for it fosters innovative, transformative classrooms where optimal learning for students of all identities and backgrounds can occur.</p>
<p>For more information on Diversity and Inclusion in CCI, please visit: <a href="https://drexel.edu/cci/about/diversity-equity-and-inclusion-council/" target="_blank" rel="noopener">https://drexel.edu/cci/about/diversity-equity-and-inclusion-council/</a></p>
<hr />
<h2>Statement on Recording Lectures</h2>
<h3>Appropriate Use of Course Materials</h3>
<p>It is important to recognize that some or all of the course materials provided to you are the intellectual property of Drexel University, the course instructor, or others. Use of this intellectual property is governed by Drexel University policies, including the IT-1 policy found at: <a href="https://drexel.edu/it/about/policies/policies/01-Acceptable-Use/" target="_blank" rel="noopener">https://drexel.edu/it/about/policies/policies/01-Acceptable-Use/</a></p>
<p>Briefly, this policy states that all course materials including recordings provided by the given prior written approval by the University. Doing so may be considered a breach of this policy and will be investigated and addressed as possible academic dishonesty, among other potential violations. Improper use of such materials may also constitute a violation of the University&rsquo;s Code of Conduct found at: <a href="https://drexel.edu/cpo/policies/cpo-1/" target="_blank" rel="noopener">https://drexel.edu/cpo/policies/cpo-1/</a> and will be investigated as such.</p>
<h3>Recording of Class Activities:</h3>
<p>In general, students and others should not record course interactions and course activities in lecture, lab, studio or recitation.</p>
<p>Students who have an approved accommodation from the Office of Disability Resources to record online lectures and discussions for note taking purposes should inform their course instructor(s) of their approved accommodation in advance. The recording of lectures and discussions may only be carried out by the students enrolled in the class who have an approved accommodation from Disability Resources with their instructors&rsquo; prior knowledge and consent. Students with approved accommodations may be asked to turn off their recorder if confidential or personal information is presented.</p>
<p>If a student has any comments, concerns, or questions about provided class materials and/ or recording, talk to your course instructor first. If this does not resolve the issue, you can also reach out to the Department Head, and use the process described for a grade appeal to move your concern forward. The process described for grade appeals can be found at: <a href="https://drexel.edu/provost/policies-calendars/policies/grade-appeals/" target="_blank" rel="noopener">https://drexel.edu/provost/policies-calendars/policies/grade-appeals/</a></p>






<!-----------CALENDAR -------------->


<p><b>Tentative Course Schedule</b></p>
<p>Please see the appropriate assignment webpages for a detailed description of course deliverables.</p>
<table border="1">
<tbody>
<tr>
    <td>Week</td>
    <td>Readings</td>
    <td>Assignments</td>
</tr>
<tr>
    <td>1 (Sept. 23, 2024)</td>
    <td>
        Syllabus Review<br/>
        Prologue: How to Program<br/>
        Chapter 1: Arithmetic
    <td>
        Lab 01 - In Lab Period
    </td>
</tr>
<tr>
    <td>2 (Sept. 30, 2024)</td>
    <td>
        Chapter 2: Functions and Programs
    </td>
    <td>
        Lab 02 - In Lab Period <br/>
        Homework 01 - Friday 11:59PM
    </td>
</tr>
<tr>
    <td>3 (Oct. 7, 2024)</td>
    <td>
        Chapter 3: How to Design Programs
    </td>
    <td>
        Lab 03 - In Lab Period <br/>
        Homework 02 - Friday 11:59PM
    </td>
</tr>
<tr>
    <td>4 (Oct. 14, 2024)</td>
    <td>
        Chapter 4: Intervals, Enumerations, and Itemizations<br>
        <b>No Class Monday</b> - Watch Video Recording
    </td>
    <td>
        Lab 04 - In Lab Period <br/>
        Homework 03 - Friday 11:59PM
    </td>
</tr>
<tr>
    <td>5 (Oct. 21, 2024)</td>
    <td>
        Chapter 5: Adding Structure <br/>
        Chapter 6: Itemizations and Structures
    </td>
    <td>
        Lab 05 - In Lab Period <br/>
        Homework 04 - Friday 11:59PM
    </td>
</tr>
<tr>
    <td>6 (Oct. 28, 2024)</td>
    <td>
        Midterm Exam in Lecture
    </td>
    <td>
    No Labs this week
    </td>
</tr>
<tr>
    <td>7 (Nov. 4, 2024)</td>
    <td>
        Chapter 8: Lists <br>
        Chapter 9: Designing with Self-Referential Data Definitions
    </td>
    <td>
            Lab 06 - In Lab Period <br/>
            Homework 05 - Friday 11:59PM
    </td>
</tr>
<tr>
    <td>8 (Nov. 11, 2024)</td>
    <td>
        Chapter 10: More on Lists<br/>
        Chapter 11: Design by Composition
    </td>
    <td>
        Lab 07 - In Lab Period <br/>
        Homework 06 - Friday 11:59PM
    </td>
</tr>
<tr>
    <td>9 (Nov. 18, 2024)</td>
    <td>
        Chapter 14: Similarities Everywhere<br/>
        Chapter 15: Designing Abstractions
    </td>
    <td>
        Lab 08 - In Lab Period <br/>
        Homework 07 - Friday 11:59PM
    </td>
</tr>
<tr><td>10 (Nov. 25, 2024)</td><td colspan="2">No Classes - Thanksgiving</td></tr>
<tr><td>11 (Dec. 2, 2024)</td>
    <td>
        Chapter 16: Using Abstractions<br/>
        Chapter 17: Nameless Functions
    </td>
    <td>
        Lab 09 - In Lab Period <br/>
        Homework 08 - Friday 11:59PM
    </td>
</tr>
<tr>
    <td>12 (Dec. 9, 2024)</td>
    <td colspan="3">
        <b>Final Exam - 3675 Market Street Room 1103 Dec 10, 2024 01:00 pm - 03:00 pm</b>
    </td>
</tr>
</tbody>
</table>



<!----------END CALENDAR ----------->



