<h1>CS 171 Computer Programming I</h1>
<p><span style="font-size: 12pt;"><strong>Winter 2025</strong></span><br /><span style="font-size: 12pt;"><strong>3 Credits</strong></span></p>
<h2>Basic Course Information</h2>
<h3>Lecture</h3>
<table border="1" style="width: 100%; height: 44px;">
<thead>
<tr style="height: 22px;">
<th style="width: 12.234%; height: 22px;">Section</th>
<th style="width: 34.2782%; height: 22px;">Day and Time</th>
<th style="width: 30.1535%; height: 22px;">Course Instructor</th>
<th style="width: 23.186%; height: 22px;">Room</th>
</tr>
</thead>
<tbody>
<tr style="height: 22px;">
<td style="width: 12.234%; height: 22px;">CS 171 - A</td>
<td style="width: 34.2782%; height: 22px;">Monday 09:00 AM - 10:50 AM</td>
<td style="width: 30.1535%; height: 22px;">Prof. Adelaida Medlock</td>
<td style="width: 23.186%; height: 22px;">Bossone Auditorium</td>
</tr>
<tr>
<td style="width: 12.234%;">CS 171 - B</td>
<td style="width: 34.2782%;">Monday 11:00 AM - 12:50 PM</td>
<td style="width: 30.1535%;">Prof. Daniel Moix</td>
<td style="width: 23.186%;">Bossone Auditorium</td>
</tr>
<tr>
<td style="width: 12.234%;">CS 171 - C</td>
<td style="width: 34.2782%;">Monday 01:00 PM - 02:50 PM</td>
<td style="width: 30.1535%;">Prof. Mark Boady</td>
<td style="width: 23.186%;">Stratton 113</td>
</tr>
</tbody>
</table>
<p></p>
<h3>Lab</h3>
<table border="1" style="width: 100%; height: 321.429px;">
<thead>
<tr style="height: 21.9886px;">
<th style="width: 9.29674%; height: 21.9886px;">Section</th>
<th style="width: 36.1444%; height: 21.9886px;">Day and Time</th>
<th style="width: 19.5637%; height: 21.9886px;">Lab Assistants</th>
<th style="width: 34.8467%; height: 21.9886px;">Room</th>
</tr>
</thead>
<tbody>
<tr style="height: 77.9773px;">
<td style="width: 9.29674%; height: 77.9773px;">060</td>
<td style="width: 36.1444%; height: 77.9773px;">Wednesday 1:00 PM - 2:50 PM</td>
<td style="width: 19.5637%; height: 77.9773px;">
<pre><span style="font-size: 13.3333px; font-variant-ligatures: inherit; font-variant-caps: inherit;">Omesh Dwivedi</span><br />Prayuja Teli<span style="font-size: 13.3333px; font-variant-ligatures: inherit; font-variant-caps: inherit;"><br /></span>Vishal&nbsp;Hagargundgi<br />Robert Raharjo</pre>
</td>
<td style="width: 34.8467%; height: 77.9773px;">3675 Market - Room 910-911</td>
</tr>
<tr style="height: 78.9631px;">
<td style="width: 9.29674%; height: 78.9631px;">061</td>
<td style="width: 36.1444%; height: 78.9631px;">Thursday 09:00 AM - 10:50 AM</td>
<td style="width: 19.5637%; height: 78.9631px;">
<pre><span style="font-size: 13.3333px; font-variant-ligatures: inherit; font-variant-caps: inherit;">Prayuja Teli</span><br />Saquib Baig<br />Ryan Brosius<br />Oscar Zhang</pre>
</td>
<td style="width: 34.8467%; height: 78.9631px;">3675 Market - Room 1054-1055</td>
</tr>
<tr style="height: 76.5341px;">
<td style="width: 9.29674%; height: 76.5341px;">062</td>
<td style="width: 36.1444%; height: 76.5341px;">Thursday 11:00 AM - 12:50 PM</td>
<td style="width: 19.5637%; height: 76.5341px;"><span style="font-size: 13.3333px; font-variant-ligatures: inherit; font-variant-caps: inherit;">Prayuja Teli<br />Omesh Dwivedi<br />Vanessa Trinh<br />Anh Nguyen</span></td>
<td style="width: 34.8467%; height: 76.5341px;">3675 Market - Room 1054-1055</td>
</tr>
<tr style="height: 21.9886px;">
<td style="width: 9.29674%; height: 21.9886px;">064</td>
<td style="width: 36.1444%; height: 21.9886px;">Friday 09:00 AM - 10:50 AM</td>
<td style="width: 19.5637%; height: 21.9886px;"><span style="font-size: 13.3333px; font-variant-ligatures: inherit; font-variant-caps: inherit;">Robert Raharjo<br />Saquib Baig<br />Ryan Brosius<br />Anh Nguyen</span></td>
<td style="width: 34.8467%; height: 21.9886px;">3675 Market - Room 1054-1055</td>
</tr>
<tr style="height: 21.9886px;">
<td style="width: 9.29674%; height: 21.9886px;">065</td>
<td style="width: 36.1444%; height: 21.9886px;">Friday 11:00 AM - 12:50 PM</td>
<td style="width: 19.5637%; height: 21.9886px;"><span style="font-size: 13.3333px; font-variant-ligatures: inherit; font-variant-caps: inherit;">Robert Raharjo<br />Oscar Zhang<br />Ryan Brosius<br />Anh Nguyen</span></td>
<td style="width: 34.8467%; height: 21.9886px;">3675 Market - Room 1054-1055</td>
</tr>
<tr style="height: 21.9886px;">
<td style="width: 9.29674%; height: 21.9886px;">066</td>
<td style="width: 36.1444%; height: 21.9886px;">Friday 01:00 PM - 02:50 PM</td>
<td style="width: 19.5637%; height: 21.9886px;"><span style="font-size: 13.3333px; font-variant-ligatures: inherit; font-variant-caps: inherit;">Robert Raharjo<br />Josh Morris<br />Mozen Moazzam<br />Matt Nguyen</span></td>
<td style="width: 34.8467%; height: 21.9886px;">3675 Market - Room 1054-1055</td>
</tr>
</tbody>
</table>
<h2>Course Instructors</h2>
<p>Prof. Mark Boady<br />Electronic Mail Address: <a href="mailto:mwb33@drexel.edu" target="_blank" rel="noopener">mwb33@drexel.edu</a><br />Webpage: <a href="https://boadycs.gitlab.io/about-mark/" target="_blank" rel="noopener">https://boadycs.gitlab.io/about-mark/</a><br />Office: 3675 Market &ndash; Room 1063<br />Office Hours: Tuesdays 3:00 PM - 4:00PM; Others by Appointment</p>
<p>Prof. Adelaida Medlock<br />Electronic Mail Address: <a href="mailto:aalban@drexel.edu" target="_blank" rel="noopener">aalban@drexel.edu</a><br />Webpage: <a href="https://www.cs.drexel.edu/~aalban/" target="_blank" rel="noopener">https://www.cs.drexel.edu/~aalban/</a><br />Office: 3675 Market &ndash; Room 1064<br />Office Hours: Tuesdays 3:00 PM - 5:00 PM; Others by Appointment</p>
<p>Prof. Daniel Moix<br />Electronic Mail Address: <a href="mailto:dwm69@drexel.edu" target="_blank" rel="noopener"> dwm69@drexel.edu </a><br />Webpage: <a href="https://drexel.edu/cci/about/directory/M/Moix-Daniel/" target="_blank" rel="noopener"> https://drexel.edu/cci/about/directory/M/Moix-Daniel/ </a><br />Office: 3675 Market &ndash; Room 1058<br />Office Hours: Mondays and Wednesdays 1:30pm - 3:00pm; Others by Appointment</p>
<h2>Teaching Assistants / Graders</h2>
<ul>
<li>Omesh Dwivedi</li>
<li>Saquib Baig</li>
<li>Ryan Brosius</li>
<li>Vishal&nbsp;Hagargundgi</li>
<li>Mazen Moazzam</li>
<li>Josh Morris</li>
<li>Anh Nguyen</li>
<li>Matt Nguyen</li>
<li>Robert Raharjo</li>
<li>Prayuja Teli</li>
<li>Vanessa Trinh</li>
<li>Oscar Zhang</li>
</ul>
<p><b>TA Office Hours</b>: will be conducted at the CLC located at 3675 Market St. Room 1066.<br /><b>TA Office Hours Schedule</b> <a href="https://www.cs.drexel.edu/clc" target="_blank" rel="noopener">https://www.cs.drexel.edu/clc</a><br /><b>TA Contact Info:</b> can be found under the Faculty Information section of Bb Learn.<br />Contact your TA through the CS 171 Discord server for Course Related Questions.</p>
<p><b>CS Dept. Phone</b>: (215) 895-2669<br /><b>CS Dept. Fax</b>: (215) 895-0545<br /><b>CS Dept. Location</b>: 3675 Market Room 1171-A</p>
<hr />
<h2>Course Description and Objectives</h2>
<h3>Course Description</h3>
<p>Introduces fundamental concepts of computing including memory, instructions, function calls, and activation records. Covers fundamentals of structured computer programming in the language of instruction: variables, input and output, expressions, assignment statements, conditionals and branching, subprograms, parameter passing, repetition, arrays, top-down design, testing, and debugging.</p>
<h3>Course Goals</h3>
<p>The goal of this course is for students completing it to be competent programmers, able to write working Python program on their own using appropriate constructs when presented with a problem description.</p>
<h3>Course Objectives</h3>
<p>By the end of the course students should be able to:</p>
<ol>
<li>Trace execution of a Python program containing assignment statements, strings, conditionals, file input/output, functions, and loops.</li>
<li>Determine appropriate code constructs and design a Python program using them to satisfy problem description.</li>
<li>Write appropriately styled Python code and documentation for programs using assignment statements, strings, conditionals, file input/output, functions, and loops.</li>
<li>Detect and correct syntax errors in Python programs containing assignment statements, strings, conditionals, file input/output, functions, and loops.</li>
<li>Detect and correct logic errors in Python programs containing assignment statements, strings, conditionals, functions, and loops.</li>
<li>Communicate and solve problems effectively as a member of a team.</li>
</ol>
<h3>Audience and Purpose within Plan of Study</h3>
<p>This course is open to all students interested in Programming and Computer Science. This course is the first in a two-term sequence of computer programming courses in Python (CS 171-172) and is a required course for students majoring in computer science, software engineering, mathematics, physics, information systems, and digital media. It is also a required course for students pursuing a minor in computer science. The goal is for students completing this sequence to be competent programmers, able to write working Python program on their own using appropriate constructs when presented with a problem description.</p>
<h3>Prerequisites</h3>
<p>None. While there are no formal prerequisites for the course, students are expected to be computer literate. Prior programming experience is not required but is definitely helpful.</p>
<hr />
<h2>Required Textbook and Software</h2>
<h3>Textbook</h3>
<p><b>Title:</b> Think Python<br /><b>Edition:</b> 3rd<br /><b>Author:</b> Allen B. Downey<br /><b>ISBN-13:</b> 9781098155438<br /><b>Free: <a href="https://allendowney.github.io/ThinkPython/" target="_blank" rel="noopener">https://allendowney.github.io/ThinkPython/</a><br /></b><b>Copyright:</b> 2023<br /><b>Price:</b> Free</p>
<p><b>NOTE</b>: While the bookstore has a physical copy of the textbook available for purchase, it can be accessed free using the link above.</p>
<h3>Software and Hardware Requirements</h3>
<p>All Drexel students are required to have individual access to a dedicated personal computer which meets minimum specifications, including processor speed, memory and secondary storage requirements, and connectivity to campus network. Please see <a href="https://drexel.edu/cci/admissions/graduate-professional-development/admissions-information-and-requirements/computer-requirements-and-skills/" target="_blank" rel="noopener"> https://drexel.edu/cci/admissions/graduate-professional-development/admissions-information-and-requirements/computer-requirements-and-skills/ </a> for further information.</p>
<p>The official language used for this course is Python 3. It is available for free at <a href="https://www.python.org/" target="_blank" rel="noopener">https://www.python.org</a>.</p>
<h3>Required Software</h3>
<ol>
<li>Thonny Python IDE: <a href="https://thonny.org/" target="_blank" rel="noopener">https://thonny.org/</a></li>
<li>Discord: students registered in CS 171 should have access to our course server within the next few days.</li>
</ol>
<h3>Blackboard Learn</h3>
<p>This course is operating with the Drexel Blackboard Learn (Learn) Course Management System, which allows electronic submission of assignments, quizzes, and lab exercises, and threaded discussion groups. You can access the Drexel Learn course website from the Drexel portal <a href="http://one.drexel.edu/" target="_blank" rel="noopener">http://one.drexel.edu/</a>. You can also access Drexel Learn from the following page <a href="https://learn.dcollege.net/" target="_blank" rel="noopener">https://learn.dcollege.net/</a>.</p>
<hr />
<h2>Grade Computation</h2>
<table border="1" style="width: 200px;">
<tbody>
<tr>
<td>Labs</td>
<td>15%</td>
</tr>
<tr>
<td>Homeworks</td>
<td>15%</td>
</tr>
<tr>
<td>Reading Quizzes</td>
<td>10%</td>
</tr>
<tr>
<td>Lecture Activities</td>
<td>10%</td>
</tr>
<tr>
<td>Midterm Exam</td>
<td>25%</td>
</tr>
<tr>
<td>Final Exam</td>
<td>25%</td>
</tr>
</tbody>
</table>
<p></p>
<p>Final grades will be determined by your total points weighted according to this distribution. Grades may be curved but are generally computed via the formula below. It may be modified at the instructor's sole discretion, but letter grades will generally not be lower than those shown here.</p>
<h3>Grading Scale</h3>
<table border="1" style="width: 200px;">
<tbody>
<tr>
<td>A+</td>
<td>97 - 100</td>
</tr>
<tr>
<td>A</td>
<td>93 - 98.99</td>
</tr>
<tr>
<td>A-</td>
<td>90 - 92.99</td>
</tr>
<tr>
<td>B+</td>
<td>87 - 89.99</td>
</tr>
<tr>
<td>B</td>
<td>83 - 86.99</td>
</tr>
<tr>
<td>B-</td>
<td>80 - 82.99</td>
</tr>
<tr>
<td>C+</td>
<td>77 - 79.99</td>
</tr>
<tr>
<td>C</td>
<td>73 - 76.99</td>
</tr>
<tr>
<td>C-</td>
<td>70 - 72.99</td>
</tr>
<tr>
<td>D+</td>
<td>65 - 69.99</td>
</tr>
<tr>
<td>D</td>
<td>60 - 64.99</td>
</tr>
<tr>
<td>F</td>
<td>0 - 59.99</td>
</tr>
</tbody>
</table>
<h3>Grading Policies</h3>
<h4>Readings</h4>
<ul>
<li>Each week sections of the&nbsp;online textbook will be assigned.</li>
<li>You are required to complete reading quizzes in Blackboard Learn based on the assigned readings.</li>
<li>Reading quizzes are due on <b>Sundays by 11:59 PM.</b></li>
<li>You are required to complete the weekly reading and corresponding quiz before you attend lecture.</li>
<li>Late Submissions will not be accepted.</li>
</ul>
<h4>Homework</h4>
<ul>
<li>Most weeks Homework will be assigned.</li>
<li>Homework assignments will be posted and are to be submitted in BlackBoard Learn via Gradescope.</li>
<li>These are individual assignments (e.g. <span style="color: #e03e2d;"><strong>no collaboration is allowed</strong></span>).</li>
<li>Homework assignments are designed for students to practice using the concepts covered in class. You are only allowed to use concepts and material that has appeared in lectures, labs, and assigned readings.</li>
<li>Homework assignments are due on <strong>Tuesdays by 11:59 PM</strong>.</li>
<li>Late Submissions will be accepted as follow
<ul>
<li>Up to 12 hours late: 10-point deduction</li>
<li>Up to 24 hours late: 20-point deduction</li>
<li>Up to 36 hours late: 30-point deduction</li>
<li>Up to 48 hours late: 40-point deduction</li>
<li>48 hours late or more: No credit</li>
</ul>
</li>
</ul>
<h4>Labs</h4>
<ul>
<li>You will work and collaborate with one lab partner; You may change lab partners at the beginning of any lab.</li>
<li>Labs <b>must</b> be submitted individually.</li>
<li>Labs will be posted in Blackboard Learn.</li>
<li>Labs must be submitted in BlackBoard Learn via Gradescope.</li>
<li><strong>Labs are due at the end of the lab session.</strong></li>
<li>Lab assignments may be submitted with a <strong>late penalty of 30 points within 12 hours of the original due date/time.</strong>
<ul>
<li>No lab submissions will be accepted after the 12-hour late due date/time.</li>
</ul>
</li>
<li><strong>Note</strong>: These assignments are designed for students to practice using the concepts covered in class. You are only allowed to use concepts and material that has appeared in lectures, labs, and assigned readings.</li>
<li>Attendance to the lab is mandatory in order to receive credit for the lab assignment
<ul>
<li>Attendance will be taken by the TAs. You are responsible to make sure the TA acknowledges your presence when your name is called.</li>
<li style="list-style-type: circle;">If you arrive to the lab after attendance has been taken, you are responsible for letting your TA know that you are present in the lab room.</li>
<li>If you miss the lab please email your course instructor as soon as possible to schedule a lab make-up session. Labs must be made up within 7 days of the original due date of the lab.</li>
<li>If you do not attend lab or a lab make-up session, you will not get credit for the lab.</li>
</ul>
</li>
</ul>
<h4>Lecture Activities</h4>
<ul>
<li>You must be present in the lecture hall to participate.</li>
<li>Activity types will vary based on the content being covered.<br />
<ul>
<li>Some will involve the use of your computer.</li>
<li>Some will require you to have paper and pencil.</li>
</ul>
</li>
<li>Lecture activities <strong>cannot</strong> be made up.</li>
</ul>
<h4>Midterm / Final Exams</h4>
<ul>
<li>All tests will have a fixed time limit.</li>
<li>You must be present in the classroom to take the test.</li>
<li>You will be expected to write working code in the exams.</li>
<li>Midterm Exam will be given during week 6 of the term.</li>
<li>Final Exam will be given during finals week.</li>
</ul>
<h3>Special Circumstances</h3>
<p>If you have a documented reason why you cannot submit any work by the cut-off deadline, a special exception may be made. The Professor may also wave the late submission policy for documented special exceptions. Special Exceptions <b>must</b> be approved by the Professor.</p>
<h3>Additional Policies</h3>
<ul>
<li>You, your instructor, and the TA are bound by the Academic Honesty policy. Students are responsible for reading and understanding the course policies in this syllabus and for announcements made in class and in the course discussion board. See the academic policy linked to in this syllabus.</li>
<li>Any dispute about an assignment grade must be made and resolved within 5 days of receiving your grade. After this period your grade cannot be adjusted.</li>
<li>If you are seeking help with an assignment you must contact the Professor or a TA prior to Friday close-of-business hours. We cannot guarantee a timely response on nights and weekends. This policy is to ensure that you get started early on your assignments.</li>
<li>Your lowest reading quiz, homework, lecture activity, and lab grades will be dropped from the grade calculation at the end of the term.</li>
</ul>
<h3>Plagiarism Detection System</h3>
<p>To ensure that assignments are done independently, in addition to human observation, we will be running all assignments through a plagiarism detection system. This program uses compiler techniques which are invariant of syntax and style. It has a very high accuracy rate.</p>
<hr />
<h2>Academic Honesty Policy</h2>
<p>The university's Academic Honesty policy is in effect for this course. This policy is available in the Student's Handbook <a href="https://drexel.edu/studentlife/community_standards/code-of-conduct/" target="_blank" rel="noopener">https://drexel.edu/studentlife/community_standards/code-of-conduct/</a>. Please also read the following information from the Provost Office: <a href="https://drexel.edu/studentlife/community-standards/code-of-conduct/academic-integrity-policy" target="_blank" rel="noopener">https://drexel.edu/studentlife/community-standards/code-of-conduct/academic-integrity-policy</a></p>
<p><span style="color: #e03e2d;"><b>You must be the sole original author of all assignments and examination solutions in their entirety</b></span>, unless the instructor explicitly instructs you otherwise in written directions on an assignment or exam. <span style="color: #e03e2d;"><b>Except where specifically assigned, collaborative work is a violation of academic honesty in this course</b></span>. You are not to examine, share, or use code/written solutions belonging to someone else, nor may you let anyone else examine or copy your code/written solutions.</p>
<p>Students found in violation of the Academic Honesty policy will receive no credit for the questionable assignment or exam, a half letter grade reduction on the final grade for the course (on the first occurrence), a whole letter grade reduction on each subsequent occurrence(s), and/or will possibly receive a failing grade for the course. In addition, a Drexel University Alleged Academic Misconduct Report will be filed for each occurrence of Academic Dishonesty.</p>
<p>If you are suspected of academic dishonesty, you will receive an email from your course instructor. You will be required to communicate with the course instructor within 72 hours indicating your response to the suspected violation.</p>
<p>Students having difficulty fulfilling the requirements for an assignment without outside help are to seek assistance from a teaching assistant or instructor, <b><i>not</i></b> from another student or knowledgeable person.</p>
<p>It is your responsibility to avoid violating the university's policy. If you are unclear as to what the policy means in a particular situation, ask the instructor for clarification before you hand anything in.</p>
<p>See the examples below for clarification of this policy.</p>
<h3>Examples</h3>
<p>The following are acceptable:</p>
<ul>
<li>Using code provided in lecture or the course slides: include comments that cite the source.</li>
<li>Using code provided in the class textbook: include comments that cite the source.</li>
<li>Code developed jointly with instructor or teaching assistants assigned to this course: include comments to clarify that this is the case.</li>
<li>Discussing algorithms or possible approaches to writing your program, <strong>WITHOUT</strong> discussing particulars of the code.</li>
<li>Discussing how to resolve errors, <strong>WITHOUT</strong> discussing particulars of the code.</li>
</ul>
<p>These are <b>NOT</b> acceptable:</p>
<ul>
<li>You borrow a printed or electronic copy of a friend's assignment and use it for "inspiration".</li>
<li>You give a printed or electronic copy of your assignment to somebody else.</li>
<li>You let someone else view the solution to any part of your assignment.</li>
<li>You "find" a printed copy of somebody's program in the trash, on a lab machine, on their hard drive, etc., and use it for "inspiration".</li>
<li>You pay a "tutor" who writes the assignment for you.</li>
<li>You and a friend together write one assignment, then create separate modifications to be handed in.</li>
<li>You and a friend write certain portions of the assignment individually but collaborate on other portions of the assignment.</li>
<li>You Google the solution to the assignment and submit what you find as your own work.</li>
<li>You use an online service (e.g. Chegg, CourseHero, StackOverflow, ChatGPT, etc.) to obtain the solution to any part of the assignment, quiz, or exam.</li>
</ul>
<h2>Artificial Intelligence Policy</h2>
<p>Artificial intelligence tools such as large language models (e.g., ChatGPT) are not permitted to be used in preparing submitted work for this course. &nbsp;Further information on university policies regarding the use of artificial intelligence tools in the classroom is available at <a href="https://drexel0.sharepoint.com/:w:/s/DrexelOfficialPolicyCatalog/ERCrNmAQVglEmsu12S3g_ioB6JpHqP2UGvzxlLYc433cpw" target="_blank" rel="noopener">https://drexel0.sharepoint.com/:w:/s/DrexelOfficialPolicyCatalog/ERCrNmAQVglEmsu12S3g_ioB6JpHqP2UGvzxlLYc433cpw</a></p>
<hr />
<h2>Additional Course Resources</h2>
<h3>Computer/Software Help</h3>
<p>CCI Commons (3675 Market #1067): <a href="https://drexel.edu/cci/current-students/icommons/" target="_blank" rel="noopener">https://drexel.edu/cci/current-students/icommons/</a></p>
<h3>Students Accommodations</h3>
<p>Students requesting accommodations due to a disability at Drexel University need to request a current Accommodations Verification Letter (AVL) in the ClockWork database before accommodations can be made. These requests are received by Disability Resources (DR), who then issues the AVL to the appropriate contacts. For additional information, visit the DR website at <a href="https://drexel.edu/disability-resources/support-accommodations/student-family-resources" target="_blank" rel="noopener">https://drexel.edu/disability-resources/support-accommodations/student-family-resources</a>, or contact DR for more information by phone at 215-895-1401, or by email at <a href="mailto:disability@drexel.edu" target="_blank" rel="noopener">disability@drexel.edu</a></p>
<hr />
<h2>Other important Academic Policies</h2>
<p>In addition to the course policies listed on this syllabus, course assignments or course website, the following University policies are in effect:</p>
<ul>
<li>Academic Integrity: <a href="https://drexel.edu/studentlife/community-standards/code-of-conduct/academic-integrity-policy" target="_blank" rel="noopener">https://drexel.edu/studentlife/community-standards/code-of-conduct/academic-integrity-policy</a></li>
<li>Official Final Exam Schedule: <a href="http://www.drexel.edu/registrar/scheduling/exams/" target="_blank" rel="noopener">http://www.drexel.edu/registrar/scheduling/exams/</a></li>
<li>Students with Disability Statement: <a href="https://drexel.edu/disability-resources/support-accommodations/student-family-resources" target="_blank" rel="noopener">https://drexel.edu/disability-resources/support-accommodations/student-family-resources</a></li>
<li>Course Drop Policy:<a href="https://drexel0.sharepoint.com/:w:/s/DrexelOfficialPolicyCatalog/EetetJandsVLjye92irme4UBB18gYhbXxiDUqOK0YQX_4w" target="_blank" rel="noopener">https://drexel0.sharepoint.com/:w:/s/DrexelOfficialPolicyCatalog/EetetJandsVLjye92irme4UBB18gYhbXxiDUqOK0YQX_4w</a></li>
<li>Course Withdraw Policy: <a href="https://drexel0.sharepoint.com/:w:/s/DrexelOfficialPolicyCatalog/EYzUxrAB32xNqp4UuwGIiOYB7P3lm1TrQPY1WXMbPorqjQ" target="_blank" rel="noopener">https://drexel0.sharepoint.com/:w:/s/DrexelOfficialPolicyCatalog/EYzUxrAB32xNqp4UuwGIiOYB7P3lm1TrQPY1WXMbPorqjQ</a></li>
<li>The instructor may, at his/her/their discretion, change any part of the course during the term, including assignments, grade breakdowns, due-dates, and the schedule. Such changes will be communicated to students via the Blackboard Learn Announcements page. This page should be checked regularly and frequently for such changes and announcements. Other announcements, although rare, may include class cancellations and other urgent announcements.</li>
<li>Initial Course Participation: Under Title IV (&ldquo;Student Assistance&rdquo;) of the Higher Education Act of 1965, institutions of higher education are required to verify that students receiving financial aid have begun Initial Course Participation (ICP). ICP refers to the student&rsquo;s attendance in class during the term for which they are receiving financial aid In order to comply with Title IV, a new process requires that instructors verify whether each enrolled student has begun attendance in a course prior to Week 3. Students should be aware of the following: Initial Course Participation (ICP): Class attendance is critical to your success as a student. Missing classes may impact your class success and your federal financial aid.</li>
</ul>
<h3>Class Disruption Policies</h3>
<p>According to the student handbook (Code of Conduct section), <b>Disorderly Conduct</b> is defined as behavior that disturbs academic study:</p>
<p>Behavior that disturbs the peace, academic study, or sleep of others both on or off campus is prohibited. Examples of disorderly conduct as it pertains to class/research settings includes, but is not limited to the following:</p>
<ul>
<li>Excessively leaving and entering a classroom without authorization.</li>
<li>Making loud or distracting noises.</li>
<li>Persistently speaking without being recognized such that it interferes with the learning environment.</li>
<li>Repeatedly dominating online discussion boards or forums such that it interferes with the learning environment.</li>
<li>Resorting to personal insults.</li>
</ul>
<p>Students are responsible to comply with a reasonable request from a professor, instructor, or other University official regarding appropriate behavior.</p>
<p>Students disrupting online office hours will be asked to stop the disruptive behavior. If they do not stop, the student will be asked to leave the online session, and a formal complaint will be filed with the Office of Student Conduct and Community Standards.</p>
<hr />
<h2>Diversity, Equity and Inclusion Statement</h2>
<p>CCI faculty believes and embraces diversity for it fosters innovative, transformative classrooms where optimal learning for students of all identities and backgrounds can occur.</p>
<p>For more information on Diversity and Inclusion in CCI, please visit: <a href="https://drexel.edu/cci/about/diversity-equity-and-inclusion-council/" target="_blank" rel="noopener">https://drexel.edu/cci/about/diversity-equity-and-inclusion-council/</a></p>
<hr />
<h2>Statement on Recording Lectures</h2>
<h3>Appropriate Use of Course Materials</h3>
<p>It is important to recognize that some or all of the course materials provided to you are the intellectual property of Drexel University, the course instructor, or others. Use of this intellectual property is governed by Drexel University policies, including the IT-1 policy found at: <a href="https://drexel.edu/it/about/policies/policies/01-Acceptable-Use/" target="_blank" rel="noopener">https://drexel.edu/it/about/policies/policies/01-Acceptable-Use/</a></p>
<p>Briefly, this policy states that all course materials including recordings provided by the given prior written approval by the University. Doing so may be considered a breach of this policy and will be investigated and addressed as possible academic dishonesty, among other potential violations. Improper use of such materials may also constitute a violation of the University&rsquo;s Code of Conduct and will be investigated as such.</p>
<h3>Recording of Class Activities:</h3>
<p>In general, students and others should not record course interactions and course activities in lecture, lab, studio or recitation.</p>
<p>Students who have an approved accommodation from the Office of Disability Resources to record online lectures and discussions for note taking purposes should inform their course instructor(s) of their approved accommodation in advance. The recording of lectures and discussions may only be carried out by the students enrolled in the class who have an approved accommodation from Disability Resources with their instructors&rsquo; prior knowledge and consent. Students with approved accommodations may be asked to turn off their recorder if confidential or personal information is presented.</p>
<p>If a student has any comments, concerns, or questions about provided class materials and/ or recording, talk to your course instructor first. If this does not resolve the issue, you can also reach out to the Department Head, and use the process described for a grade appeal to move your concern forward. The process described for grade appeals can be found at: <a href="https://drexel0.sharepoint.com/:w:/s/DrexelOfficialPolicyCatalog/ET1tL4vqf6lPnz5gFmcpiW8BJNBqVLCrtZBcX4JMvnoOpg" target="_blank" rel="noopener">https://drexel0.sharepoint.com/:w:/s/DrexelOfficialPolicyCatalog/ET1tL4vqf6lPnz5gFmcpiW8BJNBqVLCrtZBcX4JMvnoOpg</a></p>
<p><!-- START OF CALENDAR ---></p>



<h2>Tentative Course Schedule</h2>
<p>Schedule Subject to change at any time.</p>
<p><b>Note</b>: All due dates and times are on Eastern Time Zone.</p>
<table class="MsoNormalTable" style="border-collapse: collapse; border-color: initial; border-style: solid; width: 100%; height: 923.914px;" cellspacing="0" cellpadding="0" border="1">
<tbody>
<tr style="height: 29.3594px;">
<td style="width: 11.4962%; border: 1pt solid #6d6d6d; padding: 0in 5.4pt; height: 29.3594px;">
<p style="text-align: center; line-height: 15pt; margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><b><span style="font-size: 11.0pt; color: black;">Week</span></b></p>
</td>
<td style="width: 28.1958%; border-top: 1pt solid #6d6d6d; border-right: 1pt solid #6d6d6d; border-bottom: 1pt solid #6d6d6d; border-image: initial; border-left: none; padding: 0in 5.4pt; height: 29.3594px;">
<p style="line-height: 15pt; margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><b><span style="font-size: 11.0pt; color: black;">Topics</span></b></p>
</td>
<td style="width: 22.8713%; border-top: 1pt solid #6d6d6d; border-right: 1pt solid #6d6d6d; border-bottom: 1pt solid #6d6d6d; border-image: initial; border-left: none; padding: 0in 5.4pt; height: 29.3594px;">
<p style="line-height: 15pt; margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><b><span style="font-size: 11.0pt; color: black;">Reading</span></b></p>
</td>
<td style="width: 19.2409%; border-top: 1pt solid #6d6d6d; border-right: 1pt solid #6d6d6d; border-bottom: 1pt solid #6d6d6d; border-image: initial; border-left: none; padding: 0in 5.4pt; height: 29.3594px;">
<p style="line-height: 15pt; margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><b><span style="font-size: 11.0pt; color: black;">Lab</span></b></p>
</td>
<td style="width: 18.1518%; border-top: 1pt solid #6d6d6d; border-right: 1pt solid #6d6d6d; border-bottom: 1pt solid #6d6d6d; border-image: initial; border-left: none; padding: 0in 5.4pt; height: 29.3594px;">
<p style="line-height: 15pt; margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><b><span style="font-size: 11.0pt; color: black;">Homework</span></b></p>
</td>
</tr>
<tr style="height: 82.6953px;">
<td style="width: 11.4962%; border-right: 1pt solid #6d6d6d; border-bottom: 1pt solid #6d6d6d; border-left: 1pt solid #6d6d6d; border-image: initial; border-top: none; padding: 0in 5.4pt; height: 82.6953px;">
<p style="text-align: center; margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><span style="font-size: 11.0pt; color: black;">1 </span></p>
<p style="text-align: center; margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><span style="font-size: 11.0pt; color: black;">(1/6/2025)</span></p>
</td>
<td style="width: 28.1958%; border-top: none; border-left: none; border-bottom: 1pt solid #6d6d6d; border-right: 1pt solid #6d6d6d; padding: 0in 5.4pt; height: 82.6953px;">
<p style="margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><span style="font-size: 11.0pt; color: black;">Syllabus Review</span></p>
<p style="margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><span style="font-size: 11.0pt; color: black;">Introduction to Python</span></p>
</td>
<td style="width: 22.8713%; border-top: none; border-left: none; border-bottom: 1pt solid #6d6d6d; border-right: 1pt solid #6d6d6d; padding: 0in 5.4pt; height: 82.6953px;">
<p style="margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><strong><span style="font-size: 11.0pt; color: black;">Think Python Chapters 1 through 4</span></strong></p>
<p style="margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><span style="font-size: 11.0pt; color: black;"><i><span style="font-size: 11pt; color: black;">Reading Quiz Due Sunday 1/12/25 by 11:59PM</span></i></span></p>
</td>
<td style="width: 19.2409%; border-top: none; border-left: none; border-bottom: 1pt solid #6d6d6d; border-right: 1pt solid #6d6d6d; padding: 0in 5.4pt; height: 82.6953px;">
<p style="margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><b><span style="font-size: 11.0pt; color: black;">Week 1 Lab</span></b></p>
<p style="margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><i><span style="font-size: 11.0pt; color: black;">Due by end of your lab session</span></i></p>
</td>
<td style="width: 18.1518%; border-top: none; border-left: none; border-bottom: 1pt solid #6d6d6d; border-right: 1pt solid #6d6d6d; padding: 0in 5.4pt; height: 82.6953px;">
<p style="margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><b><span style="font-size: 11.0pt; color: black;">Week 1 Homework</span></b></p>
<p style="margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><i><span style="font-size: 11.0pt; color: black;">Due Tuesday 1/14/25 by 11:59PM</span></i></p>
</td>
</tr>
<tr style="height: 86.6328px;">
<td style="width: 11.4962%; border-right: 1pt solid #6d6d6d; border-bottom: 1pt solid #6d6d6d; border-left: 1pt solid #6d6d6d; border-image: initial; border-top: none; padding: 0in 5.4pt; height: 86.6328px;">
<p style="text-align: center; margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><span style="font-size: 11.0pt; color: black;">2 </span></p>
<p style="text-align: center; margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><span style="font-size: 11.0pt; color: black;">(1/13/2025)</span></p>
</td>
<td style="width: 28.1958%; border-top: none; border-left: none; border-bottom: 1pt solid #6d6d6d; border-right: 1pt solid #6d6d6d; padding: 0in 5.4pt; height: 86.6328px;">
<p style="margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"></p>
<p style="margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><span style="font-size: 11.0pt; color: black;">Arithmetic Expressions and Functions</span></p>
</td>
<td style="width: 22.8713%; border-top: none; border-left: none; border-bottom: 1pt solid #6d6d6d; border-right: 1pt solid #6d6d6d; padding: 0in 5.4pt; height: 86.6328px;">
<p style="margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><strong><span style="font-size: 11pt; color: black;">Think Python Chapters 5 &amp; 6</span></strong></p>
<p style="margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><span style="font-size: 11pt; color: black;"><i>Reading Quiz Due Sunday 1/19/25 by 11:59PM</i></span></p>
</td>
<td style="width: 19.2409%; border-top: none; border-left: none; border-bottom: 1pt solid #6d6d6d; border-right: 1pt solid #6d6d6d; padding: 0in 5.4pt; height: 86.6328px;">
<p style="margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><b><span style="font-size: 11pt; color: black;">Week 2 Lab</span></b></p>
<p style="margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><i><span style="font-size: 11pt; color: black;">Due by end of your lab session</span></i></p>
</td>
<td style="width: 18.1518%; border-top: none; border-left: none; border-bottom: 1pt solid #6d6d6d; border-right: 1pt solid #6d6d6d; padding: 0in 5.4pt; height: 86.6328px;">
<p style="margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><b><span style="font-size: 11pt; color: black;">Week 2 Homework</span></b></p>
<p style="margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><i><span style="font-size: 11pt; color: black;">Due Tuesday 1/21/25 by 11:59PM</span></i></p>
</td>
</tr>
<tr style="height: 85.6328px;">
<td style="width: 11.4962%; border-right: 1pt solid #6d6d6d; border-bottom: 1pt solid #6d6d6d; border-left: 1pt solid #6d6d6d; border-image: initial; border-top: none; padding: 0in 5.4pt; height: 85.6328px;">
<p style="text-align: center; margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><span style="font-size: 11.0pt; color: black;">3 </span></p>
<p style="text-align: center; margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><span style="font-size: 11.0pt; color: black;">(1/20/2025)</span></p>
</td>
<td style="width: 28.1958%; border-top: none; border-left: none; border-bottom: 1pt solid #6d6d6d; border-right: 1pt solid #6d6d6d; padding: 0in 5.4pt; height: 85.6328px;">
<p style="margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><span style="font-size: 11.0pt; color: black;">Conditional Statements &amp; Intro to Recursion<br /><span style="font-size: 11pt; color: black;">(This is MLK Day; Lecture will be pre-recorded)</span><br /></span></p>
</td>
<td style="width: 22.8713%; border-top: none; border-left: none; border-bottom: 1pt solid #6d6d6d; border-right: 1pt solid #6d6d6d; padding: 0in 5.4pt; height: 85.6328px;">
<p style="margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><strong><span style="font-size: 11pt; color: black;">Think Python Chapters 7 &amp; 8</span></strong></p>
<p style="margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><span style="font-size: 11pt; color: black;"><i>Reading Quiz Due Sunday 1/26/25 by 11:59PM</i></span></p>
&nbsp;</td>
<td style="width: 19.2409%; border-top: none; border-left: none; border-bottom: 1pt solid #6d6d6d; border-right: 1pt solid #6d6d6d; padding: 0in 5.4pt; height: 85.6328px;">
<p style="margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><b><span style="font-size: 11pt; color: black;">Week 3 Lab</span></b></p>
<p style="margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><i><span style="font-size: 11pt; color: black;">Due by end of your lab session</span></i></p>
</td>
<td style="width: 18.1518%; border-top: none; border-left: none; border-bottom: 1pt solid #6d6d6d; border-right: 1pt solid #6d6d6d; padding: 0in 5.4pt; height: 85.6328px;">
<p style="margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><b><span style="font-size: 11pt; color: black;">Week 3 Homework</span></b></p>
<p style="margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><i><span style="font-size: 11pt; color: black;">Due Tuesday 1/28/25 by 11:59PM</span></i></p>
</td>
</tr>
<tr style="height: 77.6953px;">
<td style="width: 11.4962%; border-right: 1pt solid #6d6d6d; border-bottom: 1pt solid #6d6d6d; border-left: 1pt solid #6d6d6d; border-image: initial; border-top: none; padding: 0in 5.4pt; height: 77.6953px;">
<p style="text-align: center; margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><span style="font-size: 11.0pt; color: black;">4 </span></p>
<p style="text-align: center; margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><span style="font-size: 11.0pt; color: black;">(1/27/2025)</span></p>
</td>
<td style="width: 28.1958%; border-top: none; border-left: none; border-bottom: 1pt solid #6d6d6d; border-right: 1pt solid #6d6d6d; padding: 0in 5.4pt; height: 77.6953px;">
<p style="margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><span style="font-size: 11.0pt; color: black;">While Loops and Strings</span></p>
</td>
<td style="width: 22.8713%; border-top: none; border-left: none; border-bottom: 1pt solid #6d6d6d; border-right: 1pt solid #6d6d6d; padding: 0in 5.4pt; height: 77.6953px;">
<p style="margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><strong><span style="font-size: 11pt; color: black;">Think Python Chapter 9</span></strong></p>
<p style="margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><span style="font-size: 11pt; color: black;"><i>Reading Quiz Due Sunday 2/2/25 by 11:59PM</i></span></p>
</td>
<td style="width: 19.2409%; border-top: none; border-left: none; border-bottom: 1pt solid #6d6d6d; border-right: 1pt solid #6d6d6d; padding: 0in 5.4pt; height: 77.6953px;">
<p style="margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><b><span style="font-size: 11pt; color: black;">Week 4 Lab</span></b></p>
<p style="margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><i><span style="font-size: 11pt; color: black;">Due by end of your lab session</span></i></p>
</td>
<td style="width: 18.1518%; border-top: none; border-left: none; border-bottom: 1pt solid #6d6d6d; border-right: 1pt solid #6d6d6d; padding: 0in 5.4pt; height: 77.6953px;">
<p style="margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><b><span style="font-size: 11pt; color: black;">Week 4 Homework</span></b></p>
<p style="margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><i><span style="font-size: 11pt; color: black;">Due Tuesday 2/4/25 by 11:59PM</span></i></p>
</td>
</tr>
<tr style="height: 77.6953px;">
<td style="width: 11.4962%; border-right: 1pt solid #6d6d6d; border-bottom: 1pt solid #6d6d6d; border-left: 1pt solid #6d6d6d; border-image: initial; border-top: none; padding: 0in 5.4pt; height: 77.6953px;">
<p style="text-align: center; margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><span style="font-size: 11.0pt; color: black;">5</span></p>
<p style="text-align: center; margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><span style="font-size: 11.0pt; color: black;">(2/3/2025)</span></p>
</td>
<td style="width: 28.1958%; border-top: none; border-left: none; border-bottom: 1pt solid #6d6d6d; border-right: 1pt solid #6d6d6d; padding: 0in 5.4pt; height: 77.6953px;">
<p style="margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><span style="font-size: 11pt; color: black;">Lists and For Loops</span></p>
</td>
<td style="width: 22.8713%; border-top: none; border-left: none; border-bottom: 1pt solid #6d6d6d; border-right: 1pt solid #6d6d6d; padding: 0in 5.4pt; height: 77.6953px;">&nbsp;<strong style="font-size: 12pt; font-variant-ligatures: inherit; font-variant-caps: inherit;"><span style="font-size: 11pt; color: black;">Think Python Chapters 5 &amp; 10</span></strong>
<p style="margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><span style="font-size: 11pt; color: black;"><i>Reading Quiz Due Sunday 2/16/25 by 11:59PM</i></span></p>
</td>
<td style="width: 19.2409%; border-top: none; border-left: none; border-bottom: 1pt solid #6d6d6d; border-right: 1pt solid #6d6d6d; padding: 0in 5.4pt; height: 77.6953px;">
<p style="margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><b><span style="font-size: 11pt; color: black;">Week 5 Lab</span></b></p>
<p style="margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><i><span style="font-size: 11pt; color: black;">Due by end of your lab session</span></i></p>
</td>
<td style="width: 18.1518%; border-top: none; border-left: none; border-bottom: 1pt solid #6d6d6d; border-right: 1pt solid #6d6d6d; padding: 0in 5.4pt; height: 77.6953px;">
<p style="margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><b><span style="font-size: 11pt; color: black;">Week 5 Homework</span></b></p>
<p style="margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><i><span style="font-size: 11pt; color: black;">Due Tuesday 2/11/25 by 11:59PM</span></i></p>
</td>
</tr>
<tr style="height: 71.8281px;">
<td style="width: 11.4962%; border-right: 1pt solid #6d6d6d; border-bottom: 1pt solid #6d6d6d; border-left: 1pt solid #6d6d6d; border-image: initial; border-top: none; padding: 0in 5.4pt; height: 71.8281px;">
<p style="text-align: center; margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><span style="font-size: 11.0pt; color: black;">6 </span></p>
<p style="text-align: center; margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><span style="font-size: 11.0pt; color: black;">(2/10/2025)</span></p>
</td>
<td style="width: 28.1958%; border-top: none; border-left: none; border-bottom: 1pt solid #6d6d6d; border-right: 1pt solid #6d6d6d; padding: 0in 5.4pt; height: 71.8281px;">
<p><span style="font-size: 12pt;"><strong>Midterm Exam</strong></span><br /><span style="font-size: 12pt;">To be taken during the lecture period</span></p>
</td>
<td style="width: 22.8713%; border-top: none; border-left: none; border-bottom: 1pt solid #6d6d6d; border-right: 1pt solid #6d6d6d; padding: 0in 5.4pt; height: 71.8281px;"><span style="font-size: 12pt;">None</span></td>
<td style="width: 19.2409%; border-top: none; border-left: none; border-bottom: 1pt solid #6d6d6d; border-right: 1pt solid #6d6d6d; padding: 0in 5.4pt; height: 71.8281px;"><span style="font-size: 12pt;">None</span></td>
<td style="width: 18.1518%; border-top: none; border-left: none; border-bottom: 1pt solid #6d6d6d; border-right: 1pt solid #6d6d6d; padding: 0in 5.4pt; height: 71.8281px;">
<p style="margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><span style="font-size: 12pt;">None</span></p>
</td>
</tr>
<tr style="height: 78.2266px;">
<td style="width: 11.4962%; border-right: 1pt solid #6d6d6d; border-bottom: 1pt solid #6d6d6d; border-left: 1pt solid #6d6d6d; border-image: initial; border-top: none; padding: 0in 5.4pt; height: 78.2266px;">
<p style="text-align: center; margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><span style="font-size: 11.0pt; color: black;">7 </span></p>
<p style="text-align: center; margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><span style="font-size: 11.0pt; color: black;">(2/17/2025)</span></p>
</td>
<td style="width: 28.1958%; border-top: none; border-left: none; border-bottom: 1pt solid #6d6d6d; border-right: 1pt solid #6d6d6d; padding: 0in 5.4pt; height: 78.2266px;">
<p style="margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><span style="font-size: 11.0pt; color: black;">Revisiting Recursion<br /></span></p>
</td>
<td style="width: 22.8713%; border-top: none; border-left: none; border-bottom: 1pt solid #6d6d6d; border-right: 1pt solid #6d6d6d; padding: 0in 5.4pt; height: 78.2266px;">
<p style="margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><strong><span style="font-size: 11pt; color: black;">Think Python Chapters 12 &amp; 13</span></strong></p>
<p style="margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><span style="font-size: 11pt; color: black;"><i>Reading Quiz Due Sunday 2/23/25 by 11:59PM</i></span></p>
</td>
<td style="width: 19.2409%; border-top: none; border-left: none; border-bottom: 1pt solid #6d6d6d; border-right: 1pt solid #6d6d6d; padding: 0in 5.4pt; height: 78.2266px;">
<p style="margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><b><span style="font-size: 11pt; color: black;">Week 7 Lab</span></b></p>
<p style="margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><i><span style="font-size: 11pt; color: black;">Due by end of your lab session</span></i></p>
</td>
<td style="width: 18.1518%; border-top: none; border-left: none; border-bottom: 1pt solid #6d6d6d; border-right: 1pt solid #6d6d6d; padding: 0in 5.4pt; height: 78.2266px;">
<p style="margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><b><span style="font-size: 11pt; color: black;">Week 7 Homework</span></b></p>
<p style="margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><i><span style="font-size: 11pt; color: black;">Due Tuesday 2/25/25 by 11:59PM</span></i></p>
</td>
</tr>
<tr style="height: 82.2578px;">
<td style="width: 11.4962%; border-right: 1pt solid #6d6d6d; border-bottom: 1pt solid #6d6d6d; border-left: 1pt solid #6d6d6d; border-image: initial; border-top: none; padding: 0in 5.4pt; height: 82.2578px;">
<p style="text-align: center; margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><span style="font-size: 11.0pt; color: black;">8 </span></p>
<p style="text-align: center; margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><span style="font-size: 11.0pt; color: black;">(2<span style="font-size: 11pt; color: black;">/24</span>/2025)</span></p>
</td>
<td style="width: 28.1958%; border-top: none; border-left: none; border-bottom: 1pt solid #6d6d6d; border-right: 1pt solid #6d6d6d; padding: 0in 5.4pt; height: 82.2578px;">
<p style="margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><span style="font-size: 11pt; color: black;">Files, Dictionaries, and Exceptions</span></p>
</td>
<td style="width: 22.8713%; border-top: none; border-left: none; border-bottom: 1pt solid #6d6d6d; border-right: 1pt solid #6d6d6d; padding: 0in 5.4pt; height: 82.2578px;"><strong style="font-size: 12pt; font-variant-ligatures: inherit; font-variant-caps: inherit;"><span style="font-size: 11pt; color: black;"><a href="https://algorithms.boady.net/content/003_iterative/002_linear.html" target="_blank" rel="noopener">Linear Search</a>, <a href="https://algorithms.boady.net/content/004_recursive/003_binarysearch.html" target="_blank" rel="noopener">Binary Search</a></span></strong>
<p style="margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><span style="font-size: 11pt; color: black;"><i>Reading Quiz Due Sunday 3/2/25 by 11:59PM</i></span></p>
</td>
<td style="width: 19.2409%; border-top: none; border-left: none; border-bottom: 1pt solid #6d6d6d; border-right: 1pt solid #6d6d6d; padding: 0in 5.4pt; height: 82.2578px;">
<p style="margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><b><span style="font-size: 11pt; color: black;">Week 8 Lab</span></b></p>
<p style="margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><i><span style="font-size: 11pt; color: black;">Due by end of your lab session</span></i></p>
</td>
<td style="width: 18.1518%; border-top: none; border-left: none; border-bottom: 1pt solid #6d6d6d; border-right: 1pt solid #6d6d6d; padding: 0in 5.4pt; height: 82.2578px;">
<p style="margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><b><span style="font-size: 11pt; color: black;">Week 8 Homework</span></b></p>
<p style="margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><i><span style="font-size: 11pt; color: black;">Due Tuesday 3/4/25 by 11:59PM</span></i></p>
</td>
</tr>
<tr style="height: 77.2578px;">
<td style="width: 11.4962%; border-right: 1pt solid #6d6d6d; border-bottom: 1pt solid #6d6d6d; border-left: 1pt solid #6d6d6d; border-image: initial; border-top: none; padding: 0in 5.4pt; height: 77.2578px;">
<p style="text-align: center; margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><span style="font-size: 11.0pt; color: black;">9 </span></p>
<p style="text-align: center; margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><span style="font-size: 11.0pt; color: black;">(3<span style="font-size: 11pt; color: black;">/3</span>/2025)</span></p>
</td>
<td style="width: 28.1958%; border-top: none; border-left: none; border-bottom: 1pt solid #6d6d6d; border-right: 1pt solid #6d6d6d; padding: 0in 5.4pt; height: 77.2578px;">
<p style="margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><span style="font-size: 11.0pt; color: black;">Binary Search &amp; Advanced Features of Functions</span></p>
</td>
<td style="width: 22.8713%; border-top: none; border-left: none; border-bottom: 1pt solid #6d6d6d; border-right: 1pt solid #6d6d6d; padding: 0in 5.4pt; height: 77.2578px;">
<p style="margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><strong><span style="font-size: 11pt; color: black;"><a href="https://algorithms.boady.net/content/003_iterative/004_insertionsort.html" target="_blank" rel="noopener">Insertion Sort</a>, <a href="https://algorithms.boady.net/content/004_recursive/005_quicksort.html" target="_blank" rel="noopener">Quick Sort</a></span></strong></p>
<p style="margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><span style="font-size: 11pt; color: black;"><i>Reading Quiz Due Sunday 3/9/25 by 11:59PM</i></span></p>
</td>
<td style="width: 19.2409%; border-top: none; border-left: none; border-bottom: 1pt solid #6d6d6d; border-right: 1pt solid #6d6d6d; padding: 0in 5.4pt; height: 77.2578px;">
<p style="margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><b><span style="font-size: 11pt; color: black;">Week 9 Lab</span></b></p>
<p style="margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><i><span style="font-size: 11pt; color: black;">Due by end of your lab session</span></i></p>
</td>
<td style="width: 18.1518%; border-top: none; border-left: none; border-bottom: 1pt solid #6d6d6d; border-right: 1pt solid #6d6d6d; padding: 0in 5.4pt; height: 77.2578px;">
<p style="margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><b><span style="font-size: 11pt; color: black;">Week 9 Homework</span></b></p>
<p style="margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><i><span style="font-size: 11pt; color: black;">Due Tuesday 3/11/25 by 11:59PM</span></i></p>
</td>
</tr>
<!-- <tr>
<td style="width: 20.0987%; border-right: 1pt solid #6d6d6d; border-bottom: 1pt solid #6d6d6d; border-left: 1pt solid #6d6d6d; border-image: initial; border-top: none; padding: 0in 5.4pt;">
<p style="text-align: center; margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><span style="font-size: 11.0pt; color: black;">10</span></p>
<p style="text-align: center; margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><span style="font-size: 11.0pt; color: black;">(3/20/2022)</span></p>
</td>
<td style="width: 20.0061%; border-top: none; border-left: none; border-bottom: 1pt solid #6d6d6d; border-right: 1pt solid #6d6d6d; padding: 0in 5.4pt;">
<p style="margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><span style="font-size: 11.0pt; color: black;">Thanksgiving Holiday</span></p>
<p style="margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><span style="font-size: 11.0pt; color: black;">No lecture this week</span></p>
</td>
<td style="width: 16.4865%; border-top: none; border-left: none; border-bottom: 1pt solid #6d6d6d; border-right: 1pt solid #6d6d6d; padding: 0in 5.4pt;">
<p style="margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><span style="font-size: 11.0pt; color: black;">None</span></p>
</td>
<td style="width: 19.8208%; border-top: none; border-left: none; border-bottom: 1pt solid #6d6d6d; border-right: 1pt solid #6d6d6d; padding: 0in 5.4pt;">
<p style="margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><span style="font-size: 11.0pt; color: black;">None</span></p>
</td>
<td style="width: 23.433%; border-top: none; border-left: none; border-bottom: 1pt solid #6d6d6d; border-right: 1pt solid #6d6d6d; padding: 0in 5.4pt;">
<p style="margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><span style="font-size: 11.0pt; color: black;">None</span></p>
</td>
</tr>
-->
<tr style="height: 73.6953px;">
<td style="width: 11.4962%; border-right: 1pt solid #6d6d6d; border-bottom: 1pt solid #6d6d6d; border-left: 1pt solid #6d6d6d; border-image: initial; border-top: none; padding: 0in 5.4pt; height: 73.6953px;">
<p style="text-align: center; margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><span style="font-size: 11.0pt; color: black;">10</span></p>
<p style="text-align: center; margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><span style="font-size: 11.0pt; color: black;">(3/10/2025)</span></p>
</td>
<td style="width: 28.1958%; border-top: none; border-left: none; border-bottom: 1pt solid #6d6d6d; border-right: 1pt solid #6d6d6d; padding: 0in 5.4pt; height: 73.6953px;">
<p style="margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><span style="font-size: 11pt; color: black;">Sorting (Insertion and Quick)</span></p>
</td>
<td style="width: 22.8713%; border-top: none; border-left: none; border-bottom: 1pt solid #6d6d6d; border-right: 1pt solid #6d6d6d; padding: 0in 5.4pt; height: 73.6953px;"><span style="font-size: 12pt;">None</span></td>
<td style="width: 19.2409%; border-top: none; border-left: none; border-bottom: 1pt solid #6d6d6d; border-right: 1pt solid #6d6d6d; padding: 0in 5.4pt; height: 73.6953px;">
<p style="margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><b><span style="font-size: 11pt; color: black;">Week 10 Lab</span></b></p>
<p style="margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><i><span style="font-size: 11pt; color: black;">Due by end of your lab session</span></i></p>
</td>
<td style="width: 18.1518%; border-top: none; border-left: none; border-bottom: 1pt solid #6d6d6d; border-right: 1pt solid #6d6d6d; padding-top: 0in; padding-right: 5.4pt; padding-bottom: 0in; height: 73.6953px;">&nbsp;</td>
</tr>
<tr style="height: 100.938px;">
<td style="width: 11.4962%; border-right: 1pt solid #6d6d6d; border-bottom: 1pt solid #6d6d6d; border-left: 1pt solid #6d6d6d; border-image: initial; border-top: none; padding: 0in 5.4pt; height: 100.938px;">
<p style="text-align: center; margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><span style="font-size: 11.0pt; color: black;">11 </span></p>
<p style="text-align: center; margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><span style="font-size: 11.0pt; color: black;">(3/17/2025)</span></p>
</td>
<td colspan="4" style="width: 88.4599%; border-top: none; border-left: none; border-bottom: 1pt solid #6d6d6d; border-right: 1pt solid #6d6d6d; padding: 0in 5.4pt; height: 100.938px;">
<p style="margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><span style="color: #000000;"><b><span style="font-size: 11pt;">Final Exam</span></b></span></p>
<p style="margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><span style="color: #000000;"><b><span style="font-size: 11pt;">Date: </span></b><span style="font-size: 11pt;">TBD</span></span></p>
<p style="margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><span style="color: #000000;"><span style="font-size: 11pt;"><b>Time: </b>TBD<br /></span></span><b style="font-style: inherit; font-variant-ligatures: inherit; font-variant-caps: inherit;"><span style="font-size: 11pt;">Room:</span></b><span style="font-size: 11pt;"> TBD</span></p>
<p style="margin: 0in; font-size: 12pt; font-family: Calibri, sans-serif;"><span style="font-size: 11pt; color: #000000;">Final Exam Covers all Material Weeks 1 - 10</span></p>
</td>
</tr>
</tbody>
</table>

